[2017-10-30 10:07] PatrykSzwer opened #294 "Extend inheritance between view-models"
I want to create two separate view-models for the same view, and use inheritance for handlers to not duplicate the code. So, Let's say, I have Routes view, that has 2 possible places where It's used. View is the same, most of the handlers will work the same with small exceptions and differences. I would like to be able to create base view-model, with Typed-Json fields which are shared between all

[2017-10-30 10:18] miyconst commented on #294
@PatrykSzwer thank you for the question/suggestion.

Unfortunately as of now Typed JSON does not support this for various reasons. There are a few possible ways to solve this problem though:

1. Move your logic into a helper class and invoke it from your view-model classes rather than keeping the logic inside view-model.
2. Create a shared view-model and use it within multiple other view-models. [

[2017-10-30 10:23] PatrykSzwer commented on #294
Actually I knew It's right now working like that. My question/idea was more about changing it to be more intuitive and flexible. Do You think We could have functionality like that in the future?

[2017-10-30 10:28] miyconst commented on #294
Yes, we definitely can and should have functionality like this, but such request puts entire Typed JSON concept under question mark, and before implementing this or other similar features we should first decide whether we stick with Typed JSON at all.

[2017-10-30 10:34] PatrykSzwer commented on #294
Ok, so please have this in mind, that there are people waiting for this functionality 😄.
I'll close this for now. Feel free to re-open when this subject's gonna came up again.

[2017-10-30 10:34] #294 closed

[2017-10-30 10:38] chrhol commented on #294
Well that is not entirely true. As @PatrykSzwer points out, you have to add the properties you want *exposed to the client* in the inheriting json-by-example. This part was *by-design*. Other inheritance (handlers, using all properties) on the server should work fine.

So: having a handler for a property defined in the baseclass should work, if the property is exposed in the inherited class (i.e.

[2017-10-30 11:07] chrhol commented on #294
Just a small sample about inheritance.

**BaseJson.json**
[code]

**BaseJson.json.cs**
[code]

**InheritedJson.json**
[code]

**InheritedJson.json.cs**
[code]

Creating an instance of `InheritedJson` and trigger a patch for `Name` will call the handler in the baseclass.

[2017-10-30 11:11] miyconst commented on #294
But if that method is overridden then it crashes, as far as I remember.

[2017-10-30 11:16] atifwaqar commented on #270
@bigwad
This is a response to your comment on the wrong issue (My bad, I initiated it :P)
So, when you say it may be a coincidence, maybe you are right, but its weird that every time we get this bug and if we put a `?` the bug disappears.

Also, do you think we can reopen this issue if but that I am facing right now falls under this issue?

[2017-10-30 11:19] bigwad commented on #270
This issue was fixed this night as I see. Not sure corresponding build even has been built.

[2017-10-30 11:23] PatrykSzwer commented on #294
That's what is happening to me right know. Thank You for a tip!
Also thank you @chrhol for an example, I'll ask further questions here when I'll implementing this.

[2017-10-30 11:23] PatrykSzwer commented on #294
It would be actually really cool to have it explained in docs as well. WDYT?

[2017-10-30 11:31] atifwaqar commented on #270
Ah, this sounds great.
let me know when you guys make the build, I can test at my end.

[2017-10-30 11:33] chrhol commented on #294
Ahh right, so the problem is overriding a handler in a baseclass then? Not having the handler implemented in the baseclass.

And yes, there seems to be an erronous validation for handlers in the codegenerator that doesn't take in account overriden handlers. I removed the validation (just to test) and the functionality seems to be in place. I can override a handler in the base-class (and of course

[2017-10-30 12:17] ubbeK commented on #278
Ok, but I was hoping that it wasn't that urgent so the new guy could fix it when he starts.

[2017-10-30 12:31] alemoi commented on #293
Thanks for asking. Not a Starcounter issue: https://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.method(v=vs.110).aspx

The Method property can be set to any of the HTTP 1.1 protocol verbs: GET, HEAD, POST, PUT, DELETE, TRACE, or OPTIONS.

[2017-10-30 12:39] chrhol commented on #294
I couldn't really leave this alone. The fix to allow overriding a handler is actually very very small. Just ignore overriden methods in the codebehind-parser, 3 lines of code (well 4 with the comment).

[code]

With this you can mark the handle-method in the baseclass as `virtual` and override it as any other method. Is it ok if I add this fix to `v2.3.1` @miyconst?. This is a relatively safe chan

[2017-10-30 12:41] miyconst commented on #294
@chrhol thank you for the investigation, and feel free to add it to `2.3.1`.

[2017-10-30 12:41] erikvk commented on #293
[code]

[2017-10-30 12:42] erikvk commented on #293
I tried with the Starcounter.Http class for requests, that doesn't work either

[2017-10-30 13:00] Mackiovello commented on #293
Doesn't that mean the documentation is misleading? It has examples such as:

[code]

Reopening since the issue doesn't seem to be resolved.

[2017-10-30 13:01] chrhol opened #295 "Fix overriding input handlers in TypedJSON"
Discussed (partly) in #294

Overriding a `Handle` method does not work today.  The following sample would lead to a compilation error: `Invalid Handle-method declared in class InheritedJson. Cannot find 'Input' in path BaseJson.Input.Name`

**BaseJson.json**
[code]

**BaseJson.json.cs**
[code]

**InheritedJson.json**
[code]

**InheritedJson.json.cs**
[code]

The fix for this is to ignore `Handle`

[2017-10-30 13:03] erikvk commented on #293
The documentation merely describes the handlers, not the ways to make requests to those handlers. The quote refers to the Method property of HttpWebRequest. So I think the documentation is fine – I just need a way to actually call the handler.

[2017-10-30 13:07] Mackiovello commented on #293
Got it, I should have read the issue more closely. Will document how to call custom handlers once it's figured out.

[2017-10-30 13:16] Mihaiii commented on #158
Closing as done.

[2017-10-30 13:16] #158 closed

[2017-10-30 13:20] erikvk commented on #293
I have tried curl, Starcounter.Http and HttpWebRequest. No client can call my FOO handler. @alemoi – how would you call a handler registered with a custom HTTP verb?

[2017-10-30 17:17] alemoi commented on #293
Sure, I will check and respond!

[2017-10-30 19:45] alemoi commented on #293
Thanks @erikvk for pushing this. I have checked the Nginx parser that we use and there is the list of methods we (and nginx) support:

![image](https://user-images.githubusercontent.com/208134/32190235-697fc9da-bdad-11e7-978a-ea0c7a192a81.png)

I will add this to documentation.

[2017-10-30 19:45] #293 closed

[2017-10-30 20:05] chrhol commented on #295
Done. Merged to v2.3 and develop.

[2017-10-30 20:05] #295 closed

[2017-10-30 22:02] erikvk commented on #293
OK, good to know! Thank you, @alemoi

[2017-10-30 22:24] warpech commented on #174
Great job!

How are you sending the erors? It looks as you are sending them as a regular message. Palindrom expects messages to be JSONs, so it crashes at trying to parse `Unsupported patch operation...` as JSON.

Is there some special way to mark messages as "error messages" in Websocket that I am not aware of?

[2017-10-30 23:28] ubbeK commented on #278
Implemented, tested and committed to `RC` and `develop`.

[2017-10-30 23:28] #278 closed

[2017-10-31 10:58] Mihaiii commented on #289
Closing as done.

[2017-10-31 10:58] #289 closed

[2017-10-31 12:29] RickardR commented on #284
Interested in this too, we're going to need to consume some external rest sources both GET and POST, and they will require https in some cases. Only way is to use HttpClient for this then? Adding https:// only seems to get Node() to try to connect to http://https://XXX and failing on GET.

[2017-10-31 12:59] andwah commented on #288
Just got this same problem on a Windows Server 2012 RC Machine. installing starcounter RC 2.3.1.7581

![image](https://user-images.githubusercontent.com/2656996/32224961-b330b3b4-be43-11e7-9cb7-031c04170559.png)

[2017-10-31 13:07] andwah commented on #288
Solution is to download and install

**Microsoft Visual C++ 2010 Redistributable Package (x86)**

https://www.microsoft.com/en-us/download/confirmation.aspx?id=5555

Note.. i think that starcounter only installs the x64 bit version. not the x86 one.

[2017-10-31 13:07] ubbeK commented on #288
So what solution should we go for?

- Add MSVCR100.dll to installer
- Add VC++ 10 Redist to installer
- Create an msi installer which may contain prerequisites such as VC++ 10 Redist

[2017-10-31 13:08] alemoi commented on #288
Its another reason why I wanted embedded Prolog done by @bigwad to be pushed in 2.3 as well :)
One solution is to build this sqlparser on the same VS as the rest of SC.
Another is to include needed DLLs in distribution.

[2017-10-31 13:11] ubbeK commented on #288
Is that a big job?

[2017-10-31 13:20] alemoi commented on #288
I did that before but don't remember the details, i.e. where the code is for the Prolog parser. I however think we should merge @bigwad work into 2.3... CC @miyconst @dan31

[2017-10-31 13:40] bigwad commented on #288
Adding merge module would be easiest and safest, but we don't package installer as an msi. Or we have plans on that?

Next option would be adding required modules to the installation package directly.

Quote from [documentation](https://msdn.microsoft.com/en-us/library/ms235299(v=vs.100).aspx)

As to other options. Backporting QP to 2.3 may cause regression and compatibility issues. Recompiling of

[2017-11-01 09:48] andwah commented on #285
I get a blank screen on:
- Chrome on Android phone
- Chrome on Ipad
- Safari on Ipad

Is this issue releated or should i create an new issue?

[2017-11-01 10:18] andwah opened #296 "Blank screen Ipad, Android"
Navigating an an app i get a blank screen on:

Chrome on Android phone
Chrome on Ipad
Safari on Ipad

Works fin with Chrome (Version 62.0.3202.75) on Windows.

Using Starcounter-RC-2.3.1.7581

This issue may be related https://github.com/Starcounter/Home/issues/285

[2017-11-01 10:48] warpech commented on #285
The iPad & Android case will be evaluated separately.

The Safari problem is now being addressed, a solution will be pushed to Starcounter by the end of the week. All plain JS custom elements that use CEv1 will need to be reverted to CEv0 or made hybrid.

[2017-11-01 15:03] ubbeK commented on #288
There is a plan for it, but it is currently not prioritized.

We used to ship Starcounter installer with `msvcr110.dll` but it got removed, see https://github.com/Starcounter/level1/issues/4269

[2017-11-01 15:08] bigwad commented on #288
Didn't know that. Then if it's just a one-month-old regression, I would say - just put it back for 2.3 (don't think we need it in 2.4) and that's it.

[2017-11-01 15:15] ubbeK commented on #288
Maybe, note that the error states `msvcr100.dll` though.

[2017-11-01 15:26] erikvk opened #297 "Non-transient backing field for public instance property marked as transient"
The following class definition:

[code]
... will give you this error at runtime:
[code]
This looks like a bug to me. It would be more appropriate to always treat backing fields of transient auto-properties as also transient. The definition above should, in my opinion, be treated as equivalent to this:

[code]
`Version=2.3.1.7581`

[2017-11-01 22:17] Mackiovello opened #298 "Broken link to docs in Administrator"
![capture](https://user-images.githubusercontent.com/19392292/32300609-f44daf0a-bf1f-11e7-8444-1a53f8b81436.PNG)

Links to http://starcounter.io/guides/sql/, should be https://docs.starcounter.io/guides/sql

[2017-11-01 23:00] Mihaiii commented on #298
Thanks for reporting!
Closing as done.

[2017-11-01 23:00] #298 closed

[2017-11-01 23:08] Mihaiii commented on #96
This will be done in 2.4. using `MotherOfAllLayouts`.

[2017-11-01 23:24] Mihaiii commented on #188
Can this be closed in favor of https://github.com/Starcounter/level1/issues/3891 ?

[2017-11-02 07:31] per-samuelsson commented on #297
@erikvk, thanks for reporting this.

I will consider it a bit and get back.

[2017-11-02 07:40] per-samuelsson commented on #297
I set it up and confirm it's a bug. `[Transient]` seem not to work properly on auto-implemented properties, just as you describe.

The workaround is to write it with an explicit backing field as in your example, or instead declare it as a field:

[code]

I will assign this to me to fix eventually, but since there are functional (yet not optimal) workarounds, I won't treat it as a top prio.

[2017-11-02 11:27] miyconst commented on #284
@jwillmer & @RickardR please be aware that:

- `Http.Post` and other `Http.Xxx` methods are Starcounter proprietary. It was developed long time ago, when .Net native `WebClient` was not yet available.
- Since Starcounter targets multi-platform support, it will be way too expensive to have own HTTP implementation for each stack/platform.
- This API is going to obsolete soon and removed short after.

[2017-11-02 11:27] #284 closed

[2017-11-02 12:56] erikvk commented on #297
Are you sure the problem is that general? I have had no problem with transient auto-implemented properties where the property type is an accepted database entity type, for example string. It's with properties of non-database entity types (e.g. List<string>) that things break.

I have not tested it thoroughly, but it's probably a good idea to check that Starcounter properly handles things like:

[c

[2017-11-02 13:15] erikvk opened #299 "Questions about SQL and LINQ"
I'm working with implementing pagination in [RESTar](https://www.nuget.org/packages/RESTar/), and have some questions on when to use Starcounter SQL for things like FETCH and OFFSET and when it's fine to use LINQ commands like Take() and Skip().

1. Which of these implementations is faster, and how much faster is it?
[code]

2. Will the difference between the implementations in 1 be greater on lar

[2017-11-02 15:55] alshakero commented on #296
The reason seems to be ShadowDOMv1. Using SDv0 fixes the issue everywhere.

Set this to `true` and all works:
https://github.com/Starcounter/starcounter-include/blob/master/starcounter-include.html#L19

@warpech @tomalec any suggestions?

[2017-11-02 16:29] joozek78 opened #300 "TypedJSON generated file doesn't compile if it's defined in "Starcounter" namespace"
If TypedJSON viewmodel is in a namespace whose any part is "Starcounter" it fails to build. See repro: https://github.com/joozek78/namespace-repro/tree/master

[2017-11-02 18:09] warpech commented on #296
How are you testing this?

My results when testing KitchenSink in Starcounter 2.3.1.7680 (from https://github.com/Starcounter/level1/pull/4331) with no Shadow DOM related changes:

- Safari 11 on iOS 11.0.3 works
- Chrome 62 on iOS 11.0.3 ("Request mobile site") does **not** work for me
- Chrome 62 on iOS 11.0.3 ("Request desktop site") works
- Chrome 61 on Android 6.0.1 works

[2017-11-02 18:35] alshakero commented on #296
I did exactly the same way! I downloaded this PR's build and got the same results. Disabling SDv1 fixes Chrome on iOS. And if you're asking technically, I debug:
- iOS Safari using Safari dev tools on Mac
- Chrome Android (I have an old Android phone I bought for testing) on Chrome Dev tools
- I don't have a way to debug Chrome iOS (there isn't).

[2017-11-02 20:14] warpech commented on #296
Maybe this works for you https://github.com/RemoteDebug/remotedebug-ios-webkit-adapter

[2017-11-02 20:18] alshakero commented on #296
@warpech this is for Safari. Safari iOS is debuggable enough using Safari MacOS.

[2017-11-02 21:19] warpech commented on #296
I know the reason why it fails.

In `starcounter-include` we have this check for Shadow DOM v1:

[code]

So here's the deal:

- Chrome 62 on iOS 11.0.3 ("Request mobile site") has UA string `Mozilla/5.0 (iPhone; CPU iPhone OS 11_0_3 like Mac OS X) AppleWebKit/604.1.34 (KHTML, like Gecko) CriOS/62.0.3202.70 Mobile/15A432 Safari/604.1`. Existence of `CriOS` in this string causes `isSafari == false`,

[2017-11-02 22:15] erikvk commented on #148
@dan31 Any updates on this?

[2017-11-03 08:04] per-samuelsson commented on #297
Well, the more narrow it is, the better. 😸 I will do a throughout check any way, including your final question about columns. Most likely next week.

[2017-11-03 15:14] k-rus commented on #299
I don't know which implementation is faster. @miyconst was doing measurements, but I don't think he covered this case.

I don't know  how LINQ is implemented. Thus I don't know what to expect.

I am not so good in C# GC to answer this question either.

Implementation of SQL will retrieve and iterate over all objects until it get the one to report. Thus if GC cleans these short running objects fast

[2017-11-03 15:19] erikvk commented on #299
OK, @k-rus .

Also: what I'm looking for here is general guidelines, not necessary accurate technical specs. How much faster is Db.SQL? 1.0005x? 5x? 100x?

[2017-11-03 22:52] warpech commented on #296
https://github.com/Starcounter/starcounter-include/commit/a8908ebcaa4259f18be88fcdfb57a7e7d9e4709a fixes Chrome on iOS.

It will be released as `starcounter-include` 3.0.0-rc.9 and added to https://github.com/Starcounter/level1/pull/4331

[2017-11-03 22:52] warpech commented on #285
This issue is fixed in https://github.com/Starcounter/level1/pull/4331 and waiting for https://github.com/Starcounter/Home/issues/296 to be included there as well.

[2017-11-06 09:12] miyconst commented on #292
@jwillmer thank you for reporting the issue.

Do you mean that you have to rebuild solution regardless of changes? Even if you did not make any changes, solution rebuild is still required to debug. Is that correct?

Please try to run your apps without debugging, and then attach the debugger to `sccode.exe` process and see if it fails as well.

[2017-11-06 09:40] RickardR commented on #284
Thanks! I interpreted the page on https://docs.starcounter.io/guides/network/external-http-calls/ as I should avoid other libraries, and interpreted that as HttpClient also :). Wasn't aware that HTTPClient weren't intrduced until 4.5 and that's why you previously did your Node/Http implementation. Changing to HTTPClient asap then. Cheers!

[2017-11-06 11:00] joozek78 opened #301 "Exceptions thrown out of Scheduling.ScheduleTask should be logged instead of killing the app"
This code will kill the codehost, it's documented [here](https://docs.starcounter.io/guides/transactions/running-background-jobs#scerrunhandledexception-(scerr1069))
[code]

It's very dangerous (you can kill other apps if you forget to catch your exceptions) and unintuitive (Input and HTTP handlers catch the exception for you and log it).
I propose change this behavior and log those exceptions jus

[2017-11-06 12:15] miyconst commented on #301
There is a problem. If an exception happens in the session thread, then Starcounter can crash the session and show an error message to user.

Now, what to do if an exception happens in a non-session thread? There is no guarantee that this exception is not lethal for entire application life-circle. That is why we can't simple "swallow" such exceptions.

Regarding the logging, I think the exception

[2017-11-06 13:41] Mackiovello commented on #301
There was an extensive discussion about this here: https://github.com/Starcounter/home/issues/51

[2017-11-06 23:35] alemoi commented on #190
The initial functionality for one database object argument is added. Here is the example:
[code]

CC @warpech @miyconst @mtornwall

[2017-11-07 07:58] miyconst commented on #190
This makes the handler public and accessible from outside.

[code]

- What will happen when user tries to reach `/SomeDbClass/123`?
- What will happen for `Self.GET("/SomeDbClass/123")`?

[2017-11-07 08:58] alemoi commented on #190
If handler is called with a wrong ID the object reference will be null. Same behavior for Self and external calls.

[2017-11-07 09:03] miyconst commented on #190
What is treated as a wrong ID? If the ID is correct, but points to an object of a different type?

Also, can I do the following:

[code]

[2017-11-07 09:06] alemoi commented on #190
I will check with correct but different class ID.
The second example won't work because you try to register same URI handler. Also underneath, the id is a string.

[2017-11-07 09:11] miyconst commented on #190
As @warpech says, the task is not done until it's documented. Personally, I would expect this to work, same as c# works.

[code]

[2017-11-07 09:23] alemoi commented on #190
Sure!

But not as handlers are working :) This would require a lot of work for the handler, which is not part of this proposal.

[2017-11-07 09:26] miyconst commented on #190
Sure. Just make sure the behavior and the limitations are documented.

[2017-11-07 09:31] SenerDemiral opened #302 "Is there a HelloWorld sample without blending?"

[2017-11-07 10:00] alemoi commented on #190
Regarding the different object cast, the exception is the following:
[code]
What do you think? I consider it good enough.

[2017-11-07 10:29] miyconst commented on #190
What happens in this case?

[code]

[2017-11-07 10:45] alemoi commented on #190
This is not related to this issue. But in this case the URI matcher will determine that its a wrong handler and it will result in static file resource handling attempt and "Error 404: Resource "/info/a" not found."

In case of database object handler - URI matcher accepts a string, so it matches it well. Later already inside the handler code, it tries to convert to needed type, but fails with exce

[2017-11-07 10:58] alemoi commented on #190
URI matcher does not know about database objects. When it comes to handling integers, it can detect that a letter is not integer, and use the default handler, which is static file resource handler.

[2017-11-07 12:12] alemoi commented on #174
Only via Close messages with reason as above. Its up to the upper layer protocol, in this case, Json patch, to handle and send such errors.

[2017-11-07 12:22] alemoi commented on #270
@atifwaqar I suppose you can test with latest nightly now.

[2017-11-07 12:38] warpech commented on #174
JSON Patch only sends patches, so it cannot send an error either. We would need to redesign Palindrom data protocol to have some kind of envelope for the messages that can be either patches or something else: requests, errors, etc.

But this is off-topic for this issue.

[2017-11-07 12:51] alshakero commented on #174
I just tried it. `ws.onmessage` isn't being called at all and only `socket.onclose` is being called with a proper error message. So I think this is fixed. I don't know why this
![image](https://user-images.githubusercontent.com/17054134/32494585-7efd3f20-c3c2-11e7-9af0-86c0235c3cf1.png)

...happened in your case, but here all I get is this:

<img width="959" alt="2" src="https://user-images.github

[2017-11-07 12:53] alshakero commented on #174
Sorry for the last now-deleted comment, I misread. Maybe we can send a normal string error from the server. And in Palindrom we can simply `try` before `JSON.parse` and throw the raw message in `catch` and that's it. Without any protocal changes.

[2017-11-07 13:18] atifwaqar commented on #270
@alemoi Looks like the problem is still there :(

![image](https://user-images.githubusercontent.com/4388707/32495575-80f2e132-c3c6-11e7-830a-ff885130cd2f.png)

I'm using SC Version 2.3.1.7717

[2017-11-07 13:25] alemoi commented on #270
According to stack trace its a totally different issue. Its on different type of execution (IndexScan) and is not related to this issue.

@atifwaqar please create a new issue for this. Thanks!

[2017-11-07 13:45] atifwaqar commented on #270
@alemoi Sure. I'm on it. :)

[2017-11-07 13:50] atifwaqar opened #303 "⏰ System.IndexOutOfRangeException: Index was outside the bounds of the array"
(Note: I have a feeling that this issue might be already reported, since there are many issues with `Index was outside the bounds of the array`)

SC Version 2.3.1.7717

[code]

I can reproduce this by using 3rd Query from description of issue Starcounter/level1#3688
[code]

![image](https://user-images.githubusercontent.com/4388707/32496858-ef420966-c3ca-11e7-9217-288c43c639fc.png)

[2017-11-07 13:50] alemoi commented on #303
CC @k-rus

[2017-11-07 14:09] Mackiovello commented on #302
Hi @SenerDemiral! The current HelloWorld does not use blending: https://github.com/StarcounterApps/HelloWorld

Does that answer your question?

[2017-11-07 14:32] k-rus commented on #303
Thank you for reporting.

The exception is different, but I guess the cause of the error is similar to Starcounter/level1#3688
It is very likely a problem in the query optimizer and query executor code. It is difficult to say how it is difficult to fix. The first step for us will be to reproduce the issue in a smaller example.

[2017-11-07 14:39] k-rus commented on #303
@miyconst I think we can mark this issue as a time bomb until proven otherwise.

[2017-11-07 14:43] miyconst commented on #303
@atifwaqar is it this query?

[code]

Can you please provide the `adfenix.database.classifiedhomead` class declaration?

[2017-11-07 14:58] miyconst commented on #299
@erikvk, the current situation is as follow:

**Db.SQL is times faster than LINQ**

- If there is a unique or non unique index which can be utilized.
- When retrieving objects by it's number, the `Db.FromId` method.

**Db.SQL is on par, sometimes slightly faster, sometimes slightly slower than LINQ**

- With simple `SELECT`, `WHERE`, `ORDER BY` queries.
- With simple `SELECT` with a `GROUP BY`.

*

[2017-11-07 15:00] miyconst commented on #299
Closing the issue as answered. Please reopen if it's not yet clear.

[2017-11-07 15:00] #299 closed

[2017-11-07 15:01] atifwaqar commented on #303
@miyconst Just sent it to your Slack.

[2017-11-07 15:05] miyconst commented on #291
@warpech can we close the issue?

[2017-11-07 16:11] Mackiovello commented on #283
This seems to be done. Closing

[2017-11-07 16:11] #283 closed

[2017-11-07 21:02] SenerDemiral commented on #302
I mean, using imported-template not starcounter-include.
[https://starcounter.io/starcounter-include-non-namespaced-partial-view-models/](url)

[2017-11-07 22:06] Mackiovello commented on #302
Exactly, the HelloWorld versioning works differently than most repositories, but the latest version uses `imported-template` and not `starcounter-include`: https://github.com/StarcounterApps/HelloWorld/blob/tutorial-20171106/src/HelloWorld/wwwroot/HelloWorld/PersonJson.html#L22

For more information on `imported-template`, you can read this article that we recently published: https://starcounter.i

[2017-11-08 10:21] miyconst opened #304 "⏰ index on parent table corrupts WHERE with navigations"
Coming from - [System.IndexOutOfRangeException: Index was outside the bounds of the array](https://github.com/Starcounter/Home/issues/303).

### Description

The following SQL query fails if these conditions meet:

[code]

- The `Child` table inherits from `Parent`.
- The `ParentId` property is defined in the `Parent` table.
-  The `Extra` property is defined in the `Child` table.
- There is an in

[2017-11-08 10:22] miyconst commented on #303
The problem is nailed down and described  in the issue linked above. I am closing this one, since it's long and not very informative.

[2017-11-08 10:22] #303 closed

[2017-11-08 10:30] miyconst commented on #304
### Query plans

**Without index**

[code]

**With index**

[code]

[2017-11-08 10:30] miyconst commented on #304
cc @k-rus

[2017-11-08 11:40] k-rus commented on #304
This sounds similar to what I observed in another issue: https://github.com/Starcounter/level1/issues/3447#issuecomment-210785883

I was able to debug the problem in that issue, but I wasn't able to find a way to fix it. I guess it requires refactoring.

[2017-11-08 12:02] joozek78 commented on #301
Than at least that should be done.

IMO it's far worse that entire codehost goes down. If innocent apps weren't killed I could agree with you

[2017-11-08 12:17] warpech commented on #296
Closing as done

[2017-11-08 12:17] #296 closed

[2017-11-08 12:18] warpech commented on #285
Closing as done

[2017-11-08 12:18] #285 closed

[2017-11-08 13:16] Mackiovello commented on #302
Could you explain what you're trying to accomplish? Do you want to completely remove the ability to use blending?

[2017-11-08 16:47] SenerDemiral commented on #302
As stated in this article [https://starcounter.io/starcounter-include-non-namespaced-partial-view-models/](url)
I want to completely remove the ability to use blending.
[code]

[2017-11-08 16:59] Mackiovello commented on #302
Okay, got it. To prevent other applications from blending with your app,  just don't use the `Blender` API, that will make it impossible to blend with your application.

[2017-11-08 16:59] Mackiovello commented on #302
You could override `PartialToStandaloneHtmlProvider` to use `imported-template`, but that wouldn't change much for you

[2017-11-08 18:34] tomalec commented on #302
What @Mackiovello  proposed:

Is in my opinion easiest way. But it will "remove ability to blend your URL"

If you

There are two ways to achieve that, depending on which part of blending (or both) would you like to block.

If you want to block just client-side part of blending and use only your app response, without Shadow DOM composition features, you need to replace `<starcounter-include partia

[2017-11-08 21:44] SenerDemiral commented on #302
Thank you @tomalec.
I meant that too.
It would be clearer if there was a working sample program.

[2017-11-08 21:57] Mackiovello commented on #302
Out of curiosity, why do you not want to use blending?

I'll consider the question answered.

We won't create a sample program for this since it goes against our goal of making all our users apply blending so that they can integrate their apps with apps from other Starcounter developers.

[2017-11-08 21:57] #302 closed

[2017-11-09 05:36] SenerDemiral commented on #302
Thanks, you considered the question answered already.
Of course I will follow your suggestion and go on the road you show.

Anyway, I did not want to use blending because:
1. I do not use Blender API
2. It is not simple for me.
3. I do not need such complexity.
4. There is a @tomalec blog showing alternative approach. [https://starcounter.io/starcounter-include-non-namespaced-partial-view-models/]

[2017-11-09 07:35] tomalec commented on #302
Thanks, that seams like a fair list :)

However, I would really appreciate a feedback on 2. - what made it compicated? How we could make it simpler?

[2017-11-09 08:18] SenerDemiral commented on #302
Good point!
Simplicity depends on knowledge.
I guess my knowledge is not enough to understand some things.
I appreciate what you try to do with blending.
As a stand-alone person I am asking myself, does it need to be so complicated to mixing multiple apps someone else wrote?
Let's say Sign-in module; many tables out of my control, server-side blending, client-side blending, composition editor, etc

[2017-11-09 11:38] Mackiovello commented on #302
Don't apologize, if you feel this, there are others with the same experience too. We really appreciate the feedback.

[2017-11-09 13:23] warpech commented on #291
Yes, closing

[2017-11-09 13:23] #291 closed

[2017-11-09 21:07] alemoi commented on #280
@warpech can it be that some files are not static? I mean, theoretically ofc, but have you seen such things in practice?

[2017-11-10 09:29] miyconst opened #305 "Administrator removes all extra queries when executed selected chunk of SQL contains a semicolon"
I have the following SQL:

[code]

Now, when selecting

[code]

and executing it, entire SQL text field is replaced with:

[code]

The easy fix for this is to not remove the semicolon if something is selected.

[2017-11-10 10:47] PatrykSzwer opened #306 "Current release candidate link is not working"
Seems like link for current version of Starcounter Release Candidate is broken. When You go to https://starcounter.io/download/ and click on release version as usual, nothing will happen.
![image](https://user-images.githubusercontent.com/25042256/32655155-caaf01dc-c60c-11e7-92bc-e990c94a61a2.png)
Seems like address for a link is missing.
Going to http://downloads.starcounter.com/download and down

[2017-11-10 12:18] miyconst commented on #121
Happening to me with `Starcounter-RC-2.3.1.7742 (Nov 9, 2017 1:02:14 AM)`. Dump file is provided Google Drive.

[2017-11-10 13:55] johano99 opened #307 "Cannot have a button with a Font Awesome Icon only?!"
Following html gives a very cryptic javascript error when button is clicked, saying "invalid frame header" leaving no clue on whats the problem...:

`<button class="btn btn-xs btn-success" value="{{model.Refresh$::click}}" onmousedown="++this.value"><i class="fa fa-refresh"></i></button>`

Adding some character, could be anything like a '-' after the fa-icon and everything works fine.

`<button cl

[2017-11-10 14:02] johano99 commented on #307
That working example should be:
`<button class="btn btn-xs btn-success" value="{{model.Refresh$::click}}" onmousedown="++this.value"><i class="fa fa-refresh"></i> - </button>`

[2017-11-10 20:47] alemoi commented on #190
@miyconst in any case I will not be able to achieve the same behaviour as with integer example you showed.

[2017-11-11 02:45] Mihaiii commented on #307
Hi @johano99 !

I don't think it has to do with FA. A way to make it work is using `pointer-events: none` CSS rule on the icon.

Relating the error, yes, I had the same problem in the past and it is annoying. Until it is fixed, you can see a detailed log on `http://localhost:8181/#/server/log` that should provide more information about the error.

Please see https://docs.starcounter.io/guides/work

[2017-11-13 09:42] johano99 commented on #307
Ok thanks!

[2017-11-13 13:09] erikvk opened #308 "Iterating over headers in Starcounter.Response"
I would like to iterate over the headers of a `Starcounter.Response` and read names and values. Something like this:

[code]

Currently, the only way to do something like this, as far as I know, is to call the `GetAllHeaders()` method of `Starcounter.Response` and parse the returned string. Or is there some other way I am not aware of? @alemoi

[2017-11-13 15:55] miyconst opened #309 "Deprecate transient properties of database classes"
Currently we support transient properties inside database classes as described in this issue - [Preventing Fields From Becoming Database Columns](https://docs.starcounter.io/guides/database/creating-database-classes#preventing-fields-from-becoming-database-columns).

There is a big problem with it.

**Every read of a database reference returns a new CLR instance and this resets the transient value

[2017-11-13 16:05] linkdata commented on #309
Never heard of that feature before. What's the use case and is anyone actually using it?

[2017-11-13 16:16] Mihaiii commented on #305
Closing as done.

[2017-11-13 16:16] #305 closed

[2017-11-13 16:30] Mihaiii commented on #307
Closing.

[2017-11-13 16:30] #307 closed

[2017-11-13 16:31] miyconst commented on #309
I have never herd of someone actually using those as well, but PALMA tried to use it, and figured out this issue.

[2017-11-13 20:05] alemoi commented on #308
@erikvk thanks for the question! There is such thing as `Request.HeadersDictionary` but for responses I would really suggest not using `Http.GET` but standard .NET API, like `HttpClient`, and iterate over headers there.

[2017-11-13 20:06] erikvk commented on #308
What if I want to use `Self.GET()` ?

[2017-11-13 22:18] miyconst commented on #267
This works for me. Thank you for the answer. Closing the issue.

[2017-11-13 22:18] #267 closed

[2017-11-13 22:43] ubbeK commented on #288
`mscvr100.dll` has been readded to `%StarcounterBin%/32BitComponents` for `v2.3` branch. Will be available next RC nightly build.

Closing

[2017-11-13 22:43] #288 closed

[2017-11-14 12:42] alemoi commented on #308
For that I will try to include the request! :)

[2017-11-14 12:47] warpech commented on #280
Yes, it is totally possible that some of the HTMLs are dynamically created by a handler in an app.

[2017-11-14 12:49] erikvk commented on #308
I mean, I can do this:

[code]
But it kind of hurts my eyes to just look at that...

[2017-11-14 12:52] warpech commented on #309
This functionality can be achieved with language features. such as `Dictionary` or `ConditionalWeakTable`? In my shallow understanding of why is this needed, I think this feature is redundant.

[2017-11-14 13:10] linkdata commented on #309
Deprecate it. If noone complains after a few releases, remove it.

[2017-11-14 13:35] alemoi commented on #308
We will add this as a feature.

[2017-11-14 13:36] erikvk commented on #308
Thank you, @alemoi  :)

[2017-11-14 15:24] miyconst commented on #309
@warpech you are absolutely right. There is no much extra value in this feature.

[2017-11-14 16:16] bigwad commented on #309
I think there is. The current implementation is, of course, inadequate, but I don't see it that trivial to implement such `tagging` feature on a user level. Taking into consideration transaction isolation, conflict detection and garbage collection (I guess all these properties are actually expected by user code).

We still can deprecate it if we don't want to support it.

[2017-11-14 16:23] bigwad commented on #309
I think @per-samuelsson might know design decisions behind it.

[2017-11-14 17:14] Mihaiii commented on #287
Closing as fixed.

[2017-11-14 17:14] #287 closed

[2017-11-15 06:38] per-samuelsson commented on #309
Yes, that is by design. We don't want to cache proxies.

It was by request years and years ago, and was used to do some computing and store values in instance variables if I remember it correctly. It has never been used to any great extent to my knowledge, and I'm fine with deprecating / removing it.

I can do it once someone take the decision what to do in what versions. I guess that's up to @miy

[2017-11-15 09:18] chrhol opened #310 "Assigning the same TypedJSON object twice sets the Parent-property to null"
The following snippet will set `child.Parent` incorrectly to null:

**PageWithChild.json**
[code]

[code]

Quite simple fix, and should be done ASAP.

[2017-11-15 09:56] miyconst opened #311 "Remove transient properties of database classes"
Continuation from [Deprecate transient properties of database classes](https://github.com/Starcounter/Home/issues/309).

@per-samuelsson please assign on @Mackiovello to update the documentation when done.

[2017-11-15 09:57] miyconst commented on #309
Decided by me to deprecate the feature in `2.3.1` and remove it in `2.4`. @per-samuelsson please proceed.

[2017-11-15 10:17] eriksunsol opened #312 "Passing arguments to Main() in a Starcounter application?"
Sorry if this has been asked before, but I can't find anything on this topic.

How, if at all possible, can I pass command-line arguments to the `Main()` function of a Starcounter app?

In a normal application you would just declare your  `Main()` to accept a string array, e.g.:

[code]

And on the command line:

[code]

How can I do this with a Starcounter application?

[code]

Will the above wor

[2017-11-15 10:21] k-rus commented on #312
If I remember correctly it is possible. I think @per-samuelsson can tell how to do so. @Mackiovello may be knows where it is documented.

[2017-11-15 14:04] per-samuelsson commented on #312
Basic usage:

`
star app.exe this is it
`

[code]

[2017-11-15 14:05] per-samuelsson commented on #312
As you would to a standard application, via `Project Properties | Debug | Command line`. I'll see if I can find a link to docs.

[2017-11-15 14:17] Mackiovello commented on #312
Here's how to do it in VS: https://docs.starcounter.io/guides/working-with-starcounter/starting-and-stopping-apps#specifying-options-in-visual-studio

[2017-11-15 14:26] per-samuelsson commented on #312
Also please not that example just illustrate how to specify the database, and that's consumed by the driver (i.e. `star.exe`). To pass arguments to the actual application entrypoint, just use:

[code]

or

[code]

[2017-11-15 14:29] per-samuelsson commented on #312
Finally, also this old issue provide valid information:

https://github.com/Starcounter/level1/issues/2584

Note especially that you need to take special care when using application arguments starting with hyphens, something we'll improve in future versions.

[2017-11-16 06:21] Mackiovello commented on #312
[Specifying options in Visual Studio](https://docs.starcounter.io/v/2.4/guides/working-with-starcounter/starting-and-stopping-apps#specifying-options-in-visual-studio) and [Passing custom arguments](https://docs.starcounter.io/v/2.4/guides/working-with-starcounter/star-cli#passing-custom-arguments) in the docs has been updated to explain this.

I hope this was useful @eriksunsol. If you have any m

[2017-11-16 06:21] #312 closed

[2017-11-16 10:53] per-samuelsson commented on #154
Actually, what's underneath is still request/response filtering just as it were before. I suggested and implemented the reshaping of how we surface them, but never touched filtering itself.

I still can, yeah.

[2017-11-16 11:25] per-samuelsson commented on #154
So far, from what I can see, this seem to be by design.

Somewhere in the host, a set of built-in handlers are registered. One of them is **"GET /{?}"**. This handler is registered with `HandlerOptions.SkipRequestFilters = true` and hence, our REST server implementation skip running registered middleware / filters.

Now, since `http://127.0.0.1:8080/Search/` would not match any registered handler,

[2017-11-16 11:34] miyconst commented on #154
@per-samuelsson thank you for the checkup, let's wait for @alemoi and see what he says.

[2017-11-16 11:44] linkdata commented on #154
What @miyconst said. They're different requests. Usually `path/` will try to get `path/index.html` on other web servers. Usually configurable what it looks for. E.g. http://nginx.org/en/docs/http/ngx_http_index_module.html

[2017-11-16 11:47] warpech opened #313 "Starcounter apps do not work in Firefox with LastPass addon"
I can see a blank page and the following error when I open Website or KitchenSink in Firefox 57 with LastPass addon installed.

@alshakero pls investigate.

Starcounter 2.3.1.7779

![image](https://user-images.githubusercontent.com/566463/32889701-3b5dbd38-cacc-11e7-9eda-fa66aeffc99a.png)

[2017-11-16 12:01] warpech commented on #313
It turned out to be caused by LastPass addon.

[2017-11-16 12:01] miyconst commented on #154
@linkdata this issue is not to discuss whether `/xxx` and `/xxx/` should end up in the same handler, but whether request filters should catch all incoming requests regardless of whether someone registered such handler or not.

[2017-11-16 12:06] linkdata commented on #154
Oh, sorry, just posted here following a link from slack.

[2017-11-16 13:22] chrhol commented on #310
Fix pushed to `v2.3` and merged to `develop`

[2017-11-16 13:22] #310 closed

[2017-11-16 14:31] Mackiovello commented on #306
This is fixed now, the problem was due to an attempted fix for https://github.com/Starcounter/TechComm/issues/348.

I'm surprised I missed this one.

[2017-11-16 14:31] #306 closed

[2017-11-16 14:32] Mackiovello commented on #306
Please ping me on Slack to make sure next time, but thank you for reporting

[2017-11-16 15:46] miyconst commented on #297
@erikvk, @per-samuelsson the transient database properties will be [deprecated](https://github.com/Starcounter/Home/issues/309) in `2.3.1` and removed later.

Closing the issue as won't fix.

[2017-11-16 15:46] #297 closed

[2017-11-16 17:30] alemoi commented on #308
I looked into it and it requires a big refactoring unfortunately.
The reason is wrong API that I initially created.
Assumption was that all headers have unique names, which is not true for example for cookies.
I need to change the API to be more like `Dictionary<string, List<string>>` instead of `Dictionary<string, string>`. Many users will have to adopt.
Another thing is that Im waiting for the `

[2017-11-16 17:47] erikvk commented on #308
How about defining `Headers` as:
```c# public ICollection<(string, string)> Headers { get; private set; }```
Or:
```c# public ICollection<KeyValuePair<string,string>> Headers { get; private set; }```

[2017-11-16 23:11] alshakero opened #314 "Add Starcounter version to HTTP response header"
**Benefits**:

1. Soon, I anticipate, we might be making some client-side decisions based on Starcounter version (esp 2.3 vs 2.4).
2. We can show SC version in every logged error message.
3. We can show SC version in `starcounter-debug-aid`.

**EDIT: How is no longer valid.**

**How**:
Very simple. In `PartialToStandaloneHtmlProvider`:
[code]
WDYT @miyconst @warpech

[2017-11-17 07:28] per-samuelsson commented on #309
Thanks for sharing @erikvk.

Also, I think Palma had some use-case - true @miyconst? Would be interesting to at least know what that was.

Anyway, I'm progressing as [@miyconst decided](https://github.com/Starcounter/Home/issues/309#issuecomment-344542937) if no one tell me otherwise.

[2017-11-17 08:53] chrhol opened #315 "Bound properties are accessed even when AutoRefreshBoundProperties set to false"
Reproduced in regression test for XSON (`XsonPuppetTests`).

Snippet of callstack shows that it's actually the step after collecting the changes that fails:

[code]

Since `AutoRefreshBoundProperties` is set to false, the property should not be updated.

cc @IdieHeads

[2017-11-17 09:13] chrhol commented on #315
It's actually incorrect even without any deleted objects, it just makes it more obvious. If `AutoRefreshBoundProperties` is set to `false`, no bound properties should of course not be called.

[2017-11-17 12:27] miyconst commented on #314
Sound like a good idea, but we can't rely on the value to be present, since customer `` will not include the version.

Also, I would replace the script.

[code]

With:

[code]

[2017-11-17 13:35] eriksunsol commented on #309
Some thoughts from a PALMA perspective...

(I would discourage using transient properties to store intermediate computation results, but depending on the application it might make sense. Usually I would consider the need for that a sign that the algorithms should be simplified or restructured to eliminate the need. Or wrap the objects in another non-database object during the calculations and keep

[2017-11-17 14:55] miyconst commented on #309
@eriksunsol you have a point, and you suggestion is valid, but unfortunately we currently don't have resources to implement it.

@per-samuelsson please proceed with deprecating transient database properties.

[2017-11-17 15:04] alshakero commented on #314
Good point. Maybe we can add another header along `x-location` that has `starcounter-version` in all HTTP responses? Or enchance current `Server: SC` response?

[2017-11-17 15:06] warpech commented on #314
Why don't we include Starcoutner version in the `Server` response header?

Now we have: `Server: SC`.

Others have:

[code]

Providing a server version in response is great for debugging, but we should never rely on it in production. In fact, we should hide it in production for security purposes.

[2017-11-17 15:12] alshakero commented on #314
@warpech that would be super neat!

[2017-11-17 15:37] eriksunsol commented on #309
@miyconst @per-samuelsson please stop and think about it just one more minute.

As is apparent from the discussion above, few people are even aware of `[Starcounter.Transient]`. Majority of those who are (outside Starcounter) probably found the documentation page (I did). That page does not currently explain the caveats, namely what the life cycle of CLR instances looks like, and since the life cy

[2017-11-17 16:04] Mackiovello commented on #301
The current implementation is painful, during development but also if you're running a production server with many apps. I agree with @eriksunsol from #51 :

We're struggling with usability, and this is one of the factors.

Is this something that can be solved with the updated hosting model in 2.4 or 3.0?

[2017-11-17 17:16] miyconst commented on #301
@Mackiovello we should elaborate on what is "server goes down when there is an unhandled exception".

Server does not go down, it's code host crashes. Take a windows application and throw an exception from it. What happens? Entire application crashes. Exactly the same thing happens in the code host.

If an unhandled exception in the code host crashes `scdata` process or brings down entire server,

[2017-11-17 17:17] miyconst commented on #309
@eriksunsol let's talk offline on Monday. @per-samuelsson please postpone this issue due to the high interest from @eriksunsol.

[2017-11-17 17:24] miyconst commented on #314
Yeah, @warpech is super right. @alemoi should be able to implement this.

[2017-11-17 18:13] Mackiovello commented on #301
Exactly. The difference with Starcounter is that you often run 5, 10, 15 applications in one code host, and restarting those after the host is brought down by one app takes a lot of time.

If just the app with the exception crashes that would be better, although, as I understand it, that's impossible with the current hosting model. This pain would also be reduced if the startup time of apps was sh

[2017-11-17 22:47] eriksunsol commented on #301
I still don't see any reason why an unhandled exception should be allowed to crash the code host, even if there is just a single app running in it.

If application state is stored in the database, it is guaranteed to stay consistent if transactions are used properly. If session state is stored in a session and an exception crashes the session, we lose the session state, but the application is stil

[2017-11-17 23:02] eriksunsol commented on #208
Just to conclude this, my example in the original post didn't work because there is a syntax error in it. The correct way is like this:

[code]

[2017-11-18 22:29] andwah opened #316 "Transaction Rollback with RedirectUrl fails"
What am i doing wrong?
If i do a transaction.rollback on some new instances that has not yet been commited then the palindrome-redirect wont redirect.

**// Handler**
[code]

**// Json page**
[code]

**// html**
[code]

**How to reproduce:**

Pull this code:
[https://github.com/Smorgasbord-Development/Screens](url)

1 - Run the app and navigate to http://localhost:8080/Screens/addscreen
2 - Click

[2017-11-19 11:04] miyconst commented on #301
@eriksunsol let's have a chat about it offline.

[2017-11-19 20:22] chrhol commented on #315
I had to revert the PR I merged earlier. There is something strange going on with the unittests. When trying to merge this fix to `develop`, a test started to fail. And the code around this is exactly the same for both `v2.3` and `develop`.

The test should fail though, there is one part that does not work as it should. I need to look at that tomorrow.

[2017-11-20 07:43] per-samuelsson commented on #309
Seem like a good plan.

Will do. I'll keep a watch on this thread on how to, and when, to proceed.

[2017-11-20 12:01] chrhol commented on #315
Finally got a working fix in place. PR merged to `v2.3` and everything merged to `develop` branch.

Closing issue as solved.

[2017-11-20 12:01] #315 closed

[2017-11-20 13:09] alemoi commented on #314
Implemented.

[2017-11-20 13:09] #314 closed

[2017-11-20 13:20] warpech opened #317 "Remove `starcounter-debug-aid` from PartialToStandaloneHtmlProvider"
`starcounter-debug-aid` is being transformed into a Chrome and Firefox extension (https://github.com/Starcounter/starcounter-debug-aid/issues/51).

It should be done this week, so I advise to remove `starcounter-debug-aid` from Starcounter 2.3.1 already.

@miyconst WDYT?

[2017-11-20 13:22] alshakero commented on #317
To reinforce the argument:

Loading KitchenSink is 1.3M => first meaningful paint is 15.5 seconds on slow 3G.
Loading KitchenSink without `sc-debug-aid` is 172KB =>  first meaningful paint is 9.2 seconds on slow 3G.

6 seconds with one line removal is huge.

[2017-11-20 13:44] miyconst commented on #317
Although I am really doubting about the removal, but it makes sense. Please proceed with it, but make sure that the Chrome extension is delivered in time and documented well.

[2017-11-20 15:10] thebrauer opened #318 ""Connecting now..." never disappear"
When I open our application on my phone and lock the screen for approx. 15 minutes and return to the application, it shows an hourglass and "Connecting now..." and the message never disappear even though I can use the application. Sometimes, using the application with "Connecting now..." causes "Connection error" but even then the application still works.

If I return to the application within app

[2017-11-20 16:01] alemoi commented on #154
I have tested removal of `SkipRequestFilters = true` from static file resource handlers and all seemed to work fine. I tested with People, Images, SignIn, Launchpad apps. Maybe I need to check some other apps that are actually doing something with filters? CC @warpech
Not pushing anything to 2.3 yet, but the branch is `v2.3-static-filters`

[2017-11-21 12:47] miyconst commented on #318
cc @warpech, @alshakero, @chrhol

[2017-11-21 13:42] miyconst commented on #309
Today me and @eriksunsol has a discussion and agreed that:

- Current implementation rises more question than gives answer.
- It can/should be removed.
- Still @eriksunsol would like to play around with it and check a few concepts.

Those, we do not deprecate it in `2.3.1`, but may deprecate it later. Putting the issue on hold.

[2017-11-21 14:10] miyconst commented on #301
Today I have a discussion with @eriksunsol, @alemoi, and we agreed that:

- Exception inside a **synchronous** task scheduled with either `Scheduling.ScheduleTask` or `Session.ScheduleTask` should not crash the code host, instead it should be propagated to the parent thread.
- Exceptions inside an **asynchronous** task scheduled with either `Scheduling.ScheduleTask` or `Session.ScheduleTask` shoul

[2017-11-22 06:19] SenerDemiral opened #319 "Db.FromId question."
If `Db.FromId<table>(tablePrimaryKey)` is for retreiving `table`'s unique row/object,
`Db.FromId` should be return null if `tablePrimaryKey` does not belong to `table`,
but retuns exception if belongs to `anotherTable`.
System.InvalidCastException: Unable to cast object of type `anotherTable` to type `table`.

If `tablePrimaryKey` is not used in any other tables `Db.FromId` returns null as expecte

[2017-11-22 07:58] per-samuelsson commented on #319
Thanks for giving us feedback @SenerDemiral.

What is the current experience that is flawed do you mean? I think we are returning null for any ID that is not assigned to any object, and you'll see an invalid cast if the ID exist, but is owned by an object of a type that is not possible to cast to the one you requested? If so, I don't see anything that could be improved?

[2017-11-22 08:50] SenerDemiral commented on #319
Otherwise it force me to use `Db.SQL<table>("select t from table t where t.ObjectNo = ?", tablePrimaryKey).FirstOrDefault();` but `Db.FromID` is 6 times faster from above SQL.

I want to use `Db.FromID` without bothering exception.

[2017-11-22 09:11] SenerDemiral commented on #319
I specially requested "retrieve this table object" using `Db.FromID<table>(PK)`
I don't want to know this `PK` assigned to `otherTable`.
I want to know if there is such object exist in this `table`.

[2017-11-22 10:19] miyconst commented on #319
@SenerDemiral in this case you have to use `Db.FromId` method like:

[code]

The `Db.FromID<T>` is designed to throw an exception when application assumes that there is an object with certain number and certain type, but the object type is not what application assumes.

[2017-11-22 10:20] miyconst commented on #319
Closing the question as answered.

[2017-11-22 10:20] #319 closed

[2017-11-22 10:23] miyconst commented on #316
@andwah please provide more information.

What does it stand for?

- Is the patch successfully delivered from the server to client, but `palindrom-redirect` ignores it?
- Is the patch never send from the server to client?
- Is the patch ignored on the client?
- Is the value never updated on the server side?

[2017-11-22 10:26] miyconst commented on #292
Archiving as there is no response from @jwillmer.

[2017-11-22 10:26] #292 closed

[2017-11-22 10:32] miyconst commented on #286
There is no `DateTime` format in JSON, and applications should care about date time values on their own by sending it as a string of a known format for client and server side.

Still, if we have some automated converters, it should respect the `Kind` property.

[2017-11-22 10:36] miyconst commented on #266
@bigwad?

[2017-11-22 10:38] miyconst commented on #236
Archiving.

[2017-11-22 10:38] #236 closed

[2017-11-22 10:40] miyconst commented on #225
Starcounter has it's own thread scheduling mechanism right now. It will be abandoned in the favor of the .net standard scheduling with the `Task` object in the upcoming .Net Core code host.

Closing the issue as `won't fix`.

[2017-11-22 10:40] #225 closed

[2017-11-22 10:44] miyconst commented on #231
Since the `QueryResultRows` is deprecated now, the docstring should state:

[2017-11-22 10:45] miyconst commented on #231
@Mackiovello I think you can do it yourself, just follow the contribution rules.

[2017-11-22 10:47] miyconst commented on #233
Never happened to me, but if it's still the case, then it's a valid issue with low priority.

[2017-11-22 10:48] miyconst commented on #198
@per-samuelsson since the `weaver.ignore` is no longer needed, is this issue obsolete as well?

[2017-11-22 10:49] bigwad commented on #228
If it's about documentation comments - it's done already

[2017-11-22 10:49] #228 closed

[2017-11-22 11:29] Mihaiii commented on #188
Closing as done.

[2017-11-22 11:29] #188 closed

[2017-11-22 11:34] miyconst opened #320 "Document deprecation of `Scheduling.ScheduleTask` in favor of `Scheduling.RunTask`"
The following methods are now deprecated and replaced with their counterparts which return .net `Task` object. This means that:

- Exceptions thrown in the synchronous tasks are brought to the waiting thread and logged.
- Exceptions thrown in the asynchronous tasks are logged only.
- Exceptions thrown in any scheduled task do not bring down code host.
- Log entries are available from the Starcount

[2017-11-22 11:38] miyconst commented on #301
@joozek78, @Mackiovello, @eriksunsol it turns out that what you asked was already implemented and only required some polishing.

The features are available from `Starcounter-RC-2.3.1.7870 (Nov 22, 2017 10:53:34 AM)` version - [Document deprecation of `Scheduling.ScheduleTask` in favor of `Scheduling.RunTask`](https://github.com/Starcounter/Home/issues/320).

Documentation on [starcounter.io](https

[2017-11-22 11:38] #301 closed

[2017-11-22 12:45] per-samuelsson commented on #198
The redesign of the weaver is in 2.4, so there, yes, I guess this issue is obsolete.

And as I wrote earlier, I don't think this is a prio, considering redesign we already implemented in 2.4 and  the fact that second generation weaver is already being developed. On top of that, we have no outstanding customer complaints AFAIK.

I vote we close it. @mmnosek WDYT?

[2017-11-22 13:08] mmnosek commented on #198
No problem with this at all. Thanks for all efforts!

[2017-11-22 13:22] #198 closed

[2017-11-22 14:26] per-samuelsson commented on #319
I see. Then use not the static cast, but a conditional. Such as @miyconst suggested. Or, to see the entire answer to all those statements:

[code]

[2017-11-22 15:10] Mackiovello opened #321 "ScErrorTableNotFound after running DROP COLUMN"
Steps to reproduce:

1. Create a simple application:

[code]

2. Run and confirm that the`Person` table has one row with two columns.

3. Delete one property, such as `IrrelevantFact`

4. Build and run. Confirm that there is still one instance of `Person` with **one** column.

5. Run `ALTER TABLE StarcounterApplication1.Person DROP COLUMN IrrelevantFact`

6. Run `SELECT * FROM StarcounterApplicati

[2017-11-22 15:14] miyconst commented on #321
cc @per-samuelsson

[2017-11-22 15:19] per-samuelsson commented on #321
Think this is more for @k-rus and the guys, but I'll do a preliminary test with same use case to see what i get.

[2017-11-22 15:30] per-samuelsson commented on #321
Confirm I get the same experience, with a minor comment: there are *two* instances after the restart (which is expected, since a new is created on each restart).

Tried thinking about what I did differently yesterday and remembered that I **stopped** the app before I executed any table alternations. So my sequence was:

1. Start application. Verify data is there.
2. Run `staradmin stop app Starcou

[2017-11-22 16:14] k-rus commented on #321
I cannot tell now what is supported and what is supposed to work as I don't remember. It was implemented half year ago.
Actually altering table cannot work correctly from Level1, since Level1 keeps using obsolete layout handle. I guess the metalayer controls only that the column to drop is not used by any application. This will explain the undefined behaviour in the OP.

[2017-11-22 17:24] andwah commented on #316
Thanks for your response, i will try to investigate and update this issue with more information.

[2017-11-22 18:02] SenerDemiral commented on #319
Yes thank you.
Best match:
[code]

[2017-11-23 11:53] Mackiovello commented on #320
Documentation is updated: https://starcounter.gitbook.io/starcounter/guides/transactions/running-background-jobs#exceptions-in-scheduled-tasks

Blog post has been posted to announce the changes: https://starcounter.io/updated-scheduling-api-better-usability/

Closing as done

[2017-11-23 11:53] #320 closed

[2017-11-23 14:28] PatrykSzwer opened #322 "Incorrect messages during switching between 2.3.1 and 2.4.0 versions of Starcounter"
When I have Starcounter v. 2.3.1.7877 installed, and I'm running installer for v 2.4.0.3938, I'm getting messages saying, that I'm actually downgrading my starcounter, not updating.
Same goes the other way. When I have 2.4.0 installed, and trying to downgrade to version 2.3.1 I'm getting information about update not downgrade:
![image](https://user-images.githubusercontent.com/25042256/33177404-c4

[2017-11-23 14:32] Mackiovello opened #323 "Document difference between First and FirstOrDefault()"
The class `QueryResultRows` has a property `First`. This property was deprecated in 2.3.1 in favor of Linq's `FirstOrDefault` method.

After checking out the Starcounter [HelloWorld app](https://github.com/StarcounterApps/HelloWorld/tree/tutorial-20171106) and changing `First` to `FirstOrDefault()` on [line 14](https://github.com/StarcounterApps/HelloWorld/blob/tutorial-20171106/src/HelloWorld/Pro

[2017-11-23 14:43] k-rus commented on #322
Should we even allow downgrading? It is definitely not possible to start database by earlier version of Starcounter created in later version. In some cases it can be even undefined behaviour and in very rare occasion corrupted database (if downgrade between some old 2.3 versions or to 2.2)

[2017-11-23 15:16] Mackiovello commented on #323
Simpler reproducible case:

[code]

The line `var first2 = result.FirstOrDefault()` throws the exception:

[code]

[2017-11-23 15:32] chrhol commented on #323
Ouch. It looks like we are back with the issue discussed at length in https://github.com/Starcounter/level1/issues/2134

In short: aggregations for MIN, MAX, SUM might internally return null, while a default value for a generic valuetype cannot be null. Not sure what is a feasible solution for this problem. @miyconst: discuss it tomorrow in the release planning perhaps?

[2017-11-23 17:22] warpech commented on #213
@alshakero could you please take this in `v2.4`?

[2017-11-23 17:30] alshakero commented on #213
@warpech sure. "in `v2.3` meaning only PR to `develop` right?

[2017-11-24 09:02] PatrykSzwer commented on #322
Well, that if we should or shouldn't allow it It's separated story. Right now, It's clearly a mistake, that moving from 2.3.1 to 2.4 is understood as downgrade.

About first part, I think We definitely should at least give user a warning, that he has to recreate database, or just forbid downgrading/updating at all. but I'm not sure that's the most intuitive solution.

[2017-11-24 09:04] warpech commented on #213
In **v2.4**

[2017-11-24 09:26] alshakero commented on #213
It’s a typo I swear 😅

[2017-11-24 09:29] warpech commented on #317
This is done now.

The blog post announcement about it should include:

- **starcounter-debug-aid is replaced by a Chrome and Firefox extension**
- starcounter-debug-aid is removed from the default `PartialToStandaloneHtmlProvider` bootstraping code in 2.3.1
- instead, one can use a Chrome and Firefox add-on "Starcounter DevTools" or a bookmarklet: `javascript:(function(){var script = document.cre

[2017-11-24 09:31] warpech commented on #317
Closing as done. The documentation change is tracked in https://github.com/Starcounter/TechComm/issues/372

[2017-11-24 09:31] #317 closed

[2017-11-24 10:06] habib535 opened #324 "Different behavior for [Database] attribute in 2.3 and 2.4"
I've created a Starcounter Class Library with the following class
[code]
Then I created a Starcounter Application and referenced the class library, it's Program.cs is
[code]

When I run this application and go to Starcounter Administrator, the following query in `2.3` gives me the correct schema but in `2.4` gives error `Failed to process query: SELECT * FROM StarcounterClassLibrary1.Entity1: Unkn

[2017-11-24 10:06] Mackiovello commented on #323
Nullable types does not work with calculated properties:

[code]

Throws:

[code]

[2017-11-24 10:15] k-rus commented on #322
Because of my question, I see two ways to fix the OP:

1. Call `downgrade` on downgrade, not `upgrade`
2. Don't allow downgrade

Both cases require to put a branch in the installer, but different things inside the downgrade branch. Thus I feel my question is relevant in this issue.

[2017-11-24 12:05] alshakero commented on #318
I'm looking at it..

[2017-11-24 12:21] PatrykSzwer commented on #322
Well, I think We should involve bigger group of people in discussion about not allowing downgrade. Right now, I Think step 1 should require small amount of work and should be pretty simple to do.

[2017-11-24 12:39] mmnosek commented on #322
Guys, I think that this issue is super simple. What @PatrykSzwer does:
* Upgradeing from `2.3.1` to `2.4` - but message says: "Would you like to upgrade from 2.4 to 2.3.1"
* Downgrading from `2.4` to `2.3.1` - but message says: "Would you like to downgrade from 2.3.1 to 2.4

So message says: from `A` to `B`. All we need to do is fix a message to show `B` to `A`. It's no-brainer, isn't it?

[2017-11-24 12:43] mmnosek commented on #322
It's a no-brainer. Let's change a word "downgrade" to "upgrade" and another way around and close this issue.

[2017-11-24 14:42] miyconst commented on #323
@Mackiovello I believe that by "calculated properties" you meant the bound properties in Typed JSON, which is not the problem of `Db.SQL`.

The nullable values are not supported by Typed JSON, so the property declaration should be changed to:

[code]

[2017-11-24 14:50] miyconst commented on #323
The `.Min`, `.Max`, and `.Average` LINQ extension methods throw `System.InvalidOperationException: Sequence contains no elements` if the collection has no element. It makes the behavior be on par with what we have, the only problem is the exception message.

MS-SQL returns NULL in this case, the same Starcounter does, and it fails when trying to convert NULL into required data type (`int`, `decima

[2017-11-24 15:42] alshakero commented on #318
So, this isn't exactly a bug. What is really happening is that when you're using the app with the existence of the top panel and you're kind of overriding the panel by not clicking on it. And the app "seems" to work because you're using HTTP (not WebSocket); each click is an HTTP request. In other words, the app looks like it's working, but it isn't really connected.

To fix this we can:

- Show a

[2017-11-24 20:34] andwah commented on #316
Can not see any patch that set the "RedirectUrl" property

There one patch sent to the client, setting (clearning) out some porperties. the "RedirectUrl" property is not mentioned in the patch.

Not sure how to check that?

The serverside "RedirectUrl" property is updated correctly.

[2017-11-26 19:07] miyconst commented on #316
Then there is nothing related to redirect. Please investigate why the updated value is not sent to the client side. @chrhol might help you, if needed.

[2017-11-27 06:49] per-samuelsson commented on #324
The problem is that the compiler will not emit any metadata reference from your application to your library if you are not using it. And in 2.4, we have changed weaving only to consider references actually in use, not each library in the same directory.

Retry and just add this to your entrypoint:

[code]

And let me know if the query work after that.

[2017-11-27 08:57] warpech commented on #313
I got information from LastPass support that they have forwarded the issue the LastPass developer team.

[2017-11-27 09:56] Mackiovello commented on #323
The blog post has been updated to reflect this. Closing

[2017-11-27 09:56] #323 closed

[2017-11-27 10:12] k-rus commented on #323
@miyconst Can you clarify what is your question to me?

If I remember correctly, SQL standard defines different behavior of aggregates on empty relation than LINQ implements.

[2017-11-27 10:13] miyconst commented on #323
Yes, that is correct, and I cc you to make sure there is nothing extra you would like to add.

[2017-11-27 10:26] chrhol commented on #316
Unfortunately this seems to be a bug when the dirtycheck detects that a databaseobject is deleted. For some reason, there is a piece of code that marks unbound values (like `RedirectUrl` as non-dirty in the wrong place. This has the effect that this property does not get sent to the client properly.

I will take a look.

[2017-11-27 10:29] miyconst commented on #316
@chrhol once you have nailed down the bug, please create a new issue with proper description and close this one.

[2017-11-27 11:18] warpech commented on #154
I am making a [build](http://teamcity.starcounter.org/viewLog.html?buildId=38842&tab=buildResultsDiv&buildTypeId=Starcounter_V23NightlyWindows) to test this in Web Platform Team projects:

- CompositionProvider
- KitchenSink
- Website

[2017-11-27 12:02] warpech commented on #154
@alemoi could you pls merge current `v2.3` to `v2.3-static-filters`?

Website project build fails with an error:

    Api\MainHandlers.cs(83, 29): error CS0117: 'Session' does not contain a definition for 'RunTask'
    ViewModels\SettingsPage.json.cs(84, 29): error CS1061: 'Session' does not contain a definition for 'RunTask' and no extension method 'RunTask' accepting a first argument of type 'Se

[2017-11-27 12:12] habib535 commented on #324
Thanks @per-samuelsson that makes sense. The problem was in the Nuget Package as the output path for Simplified project was set to '$(StarcounterBin)\Public Assemblies' after changing it to `bin\$(Configuration)` worked fine.

[2017-11-27 12:16] #324 closed

[2017-11-27 17:37] alemoi commented on #154
Hmm, didn't understand, sorry. How its related to this issue? And are you sure that v2.3 to v2.3-static-filters? Not wise versa?
`

[2017-11-28 08:51] chrhol opened #325 "Unbound changed properties are not sent to client when dirtycheck detects deleted object"
Reported in issue #316

Problem is a piece of code in the dirtycheck that marks the unbound property as non-dirty just after the change have been collected. This combined with how the dirtycheck handles deleted objects (setting `Data` to `null` and restarts the collection of changes for that particular instance) might lead to an unbound property not being collected again the second time, and by th

[2017-11-28 08:51] chrhol commented on #316
New issue created. Closing this one then.

[2017-11-28 08:51] #316 closed

[2017-11-28 08:57] chrhol commented on #325
A note to this: Only unbound properties that are declared *before* a bound property (that will trigger detection of the deleted object) in the json-by-example file are hit by this bug.

[2017-11-28 12:18] k-rus commented on #206
I experienced this problem in 2.3 now. I see that the problem was not fixed in 2.3, while the OP states both 2.3 and develop.

@andan342 this needs to be fixed urgently as the fixed needs to be included into 2.3.1 release (cc @miyconst )

[2017-11-28 13:59] warpech commented on #246
Because of `<StarcounterVersionCompatibility>2.4</StarcounterVersionCompatibility>`, we ended up with redundant branches in our apps. See: https://github.com/Starcounter/RebelsLounge/issues/218

Must we have a separate branch for 2.4?

Can Starcounter 2.3.1 build a `.csproj` that has `<StarcounterVersionCompatibility>2.4</StarcounterVersionCompatibility>`?

[2017-11-28 14:17] per-samuelsson commented on #246
It's in the near pipeline to improve on this, with efforts already started: https://github.com/Starcounter/level1/issues/4365

The aim is to drop StarcounterVersionCompatibility completely and also do our best to have only one single version of the extension. We aren't really there yet though. Sorry. 😢

[2017-11-28 14:19] per-samuelsson commented on #246
Oh, and the answer to

is no. The idea with explicit compatibility was to force users to pay attention when going 2.3 -> 2.4 **and vice versa** because we expect project references to differ.

[2017-11-28 15:04] warpech opened #326 "Remove ClientFiles from level1 repo"
[ClientFiles](https://github.com/Starcounter/level1/tree/5c860528935e25ff8fd9dbcf8a9eb48b8051b02d/src/BuildSystem/ClientFiles) and [PartialToStandaloneHtmlProvider](https://github.com/Starcounter/level1/blob/5c860528935e25ff8fd9dbcf8a9eb48b8051b02d/src/Starcounter/Middleware/PartialToStandaloneHtmlProvider.cs) are part of level1 repo.

When making changes to client files, it causes problems:

- co

[2017-11-28 15:37] miyconst commented on #326
GitHub should have a `+100` emotion, `+1` is just not enough for this issue.

[2017-11-28 15:39] ubbeK commented on #326
All `breaking out from Level1` is music to my ears.

[2017-11-28 15:50] alshakero commented on #326
YES YES YES

[2017-11-28 16:20] warpech commented on #326
I don't know how to do it, though. But I guess you know it better. I suggest to take the following steps:

- [ ] @alshakero please make sure that the `master` branch in `SysUpgrade` has the same static files as Starcounter 2.4
- [ ] @ubbeK please add a VS project in `SysUpgrade` (on a new branch) that contains the class `Starcounter.PartialToStandaloneHtmlProvider` and provide a dry-run instructio

[2017-11-28 16:23] warpech commented on #154
Website app does not build because it requires an API that is available in `v2.3` but not in `v2.3-static-filters`. That's why I am asking to merge the current `v2.3` to `v2.3-static-filters` so I can test Website app.

[2017-11-28 16:29] ubbeK commented on #326
FYI, It will take at least one week before I can even start to dig a bit deeper with this.

[2017-11-28 16:40] warpech commented on #326
Is there someone else who knows how to do it?

[2017-11-28 16:58] ubbeK commented on #326
Probably, but everyone will probably say the same thing as I did.

My view of how it would be implemented is to create a local Nuget package which Level1 consumes in the CI chain. The solution for this has been discussed and there is a [Minute](https://github.com/Starcounter/Minutes/blob/master/UrbanStarTeam/nuget_2017-10-13.md) about it.

But then, we would have to release it once in a while so a

[2017-11-28 19:36] warpech commented on #326
Sounds great! I think we can wait a week, no problem. Thanks!

[2017-11-28 20:53] alemoi commented on #154
@warpech done! Now Level1 `v2.3-static-filters` contains the latest changes from `v2.3`.

[2017-11-29 09:33] miyconst commented on #322
cc @ubbeK

[2017-11-29 09:51] warpech commented on #154
- KitchenSink [passed](http://teamcity.starcounter.org/viewLog.html?buildId=39067&tab=buildResultsDiv&buildTypeId=Apps_KitchenSink_Develop) ✔️
- Website [passed](http://teamcity.starcounter.org/viewLog.html?buildId=39068&tab=buildResultsDiv&buildTypeId=Apps_Website_Develop) ✔️
- CompositionProvider [passed](http://teamcity.starcounter.org/viewLog.html?buildId=39069&tab=buildResultsDiv&buildTypeId=

[2017-11-29 09:56] miyconst commented on #154
I don't mind getting it in `2.3` at all.

[2017-11-29 10:58] PatrykSzwer opened #327 "HTML view file cannot contain URI used for handler in its name"
This issue is presented on `10_map_Url` branch in Kitchensink. Related PR https://github.com/Starcounter/KitchenSink/pull/204

When I renamed view file from `GeoPage.html` to `MapPage.html` strange things started to happen. it seems like response for calling for view html file was replaced with response from handler. After further investigation turns out that actually happen. When You call for `ht

[2017-11-29 11:05] SenerDemiral commented on #327
I had the same situation. Coerciblely changed the uri to gMapPage from MapPage.

[2017-11-29 11:18] warpech commented on #314
It is not announced yet. Please mention it in the `CHANGELOG.md` and the blog.

Also, please describe in the Docs if/how someone can override the "Server" header value.

[2017-11-29 13:11] alemoi commented on #327
Thanks for reporting! So basically a wrong handler is called, right? Seems like its yet another bug with old URI matcher..

[2017-11-29 15:33] warpech opened #328 "Add meta viewport tag to PartialToStandaloneHtmlProvider"
`PartialToStandaloneHtmlProvider` is missing the meta viewport tag which is standard for building responsive web applications:

[code]

I think it is a breaking change and should be added on 2.4

Without this tag, websites are scaled down on iOS and Android. To fix it, developers are adding the meta viewport tag using hacks like this one:

- https://github.com/Starcounter/Website/blob/c240cc63e218

[2017-11-30 07:49] k-rus commented on #322
User can downgrade manually by uninstalling current version and installing downgraded version.

Installer and Starcounter product in general should never erse database, since it is potential lost of customer data.

I am against of just fixing the word. We either should prevent from downgrading or make sure that downgrade is safe for the customer. imho, this issue is much more serious than just inc

[2017-11-30 08:33] mmnosek commented on #322
@k-rus I agree. Data needs to be safe at all cost. Making installer able to prevent from downgrade (and upgrade!) if there is no auto-migration is in general very good idea.

However, I think it's a separate issue. That should be discussed and handled separately (it may take much more time). A quick fix to make communicate correctly will not change Starcounter behavior but will make a user experie

[2017-11-30 08:38] chrhol commented on #325
I have let this issue be for a couple of days (for various reasons).

Following the trail of changes it looks like this is something from the very first implementation that have been left behind, and not something that have been added. It seems to work just fine when the misbehaving lines are removed. Still need to do some more testing, and figure out how to add a relevant test for it (but maybe t

[2017-11-30 08:45] k-rus commented on #322
Then I suggest to keep as it is, which gives experience of a bug, since it is a bug, which is not resolved and even not thought. I don't see any need to create new issue, since this issue reports the bug. The original suggestion for the bug resolution hides the problem from the user.

[2017-11-30 10:13] mmnosek commented on #322
This issue is about message problem. "Would you like to upgrade from 2.4 to 2.3" looks just silly and securing from incorrect upgrade/downgrade process is a separate story.

[2017-11-30 11:12] k-rus commented on #322
Then at least the message should say that starting a database after downgrade might corrupt the database. Without this warning our customers are more likely to be in trouble and we will need to fix their databases.

As I see this issue will be discussed tomorrow during release planning meeting.

[2017-11-30 11:13] alshakero commented on #328
Done in https://github.com/Starcounter/level1/pull/4377.

[2017-11-30 12:40] warpech commented on #286
Working with dates is a typical use case of business apps. Starcounter as a framework for apps should support it nicely, without asking each developer to reinvent the wheel. It is solved in every other serious framework.

The standard is ISO 8601, so it should be either:

- `1970-01-01T00:00:00Z` if you are sending UTC time
- `1970-01-01T00:00:00-0500` if you are sending a local time

EcmaScript 5

[2017-11-30 12:56] chrhol commented on #286
If we are talking about the server, then the automatic conversion is done when a string-property is bound to a datetime property. Currently the string is formatted using "u" (Universal sortable date/time pattern).

Should we change this then to ISO 8601? Not sure if this should be treated as a bug and fixed right away or be considered a kind of breaking change (since we're changing the default for

[2017-11-30 12:59] warpech opened #329 "`Data` with `IBound` should never be null, `Data` without `IBound` should always be null"
In Typed JSON, assigning `Data` to `Json` is optional. If you don't do it, then the JSON is serialized with the default values from JSON-by-example, which are usually zeroes and empty strings.

Most of the time this is unwanted on the client side. The client has no way of knowing if a zero is a legitimate value bound to a data object, or is it a fallback because `Data` was unassigned.

One way to

[2017-11-30 13:05] miyconst commented on #329
This scares me. It may bring some unwanted behavior and break some existing apps. What we actually want is this:

[code]

If the `Person` is `IBound<Database.Person>` and it's `Data` is not set, then the entire piece of JSON should not be present.

[2017-11-30 13:09] warpech commented on #329
This would also be acceptable, but it might be harder for the developer to understand the reason.

[2017-11-30 13:28] warpech commented on #286
Is it explained anywhere in the docs? If no then please add it.

Can we do it as a non-breaking change, by including some configuration for how the dates are serialized in a property?

[2017-11-30 13:39] alemoi commented on #154
The fix is pushed to v2.3 and develop. Thanks.

[2017-11-30 13:39] #154 closed

[2017-11-30 14:17] alemoi commented on #314
Is it a necessity to be able to override `Server` header? I'm just asking about requirements.
Does someone need this functionality for now?

[2017-11-30 14:31] PatrykSzwer commented on #327
Yeah, instead of getting view html file, the handler '/map` is called.

[2017-11-30 15:07] PatrykSzwer commented on #322
Not enough informative message is one problem. Replaced 2 words, that should be in opposite places - that's problem that should be fixed first. Right now, those messages, about e.g "downgrading from 2.3.1 to 2.4.0" are just wrong.

[2017-11-30 15:14] alemoi commented on #190
@miyconst should we close this issue?

[2017-11-30 15:19] miyconst commented on #190
Ping @warpech.

[2017-11-30 15:26] k-rus commented on #322
It is not just replacement of 2 words. You need to add if-statement to compare versions. Then the logic can be written to be more appropriate for the same development cost.

Current wrong message is good. It gives a sign to our customer that we've never thought about downgrading. So some of them might stop and think here. Currently the behaviour is undefined when downgrading.

[2017-11-30 15:53] alemoi commented on #314
Added override of header, change log and some documentation.

[2017-11-30 16:06] warpech commented on #314
As I wrote in https://github.com/Starcounter/Home/issues/314#issuecomment-345268568, overwriting the `Server` header is important for some kind of people, especially those who implement "security by obscurity".

Providing the specific version that you are using might be seen as an invitation for attackers to exploit known vulnerabilities in that version.

A security conscious person knows that att

[2017-11-30 17:11] warpech commented on #190
I did some tests using 2.3.1.7793:

### Test 1. Providing ID of a wrong data type to typed Handle.GET

This is my handler:

[code]

The handler expects `Simplified.Ring6.WebContent` but the client has provided an ID of `Simplified.Ring5.SystemUserSession`.

**Result:** The handler does not execute and the client gets an exception:

[code]

I guess this is fine, but here comes a question:

Where ca

[2017-11-30 20:36] miyconst commented on #314
@alemoi please share the link to the documentation.

[2017-11-30 20:45] alemoi commented on #314
Its in the commit mention above, but here it is: https://docs.starcounter.io/guides/network/handling-http-requests#summary-of-adjustable-response-fields

Its cached, and not updated by some reason.

[2017-11-30 20:56] miyconst commented on #314
@Mackiovello could you please check why the cache is not working properly?

[2017-11-30 21:43] alemoi commented on #314
I have pushed docs to RC and Develop, like I always do.

[2017-12-01 06:18] Mackiovello commented on #314
As it says in the README of the Docs repo:

I've moved the changes to the live docs every time someone has pushed to the Docs repo. Editing the live version is too painful right now, although, I hope that it will be fixed soon.

@alemoi's changes are now in the docs.

[2017-12-01 07:45] #206 closed

[2017-12-01 10:34] Mackiovello commented on #322
The issue is on this line: https://github.com/Starcounter/level1/blob/3818bdc50b0c5a672ef22a148167201695c2f97d/src/Starcounter.Installer/Starcounter.InstallerWPF/InitializationWindow.xaml.cs#L123

We're comparing the date of the version, not the version number.

The same comparison is made here:
https://github.com/Starcounter/level1/blob/3818bdc50b0c5a672ef22a148167201695c2f97d/src/Starcounter.Ins

[2017-12-01 14:17] miyconst opened #330 "Automatically backup database binaries prior to any migration operations"

[2017-12-01 14:23] miyconst commented on #322
On today's release planning with @k-rus, @bigwad, @chrhol, @per-samuelsson, @linkdata meeting it was discussed with the following outcome:

- Downgrading from `2.4` to `2.3` will crash during database startup.
- Downgrading between `2.3.1` versions will seamlessly work until a very old version of `2.3.1` with does not have vacuum tables selected.
- Downgrading between `2.4` will either fail when m

[2017-12-01 14:42] ubbeK commented on #322
Please create an issue about it so we can put it into the backlog.

[2017-12-01 14:45] ubbeK commented on #322
As I see it, the only think we will implement in this issue is a proper message when downgrading. Something har that it may destroy your database to an unrecoverable state.

[2017-12-01 14:51] ubbeK commented on #330
What is the proper solution for such implementation. I want to create a new installer (using WiX) pretty soon, https://github.com/Starcounter/AdminTrack/issues/347#issuecomment-346615058. I was thinking that there should be an opt-out option to copy the current database into some other folder, before installing new binaries.

[2017-12-01 14:53] miyconst opened #331 "Implement binary compatibility regression test"
Regression test should check that:

- `2.3.1` database seamlessly migrates under `2.4`.
- `2.4` database fails to start, but does not corrupts under `2.3.1`.
- `2.4.x` database seamlessly migrates under `2.4.y` in case of meta schema changes between the versions.
- `2.4.y` database fails to start, but does not corrupts under `2.4.x` in case of meta schema changes between the versions.
- `2.4.y` da

[2017-12-01 14:55] miyconst commented on #330
I would prefer zipping current databases into a package like `database-backup-yyyy.MM.dd.HH.mm.zip` where `database` is the name of the database, and `yyyy.MM.dd.HH.mm` is the backup date and time.

[2017-12-04 08:43] miyconst commented on #329
@warpech how important this issue is? I think, we should have an online or offline discussion involving multiple people.

Yours and mine proposals are rather big API changes, and for sure should not go into `2.3.1`.

[2017-12-04 09:05] chrhol commented on #329
Good feedback. I agree with @miyconst, a discussion about the exact behaviour would be needed.

And for sure this.

[2017-12-04 10:22] k-rus commented on #330
Note the installer will need to take care if backing up will fail due to different reasons.

[2017-12-04 10:24] k-rus commented on #331
I can suggest one more regression test to check migration between 2.3.0 and 2.3.1 in both directions. Is it valuable to add to the list?

[2017-12-04 11:23] ubbeK commented on #331
Added to `UrbanStar` project

[2017-12-04 21:18] warpech commented on #329
Perhaps we can discuss some time early next year?

Of course, there is no rush with such severe API change, but I believe that the argument is valid.

[2017-12-05 12:06] per-samuelsson commented on #87
Tested this in 2.3 and found, to my surprise, that app start very well indeed. Meaning we support (by accident?) database classes whose base class is not. Need to think that through a bit.

[2017-12-05 12:44] per-samuelsson commented on #87
Something clearly (not so) funny going on here. In 2.4, I can *neither* reproduce ***unless*** I make it a application project. Explicitly invoking the weaver happily weave the base class as a database class too.

Upgrading this to something we must fix.

[2017-12-05 13:29] per-samuelsson commented on #87
Sloppy thinking. I remembered now that by default, assemblies compiled on the fly using `star <name>.cs` will be tagged `[Database]` on assembly level, meaning `Base` will pass as a database class, and weaving hence succeed.

Which is a relief: now we "only" need to be concerned with original UX.

[2017-12-06 07:30] per-samuelsson commented on #87
Established this one applies to 2.3 too, so aiming to fix it in both while I'm at it.

[2017-12-06 09:43] per-samuelsson commented on #87
Getting increasingly bananas that my fix works locally but fails with a really weird error on Simplified on TC servers, saying Content from Ring1 has a base class that ain't a database type (Something). Same tests work 100% locally, with same version of Simplified (I think at least). Anyway, taking longer than expect therefor.

[2017-12-06 11:10] per-samuelsson commented on #87
Wow, talk about being fooled: I misread, and there is not only a `Ring1.Content` (extending `Something`) in Simplified, there is also a `Ring1.Content` (extending `Entity`) in **SocietyObjects**. And build server pull SocietyObjects in in the background, and hence failure (my solution didn't consider `Entity` to be a valid base class - I thought it was deprecated/not in use since long).

[2017-12-06 14:41] per-samuelsson commented on #87
Done. Merged into 2.3 in https://github.com/Starcounter/level1/commit/0699951a071ae32bda62aaee618ccb6f3f1e1a6d and then pushed. Then merged to **develop**.

[2017-12-06 14:41] #87 closed

[2017-12-06 14:43] per-samuelsson commented on #87
Sample of new UX:

![image](https://user-images.githubusercontent.com/2902045/33667076-1c96356c-da9c-11e7-923f-60838a2ce3df.png)

[2017-12-06 15:26] warpech commented on #314
@Mackiovello the same problem applies to other changes made by @alemoi recently: https://github.com/Starcounter/Docs/commits/Develop

[2017-12-06 15:28] warpech commented on #314
@Mackiovello the same problem applies to other changes made by @alemoi recently: https://github.com/Starcounter/Docs/commits/Develop

I have changed everyone's access rights to this repo to **Read**.

[2017-12-06 16:35] warpech opened #332 "Change IgnoreJsonWithoutHtml to `true` in HtmlFromJsonProvider"
To avoid problems like https://github.com/Starcounter/level1/issues/4145, we should change the default value of `IgnoreJsonWithoutHtml` to `true`.

I guess the value was decided to be `false` because we made a wrong assumption that all apps that return `Json` will have a view.

@miyconst can you please classify in what release this should go?

[2017-12-06 17:01] miyconst commented on #332
This change is welcome in `2.3`, if it can be done this week.

[2017-12-06 17:20] un-tone commented on #332
Yes, I'll take it

[2017-12-06 17:49] Mackiovello commented on #314
No, those are all in the docs

[2017-12-07 15:49] Mackiovello commented on #82
ping @alemoi

Documentation about it is here: https://docs.starcounter.io/guides/web-apps/sessions#operating-on-multiple-sessions, I guess it doesn't address the specific question

[2017-12-07 15:53] warpech opened #333 "Remove session URI from PartialToStandaloneHtmlProvider"
In order to allow best possible experience with Progressive Web Apps (PWA), we need to make the initial bootraping HTML ("app shell") free of session ID. This will allow us to:

- cache the app shell on the client side
- improve the time to first contentful paint by speeding up the request for view-model

Right now app shell HTML that comes from `PartialToStandaloneHtmlProvider.cs` contains the se

[2017-12-07 15:55] miyconst commented on #333
How do we provide session id then?

[2017-12-07 16:21] warpech commented on #333
We can change the `PartialToStandaloneHtmlProvider.cs` middleware to be always on, so that the app developer does not have to initiate it. Imagine such flow:

1. Browser makes a request.
2. PartialToStandaloneHtmlProvider checks if the request:
   - has type `Accept: text/html`
   - will be handled by a registered handler (and the handler does not have `SkipRequestFilters: true`)
3. If the answer

[2017-12-07 16:27] warpech opened #334 "Load bootstraping HTML in PartialToStandaloneHtmlProvider dynamically"
In order to provide a smooth upgrade path from Polymer 1 to Polymer 2, we need to make it possible to dynamically replace the bootstraping HTML returned from `PartialToStandaloneHtmlProvider`.

A way to achieve that is to load `PartialToStandaloneHtmlProvider` default template dynamically from a URI (`/sys/app-shell/app-shell.html`) and provide a default app-shell in Level1.

The default template

[2017-12-07 16:44] warpech commented on #326
Correction to the OP: `PartialToStandaloneHtmlProvider.cs` can actually stay in Level1 repo as long as we implement https://github.com/Starcounter/Home/issues/334

[2017-12-07 17:18] alemoi commented on #82
I definitely remember someone was writing info about the session format. I think it was @warpech
Do you recall anything, @warpech ?

[2017-12-08 07:28] miyconst commented on #333
How does it know which HTML to return?

[2017-12-08 08:37] warpech commented on #333
It is always the same HTML:

[2017-12-08 08:39] miyconst commented on #333
Does this mean, that apps are no longer allowed to have their own `PartialToStandaloneHtmlProvider`?

What if someone does not care about the blending features?

[2017-12-08 08:41] warpech commented on #82
I don't recall anything like that, I was never part of the decision making for the session format.

I *think* `Starcounter.Session.SessionId` is a case insensitive string. Can you check in code? Can we consider this format fixed and put it to the docs?

[2017-12-08 08:43] warpech commented on #82
I don't recall anything like that, I was never part of the decision making for the session format.

I have only seen `Starcounter.Session.SessionId` as an upper case string, but I am not sure if it is case insensitive. @alemoi you check in code?

Can we consider the current format fixed and put it to the docs?

[2017-12-08 10:16] warpech commented on #326
SysUpgrade was renamed to [StarcounterClientFiles](https://github.com/Starcounter/StarcounterClientFiles)

[2017-12-08 12:24] warpech commented on #333
Yes, because if your app depends on a custom `PartialToStandaloneHtmlProvider` as the entry point, it will not work when another app (with the standard `PartialToStandaloneHtmlProvider`) is used as the entry point.

Then they should make their app explicitly not blendable by using `SkipRequestFilters: true`

[2017-12-08 12:57] miyconst commented on #333
This means: either use blending or request filters. What if an app does not need blending but requires request filters?

Another reason to push myself with `Starcounter.Mvc` implementation, since there it's possible to enable/disable filters per handler.

[2017-12-08 13:14] habib535 opened #335 "Db.SQL query that returns non-database return type"
I have the following SQL query which gives me some stats.

[code]

By default, Db.SQL returns an `object`, if we want to specify a type it has to be a database class. So I converted each object to `Starcounter.Query.Execution.Row` and then using reflection fetched each property. It took me a lot of time to find out this way but I am more interested in looking for a standard approach here as our do

[2017-12-08 14:10] alshakero commented on #334
I'm facing a little dilemma here:

[This method](https://github.com/Starcounter/level1/blob/f4c4fa394a3f7e726c3c377dde22cb65dcaf9d9a/src/Starcounter/Middleware/PartialToStandaloneHtmlProvider.cs#L112) is `static`, so it needs the template value to be either `const` or `static`.

[I went for `static`](https://github.com/Starcounter/level1/blob/f28dc0a808a38f88a5c61efc28ebae4a213c0cf0/src/Starcounte

[2017-12-08 14:13] bigwad commented on #335
You seem to find a correct way of retrieving columns. There is more performant approach when you call one of `GetXXX(int index)` method instead of `GetValue`, where `XXX` is a type you're expecting and the `index` is a 0-based column number.

[2017-12-08 14:19] Mackiovello commented on #332
Do we know that this won't break existing code? If it does, should it be added in 2.3?

[2017-12-08 14:59] per-samuelsson commented on #335
Maybe we can start supporting returning `System.Tuple`? Something like:

[code]

[2017-12-08 16:43] un-tone commented on #332
Working on the CompositionProvider test, I found an issue there https://github.com/Starcounter/CompositionProvider/issues/18. It should be resolved before continuing the work on the test.

Also @warpech, could you clarify what exactly do you expect this test will check. It looks like a mistake since CP wraps nothing.

[2017-12-08 18:12] miyconst opened #336 "Upgrading Starcounter always installs developer mode"
Upgrading Starcounter version always installs developer mode even if the original installation was in production mode.

[2017-12-11 10:25] miyconst commented on #334
We should not implement the caching ourselves, it's the static files server's job.

[2017-12-11 10:26] alshakero commented on #334
I changed the design a little bit and building now, let's see.

[2017-12-11 10:29] alshakero commented on #334
@miyconst does the static files serves cache in memory? And even if it does the TCP call will still happen and this is very slow compared to a memoized string I would say.

[2017-12-11 10:33] miyconst commented on #334
@alshakero if you cache the HTML string, the more problems arise:

- Making changes in the file will require database restart.
- Starting a sys upgrade app after the cache will mean that it won't be able to overwrite the value.

Currently Starcounter keeps every static file from the resource folders in RAM and serves it from there.

[2017-12-11 10:46] miyconst commented on #272
@Mihaiii this issue does not seem to be valid, and the result is expected.

When the first click happens, the request is `Accept:application/json-patch+json`, and not `Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8`.

I am not sure what exactly you are trying to achieve by making a redirect for a `json-patch+json` request, but here is what we can do:

[2017-12-11 10:46] #272 closed

[2017-12-11 11:50] alshakero commented on #334
I don't know why I misunderstood what I should do initially -_-

My initial understanding was making StarcounterClientFiles necessary. Now it all makes sense.

[2017-12-11 13:30] chrhol commented on #325
PR merged to `v2.3` branch. Still waiting for a succesful build of the merge `v2.3` -> `develop`.

[2017-12-11 13:44] erikvk opened #337 "Line breaks in headers => new headers"
@alemoi Including line breaks and colon-separated strings in response headers will implicitly create new response headers.

[code]

[2017-12-11 13:48] erikvk commented on #337
A consequence of this is that if you try to insert the message from an exception, which often contains line-breaks and colon-separated strings, you will end up with additional response headers, possibly breaking things (in our case an IIS reverse proxy).

[2017-12-11 13:49] erikvk commented on #337
`Version=2.3.1.7742`

[2017-12-11 13:53] chrhol commented on #325
Everything is merged now

[2017-12-11 13:53] #325 closed

[2017-12-11 14:36] mmnosek commented on #318
I think that as in https://github.com/Palindrom/Palindrom/issues/184, we should consider that app works if any transportation layer allows completing requests, doesn't matter if it's `http` or `websocket` or something else (in the future). Additionally, `ws` reconnection should be tried as @alshakero proposed. It would solve this problem.

[2017-12-11 14:45] warpech commented on #332
I don't know for sure but I think it won't break. The tests should show it.

You are right. I thought that there is some `Application.Use` middleware, but in fact, there is only `OnJsonMerge`.

So I guess a test in CompositionProvider is not needed as long as the existing tests are passing?

Still https://github.com/Starcounter/CompositionProvider/issues/18 is a real issue but I guess it does not

[2017-12-11 16:01] un-tone opened #338 "⏰ Response filters not working in SC 2.4"
In last SC 2.4.0.4111 middlewares is not working.

In the example below the request filter is called when I call `/app4` URI, but the response filter is not.

[code]

[2017-12-11 16:30] warpech commented on #334
Thanks @miyconst for reminding that we do not need to implement the cache!

[2017-12-11 16:38] warpech commented on #333
An app should not **require** request filters because it should not have external dependencies. But I agree the connection between these two is far-fetched.

We can do two alternatives:
1. provide a separate `HandlerOptions { Blendable: true }` that means this page is not wrapped by `PartialToStandaloneHtmlProvider` and is not considered by `Blender.MapUri`).
2. or, only the pages which are explic

[2017-12-11 16:40] alshakero commented on #334
This is done [here](https://github.com/Starcounter/level1/tree/Make-app-shell-dyanmic).
Build is [here](http://teamcity.starcounter.org/repository/download/Starcounter_DevelopNightlyWindows/40163:id/Starcounter-Develop-2.4.0.4131-Setup.exe)

And it's working perfectly. I didn't PR waiting for StarcounterClientFiles to be [approved](https://github.com/Starcounter/StarcounterClientFiles/issues/13) t

[2017-12-11 17:02] warpech commented on #174
But what is it needed for? To send the full error message instead of the truncated error message?

Sounds like a good idea.

[2017-12-11 17:10] alshakero commented on #174
Yes exactly. Because `CloseEvent.Reason` is a control frame and can be [125 bytes max](https://tools.ietf.org/html/rfc6455#section-5.5). Whereas a message can be anything.

[2017-12-11 17:12] warpech commented on #272
@Mihaiii maybe there's is some good idea about this, but I agree it needs to be properly defined. now it works according to the design, so it is rather a missing feature than a bug.

I agree that it is confusing especially in context of the docs page: https://docs.starcounter.io/guides/network/url-aliases-and-redirects/#redirect

I created an issue to discuss it further: https://github.com/Palindr

[2017-12-11 17:29] warpech commented on #174
Can you pls make an issue about it in Palindrom?

[2017-12-11 17:54] alshakero commented on #174
Sure https://github.com/Palindrom/Palindrom/issues/188.

I would say it isn't a breaking change for Palindrom to have the ability to handle non-JSON WebSocket messages. So I'll implement it in Palindrom first, and when I'm done I'll comment here so @alemoi (?) can go for it when Palindrom is ready and is waiting for the error messages. Do you agree?

[2017-12-11 18:37] miyconst commented on #333
A request filter is not necessary an external dependency. What if an app implements it's own auth layer via request filters?

Both of the alternatives are not good. I might sound like I am denying everything, and not proposing anything, but the problem is that our request filter mechanism is really ~~broken~~ limited.

Tomorrow I will present you my concept how to get the blending features using `

[2017-12-12 06:31] per-samuelsson commented on #338
There was some recent issue that was worked on, that addressed something with response filters. Can't really seem to find it though. Maybe that could have caused some breakage.

[2017-12-12 08:37] Mihaiii commented on #338
^ I have the same problem with 2.4.0.3854 so it's probably not that recent.
I wanted to try with 2.4.0.3238, but current `master-2.4` branch of Website app (this is what I'm interested in) doesn't work with it.
Now I'm looking into finding some intermediate version.

[2017-12-12 08:43] chrhol opened #339 "Fix errormessage when no viewmodel is attached to session"
Currently an exception with message `Session does not contain any state (session.Data)` is thrown when a patch is received and there is no viewmodel attached to the session, which is inaccurate since `session.Data` is obsoleted.

A small fix only changing the message so should be included in `2.3.1`

[2017-12-12 09:40] alemoi commented on #337
Thanks for the question! I think its even against HTTP specification actually:
[code]
So you want the exception string to be a part of header? I think you will have to Base64 encode then.

[2017-12-12 09:43] erikvk commented on #337
OK, good to know. I still think you should throw some exception if strings with line breaks are used as header values – if these cannot be handled as expected.

[2017-12-12 11:46] warpech commented on #338
@miyconst, @alemoi can you help? It is urgent because Flexovital cannot use WebsiteEditor/WebsiteProvider without a fix for this.

[2017-12-12 12:13] miyconst commented on #338
Unfortunately the only thing I can do is push @alemoi.

[2017-12-12 13:00] alemoi commented on #338
Unfortunately I can check it earliest tomorrow.

[2017-12-12 15:19] un-tone commented on #332
The new test in https://github.com/Starcounter/CompositionProvider/pull/19 PR covers the case.

Yes.

[2017-12-12 15:47] warpech commented on #333
I agree. I hope we can address this by fixing the middleware layer and then using `Starcounter.Mvc` on top of that. I thought there is actually an issue for registering a local (not global) middleware, but I can't find it.

Anywhere, we got offtopic.

I made a change to https://github.com/Starcounter/Home/issues/333#issuecomment-350018064 to use `Blendable: true` instead of `SkipRequestFilters: fa

[2017-12-12 16:07] warpech commented on #332
Great, can you make a PR to level1 then if all is sorted out?

[2017-12-12 16:13] warpech commented on #174
In my opinion this is only "Nice to have", so don't treat it with high priority.

I will open a new issue for @alemoi about this.

[2017-12-12 16:20] un-tone commented on #332
Not this one https://github.com/Starcounter/level1/pull/4397?

[2017-12-12 16:32] warpech opened #340 "Send exception stack trace in a WebSocket message frame"
Right now, if an exception happens in the server while processing a JSON Patch, Starcounter sends it in the closing frame of WebSocket, which is limited to 123 bytes.

After https://github.com/Palindrom/Palindrom/issues/188 is implemented, please send the exception stack trace in the text frame, which does not have this size limitation.

This is a continuation of https://github.com/Starcounter/Hom

[2017-12-12 16:41] warpech commented on #332
Sorry, I missed it.

Please always mention me in the comment because I don't get a notification otherwise.

[2017-12-12 17:48] alemoi commented on #340
So the client will determine that its not a JSON message and will succeed parsing it? Can you please tell us more about client behavior?

[2017-12-13 10:24] warpech commented on #340
As explained in Starcounter/Home#174 (comment), Palindrom will try to parse any WebSocket message as JSON. If the message does not parse as JSON (for example because it is a stack trace text), this is considered a fatal error end the text that did not parse will be logged as error in the browser console.

[2017-12-13 11:59] chrhol commented on #339
Done, pushed and merged to `v2.3` and `develop` branches.

[2017-12-13 11:59] #339 closed

[2017-12-13 12:29] mmnosek commented on #335
I think it would help a lot. I received this question couple times and forcing a developer to write a lot of code to do this isn't reasonable.

Who can tell if we can implement support for this and how can we move forward? @miyconst ? Thumb ups are not bringing us closer ;)

[2017-12-13 12:33] miyconst commented on #333
This looks much better now.

[2017-12-13 12:35] Mackiovello commented on #335
It would be even nicer to use `System.ValueTuple`, but that doesn't work in the old weaver: https://github.com/Starcounter/Home/issues/166

[2017-12-13 12:35] miyconst commented on #335
Okay, I accept the issue as `nice to have`, and maybe @un-tone will be able to get his hands on it after fixing the urgent bugs.

[2017-12-13 12:49] miyconst opened #341 "Implement server side Palindrom to connect to a Starcounter server from another server"
Currently we have a mechanism to keep JSON view-model mirrored between client (web browser) and server (Starcounter app) seamlessly and without extra pain for the developers.

It was requested multiple times to provide the same functionality for different clients other than web browsers. The most requested client is a C# .Net application.

There should be a server side (C# .Net) Palindrom library

[2017-12-13 14:49] warpech commented on #341
I know that @mtornwall had a working implementation of this for his own purpose. Is it usable?

[2017-12-13 16:07] warpech commented on #326
StarcounterClientFiles is ready for this change.

In level1 you can replace https://github.com/Starcounter/level1/tree/develop/src/BuildSystem/ClientFiles and replace it with dynamically loaded `master` branch of https://github.com/Starcounter/StarcounterClientFiles.

In TeamCity this branch name should be a parameter `GIT_CLIENTFILES_BRANCH` with the default value `master`.

Once we have a first

[2017-12-13 16:57] mtornwall commented on #341
That implementation technically exists but isn't particularly good and - in my opinion - a dead end for further development.

[2017-12-13 18:09] ubbeK commented on #341
This is something @eriksunsol have asked for.

[2017-12-13 23:31] alemoi commented on #338
I found a missing merge in git that I just fixed. Tested and should work in `develop`. Closing the issue.

[2017-12-13 23:31] #338 closed

[2017-12-14 08:49] alemoi commented on #337
@erikvk I think in this case we need to check for any invalid symbol in header.

[2017-12-14 10:31] Mihaiii commented on #338
Thanks!
The problem in the first message is probably solved, but when I run Website app on `master-2.4` with SignIn app on `master-2.4` and with CompositionProvider on `master-2.4`, I still can't see the SignIn icon when I access `http://localhost:8080/websiteeditor`.

@Starcounter/webplatformteam Could you please confirm?

[2017-12-14 11:15] PatrykSzwer commented on #338
I do NOT confirm that. I've run everything at `2.4` branches and it looks correct:
![image](https://user-images.githubusercontent.com/25042256/33989628-706eb394-e0c8-11e7-9091-3e6f410169b5.png)

Did You called `websiteeditor/resetdata` after switching to master-2.4 branch?

[2017-12-14 11:20] Mihaiii commented on #338
I was on a clean DB, but yes, everything is ok after calling `websiteeditor/resetdata`.
This will work for me, but it's strange that it didn't worked on a clean db.

Thanks!

[2017-12-14 12:47] iqbalskd commented on #322
Fixed and merged.

[2017-12-14 12:47] #322 closed

[2017-12-14 13:26] PatrykSzwer commented on #338
@Mihaiii could You try to make reproduction? Maybe It's an issue that we should take care of.

[2017-12-14 14:06] alshakero commented on #334
PRed in https://github.com/Starcounter/level1/pull/4407

[2017-12-14 14:18] alemoi commented on #340
Already implemented but didn't yet push to v2.3 or develop, since the JS is not ready yet.
Here is the personal build you can test: http://downloads.starcounter.com/download/Starcounter/Custom/2.3.1.8089

[2017-12-14 14:24] Mihaiii commented on #338
Done: https://github.com/Starcounter/Website/issues/295 .

[2017-12-14 15:05] alemoi commented on #337
I thought about this and I suppose performance wise it won't be a good idea unfortunately. So I will have to keep it this way @erikvk

[2017-12-14 15:05] #337 closed

[2017-12-14 15:11] warpech commented on #340
Thanks! This should be targeted at `develop`. The JavaScript part will be implemented soon. Please do not merge before the JS part is included in Starcounter.

[2017-12-14 16:35] erikvk commented on #337
Ok, it’s your call. If line breaks result in new headers (for external requests, `Self` calls work as expected), I think it should at least be added to the documentation.

[2017-12-14 21:20] alemoi commented on #337
Yes, I will provide this in documentation. Thanks for the input!

[2017-12-15 05:40] SenerDemiral opened #342 "Upgrade from 2.4.0.4182 to 2.4.0.4210 gives error."
If new DB created it is working.

[code]

[2017-12-15 06:40] k-rus commented on #342
Thank you for reporting the issue!
The error message is misleading, since new version of Starcounter (2.4.0.4210) has metaschema version 5, while the database was created with metaschema version 4. This error means that the database cannot be started with new version of Starcounter, thus it needs to be unloaded using the old version of Starcounter and then loaded after the installation of newer ve

[2017-12-15 06:42] alexanderstc commented on #342
I think so too.

[2017-12-15 07:56] alexanderstc commented on #342
@SenerDemiral

[2017-12-15 08:00] alexanderstc commented on #342
@SenerDemiral
you move from 2.4.0.4182 to 2.4.0.4210.
Well, 2.4.0.4182 is a private build which has metaschema version of 5,
wgile 2.4.0.4210 is the trunk RC version which still has etaschema version 4.

So, the errror message is correct, you are trying to "downgrade" the database, and it's not allowed.
As said before, please unload db using 2.4.0.4182, then load with 2.4.0.4210.

[2017-12-15 08:01] alexanderstc commented on #342
So the problem was that i allowed experimental build 2.4.0.4182 to leak to the public.

[2017-12-15 08:01] #342 closed

[2017-12-15 08:18] miyconst commented on #227
Related - [Extend inheritance between view-models](https://github.com/Starcounter/Home/issues/294).

[2017-12-15 08:28] SenerDemiral commented on #342
I always download last version and test.
Generally there should be one version for one day.
But there are 3 version on Dec 14, 2017. (Develop)
I did not notice installation make downgrade.

[2017-12-15 08:29] alexanderstc commented on #342
You have no way of knowing that.
That version was published by mistake, we'll try our best to avoid that in the future.

[2017-12-15 08:36] SenerDemiral commented on #342
Never mind, I try to help you as much as I can.

[2017-12-15 08:37] alexanderstc commented on #342
Your early tests of our builds are greatly appreciated.

[2017-12-15 08:40] SenerDemiral commented on #342
Sure I will do.

[2017-12-15 10:27] ubbeK commented on #326
I was thinking that this would be solved through a nuget package, and tested through local nuget package directory/feed (state of that may be found here: https://github.com/Starcounter/AdminTrack/issues/390). Would that meet web platform teams needs?

[2017-12-15 10:42] warpech commented on #326
Thanks for bumping it hear, I missed the question in AdminTrack. My questions here: https://github.com/Starcounter/AdminTrack/issues/390#issuecomment-351973367

[2017-12-15 12:36] ubbeK commented on #336
We are interested in the specific scenario when a Starcounter version is already installed, and another installer is executed (if same installer as the current installed one is used, then it will only uninstall). In this scenario, the installer will first uninstall, and then install again i.e. upgrade/downgrade

There are two separate ways:

1. Commandline
2. GUI

------
### Commandline
* `Starcou

[2017-12-15 12:47] miyconst commented on #336
Ideally it would be good to automatically detect current installation mode and upgrade/downgrade using the same mode.

Otherwise asking user to select is fine.

[2017-12-15 18:07] un-tone commented on #304
Closing as done.
The changes are applied for SC 2.3 (https://github.com/Starcounter/level1/pull/4414) and for SC 2.4 (https://github.com/Starcounter/level1/pull/4415).

[2017-12-17 10:47] miyconst commented on #304
Tested and accepted. Great job @un-tone!

[2017-12-17 10:59] miyconst opened #343 "Treat navigation properties in SQL as LEFT JOIN not INNER JOIN"
Currently we treat navigation references in SQL statements as INNER JOIN. Explanation: the following SQL statement will return products where `p.Category` is not null and `p.Category.Name` is null.

[code]

My proposal is to change the behavior and return products where `p.Category` is null or `p.Category.Name` is null.

The proposed behavior is less surprising I believe.

cc @k-rus, @warpech, @da

[2017-12-17 11:45] miyconst commented on #304
Unfortunately the issue is not solved.

Due to - [Treat navigation properties in SQL as LEFT JOIN not INNER JOIN](https://github.com/Starcounter/Home/issues/343).

After the fix, `SELECT COUNT(*)` and `SELECT *` are inconsistent.

The `SELECT COUNT(*)` treats navigation properties as `LEFT JOIN`, while `SELECT *` treats navigation properties as `INNER JOIN`.

It results in the following inconsiste

[2017-12-17 22:56] warpech commented on #343
As I understand, the dot operator in our SQL acts similarly but not exactly like [`?.` in C#]( https://en.wikipedia.org/wiki/Safe_navigation_operator). The similarity is that it does not crash if `Category` is null. The difference is that it does not match null if the `Category is null.

If we make the change according to OP, the dot operator would work **exactly** like safe navigation operator. I

[2017-12-17 23:22] habib535 commented on #343
The default join in SQL is Inner. By looking at the query I am expecting the same result as you described "`where p.Category is not null and p.Category.Name is null`"

Using `p.Category.Name` tells that you are expecting the Category to exist unless you explicitly say `p.Category IS NULL OR .. `.

[2017-12-18 00:06] tomalec commented on #341
Just to clarify, we are talking about C# .Net Palindrom client.

I think it could be the joined effort with the idea to create JS version of Palindrom server - in my opinion, it should be a just more symmetric implementation of Palindrom (or parts of current Palindrom) that could be set via config to work as a master or slave.

Then it would allow us to:
- Implement C# version also once for both e

[2017-12-18 05:10] miyconst commented on #341
@tomalec the biggest challenge is communication between .Net thread run inside Starcounter database thread with NodeJs Palindrom. How do we apply/generate patches? Someone has to investigate this before we can decide on anything.

[2017-12-18 05:10] miyconst commented on #343
@habib535, @Mihaiii, thank you for the input. Let's see what others think.

[2017-12-18 08:48] k-rus commented on #343
I think the current behaviour follows the least surprise principle, at least for users experienced in SQL.
However, I have no idea what is common expectation among our customers and if we even have enough customers with enough experience to provide feedback that we can base our decision.

IMHO the behaviour should be based on solid rules of dealing with nulls. Deciding behaviour by looking to isol

[2017-12-18 08:56] mmnosek commented on #343
I think that from the developer perspective current behavior is expected and we shouldn't make any change. @miyconst have you heard any complaints about this from our partners/other developers?

For me it's natural, but maybe because of some previous Java experience. There is something like `JPQL` (Java Persistence Query Language) in the Java Persistence API, and path expressions are supported the

[2017-12-18 09:12] warpech commented on #341
The only way I can think of @tomalec's proposal to work is through using a JS interpreter for .Net. I found some projects for that but I am not sure about their production-readiness:

- https://github.com/Microsoft/ClearScript - the only one that has ES6
- https://github.com/paulbartrum/jurassic
- https://github.com/sebastienros/jint

[2017-12-18 09:41] warpech commented on #329
This is a possible solution to the issue that comes up very commonly in developer feedback and should be prioritized in 2018: https://github.com/Starcounter/level1/issues/3864

[2017-12-18 10:30] tomalec commented on #341
My proposal was not about using JS version, but before translating current Palindrom to C# I'd make PalindromJS client+server, and then translate it to C#. So at the and we will have Palindrom C# client-setup communicating with another instance of the same library Palindrom C# in server-setup.

[2017-12-18 11:30] miyconst commented on #343
Okay. Looks like nothing has to be changed, let's wait for @atifwaqar and close the issue.

[2017-12-18 12:13] un-tone commented on #332
Closing as done.

[2017-12-18 12:13] #332 closed

[2017-12-18 12:39] warpech commented on #334
Closing as done

[2017-12-18 12:39] #334 closed

[2017-12-18 13:00] un-tone commented on #304
I see that we have this issue before and after the current fixes. Shouldn't we create a new separate issue for that, @miyconst?

[2017-12-18 13:06] miyconst commented on #304
@un-tone can we fix the `SELECT COUNT(*)` behavior to work as `INNER JOIN`, not as `LEFT JOIN` in scope of this issue?

This issue is also very closely related - [In SQL queries, Count not working as expected](https://github.com/Starcounter/level1/issues/3447).

[2017-12-18 14:18] miyconst commented on #343
@atifwaqar also agrees that the current functionality is good and should not be changed. Closing the issue.

[2017-12-18 14:18] #343 closed

[2017-12-18 15:22] k-rus commented on #321
This was a bug in the metalayer. It was discussed and fixed in internal issue https://github.com/Starcounter/level1/issues/4375

[2017-12-18 15:22] #321 closed

[2017-12-19 10:08] warpech commented on #246
Right now it is a pain in the neck, because it forces us to have two `master` branches and merge like this:

[code]

This is awful, because a PR can only be tested in 2.3.1. We want to be able to test the PR of `feature-branch` both for 2.3.1 and 2.4.

[2017-12-19 10:52] per-samuelsson commented on #246
Not sure I understand why? We have 2 compatibility modes - one for 2.3 and one for 2.4. That would force you to have two branches, targeting each version of Starcounter. Feature branches would always just be short-living ones, no?

[2017-12-19 11:00] warpech commented on #246
Exactly. I want to have a single feature branch and a single PR. That branch should be tested on TeamCity with Starcounter 2.3 and Starcounter 2.4.1, so I need single codebase that runs in those two versions.

[2017-12-19 11:08] per-samuelsson commented on #246
Well, yeah, I understand. That's the optimal of course. And we actually *have* decided that we want to try to get 2.3 and 2.4 compatible wrt project settings. I'm not sure exactly how still though (since things have changed, deliberately).

The situation is not really unique though. And remember: 2.4 is still considered bleeding edge. It's a 1-1 compare to how Starcounter itself is currently struc

[2017-12-19 11:14] per-samuelsson commented on #246
If this is a pain for you, big enough for you to be willing to contribute to a solution, take a look at section [How do I migrate a project from 2.3 -2.4 and vice versa](https://github.com/Starcounter/Starcounter.VisualStudio/wiki/Version-compatibility#how-do-i-migrate-a-project-from-21-3--24-or-vice-versa) and submit suggestions on what we could do to address those incompatibilities. Would be hig

[2017-12-19 12:54] un-tone commented on #304
As I see, the `SELECT COUNT(*)` behavior should be fixed on Prolog side. The Prolog server should build Join node as it does the `SELECT *` query, but it doesn't.

[2017-12-19 14:04] k-rus commented on #304
I don't see why do you think it is a Prolog issue? The query plans doesn't indicate any usage of outer join. Do you see outer join in the answer returned by Prolog?

[2017-12-19 14:25] k-rus commented on #304
The bug might be in `StringPath` operator implementation.

[2017-12-20 07:25] per-samuelsson commented on #246
Just for the record, me and @warpech had a rather lengthy discussion about this off-tracker.

One thing we discussed was that one "quick fix" for this problem is to simply remove entirely the check for version compatibility in build targets. Meaning devs are on their own - if they move projects back and forth between 2.3 <-> 2.4, some features might not work properly unless they explicitly update

[2017-12-20 09:10] warpech commented on #246
Yesterday @joozek78 made a solution that works for us now in KitchenSink. It is best describe on the picture:

![image](https://user-images.githubusercontent.com/566463/34199276-90751828-e56d-11e7-81ba-345fb9e825e7.png)

Whenever someone commits to a feature branch (orange color on the diagram), the TeamCity configuration "KitchenSink Test Feature Branch" will trigger two builds:

- KitchenSink Ma

[2017-12-20 18:41] un-tone commented on #304
Thanks for the clue, @k-rus. Please check the PR https://github.com/Starcounter/level1/pull/4421

[2017-12-21 09:26] SenerDemiral opened #344 "Haw to copy database to another pc without unload/load?"

[2017-12-22 09:10] k-rus commented on #344
To my understanding: just copy the database or server folder to another computer, fix paths in configuration files. Make sure that the same version of Starcounter is installed on the other computer.

I don't think we have tool support for this.
@Mackiovello Do we have documentation for this question? Do you know more details how to answer it?

[2017-12-22 09:16] Mackiovello commented on #344
These are the instructions for doing a backup, which should be the same as copying to another PC without unload/reload: https://docs.starcounter.io/guides/working-with-starcounter/run-starcounter-in-production#database-backups

Does that answer the question @SenerDemiral?

[2017-12-22 18:00] SenerDemiral commented on #344
Yes thank you.
It will be better to name `Files to backups` as `Moving database`.

[2017-12-22 18:02] Mackiovello commented on #344
Great! Closing the issue

[2017-12-22 18:02] #344 closed

[2017-12-25 16:49] un-tone commented on #304
I've created a new PR https://github.com/Starcounter/level1/pull/4423 instead of #4421

[2017-12-29 18:26] warpech commented on #213
This is done in https://github.com/Starcounter/StarcounterClientFiles/commit/ac7946dabef846363f4a85bb97ed491c5cdd4a67, will be part of the next release of StarcounterClientFiles 2.x

[2018-01-02 09:52] ubbeK commented on #336
@iqbalskd What is the status of this issue?

[2018-01-02 10:09] ubbeK commented on #336
Found the PR: https://github.com/Starcounter/level1/pull/4426

[2018-01-03 16:28] iqbalskd commented on #336
Tested and merged.

[2018-01-04 08:30] miyconst commented on #336
Now the installation fails with the following exception:

![image](https://user-images.githubusercontent.com/6435556/34555389-d7a70b28-f131-11e7-9752-8c6e2b4dfd79.png)

[2018-01-04 08:30] miyconst commented on #336
[code]

[2018-01-04 08:33] miyconst commented on #336
Clarification:

- It fails when installing developer mode.
- It fails when upgrading developer mode.
- Production mode was not checked.

[2018-01-04 08:53] ubbeK commented on #336
I cannot reproduce this error. Tested all kind of combinations of
* install / uninstall / upgrade
* Production Mode / Developer Mode without Extension / Developer Mode without Extension

I used
* `Starcounter-RC-2.3.1.8199-Setup.exe`
* `Starcounter-RC-2.3.1.8264-Setup.exe`

-----

What Starcounter version did you use when upgrading? cc @miyconst

[2018-01-04 08:55] miyconst commented on #336
I can't check that right now because it was removed during the upgrade, still the fresh installation fails. Trying without the documents folder.

[2018-01-04 08:55] ubbeK commented on #336
tested all that through GUI and through CLI with arguments

[2018-01-04 09:00] ubbeK commented on #336
The only thing I can find is when downgrading to `Starcounter-RC-2.3.1.8199-Setup.exe` from `Starcounter-RC-2.3.1.8264-Setup.exe` which shuts down the installer silently. cc @iqbalskd

[2018-01-04 09:02] miyconst commented on #336
That's bad, but I can't reproduce it any more. It was failing with the exception above multiple times. Then I:

- Dropped Starcounter documents folder.
- Installed Starcounter.
- Uninstalled Starcounter.
- Replaced the new documents folder with the old one.
- Trying again - works.

@ubbeK thanks for checking, I ask Anna from Heads to check, and if it works for her, we close the issue.

[2018-01-04 09:08] Mihaiii commented on #336
I had the same problem when downgrading from 2.4 to 2.3. It was annoying for me, but this isn't something that any SC customer/client would do afaik so I can live with it if it happens again.

[2018-01-04 09:18] miyconst commented on #336
@Mihaiii thank you for the hint, it could actually be the case for me as well. Still, I ask you to report such issues when they happen.

[2018-01-04 16:44] miyconst commented on #336
The fix is confirmed by Heads.

[2018-01-04 16:44] #336 closed

[2018-01-04 16:46] miyconst opened #345 "Show Starcounter Tray icon in production mode"
Currently the Starcounter tray icon (in the bottom right corner of the task bar) is shown only when Starcounter is started in developer mode. It should be visible even if Starcounter is started as a service in production mode.

[2018-01-05 03:49] ubbeK commented on #345
I just did some testing on latest Installer `Starcounter-RC-2.3.1.8273-Setup.exe` with the following result.

The tray icon is present for both `developer mode` and `production mode` **after** the server has been started (I did it through Starcounter Server icon). For both configurations, the server may be stopped from that tray icon. However, it can only be started again for `developer mode`, not

[2018-01-05 04:11] ubbeK commented on #345
@Iqbal Could you please verify this? The TrayIcon project may be found here: https://github.com/Starcounter/level1/tree/v2.3/src/Programs/Starcounter.TrayIcon (it is also included in Level1.sln)

and is references in these positions:
* https://github.com/Starcounter/level1/blob/f2659502b822f82b4ab3a4989c9660bee5cf2750/src/Starcounter.Installer/Starcounter.InstallerEngine/Components/PersonalServer.

[2018-01-05 08:40] miyconst commented on #345
When Starcounter is installed in production mode, it's started via a Windows service, and in this case there is no tray icon shown.

When starting Starcounter with a shortcut, it starts in developer mode, and shows that in the tray icon title, although it does not change the Starcounter's performance and/or behavior, it's still "scary" to see "development mode" title, when the installation was com

[2018-01-05 16:15] mtornwall opened #346 "Document that Brackets are not supported as escape characters in SQL statements"
You used to be able to use brackets to escape keywords in `CREATE INDEX` (and probably other DDL):

     CREATE INDEX FooIndex ON Foo([Index])

In recent `develop` this fails with:

I suspect this was introduced in https://github.com/Starcounter/level1/commit/53d1c7f41fbf882173e221a4e0e8f17a8389c140.

[2018-01-10 13:34] tomalec opened #347 "Use .NET Framework 4.6.1 for apps"
I have installed fresh VS2017 that comes with .NET Framework 4.6.1. But most of our apps uses 4.5. I think it would be cool if flow mentioned at https://docs.starcounter.io/getting-started#1.-install-visual-studio would be as simple as it seems:
1. Download VS2017 - with the default setup,
2. Install Starcounter,
3. Open existing app solution (with no warnings and errors),
4. build and run.

Curre

[2018-01-10 14:35] warpech commented on #347
Do you mean `4.6.1`? If yes, I agree.

@kegor could you please do it for the [current apps of the Web Platform Team](https://github.com/search?utf8=%E2%9C%93&q=topic%3Aweb-platform-team+topic%3Aapp+org%3AStarcounter+fork%3Atrue&type=Repositories), **excluding the apps with topic `frozen`**?

@Mackiovello maybe you want to apply this also to HelloWorld, @Mihaiii maybe you want to apply this to pref

[2018-01-10 16:34] joozek78 opened #348 "Msbuild zombie process is left alive after building"
Starcounter version: 2.4.0.4476
Repro:
[code]
**After the build finishes, msbuild process is left behind running.** It locks the starcounter files, which causes problems in CI.

Possible workaround is to kill all msbuild processes after building, but blindly killing processes may lead to other problems and should not be our final answer to that.

[2018-01-11 06:26] per-samuelsson commented on #348
This is standard. I think it's usually referred to as "node reuse" in MsBuild-lingo.

FWIW, we have (unofficial) `staradmin kill devall´ that brutally kill every msbuild process in 2.4, if you need inspiration.

[2018-01-11 06:35] per-samuelsson commented on #348
Try: `msbuild /nodeReuse:false`.

[2018-01-11 07:38] Mackiovello commented on #347
Updated for HelloWorld

[2018-01-11 09:36] joozek78 commented on #348
Thanks for the explanation. I had no idea msbuild would do such things

[2018-01-11 09:36] #348 closed

[2018-01-11 10:12] PatrykSzwer opened #349 "Trailing slash by default in Starcounter apps"
I've noticed that Starcounter doesn't recognize slash-ended Uri's in apps. Trailing slash is a pretty common mechanism and I can't see why We shouldn't use it. Are there any practical reasons why We don't have it implemented?

[2018-01-11 10:22] k-rus commented on #349
As I remember the question was discussed and answered, but I cannot find the issue. May be someone can find the issue or repeat answer here.

My memory says that there was some obvious reason unrelated to us.

[2018-01-11 11:40] ubbeK commented on #326
So why do we need to release these files in the installer? Purly for Administrator? Any other reasons?

[2018-01-11 11:46] warpech commented on #326
For 2 reasons:

1. Starcounter version comes with a certain version of client files. So you know that Starcounter 2.4.0.4481 comes with StarcounterClientFiles 2.1.1 that includes Polymer 2.3.1 and Palindrom 3.1.0
2. for Administrator

[2018-01-11 12:27] miyconst commented on #346
@mtornwall we have never guaranteed or documented the `[]` support as escaping characters and it's not the [SQL standard](https://stackoverflow.com/questions/19657101/what-is-the-difference-between-square-brackets-and-single-quotes-for-aliasing-in). The standard escaping character is the double quote - `"`.

@Mackiovello please add a documentation line explicitly stating that `[]` not supported.

[2018-01-11 12:35] Mackiovello commented on #346
Done: https://docs.starcounter.io/v/2.4/guides/sql/reserved-words#escaping-reserved-words

I expect that this issue can be closed now

[2018-01-11 12:35] #346 closed

[2018-01-11 12:38] miyconst commented on #346
@Mackiovello thank  you for the quick response, but it has to be documented in `2.3.1` and `2.4`.

[2018-01-11 12:39] Mackiovello commented on #346
It has been documented in both 2.3.1 and 2.4, I just linked to 2.4

[2018-01-11 13:19] miyconst commented on #349
We do support URLs with trailing slashes, but it's important to understand that `/url` and `/url/` are two **different** things with **different** behavior.

Some copy paste:

Read more on StackOverflow - [When should I use a trailing slash in my URL?
](https://stackoverflow.com/questions/5948659/when-should-i-use-a-trailing-slash-in-my-url).

And lastly, if there is a need to have a URI handler w

[2018-01-11 13:19] #349 closed

[2018-01-11 13:36] erikvk opened #350 "Method to send streams to client over websocket"
@alemoi
(I already talked to @alemoi about this. This issue is for future reference)

It would be great if I could post `Stream` data back to the client over a `WebSocket`

I was thinking something like this for the `WebSocket` class:

[code]

[2018-01-12 10:21] andwah opened #351 "I change the default path to "My Documents""
I change the path to "My Documents" in windows 10. so all documents is saved to my D: drive.
resulting that starcounter scservice fails to start.

When i install starcounter the repository is created in the correct place. `D:\documents\starcounter`
But when i check inside `Personal.server.config` there is still paths pointing to `C:\Users\...`

Can someone please verify that this works on another

[2018-01-12 16:20] alshakero opened #352 "Create a dynamic manifest.json URL in app-shell HTML"
It makes sense to serve [`manifest.json`](https://developer.mozilla.org/en-US/docs/Web/Manifest) in our apps. It's the first condition to make PWAs (progress web apps).

But, adding a static `<link rel="manifest" href="/manifest.json">` won't work since it would cover all running apps. And each app neads its own `manifest.json`.

The only solution I could think of is to create a third parameter in

[2018-01-15 11:35] mmnosek commented on #352
I'm not sure what do you mean by "parameter in the app-shell template", but I think that defining manifest on the SC application level is a bad idea. Having 20 apps running, how are we going to determine what entry is more important than another one?

[2018-01-15 11:41] alshakero commented on #352
I mean just like we do title
https://github.com/Starcounter/level1/blob/develop/src/BuildSystem/ClientFiles/StaticFiles/sys/app-shell/app-shell.html#L6

Just like we determine the app title of each of those 20 apps.

[2018-01-15 11:44] warpech commented on #352
`app-shell.html` must not include any parameters or other customizations, because `app-shell.html` is only an entry point to the whole solution of apps. It must be seen as the minimum part that is cacheable and non-changeable. It is like BIOS in your PC. The BIOS does not dictate how does the icon for Microsoft Word look like.

The correct layer to set `<link rel="manifest" href="/manifest.json">`

[2018-01-15 11:54] atifwaqar commented on #352
I have verified @alshakero's experiment on my Chatbot app. and it does not work.

[2018-01-15 12:06] warpech commented on #352
A surface is totally unlike `MasterPage`:

- surface is a dynamic UI container for app views (see https://www.youtube.com/watch?v=dvQHlzoN0wE)
- `MasterPage` is just a KitchenSink view that contains other views

-----

Then we have a problem. So Chrome wants us to reboot the app shell when morphing from one view to another if we want that view to be "installable"? This is ridiculous, isn't it.

Ma

[2018-01-15 12:32] alshakero commented on #352
G.E.N.I.U.S!

Works like a charm!
http://plnkr.co/edit/KYa578reWKOnOjtpmjvg?p=preview

[2018-01-15 16:29] warpech commented on #283
Setting as “Finished” because it is:
- included in level1 https://github.com/Starcounter/level1/pull/4315

[2018-01-15 16:30] warpech commented on #328
Setting as “Finished” because it is:
- included in level1 https://github.com/Starcounter/level1/pull/4377
- listed in CHANGELOG-Develop.md

[2018-01-15 16:35] warpech commented on #332
Setting as “Finished” because it is:
- included in level1 https://github.com/Starcounter/level1/pull/4397 and https://github.com/Starcounter/level1/pull/4418
- listed in CHANGELOG.md
- released in https://starcounter.io/starcounter-2-3-1-8329-release/

[2018-01-15 16:35] warpech commented on #334
Setting as “Finished” because it is:
- included in level1 https://github.com/Starcounter/level1/pull/4407
- listed in CHANGELOG-develop.md

[2018-01-15 17:45] kegor commented on #347
Updated for StarcounterClientFiles, PalindromBenchmark and Blending. Other apps or already have highest version of targetFramework either do not have project file.

On my view it looks like "ready to close" for now.

[2018-01-15 19:01] Mackiovello commented on #347
Great! Good work @kegor

Closing the issue

[2018-01-15 19:09] Mackiovello commented on #347
Missed that the apps haven't been updated. When you're done, please close the issue @Mihaiii

[2018-01-15 19:17] Mihaiii commented on #347
The `master` branches of public repos under StarcounterApps were updated.
Closing.

[2018-01-15 19:17] #347 closed

[2018-01-15 19:21] atifwaqar commented on #352
@warpech as @alshakero said G.E.N.I.U.S! ... you really are one :)

Thanks guys for the help.

[2018-01-15 19:47] alshakero commented on #352
This means we still need to add an HTML tag with empty `href`. Right? @warpech

---

Meanwhile @Mackiovello maybe you would like to document this?

_A very raw suggesion to save you time:_

### Defining `menifest.json` for your app

Since all Starcounter apps start off from the same app-shell HTML, it is not possible to define `manifest.json` in that HTML, for it represents more than one applicati

[2018-01-16 12:00] kegor opened #353 "Find the way to make 2.3/2.4 projects compatible, otherwise provide support suppressing warnings"
Initially this issue starts in [Blending/Solution builds with warnings#41](https://github.com/Starcounter/Blending/issues/41), and looks like this:
![image](https://user-images.githubusercontent.com/17431807/34987711-38471c44-facd-11e7-93df-e636e3b61598.png)

@per-samuelsson already gave his opinion in the issue mentioned above and additionally suggested to consider possibility to find solution fo

[2018-01-16 13:20] per-samuelsson commented on #353
@miyconst, can you (possibly with advice from relevant teams) prioritize this eventually, so I know how I need to schedule. I'll need to interrupt new weaver development if I'm assigned to do this. Which is fine o/c, depending on urgency. Just want to make it clear.

[2018-01-16 13:22] miyconst commented on #353
@per-samuelsson please fix this during the next week.

[2018-01-16 13:26] per-samuelsson commented on #353
OK, got it. Will do. Not sure I can just "fix" it, as I'm not sure of any solution right now, but lets see. I'll give it some love at least.

[2018-01-16 15:16] Mackiovello commented on #352
Thank you for the documentation @alshakero!

One question: you say that "Starcounter app-shell HTML has an a manifest link tag with the id manifest-placeholder". I can't find this, has it been implemented yet. Looking in `app-shell.html`:
https://github.com/Starcounter/level1/blob/0d4cad7d3d0fa5366eb7af0cda098234f5c8d46c/src/BuildSystem/ClientFiles/StaticFiles/sys/app-shell/app-shell.html

[2018-01-16 15:39] alshakero commented on #352
@Mackiovello sure 👍

[2018-01-16 16:11] miyconst commented on #223
Pull requests:

- https://github.com/Starcounter/level0/pull/509
- https://github.com/Starcounter/level1/pull/4454

[2018-01-17 07:42] un-tone commented on #353
I have an idea how we could maintain 2 versions of NuGet packages.

For SC 2.4 we can publish packages with a pre-release flag (beta, alpha).
So using this approach, we will publish our libraries which supports v2.3 in the release NuGet channel and libraries which supports v2.4 in the pre-release channel.

@per-samuelsson @warpech @miyconst WDYT?

[2018-01-17 08:00] k-rus commented on #353
In general it is not good enough for us, since it allows to have only two versions of packages, if I understood correctly. We need to be more flexible. But it can be good enough for the beginning. 2.4 is Alpha.

[2018-01-17 08:20] miyconst commented on #353
Any package with a suffix is less than a package without suffix. This means that `1.0.0` is greater than `1.0.0-alpha`. So, in the very end we still have to split packages for `2.3.1` and `2.4` with the version number.

Adding a suffix to the package should indicate the package state, and it's a good idea regardless of Starcounter version it's designed for.

[2018-01-17 08:47] per-samuelsson commented on #353
As long as we need distinct builds depending on targeted Starcounter version, the proposed approach is the expected and recommended one.

Imagine we would ship 2.3.1 and 2.4 of Starcounter as NuGet packages, and adhered to semantic versioning. The 2.4 package would certainly be versioned a pre-release package itself. Hence, applications built on top of it should be considered pre-release too.

[2018-01-17 08:51] per-samuelsson commented on #353
An addition to the above, making it even clearer: if you are strict, you **can't** release any app targeting 2.4 as *anything other than* a pre-release (with proper such semantic version). Simply because it depends on a version of Starcounter not yet released.

Yes, I here you come back with the argument that "well, a large portion of our developers already use 2.4". Sure, that's fine. But it's st

[2018-01-17 08:59] per-samuelsson commented on #353
To be frank, I think it's really important all app-teams start to fully embrace the fact that apps should be targeting different versions of Starcounter, and set up *every* repository that way. Yes, our aim since some time back is trying to be backwards compatible as far as possible (at least API-wise) in all future releases. But it's still unlikely that applications won't need to change.

At some

[2018-01-17 14:56] warpech commented on #313
Two months have passed and this is still not resolved by LastPass. I have written to the support again and gave the add-on a 1-star review on Firefox Marketplace.

Anyway I am closing this issue because there is nothing else I can do.

[2018-01-17 14:56] #313 closed

[2018-01-17 15:03] warpech commented on #213
Closing as done

[2018-01-17 15:03] #213 closed

[2018-01-17 15:50] Mackiovello commented on #144
LTS is still on 2.2.

[2018-01-17 16:34] ubbeK commented on #144
I see.

What is the reason for having LTS builds when we do not have TeamCity builds for the branch `2.3.1` anymore?

[2018-01-17 18:31] alemoi commented on #340
What's the status on this? Thanks!

[2018-01-17 21:22] alshakero commented on #352
@warpech a gentle ping. We'll still need to create an empty tag in app-shell right?

[2018-01-18 08:55] Mackiovello commented on #144
I don't know. @dan31 established the versioning scheme, maybe he knows something. Anyway, it seems like LTS has been abandoned.

[2018-01-18 09:27] ubbeK commented on #144
As I understand it, `2.3.1.8329` is a LTS release where all releases might not be. Hence, it will be added to LTS channel.

[2018-01-18 09:45] ubbeK commented on #144
Closing

http://downloads.starcounter.com/download/Starcounter/LTS/2.3.1.8329

[2018-01-18 09:45] #144 closed

[2018-01-18 13:24] warpech commented on #340
The JavaScript part is finished (https://github.com/Palindrom/Palindrom/issues/188) but not yet released. It should be released within the next few days, for Starcounter 2.4+.

[2018-01-18 13:39] warpech commented on #352
Let's create the empty tag in `app-shell.hhtml`. It should not have an arbitrary `id=""`. It is enough to use a selector:

[code]

Since this is a customer's priority, let's add it to `app-shell.html` ASAP.

[2018-01-18 14:59] alemoi commented on #264
Fixed.

[2018-01-18 14:59] #264 closed

[2018-01-19 09:55] miyconst opened #354 "VS: .Net Framework version select box value is ignored upon project creation"
When creating a project in Visual Studio, it's possible to select .Net Framework version. Still, when creating a Starcounter project the option value is ignored, and the project is always created with .Net 4.5.

![image](https://user-images.githubusercontent.com/6435556/35145153-171ea924-fd07-11e7-991d-99ca03b322f6.png)

@Mihaiii do you think you could look at this?

[2018-01-19 10:49] SenerDemiral opened #355 "Problems starting network gateway process. v2.4.0.4613"
Upgrade from working v2.4.0.4593.
(Unable to downgrade previous version. Setup is not working)

C:\Program Files\Starcounter>scservice
Starting Starcounter PERSONAL engine...
Press CTRL-C to exit.

Reading server configuration from: C:\Starcounter\Personal\PERSONAL.server.config
Reading gateway configuration from: C:\Starcounter\Personal\scnetworkgateway.xml
Error: ScErrStartNetworkGateway (SCERR2

[2018-01-19 12:19] miyconst commented on #355
@SenerDemiral thank you for the report, it seems to be an issue in the latest builds.

Please go to the control panel and uninstall Starcounter from there, then you will be able to install older version which does not have the issue.

[2018-01-19 12:51] miyconst commented on #160
@MujahidRashid for now there are only manual validation steps.

The first one you have already described, but I am afraid that apps may do some database changes during the startup, this will lead to non desired changes in the backup.

The other way would be to unload the backed up database using the StarDump tool and query the unloaded SQLite dump.

In the future we might have some automatic valid

[2018-01-19 12:51] #160 closed

[2018-01-19 14:32] alemoi commented on #355
Thanks for reporting! The issue was with adding one file to white-list. The fix is available in the coming nightly!

[2018-01-19 14:32] #355 closed

[2018-01-20 00:33] alshakero commented on #352
PRed in https://github.com/Starcounter/level1/pull/4458 & https://github.com/Starcounter/StarcounterClientFiles/pull/25

[2018-01-20 12:50] mmnosek opened #356 "Schema refactoring: moving db property from base to derived class"
I would like to move property from base class to derived class. Code looks like this:
**Before**
[code]
**After**
[code]

What should be the correct way of doing this? When trying to execute "After" code application starts, but when I try to query `Bar` table, I've got an exception:
[code]

Which is not very self-explanatory. I use `Starcounter-Release-2.3.1.8329`

[2018-01-20 12:51] mmnosek commented on #356
@atifwaqar you may be interested in this as well.

[2018-01-21 10:44] atifwaqar commented on #352
It would be great if `<html lang="en">` is also handled in similar way. Or if there is a better way please do suggest.
Thanks :)

[2018-01-21 22:32] warpech commented on #213
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/StarcounterClientFiles/releases/tag/2.1.0
- published in the App Warehouse

[2018-01-22 00:42] Mihaiii commented on #354
Yes! Thank you! This is an interesting task.

[2018-01-22 12:31] joozek78 opened #357 "Method not found: RunUriMatcherAndCallHandler in Self-Hosted Starcounter"
Starcounter version: `2.4.0.4593`
I'm trying to follow the guide to setting up tests in Self-Hosted Starcounter: [link](https://docs.starcounter.io/v/2.4/cookbook/unit-testing-with-database-access). It fails when `Runtime.Run` method is called:
[code]
Reproduction code: https://github.com/Starcounter/Authorization.Simplified
Build, and then try to run [`TestIfTestsTestTheTests`](https://github.com

[2018-01-22 13:06] joozek78 commented on #357
@alemoi git says you were the last person to edit this code. Have you got any idea what that could be?

[2018-01-22 13:30] per-samuelsson commented on #357
@joozek78,

Since references are now copy-local in 2.4 (you have assured that, right?), this could possibly be due to some mismatch. Have you tried a full clean (verifying all binaries in your project output are actually gone) and then build / run again?

[2018-01-22 13:34] joozek78 commented on #357
Right, I've used the Starcounter Library template and it did its job well

I did. It didn't help :(

[2018-01-22 13:39] per-samuelsson commented on #357
OK. That's bad. Then I don't have any real ideas at this point. The feeling you get is that the installation is corrupt somehow.

[2018-01-22 13:41] joozek78 commented on #357
I'll try to reinstall then. Thanks for pointers

On Mon, 22 Jan 2018 at 14:39 Per Samuelsson <notifications@github.com>
wrote:

[2018-01-22 13:52] joozek78 commented on #357
Reinstalling (and upgrading to 2.4.0.4627) didn't help

[2018-01-22 14:03] per-samuelsson commented on #357
How urgent is this? Wan't me to get involved, setting up an environment and help you diagnose it?

[2018-01-22 14:18] joozek78 commented on #357
It's not urgent. I need it to properly move Authorization to 2.4. Let's wait and see if @alemoi knows anything about it

[2018-01-22 20:54] alemoi commented on #357
I would agree with @per-samuelsson that its some DLLs mismatch. I would search all `Starcounter.REST.dll` and find duplicates.

[2018-01-22 21:51] Mihaiii commented on #354
Closing as done: will be included in the next release of the extension.

[2018-01-22 21:51] #354 closed

[2018-01-23 08:53] joozek78 commented on #357
I have no `Starcounter.REST.dll` in my project directory. I've tried adding `Starcounter.Server.Rest` as a dependency, but it didn't help.

[2018-01-23 15:01] miyconst commented on #341
Today me and @tomalec had a short discussion regarding this feature and came to the following conclusion:

- Palindrom as a standalone server side package would let us promote Palindrom and JSON Patch protocol.
- Server side Palindrom can and should be implemented as NPM module for NodeJs and NuGet package for .Net.
- It's possible to generate C# out of JavaScript and other way around, so it's pos

[2018-01-23 15:43] careri opened #358 "staradmin.exe Redirect output"
I'm writing a tool that interacts with your executables.
In this case I want to list the running databases.

From cmd this works:

But when I create a new Process from c# I just get this error:

I tried using the correct way with redirecting the streams and reading the output from the streams. I use the same code for other executables and that works fine.

So to get around the problem I tried writ

[2018-01-23 15:50] andwah commented on #358
Just an side not.. why not use the REST api..
Try this:
http://localhost:8181/api/engines/default

[2018-01-23 17:18] un-tone commented on #260
Can't reproduce this bug with the following program: https://gist.github.com/un-tone/6a1518bf4412de3b98b89d0d6312aba7
Checked in 2.3.0.6350 and 2.3.2.141. I'm not finished.

[2018-01-24 06:07] careri commented on #358
I'll have a look at that for now. Since I'm stuck at the moment

[2018-01-24 06:15] careri commented on #358
Hmm, that url only shows running databases. I want to get all of them. I'll try to find another url.

[2018-01-24 06:16] careri commented on #358
That was easy :)
http://localhost:8181/api/databases

[2018-01-24 08:18] miyconst opened #359 "Enhance the Restoring a Database From a Backup section"
This section [Restoring a Database From a Backup](https://docs.starcounter.io/guides/working-with-starcounter/run-starcounter-in-production#restoring-a-database-from-a-backup) is very generic, and it requires some enhancement with examples and coverage of the common problems, such is invalid configuration files, name mismatch, and similar.

@Mackiovello it has to be done, but no rush, `Starcounter

[2018-01-24 08:20] k-rus commented on #359
I think it is good to provide examples include file names and folder names.

[2018-01-24 10:00] joozek78 commented on #357
@alemoi have you got any idea how to follow up on that? It's not urgent, but I don't it to be forgotten

[2018-01-24 11:06] mmnosek opened #360 "Is SynonymousTo deprecated or removed?"
I have quite an old project, working on Starcounter-RC-2.3.0.6157. I tried to run it on 2.3.1.8329 (current stable), but I found an issue related to `SynonymousTo` depreciation. Shouldn't it work as before, but with some warning? It also relies on `Simplified`. Some errors:
* `A synonym targeted a non-persistent field. Test.Card.Code, synonymous to Simplified.Ring1.Something.Name (ScErrSynTargetNo

[2018-01-24 13:18] un-tone commented on #260
I tried some variations and it is still not reproducible for me. Also checked in more old 2.3.0.5943.

cc @miyconst

[2018-01-24 13:31] miyconst commented on #260
@erikvk can you still reproduce the issue? In the original issue, were there any indexes on the problematic field?

[2018-01-24 13:35] un-tone commented on #260
Just to be clear, I tried with indexes and without them.

[2018-01-24 13:40] miyconst commented on #260
There may be some specific situations, for example the property is defined in a parent class, while the index is defined on the child class. So, still need a confirmation from @erikvk.

[2018-01-24 13:43] erikvk commented on #260
I cannot reproduce the issue on my current version, (Version=2.3.2.90), which is good I suppose

[2018-01-24 13:44] erikvk commented on #260
There is no inheritance relations on this class. Here is the definition, for reference:

[code]

[2018-01-24 13:46] erikvk commented on #260
There was an index on the nullable datetime `MatchedAt` earlier, but not in the version I run now.

[2018-01-24 13:47] miyconst commented on #260
Thank you for the confirmation. Please make sure that you test the same conditions as of the time of the bug report, but with newer Starcounter version. Class definitions, indexes, inheritance should be as close as possible to the original.

[2018-01-24 15:13] un-tone commented on #260
Checked the model from @erikvk's last comment in SC 2.3.1.8329 and 2.4.0.4671. The bug is still not reproducible.

[2018-01-24 15:15] miyconst commented on #260
@un-tone thanks for checking it, closing the issue for now. @erikvk please reopen if you can reproduce it again.

[2018-01-24 15:15] #260 closed

[2018-01-24 16:27] un-tone opened #361 "MissingMethodException for IObjectViewInternal.AssertEquals when creating a DB object"
Create an app using Starcounter 2.4.0.4671 and .NET Framework 4.6.1 with the following code:

[code]

Then run it on a new DB and call  `/insert` URI.
The following exception will be thrown:

[code]

[2018-01-24 16:41] bigwad commented on #361
Probably because of https://github.com/Starcounter/level1/issues/4457#issuecomment-360067082

[2018-01-24 19:53] atifwaqar opened #362 "First meaningful paint is slow"
SC Version 2.4.0.4671

Here I have a very simple html with just 1 h1 tag. and an empty viewModel, but my page's performance is very poor. Is this the standard SC page speed? or is there something wrong with my code?

![image](https://user-images.githubusercontent.com/4388707/35353768-815bd5f6-0148-11e8-9a9f-18b61b719659.png)

[2018-01-24 20:01] miyconst commented on #362
cc @warpech, @alshakero

[2018-01-24 23:00] warpech commented on #362
The Chrome DevTools performance audit simulates a slow CPU on a slow network.

In one of our Starcounter apps (that consists of much more than just `<h1>`), it takes 1.9 s to full render on my machine, still Chrome reports 9.5 s in an audit. I wonder why you get 13 s with just a `<h1>`.

On our roadmap, we will February and March 2018 on improving the page load performance. I am sure that you will

[2018-01-25 07:53] atifwaqar commented on #362
@warpech Thanks for the detailed response.
And noticed gzip issue some days ago, and @mmnosek explained that it used to be in Strcounter, but for some issue, it got removed.
Anyway, I'll try to configure CloudFlare on my server, and try to check the performance again.

I'm closing this issue now, and i'll impaciently wait for the `early February` release you mentioned :)

[2018-01-25 07:53] #362 closed

[2018-01-25 09:25] un-tone commented on #361
Seems so, thanks. Closing.

[2018-01-25 09:25] #361 closed

[2018-01-25 15:12] careri opened #363 "Robocopy of ImageDirectory"
Hi,

we're using shadowcopy to make backups of the database files.
I use robocopy /mir to mirror the files into another folder with shadowspawn.

But now I realize that last write doesn't change on your image/log files. So my backups doesn't contain any new data.

Is this by design or a bug?

[2018-01-26 08:27] careri commented on #363
It doesn't seem like copying the data-folder with shadownspawn works at all, that latest data isn't available.
Any input on that?
@eriohl @per-samuelsson

[2018-01-26 08:47] per-samuelsson commented on #363
Hi @careri,

I think @bigwad is the one with most knowledge about this. I know there are some docs somewhere. Let's see if he can link to that.

[2018-01-26 08:50] Mackiovello commented on #360
The [docs](https://docs.starcounter.io/v/2.4/cookbook/how-to-migrate-from-synonymousto) say that "The [SynonymousTo] attribute was deprecated in Starcounter 2.4". If this happened in 2.3.1, the docs are wrong.

[2018-01-26 09:38] miyconst commented on #360
The docs are wrong. Here is the state of `[SynonymousTo]`:

- Deprecated on paper in `2.3.1`.
- Deprecated in code in `2.3.2` (going to).
- Removed in code in `2.4` (going to).

[2018-01-26 09:38] mmnosek commented on #360
If it's deprecated in `2.3.1`, why I have such errors?

[2018-01-26 09:41] miyconst commented on #360
Can you point to the source code, please?

[2018-01-26 09:43] miyconst commented on #358
@careri can we close the issue as answered?

[2018-01-26 09:50] miyconst commented on #356
Such migration is not supported on the automatic level, but the `AccessViolationException` exception should never happen either way.

Currently, the only possible option apart from StarDump is:

- Create a new property in the parent class with a different name.
- Copy the values.
- Delete the original property.
- Drop the original property with `ALTER TABLE X DROP COLUMN x`.
- Perform database cle

[2018-01-26 09:58] miyconst opened #364 "Document database cleaner tool"
@Mackiovello please document how to clean up the database after the DDL statement executions.

Currently supported DDL statements are:

- `DROP TABLE X`.
- `ALTER TABLE X DROP COLUMN x`.
- Both of the statements are allowed only if the table `X` is not loaded by any application.

After those statements, the actual tables and columns are not deleted, only marked as deleted. The applications won't s

[2018-01-26 10:16] k-rus commented on #364
I think it is important to note that cleaning process might produce transaction conflicts with actual applications, thus it is recommended to run it during low load time to avoid performance drop.

[2018-01-26 10:28] bigwad commented on #363
I carried out following test:
1. Start a database
2. Make a write
3. Copy database files to another location. For copying, I used conventional `copy` command
4. Start a new database instance over copied data
5. See the write from p2

With that, I can conclude:
- writes reaches transaction log
- a cloned database is able to see it
- problems are probably with shadowspawn

@careri, can I ask you to

[2018-01-26 10:50] bigwad commented on #363
The actual problem is that `robocopy` ia unable to detect log file being changed. This is because robocopy seems to rely on the file modification timestamp. Which is fine, but incompatible with starcounter IO method. Starcounter uses such IO mode, that requires explicit flushing of a file metadata (which includes modification timestamp). And we don't flush metadata to maximize log writing thoughpu

[2018-01-26 11:17] un-tone opened #365 "Error when passing null value for OFFSETKEY"
In the [documentation article](https://docs.starcounter.io/v/2.4/guides/sql/offset-key#how-to-create-queries-with-offsetkey) we have the following:

[code]

I have a simple app for testing this:

[code]

I'm getting the following error:

[code]

-----

Currently I checked it only in SC 2.4.0.4671. I will update the issue with testing results in v2.3.

[2018-01-26 13:02] warpech commented on #107
We need to solve this when switching to Underwear.css.

This is how I think it should be:

- Underwear.css uses the browser default body margin `8px` (does not overwrite it)
- the following lines are removed from https://github.com/Starcounter/StarcounterClientFiles/blob/3f5dfb20443879febcccb28fb468efadfaec4261/src/StarcounterClientFiles/wwwroot/sys/app-shell/app-shell.html#L26-L33
- https://githu

[2018-01-26 13:11] alshakero commented on #107
Yes I agree. That sounds great.

[2018-01-26 13:30] miyconst commented on #107
Why not overwrite it? If browser(s) at some point decide to have `5px` or `0px` margin, then the layout will be broken.

[2018-01-26 13:30] careri commented on #358
Not really, I did a work around. It should still be possible to redirect the StdOut and StdErr

[2018-01-26 13:31] careri commented on #363
Nah, robocopy isn't the problem. I use the /IS switch to force copy same items.
So files are copied as far as I can tell.

Could you try that to confirm?

[2018-01-26 13:32] careri commented on #363
@bigwad

I have a question about your list above.
1,2 is clear.
But 3 isn't possible without stopping the database. So I guess you did that?

The whole issue here is using shadowspawn to copy locked files, and shadowspawn not being able to get the writes

[2018-01-26 13:36] miyconst commented on #363
@careri please specify the full steps of how you perform the copy, including all command lines commands.

[2018-01-26 13:39] warpech commented on #107
For years, it is the principle that is successfully followed by Normalize.css to only overwrite things that are actually different in the web browsers.

If we are afraid of that, we sould use Reset CSS not Normalize.css.

See: https://stackoverflow.com/questions/6887336/what-is-the-difference-between-normalize-css-and-reset-css

[2018-01-26 13:39] miyconst commented on #358
It definitely should, and it will be in the new version of the `staradmin` tool which is already planned. Existing tool is very unlikely to be modified.

[2018-01-26 13:43] warpech commented on #107
For years, it is a principle that is successfully followed by Normalize.css to only overwrite things that are actually different in the web browsers.

If we are afraid of that, we sould use Reset CSS not Normalize.css.

See: https://stackoverflow.com/questions/6887336/what-is-the-difference-between-normalize-css-and-reset-css (check all answers, there are many arguments in most of them).

My opini

[2018-01-26 13:44] miyconst commented on #107
Hm, the Stackoverflow does not bring a clear answer for me, but rather more confusion.

If one of the browsers decides to have padding of `10px`, while all other will keep it `8px`. Should not `normalize.css` fix it to look consistent between all the browsers?

[2018-01-26 13:48] bigwad commented on #363
It is. Starcounter allows shared reads.

That's true. With /IS all files get copied regardless of timestamp. So given you use /IS then probably the problem is with `shadowspawn`.

[2018-01-26 13:52] careri commented on #363
Are you sure about that?
Because I used powershell to compute hash of the logs to compare with  shadowcopied files. I got read error on two of the files

[2018-01-26 13:59] bigwad commented on #363
absolutely

Seems it tried to open files for writing for some reason. If no way you can open it for reading only, then you can first copy it (command line or explorer - all work) and get hash of the copy

[2018-01-26 14:05] careri commented on #363
Sounds strange that it would open it for writing, but I can't confirm that now.

But still we need to use shadowspawn to get a consistent snapshot of all the files at a certain point in time.
Could you confirm that your test works with shadowspawn as well? Because it sure doesn't in our environments

[2018-01-26 14:24] miyconst opened #366 "Update the Shadow copy documentation"
This section - [Run Starcounter in Production - Database Backups](https://docs.starcounter.io/guides/working-with-starcounter/run-starcounter-in-production#database-backups) needs to be updated.

The proposed command to create a shadow copy uses `%date%` variable which outputs date in local format, which leads to weird folder structure or even invalid folder names with different culture settings.

[2018-01-26 14:53] bigwad commented on #363
Works for me with `robocopy /IS`

[2018-01-26 15:10] k-rus commented on #365
Either it is a regression or it is incorrect documentation. There are many tests of offset key in `QueryProcessingTest` in Level1 and all of them assumes that the key is not null. So it feels like it is a problem with documentation.

[2018-01-26 15:22] miyconst commented on #363
Also works for me, I just made a backup of a live database using the following command. The destination folder was empty.

[code]

[2018-01-26 15:23] miyconst commented on #366
Also add link to the [Microsoft DOS robocopy command](https://www.computerhope.com/robocopy.htm) documentation.

[2018-01-26 15:34] miyconst commented on #360
I just have checked and the outcome is the following:

- Database fields are still supported.
- `SynonymousTo` over a database field is supported, only if the targeted column is also a field.
- If the parent column is declared as a property, then `SynonymousTo` fails with `A synonym targeted a non-persistent field `.
- Applying `SynonymousTo` over a property fails with `Illegal element for the Syn

[2018-01-26 15:34] #360 closed

[2018-01-26 17:15] un-tone commented on #177
I tried without success to reproduce the issue with this test app: <https://gist.github.com/un-tone/ec93906434164757a7c6d36a1c60cd1f>.

I have such model:
[code]

I populated DB with 100 rows and created the following index:

[code]

and use the following query:

[code]

I guess the case in the data model and I can miss something. @nazmuladfenix could you take a look at this, maybe you have some c

[2018-01-27 08:44] per-samuelsson commented on #363
Just want to assure something here: @careri, what Starcounter version are you using?

Just want to make sure we are not talking 1.x here, since things have changed quite a bit. :)

[2018-01-28 08:26] careri commented on #363
I'll try to put together a script on monday that shows that it doesn't work. At least not in our environment.
@miyconst, yes the files get copied but the content of the files seems to be from the last start/stop of the server.
Any changes after the db is started is not transfered to the backup

[2018-01-28 16:06] miyconst opened #367 "Access denied: unable to install Starcounter on Windows Server 2016 essentials"
[code]

![image](https://user-images.githubusercontent.com/6435556/35484226-6b481c2c-044d-11e8-866f-570cda0f690d.png)

No extra items in the Windows logs.

[2018-01-28 16:07] miyconst commented on #367
Trying to install `Developer mode`.

[2018-01-28 16:07] miyconst commented on #367
Starcounter `2.3.1.8329` installs with no problem.

[2018-01-28 18:10] warpech commented on #107
Body margin of `8px` comes from a default stylesheet recommendation that is part of CSS 2.2 spec: https://www.w3.org/TR/CSS22/sample.html. All default user agent stylesheets implement this recommendation in 90-100%. Normalize.css fills the gap of the remaining 10% and adds a tiny opinionated fraction to it.

Here comes a fun fact! Actually, Normalize.css sets body margin to `0`. This has been disc

[2018-01-28 23:29] erikvk opened #368 "Unable to deploy warehouse app on 2.3.2"
I cannot get an app deployed over the Starcounter Warehouse to start on an existing database in `2.3.2.157` ~~This is a serious issue as it is currently stopping us from rolling out important bug fixes to our customers~~. I tried a complete Stardump unload/reload on the target machine with no effect. The database starts, but when the app starts, i get this:

![screen shot 2018-01-29 at 00 25 51](h

[2018-01-28 23:51] erikvk commented on #368
Update:

I managed to get the app running on the remote machine by downgrading it to `2.3.2.90`. I have updated the initial comment to reflect this.

[2018-01-29 07:00] nazmuladfenix commented on #177
You don't need to add [Database] attribute on "Seller" because you have already added once on base class "Company".

Just remove database attribute from Seller  class.

[2018-01-29 08:58] atifwaqar commented on #367
I am trying SC 2.4 and i am facing the same issue

[2018-01-29 09:39] miyconst commented on #367
@atifwaqar please specify full version of Starcounter and Windows.

[2018-01-29 09:43] atifwaqar commented on #367
I have Windows 10 Pro on my machine and i tried to install SC 2.4.0.4692, 2.4.0.4671 & 2.4.0.4593

[2018-01-29 09:45] miyconst commented on #367
cc @ubbeK

[2018-01-29 09:48] careri commented on #363
@per-samuelsson, no this is 2.3 we're talking about.
Making a github project that aims to reproduce the problem.

@bigwad About shared reads, your right. I was using a remote powershell session that wasn't elevated, so it was a simple file access issue

[2018-01-29 10:04] atifwaqar commented on #367
I just tested this, and its also fails if my windows defender is active.
This is how i turned windows defender off
![image](https://user-images.githubusercontent.com/4388707/35504732-1e7ab2f0-04e4-11e8-9505-2773ae1a6bfd.png)
and then everything worked fine (Only for 2.3.1.8329)

[2018-01-29 10:52] miyconst commented on #363
@careri I understand your problem, and saying "works", I mean that the files **with latest transactions** are copied. Sorry for not being clear.

Maybe your issue is somehow related to the storage setup. For example network drive, RAID array(s). Can you please specify full hardware specification, so I can try to reproduce?

[2018-01-29 11:37] miyconst commented on #353
On the last release planning it was decided to don't do anything regarding this feature. Instead focus on the shift to Starcounter Nova and the new features.

[2018-01-29 11:37] #353 closed

[2018-01-29 12:12] atifwaqar commented on #364
staradmin start cleaner.

@miyconst  This means we have to stop the DB first?

[2018-01-29 12:14] miyconst commented on #364
@atifwaqar, no, that the whole point, you don't have to stop the database to perform those operations. The only requirement, is that the CLR classes to dropped altered tables are not loaded.

[2018-01-29 12:53] un-tone commented on #177
@nazmuladfenix it doesn't change the case. I hoped to get some clues regarding data model or something else.

[2018-01-29 13:14] k-rus commented on #356
Metalayer should mismatch error instead of AV. @alexanderstc Can you look to this bug?

[2018-01-29 13:19] alexanderstc commented on #356
Will do.

[2018-01-29 15:38] un-tone commented on #182
It seems that QP builds `IntegerDynamicRange` by mistake instead of DecimalDynamicRange:

[code]

Checked in SC 2.3.2.141 and 2.4.0.4692

[2018-01-29 16:51] miyconst commented on #368
@erikvk could you please provide the logs and the `sccode` crash dump? Did you try to debug your application? Such crash may happen due to a stack overflow exception.

[2018-01-29 21:37] Mihaiii commented on #96
Given https://github.com/Starcounter/level1/issues/4210#issuecomment-297365991 and https://github.com/Starcounter/level1/issues/4463#issuecomment-361222186, we have:

`The ObjectNo, which is a number, should be used to identify objects`, but I can't use `like` operator on ints (we don't support implicit conversion, `cast`/`convert`, afaik).
I tested returning `true` [here](https://github.com/Starc

[2018-01-29 21:52] erikvk commented on #368
I can confirm that the issue is present on `2.3.2.232`as well.

This is what I could gather from the logs:

[code]
Dump is available at:
[https://drive.google.com/file/d/1Gqg95LEZNCs_5rhpe5-UhExvJJiKBHaU/view?usp=sharing](url)

[2018-01-30 00:36] erikvk commented on #368
So, the issue is the following:
1. My app wont start on the server running `2.3.2.141` or newer, unless the database is empty
2. The app works fine on `2.3.2.90`
3. The app works fine on my local machine, running `2.3.2.157` with a non-empty database

[2018-01-30 08:32] warpech commented on #246
Closing as "won't fix" because a clone of this issued was closed with such resolution: https://github.com/Starcounter/Home/issues/353

[2018-01-30 08:32] #246 closed

[2018-01-30 09:38] miyconst commented on #177
@nazmuladfenix can you still reproduce the issue?

[2018-01-30 11:17] Mihaiii commented on #368
Hi Erik!
Sorry for the inconvenience!
Could you please check with RC `2.3.2.266` as it contains changes that might fix your problem?
If this still won't work, I'll investigate this problem further.

[2018-01-30 11:26] #177 closed

[2018-01-30 11:26] erikvk commented on #368
I can't get the service to start on `2.3.2.266` . I get a network gateway crash. This is what I see:

![screen shot 2018-01-30 at 12 22 30](https://user-images.githubusercontent.com/16880339/35563971-d54c3286-05b8-11e8-800c-cb1f5b351d08.jpg)

Dump is available at:
[https://drive.google.com/file/d/10FKdwMbosdH0oFEb76eArbu-CbKaapkL/view?usp=sharing](url)

[2018-01-30 11:33] erikvk commented on #368
I tried reinstalling _C++ redistributable 2017_ (both x86 and x64), with no improvements.

[2018-01-30 11:34] alemoi commented on #368
I know the reason. Will fix it promptly.

[2018-01-30 12:19] erikvk commented on #368
I tried with a custom build from @alemoi (`2.3.2.271`), but I still get the same sccode crash.

Dump is available at:
[https://drive.google.com/file/d/1lCvn64hgD6tAgxgisXUG2-EQH2eONYlK/view?usp=sharing](url)

[2018-01-30 13:38] miyconst commented on #364
[How to delete unused tables and columns](https://docs.starcounter.io/cookbook/how-to-delete-unused-tables-and-columns).

[2018-01-30 13:38] #364 closed

[2018-01-30 13:54] alemoi commented on #368
@bigwad helped debugging the dump and seems there is some corruption in metalayer code (`base_table_name` is corrupted). Here is the managed part of the trace:
[code]
and the native:
[code]
CC @alexanderstc @k-rus

[2018-01-30 14:14] alexanderstc commented on #368
I'll have a look now.

[2018-01-30 14:39] alexanderstc commented on #368
Changes in 141 don't involve metalayer directly, so @chrhol please also start investigating.

[2018-01-30 14:40] alexanderstc commented on #368
@erikvk did your app's tables' layout changed in the app version you are trying to deploy?

[2018-01-30 14:41] alexanderstc commented on #368
If they did could you provide those efinitions before and after?
Or send a link to the code if it's available.

[2018-01-30 14:42] erikvk commented on #368
@alexanderstc No. the app works fine on `2.3.2.90`, but when upgrading to a later version, the app won't start. Same app, same database, same config.

[2018-01-30 14:43] alexanderstc commented on #368
That means the ball in in the @chrhol's yard at the moment.
I'll still have a look at the dump.

[2018-01-30 14:47] k-rus commented on #368
They don't, but they use metalayer in a way, which was not used before. Before metalayer's create table was called only if a table needs to be created. Now it is always called. Then the question if it is bad input or a bug in metalayer's code, which was not covered with tests before.

[2018-01-30 14:49] alexanderstc commented on #368
@k-rus you are right.

[2018-01-30 14:50] erikvk commented on #368
I'm

[2018-01-30 14:57] k-rus commented on #368
@alexanderstc @chrhol Let's continue with the discussion and investigation in https://github.com/Starcounter/level1/issues/1310 since it is the issue where the change was introduced.

Then report back here

[2018-01-30 14:58] miyconst commented on #223
Implemented and merged to `2.3.2` and `2.4.0`. Should be available from the tomorrow's nightlies.

[2018-01-30 14:58] #223 closed

[2018-01-30 15:51] alexanderstc commented on #368
Replied in Starcounter/level1#1310.

[2018-01-31 07:59] Mackiovello commented on #366
Done

[2018-01-31 07:59] #366 closed

[2018-01-31 08:29] k-rus commented on #368
@erikvk Can you clarify about the database you provided for our investigation: was the database recreated through StarDump unload/reload or is it the original database?

[2018-01-31 08:38] erikvk commented on #368
@k-rus Original database. I tried stardump to a new database, same error.

[2018-01-31 08:41] k-rus commented on #368
Thank you for clarifying! We see two issues in your reported problem. One of them is preventing the application to start independently from if StarDump was used or not. Your answer helps us to understand how to deal with the second issue.

[2018-01-31 08:51] k-rus commented on #368
I assigned developers who are either working with the issue or need to provide help. See internal issue for details.

[2018-01-31 13:15] ubbeK commented on #326
So this will be done.

## For Windows TC builds, Starcounter develop branch ONLY
* Sources from [StarcounterClientFiles @ 2.x branch](https://github.com/Starcounter/StarcounterClientFiles/tree/2.x) will be pulled, TC environment variable will be created which specifies what branch to use, `2.x` by default
* ClientFiles from [Level1 @ develop branch](https://github.com/Starcounter/level1/tree/devel

[2018-01-31 14:38] warpech commented on #326
`bower.json` and `bower-list.txt` files **are* necessary because they are a reference to the versions used.

Only the files which name begins with a dot can be omitted, but they do no harm either.

----

This is what was requested, thank you! I have only one comment:

I need to track what version of StarcounterClientFiles was included in a Starcounter build, so that this information can be publish

[2018-01-31 15:01] ubbeK commented on #326
Well, we save each git commit hash per repository together with Starcounter version, see example: https://github.com/Starcounter/CI.BuildSystem/blob/develop-build-num/BuildNumberInfo.json, StarcounterClientFiles will also be added there (which I forgot to mention). Other than that, we dont have any automated solution.

[2018-01-31 16:35] careri commented on #363
@miyconst @bigwad  @andwah

I finally got a project working that uses shadowspawn to copy files. I think my problem was that I wrote to StdErr which caused shadowspawn to exit directly without completing the copying.
https://github.com/careri/StarcounterShadowspanTest.git

Clone the project and open a PowerShell ISE "run as administrator"
Execute the script **run.ps1**  with F5

I still have to co

[2018-01-31 21:48] warpech commented on #326
Wow, that's a revelation to me. I wasn't aware there's so much information about each build. This is perfect.

cc @Starcounter/webplatformteam

[2018-02-01 11:58] miyconst commented on #368
The @erikvk's database was fixed by executing `DROP COLUMN` statement. So, the only issue left is to update Starcounter to properly notify about meta schema mismatch instead of crashing.

[2018-02-01 12:10] careri commented on #363
Think I have things figured out now.
There was two problems.
1. I wrote to StdErr which cause shadowspawn or maybe powershell to stop directly.
2. I didn't stop the starcounter service during data restore, so starcounter didn't detect that I had restored the database and tried to create a new one

[2018-02-01 12:19] miyconst commented on #363
@careri is there anything else I can help with?

[2018-02-01 15:23] ubbeK commented on #326
I just made a installer with the solution described above, would @warpech or @tomalec care to test it out?

https://teamcity.starcounter.org/viewLog.html?buildId=45675&buildTypeId=Starcounter_DevelopDailyWindows&tab=artifacts

[2018-02-01 16:10] un-tone commented on #304
Fixes merged in https://github.com/Starcounter/level1/pull/4480.
Build log for `develop` branch: <https://teamcity.starcounter.org/viewLog.html?buildId=45688&tab=buildResultsDiv&buildTypeId=Starcounter_DevelopDailyWindows>

[2018-02-01 17:06] un-tone commented on #304
Closing as done.

[2018-02-01 17:38] un-tone commented on #304
Reopening.
There is a problem with build on ` Develop-Daily-SC-Nova-Windows-Debug`: <https://teamcity.starcounter.org/viewLog.html?buildId=45692&tab=buildResultsDiv&buildTypeId=StarcounterDevelop_DevelopDailyScCoreWindowsDebug>

[2018-02-01 17:41] un-tone commented on #304
I'm working on the fix. But it seems that there are also issues with the new added tests running in Nova.

[2018-02-01 17:59] un-tone commented on #304
@k-rus @bigwad is there something in Nova which causes that such query works differently in v2.3-v2.4 and in Nova?
[code]

[code]

[2018-02-01 18:00] un-tone commented on #304
My current fixes are in `fix-sql-tests-nova` branch.
Build: <https://teamcity.starcounter.org/viewLog.html?buildId=45705&tab=buildResultsDiv&buildTypeId=StarcounterDevelop_DevelopDailyScCoreWindowsDebug>

[2018-02-01 18:12] bigwad commented on #304
Doesn't it mean an old query processor is on use? Nova uses query.processor through nuget. So one should publish a new one and probably update a reference from nova

[2018-02-01 20:50] warpech opened #369 ""RegisterMergeCallback" callback is triggered too many times"
## Steps to reproduce

Using Starcounter 2.4

1. Build and run BlendingEditor and BlendingProvider using `run.bat` from https://github.com/Starcounter/Blending `f34b1326eb854bf0cf9e1df71a3741b3aae65ce6`
2. Go to <http://localhost:8080/BlendingEditor> in a web browser
3. Open Starcounter DevTools
4. In the "View-model" tab, expand the path `/BlendingProvider_0/Sections/TopbarRight`

## Expected

In

[2018-02-01 20:56] warpech commented on #326
I just tried it out. It works spotless!

[2018-02-01 21:16] un-tone commented on #304
PR https://github.com/Starcounter/level1/pull/4483

[2018-02-01 22:03] un-tone commented on #304
I saw the steps for building and pushing QueryProcessor package but it requires to know MyGet API key.
@bigwad, do you know, should I ask someone to push the package or to provide me the key?

[2018-02-01 22:42] miyconst commented on #304
cc @ubbeK

[2018-02-02 06:46] careri commented on #363
Well, should it be possible to restore a database without restarting the service?
Also there seems to be a partial file lock on:

So I can't compute hash on that one, is this by design?

[2018-02-02 09:23] bigwad commented on #304
https://github.com/Starcounter/AdminTrack/issues/392#issuecomment-351400125

[2018-02-02 09:59] miyconst commented on #363
No, that's not currently supported.

It's a configuration file, it contains no user data, @bigwad please clarify regarding the file lock and hash computation.

[2018-02-02 10:04] bigwad commented on #363
It's locked, but allows shared reads, so shouldn't be a problem to calculate a hash. Can you copy it? How do you produce hash?

[2018-02-02 10:11] bigwad commented on #363
It's true. The file is read-only. You can get this file updated only if you recreate a database by the same path, which seems to be impossible with our tools.

[2018-02-02 10:18] careri commented on #363
@miyconst Ok, so now I know that I must always restart the service on restore.

@bigwad I open the stream with read access, fileshare read,write and delete
[code]

[2018-02-02 11:15] bigwad commented on #363
The problem with hashing is that the file is locked beyond end-of-file to allow reading the file, but .Net FileStream tries to read further end-of-file, thus getting an error. As a workaround, I can suggest using `File.ReadAllBytes`, as it reads an exact number of bytes and doesn't go beyond end-of-file. And I'll create an issue to make locking schema more friendly.

[2018-02-02 11:16] ubbeK commented on #326
Closing as fixed

[2018-02-02 11:16] #326 closed

[2018-02-02 12:06] careri commented on #363
Well, I don't want to use ReadAllBytes since e.g. the image/log files are 256MB.

I dont understand what you're saying. Are you locking bytes after end of file?
So I could use length of the file and read that many bytes?

[2018-02-02 12:40] careri commented on #363
The hashing of files was a sanity check that shadowcopy really exposed the new files and not some old copy.
It's not a thing I will use in the real application.
But I'll try to update the hashing to support that file as well

[2018-02-02 13:56] careri commented on #363
I can confirm that limiting the number of bytes to read works:
[code]

[2018-02-02 18:39] un-tone commented on #304
I updated Starcounter.QueryProcessor package and updated references.
I tested it locally - all tests pass. The created PR: https://github.com/Starcounter/level1/pull/4484.

[2018-02-05 09:04] chrhol commented on #369
Right, I think you talked about this some time ago and I completely forgot it. Thanks for creating an issue.

One question: is this different from how it works in `2.3.*`?

[2018-02-05 10:13] un-tone commented on #304
Build log: https://teamcity.starcounter.org/viewLog.html?buildId=45903&tab=buildResultsDiv&buildTypeId=StarcounterDevelop_DevelopDailyScCoreWindowsDebug

Closing...

[2018-02-05 10:13] #304 closed

[2018-02-05 12:58] warpech commented on #340
The JavaScript part is released in [Palindrom 5.0.0](https://github.com/Palindrom/Palindrom/releases/tag/v5.0.0), which was released:

- in [StarcounterClientFiles 2.2.0](https://github.com/Starcounter/StarcounterClientFiles/releases/tag/2.2.0) that was included in Starcounter 2.4 in PR https://github.com/Starcounter/level1/pull/4477
- in [StarcounterClientFiles 1.2.0](https://github.com/Starcount

[2018-02-05 13:30] tomalec opened #370 "One or more errors occured"
I tried to upgrade Starcounter, from 2.4.0.x (now, I cannot recall nor track precise version).
After installation completed the operation I tried to run an app. That seems to hang on creating a database.
So I did `staradmin kill all` and, now I'm trying to just start Starcounter server (using desktop icon created by installation). That results in system tray notification:

and nothing more.
I trie

[2018-02-05 13:43] ubbeK commented on #370
Is not possible to start with CLI command either?

`staradmin start server`

[2018-02-05 13:46] ubbeK commented on #370
Double check if %StarcounterBin% environment variable and %PATH% has been cleaned as well.

[2018-02-05 13:51] ubbeK commented on #367
Have you tried to just give an exclusion to a specific folder:

Windows Defender Security Center => Virus & threat protection => Virus & threat protection settings => Add or remove exclusion => Add an exclusion => Folder

[2018-02-05 13:53] miyconst commented on #363
@careri am I right that all your questions/issues were answered/resolved? So far I see the following items to improve in the documentation:

- Restore database binaries requires Starcounter server restart.
- Database configuration `*.cfg` file is locked while database is started.
- The configuration `*.cfg` file never changes during the database lifetime, so it's not required to back it up every t

[2018-02-05 14:22] chrhol commented on #369
This does look correct though, there is an empty handler that is registered in `BlendingHandler.cs` (https://github.com/Starcounter/Blending/blob/master/src/BlendingProvider/Website/Api/BlendingHandlers.cs#L463-L469) that returns an empty json which will be namespaced with `BlendingProvider_0`.

The result from the merge-callback will then be added as `BlendingProvider_1`

[2018-02-05 14:31] tomalec commented on #370
It started the server successfully, but I still cannot use administrator: `127.0.0.1:8181`.
Deleting database (`staradmin delete db default`) hangs as well.

[2018-02-05 14:34] tomalec commented on #370
Checked, both were cleaned.

[2018-02-05 14:35] ubbeK commented on #370
Sounds like I need to try it out myself.

[2018-02-05 14:39] warpech commented on #369
Thanks for the investigation. Sorry for the trouble! I started to notice the problem of too many empty objects around the time when we migrated to 2.4, so I connected these two facts. But maybe they are not related.

I will close this issue for now until I figure out if this is actually a problem. It seems that it is by design of BlendingProvider.

[2018-02-05 14:39] #369 closed

[2018-02-05 15:06] ubbeK commented on #370
I have been upgrading / downgrading between `2.4.0.4903` and `2.3.2.322` a bunch of times and can unfortunately not reproduce this.

I cannot remember any third party changes in `develop` lately other .NET 4.6.1 dependency and I bet you already have that installed.

Otherwise, you need vc++ redist (which should be installed by installer if you dont have it installed), https://support.microsoft.com

[2018-02-05 15:07] andwah commented on #370
maybe some disturbing antivirus software?

[2018-02-05 15:09] ubbeK commented on #370
Maybe add an exclusion to the database
`Windows Defender Security Center` => `Virus & threat protection` => `Virus & threat protection settings` => `Add or remove exclusion` => `Add an exclusion` => `Folder`

[2018-02-05 16:16] tomalec commented on #370
I've already disabled my Avast, I'd try fiddle around it as well

[2018-02-05 16:28] tomalec commented on #370
It seems I have fixed this. However, I still don't know what was it (seems that this https://twitter.com/bendhalpern/status/578925947245633536 applies not only to JS).

What I suppose was a solution:
- uninstall Starcounter (2.4),
- remove `profile/Documents/Starcounter`
- install Starcounter Stable `Starcounter-Release-2.3.1.8329-Setup`,
- start server,
- `staradmin delete db default`,
- `staradm

[2018-02-06 10:21] #370 closed, assigned to nobody

[2018-02-07 07:29] careri opened #371 "New database, change TransactionLogDirectory"
Version: 2.3.2.348.

Hi, I tried to change so that Image and TransactionLog is placed in different folders.

# Background
I did this mainly to figure out what the difference between Image and TransactionLog is in starcounter 2.
In starcounter 1 it was quite clear, but I'm confused by concepts in starcounter 2.

There seems to be no such thing as an database Image in starcounter 2, only transaction

[2018-02-07 07:40] careri opened #372 "Transaction Log Archives, on_new_log.cmd"
Version: 2.3.2.348

https://docs.starcounter.io/guides/working-with-starcounter/log-retention#finding-the-log-files

# Rollback?
If I understand the documentation correctly the archive folder is mainly used for replication.
But the documentation also states that one would be able to rollback to any transaction log in this folder.

How would one go about doing that?

I understand it as the optimize

[2018-02-07 07:43] careri commented on #371
I did another test like this.
1. Create database with default values for image and trans
2. Stopped the database
3. Modified the config like this:
[code]
4. I then moved the log files in to TransLog folder and the db2.cfg in Image.

But I still get an error that the Image can't be found

[2018-02-07 09:53] warpech commented on #340
Closing as done

[2018-02-07 09:53] #340 closed

[2018-02-07 10:25] careri commented on #363
Yeah, I think I have things figured out.

[2018-02-07 13:47] careri commented on #363
@miyconst

Well, I didn't have things figured out it seems.

My test project works locally on my developer machine, Windows 10.

But running the same scripts on our Windows Server 2016 yields backups without data.
Have you verified that shadowspawn works on 2016?

[2018-02-07 14:04] un-tone opened #373 "scTrayIcon throws an error on Windows startup"
It shows "Starcounter service error: One or more errors occurred" error notification on Windows startup and stays in the system tray with "Connecting..." status (colored in gray).

The issue looks similar to https://github.com/Starcounter/Home/issues/370 and appears after installing both 2.3.2 and 2.4 SC versions.
I installed it in **developer mode** on 3 different machines and on all of them I ha

[2018-02-07 14:05] miyconst commented on #363
@careri I didn't try it on Windows Server 2016, but I can do that if required.

I no longer see your message, did you delete it? Were you able to solve the issue?

[2018-02-07 19:53] un-tone opened #374 "Administrator "Allow Remote Access" after-change message"
By default "Allow Remote Access" is disabled. When I change it, the message "The new settings will be used the next time the server starts." is shown.
It is incorrect because the new value is applied right after saving, without server restarting.

![scadmaram1](https://user-images.githubusercontent.com/1625378/35938041-0e4bc14a-0c59-11e8-8274-25f032366755.png)

The message should be fixed since it

[2018-02-08 09:50] careri commented on #363
@miyconst Please try on Server 2016

Yeah, I realized that I was using a version of shadowcopy that required VC++ Redist 2010.
So I though that was the problem.

But now I have come to the conclusion that your custom way of writing the translog files isn't compatible with Server 2016.

If I run my project locally on Windows 10 it works.
https://github.com/careri/StarcounterShadowspanTest.git

But

[2018-02-08 09:51] careri commented on #363
Just out of interest are you doing something like this to write without affection lastwrite:
https://stackoverflow.com/questions/15903972/how-to-change-a-file-without-affecting-the-last-write-time

I would like to be able to reproduce the problem

[2018-02-08 10:36] miyconst commented on #363
@careri am I right that you are trying to replicate files and file writes which happen during a Starcounter database lifetime? Then perform shadow copy using `ShadowSpawn`.

This works under Windows 10, but does not work on Windows Server 2016, and by "does not work" I mean that shadow copy does not contain the latest writes.

[2018-02-08 10:49] careri commented on #363
@miyconst
Yes, that pretty much sums up the problem.

To get around the problem I added two properties:
RunBefore
RunAfter

The RunBefore is executed before shadowcopying
And RunAfter is executed after shadowcopying
[code]

RunBefore: Before copying I stop custom watchdog service and stop headswms database.
I then use shadowspawn to copy the files
RunAfter: Start headswms database and then custom

[2018-02-08 10:53] careri commented on #363
Of course the shadowspawn part serves no purpose in the previous comment. Just  proof that it works if I stop the database

[2018-02-08 12:18] bigwad commented on #363
Actually, not. Instead, we open a file with FILE_FLAG_WRITE_THROUGH|FILE_FLAG_NO_BUFFERING.
Please try your test with a stream opened with [WriteThrough](https://msdn.microsoft.com/en-us/library/system.io.fileoptions(v=vs.110).aspx) option passed to a FileStream(https://msdn.microsoft.com/en-us/library/d0y914c5(v=vs.110).aspx)

[2018-02-08 14:00] careri commented on #358
By a chance I got the same error executing my application in powershell.
In my case it was:
[code]

Don't know if this is of any help?

IO.IOException: The handle is invalid.
   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.__Error.WinIOError()
   at System.Console.set_TreatControlCAsInput(Boolean value)
   at ShadowSpawnTest.Program..cctor()
   --- End of

[2018-02-08 14:28] careri opened #375 "VSIX Visual Studio Package not working"
Microsoft Visual Studio Enterprise 2017
Version 15.5.6
VisualStudio.15.Release/15.5.6+27130.2027
Microsoft .NET Framework
Version 4.7.02556

SC Version: 2.3.2.348

I updated to this version, and now I seem to be missing **Starcounter.Cli.dll**
I doesn't exist in the installation folder.

But looking in the installer the file is there. Maybe visual studio had it locked somehow?
(I might have had vi