[2018-02-08 14:41] careri commented on #363
@bigwad @miyconst

I can now confirm that Windows Server 2016 (only tried one installation so far) doesn't work with shadowspawn and **FILE_FLAG_WRITE_THROUGH|FILE_FLAG_NO_BUFFERING**

You can clone this program to try it:
https://github.com/careri/StarcounterShadowspanTest/blob/master/src/ShadowSpawnTest/Program.cs

Running it on my win10 machine works. Running it on server2016 fails after a coup

[2018-02-08 15:19] ubbeK commented on #375
@careri Can you please provide a link to what version of Starcounter.VisualStudio you are referring to?

[2018-02-08 15:20] joozek78 commented on #357
I've updated the repro code: https://github.com/Starcounter/Authorization.Simplified. Just follow the instructions to test

[2018-02-08 15:32] careri commented on #363
Well, this is confusing.  It seems that it doesn't work on 2016 even if I use FileOptions.None

Time to change line of work, crap!

[2018-02-09 07:05] careri commented on #375
Microsoft Visual Studio Enterprise 2017
Version 15.5.6
VisualStudio.15.Release/15.5.6+27130.2027
Microsoft .NET Framework
Version 4.7.02556

[2018-02-09 07:50] per-samuelsson commented on #357
Seems like @alemoi is on https://github.com/Starcounter/CompanyTrack/issues/393. I assume the best is to await that to be done and then check if this is still an issue.

What about we close this one and have as a prerequisite that https://github.com/Starcounter/CompanyTrack/issues/393 test this case before it can be considered done? @joozek78? @alemoi?

[2018-02-09 09:00] miyconst commented on #375
@careri please do the following:

- Uninstall Visual Studio extension.
- Close Visual Studio.
- Uninstall Starcounter.
- Install Starcounter.
- Install the Visual Studio extension.
- Check if it works.

[2018-02-09 10:03] careri commented on #375
I already got it working yesterday. Just wanted to inform you that this happened.
I got no error messages during install but still the Starcounter.CLI.dll was missing.

[2018-02-09 10:09] careri commented on #363
@miyconst @bigwad

Could you please verify this insanity.
1. Open an elevated powershell on windows server 2016
2. Run my script directly from github (downloads):
```iex ((New-Object System.Net.WebClient).DownloadString('https://raw.githubusercontent.com/careri/StarcounterShadowspanTest/master/server2016_fail.ps1'))```
3. The script works, the content of the file being copied with shadowspawn is 8

[2018-02-09 10:18] careri opened #376 "Documentation, Shadowspawn on Windows Server 2016"
## Documentation
The documentation states that you should be able to use shadowspawn for on the fly backups:
https://docs.starcounter.io/v/2.4/guides/working-with-starcounter/run-starcounter-in-production

This is not true for Windows Server 2016. So either update the documentation or state that you don't support 2016 in production:

## Shadowspawn
Doesn't work as expected

The problem seems to be

[2018-02-09 11:21] ubbeK commented on #367
Is this still an issue?

There have been issues with anti-virus programs before.

https://github.com/Starcounter/Home/issues/370

[2018-02-09 11:40] bigwad commented on #363
will try today and get back to you

[2018-02-09 12:47] atifwaqar commented on #367
The installation error reported by @miyconst seems to be disappeared from my machine.

However 1 symptom from the same installation error is left. Just checked with following SC versions :
2.4.0.4672.  Installed successfully but failed to start SC server
2.4.0.4963. Installed successfully and started DB successfully
2.3.2.157.  Installed successfully and started DB successfully

When it did not wo

[2018-02-09 13:26] miyconst commented on #367
I am still having the problem installing latest 2.3.2` on Windows Server 2016.

[code]

![image](https://user-images.githubusercontent.com/6435556/36029819-0dbb9dac-0da5-11e8-9a91-d79a5990be6d.png)

[2018-02-09 13:28] miyconst commented on #367
Happened when I tried to upgrade from `Starcounter-Release-2.3.1.8329-Setup.exe`.

[2018-02-09 13:57] miyconst commented on #367
Also installer shuts down without any message when trying to downgrade from `Starcounter-RC-2.3.2.373-Setup.exe` to `Starcounter-Release-2.3.1.8329-Setup.exe`.

[2018-02-09 15:48] bigwad commented on #363
@careri, regarding the script `server2016_fail.ps1` you asked to run. Probably, I'm missing something, but it seems it has two clear issues:
1. `FileStream.Flush()` may not flush OS buffers, so I switched to `FileStream.Flush(true)`
2. You seem to compare sequences of a different length. First one is always 8 bytes you get from `Get-Date` and the second is a content of the file, which size is cont

[2018-02-09 15:51] bigwad commented on #363
Now, I'm checking out c# test program you mentioned here https://github.com/Starcounter/Home/issues/363#issuecomment-364131967

[2018-02-12 13:27] Mackiovello commented on #231
Done

[2018-02-12 13:27] #231 closed

[2018-02-12 14:13] careri commented on #363
Ah I introduced the env:SERVER_FAIL_SIZE late, my bad with the byte-compare.
I'll fix that, and try again

[2018-02-12 15:56] iqbalskd commented on #373
Its failing making a web request to the server, it fails on the following line:
https://github.com/Starcounter/level1/blob/d31c689b1dd80f871b882e424944196cec3308b2/src/Starcounter.Internal/Rest/Http.cs#L147

It throws following exception:
[code]
@ubbeK @alemoi

[2018-02-12 17:17] alemoi commented on #373
Are you able to make the same REST request manually. Because there is no magic about the Http client, it just uses `HttpClient` underneath.

[2018-02-12 23:00] alemoi commented on #357
The assemblies from Visual Studio reference assemblies directory `Public Assemblies` (newly `VsRefAssemblies`) are moved to all binaries directory. Whole Starcounter binaries directory becomes Visual Studio reference assemblies directory. NOTE: Starcounter Visual Studio plugin needs to be reinstalled because of this change (so that reference assemblies are located properly).

[2018-02-12 23:01] alemoi commented on #357
@joozek78 I think unfortunately some tests are needed to be adjusted once again (like when `Public Assemblies` was renamed to `VsRefAssemblies`). Thank you for adopting.

[2018-02-13 09:46] un-tone commented on #265
The problem is in `star_filter_iterator_next` function https://github.com/Starcounter/level1/blob/5397023635ec1ecf1a750272c653a9b7cdd0f889/src/Starcounter/Mock/Enumerator.cs#L486

After calling that, here https://github.com/Starcounter/level1/blob/5397023635ec1ecf1a750272c653a9b7cdd0f889/src/Starcounter/Mock/Enumerator.cs#L501, `currentRef.handle.id` is zero. So the enumerator obtains nothing.

@b

[2018-02-13 09:57] un-tone commented on #265
The Query plan looks well:

[code]

[code]

[2018-02-13 10:07] iqbalskd commented on #373
Yeah its working fine when the server is running, looks like the server does not start at windows logon, I will further dig into it.

[2018-02-13 10:11] un-tone commented on #373
And it should not if it is installed in developer mode.

[2018-02-13 10:26] iqbalskd commented on #373
One thing that I noticed though, on clicking the `Stop Server` menu item stops the server but another thread keeps browsing localhost and ends up with the same error mentioned above, and the `Start Server` menu item does not enable again.

[2018-02-13 12:16] alexanderstc commented on #356
@mmnosek

Can't reproduce:

Installed 2.3.1.8329 from https://teamcity.starcounter.org/viewLog.html?buildId=42859&buildTypeId=Starcounter_V23NightlyWindows&tab=artifacts

Added
[code]
to the beginning of both examples.

staramin start db
star example1.cs
staradmin stop db
staradmin start db
star example2.cs

Run select * from Bar in the administrator web ui.
Select succeeded.

Please advise.

[2018-02-13 14:17] joozek78 opened #377 "Override application name in AppHostBuilder"
When I use `star.exe` to start an app I can override the application name with `-n` switch. It should be possible to do it when starting app using `AppHostBuilder`, but it doesn't seem like it's possible

[2018-02-13 15:56] bigwad commented on #265
@un-tone, if rewrite a query with parameters instead of literals, it will work.
So, something wrong with collecting a stream of filter parameters, that is passed to `star_context_create_filter_iterator` here https://github.com/Starcounter/level1/blob/5397023635ec1ecf1a750272c653a9b7cdd0f889/src/Starcounter/Mock/IteratorHelper.cs#L285
You can compare how the stream is filled in both cases - with li

[2018-02-13 16:47] joozek78 commented on #357
Now it fails with another exception:
[code]

Do you think I should post another issue and close this one?

[2018-02-13 17:49] iqbalskd commented on #367
I tried installing Starcounter on a [Windows Server  2016 Essential (Evaluation)](https://www.microsoft.com/en-us/evalcenter/evaluate-windows-server-2016-essentials) on a virtual machine. The installer installed VC++ Resdistributable, It didn't work with the Restributable that installer installs, it was complaining about `Missing msvcr100.dll` Then I installed the [Microsoft Visual C++ 2010 Redist

[2018-02-13 17:52] miyconst commented on #367
@iqbalskd did you try the same steps?

[2018-02-13 18:24] iqbalskd commented on #367
Also installer shuts down without any message when trying to downgrade from Starcounter-RC-2.3.2.373-Setup.exe to Starcounter-Release-2.3.1.8329-Setup.exe.

Yeah this issue exits, currently the installer seems unable to upgrade from any RC to Release. I will further look into it.

[2018-02-13 20:38] alemoi commented on #357
I would suggest deleting all copied local assemblies because it feels like there is a duplicate somewhere.

[2018-02-13 20:57] alemoi commented on #357
@per-samuelsson im i right about guess about some duplicate somewhere?

[2018-02-14 07:52] per-samuelsson commented on #357
Not entirely I think. Looks like the last issue is about deserializiation problem in self-hosted mode, caused by one assembly being used when serializing and the other when deserializing.

Yes, please do. And also if you have the time and patience, I would be really happy to see an isolated, small-as-possible sample where it was reproduced. It could be that this is something we actually need to sp

[2018-02-14 07:55] per-samuelsson commented on #357
Oh, and @joozek78, could you please try to do an as-brutal-as-possible Clean on that project and try building after that? Like do "Clean". Then test. If still doesn't work, delete entirely `bin` and `obj` folders and try again. Would be highly appreciated!

[2018-02-14 08:21] PatrykSzwer opened #378 "Starpack exception: The tools version "12.0" is unrecognized"
SC version: 2.4.0.4963 and higher.

Currently, when I try to pack one of my repositories with starpack, I'm getting exception like this:

[code]

I know that simple solution for that, is to edit csproj file and temporarly change tool version from 12.0 to one that is listed, but obviously it should be fixed so users don't have to edit csproj manually every time.

[2018-02-14 09:20] mmnosek commented on #356
@alexanderstc sorry for the inaccurate instruction, my fault. I've tried once again, and what is needed is to do this:

Step 1
[code]

Step 2
[code]

[2018-02-14 09:26] mmnosek commented on #364
Guys, don't you think "cookbook" isn't the best place for such documentation? It's quite important. It should be mentioned in couple places:
* https://docs.starcounter.io/guides/working-with-starcounter/staradmin-cli
* `DDL` support probably requires additional page in "database section"
* https://docs.starcounter.io/guides/working-with-starcounter/database-refactoring#refactorings

[2018-02-14 10:09] alexanderstc commented on #356
Seems reproducible now.

[2018-02-14 10:44] alexanderstc commented on #356
Reproducible also with latest v2.3.

[2018-02-14 10:52] k-rus commented on #356
Just realised that this should fail with meaningful error. To my understanding success is not correct behaviour. Is it metalayer missing to return error or is it Level1 suppress the error?

@alexanderstc Can you check metalayer that it returns error here?

[2018-02-14 10:57] alexanderstc commented on #356
Sorry, where is "here"?

[2018-02-14 11:00] k-rus commented on #356
When you start the second example, which contains refactored schema, it should fail due to schema mismatch.

[2018-02-14 11:03] alexanderstc commented on #356
Good point, i'll debug it that way.

[2018-02-14 11:43] miyconst commented on #364
I just need to be able to find and share the page, if it's better to move to another section - I don't mind.

[2018-02-14 12:48] alexanderstc commented on #356
Metalayer throws SCERRSCHEMASDONOTMATCH on attempt to re-create Foo in step2,
L1 goes to ```var tableUpgrade = new TableUpgrade(tableName, storedTableDef, tableDef, typeDef);```

@chrhol please have a look.

[2018-02-14 14:40] joozek78 opened #379 "ScErrDatabaseAlreadyExists when using AppHostBuilder"
## Context
Starcounter version: 2.4.0.4593
I'm trying to follow the guide to setting up tests in Self-Hosted Starcounter:  [link](https://docs.starcounter.io/v/2.4/cookbook/unit-testing-with-database-access).

## Problem
When I execute `AppHostBuilder.Start()` the following exception occurs:

[code]

## Workaround
This problem manifests only when I start the tests for the second time. After I remo

[2018-02-14 14:45] joozek78 opened #380 "System.InvalidCastException when using AppHostBuilder"
## Context
Starcounter version: 2.4.0.4593
I'm trying to follow the guide to setting up tests in Self-Hosted Starcounter:  [link](https://docs.starcounter.io/v/2.4/cookbook/unit-testing-with-database-access).

## Problem
When I execute `AppHostBuilder.Start()` the following exception occurs:

[code]

## Reproduction
Code: https://github.com/Starcounter/Authorization.Simplified/tree/tests-repro
Bui

[2018-02-14 14:50] chrhol commented on #356
I have reproduced it as well and will take a closer look a bit later tonight. I wonder if this is similar (or perhaps the same) problem as with columns that was removed from the CLR-class but not dropped in the database (https://github.com/Starcounter/Home/issues/368)

[2018-02-14 14:55] joozek78 commented on #380
Related: #357
CC @per-samuelsson you asked me to ping you

[2018-02-14 14:55] joozek78 commented on #357
@per-samuelsson Cleans didn't help. I've posted [the new issue](#380)

[2018-02-14 14:55] #357 closed

[2018-02-14 18:39] chrhol commented on #356
I've added some more checks for the tableupgrade in level1. Moving a column should be detected and stopped. I've added a test for it as well, but need to go through the code a bit and run a build on teamcity.

Will continue tomorrow.

[2018-02-14 19:32] k-rus commented on #364
NewQP syntax including DDLs are described in a documentation, which was moved from RebelsLounge to CompanyTrack.

It is long standing issue how to gradually move from OldSQL documentation to NewQP documentation as functionality is moving to the product.

[2018-02-14 20:52] un-tone commented on #265
The issue is in **decimal literals** and it appears only when decimal literal is specified in the first comparison. It works well with other numerical types and if decimal literal is in the second comparison.

For instance I have the following model:

[code]

All the following queries do not work:

[code]

If in this queries I don't use decimal literal in first comparisons, it works well.

[2018-02-14 20:53] un-tone commented on #265
@bigwad I tried to find out what happens there, but still with no results. I'll continue tomorrow.

[2018-02-15 06:13] per-samuelsson commented on #380
Yes, thanks a lot for taking the time to set this sample up. I will look into it and hopefully give you some feedback already today.

[2018-02-15 06:27] per-samuelsson commented on #380
It seem this is what I first expected: it's because some inconsistency in new self-hosting assembly resolver, causing that [same types loaded from different contexts are not assignable](https://blogs.msdn.microsoft.com/suzcook/2004/06/02/debugging-an-invalidcastexception/).

I will need to set up an environment for this and go through how assembly resolving happen in our self-hosting scenario, and

[2018-02-15 08:40] Razkan opened #381 "System.OverflowException: Array dimensions exceeded supported range."
Hi,

This just happened when I tried to start my test database this morning. Since it is a test database I have nothing important on it so I'll just remove and create a new one, but before I remove it I will store a local copy of it if you want to investigating it.

Version=2.3.1.7786

[code]

[2018-02-15 08:48] k-rus commented on #381
Thank you for reporting.
Seems that you reach the limit of number of supported columns in a table.

Can you describe what actually you were doing? Have you made any changes to the schema?

cc @chrhol @miyconst

[2018-02-15 08:49] miyconst commented on #380
Going this way. @per-samuelsson please finish the deferred callbacks first, even if it takes the rest of this week and a few days of the next week.

[2018-02-15 08:55] miyconst commented on #381
@Razkan please provide more information, such as:

- Did the database work before?
- What did you do which lead to this crash?
- Does the crash go away if you drop and re-create the database?
- Does it happen when you start an app (which) or when starting the database without any apps?

[2018-02-15 09:13] Razkan commented on #381
@k-rus

- Started the database through visual studio, nothing unusuallyfrom how I start other databases. I have done changes to the schema, what those changes are can be hard to track since i'd estimate it is about 4-7 days I last time I started the database (or sooner). Mostly it is changes to the properties (added properties, removed properties & changed enum structure used by database entities)

[2018-02-15 09:31] chrhol commented on #381
I think this is the same problems as we detected earlier, that dropped columns is not really removed and is just ignored during upgrade which leads to incorrect behaviour later. So same problem as #368 but a strange exception instead of AV.

I'm about to add this check in the tableupgrade functionality, to get an exception earlier with a proper message that removed database-properties has to be dr

[2018-02-15 09:34] chrhol commented on #381
Gathered from the other issues I have an idea on how to reproduce it.

[2018-02-15 09:34] miyconst commented on #381
@chrhol please note, it has to be fixed in `2.3.2`.

[2018-02-15 11:49] #290 closed

[2018-02-15 11:54] bigwad commented on #363
As to c# test program - the problem is still with `robocopy /IS`:  robocopy doesn't copy files it considers the same even with `/IS` switch. All the difference `/IS` makes is that those files get reported.
Here is a similar question: https://stackoverflow.com/questions/40744335/how-do-i-force-robocopy-to-overwrite-files.
I thinks we should reconsider our recommendations of using robocopy for makin

[2018-02-15 12:06] iqbalskd commented on #367
Can I now close this issue, as I was not able to reproduce the screen shots attached here, the only issue I faced was regarding VC++ Redistributable which is already being discussed in a [new issue](https://github.com/Starcounter/level1/issues/4505).
@miyconst @ubbeK @atifwaqar

[2018-02-15 12:10] miyconst commented on #367
Let's close it, and I will reopen if I hit it with the latest installers.

[2018-02-15 12:10] #367 closed

[2018-02-15 12:19] miyconst commented on #363
The only place where we mention the incremental backups says:

[Database Backups](https://docs.starcounter.io/guides/working-with-starcounter/run-starcounter-in-production#database-backups).

Probably it should be updated with info, that incremental backups are not supported.

[2018-02-15 12:32] bigwad commented on #363
Log files are assigned with incremental numbers and once we have switched to a file, we never write to a previous one. With that incremental backup is possible - backup script just has to overwrite two files with greatest numbers regardless.

[2018-02-15 13:06] careri commented on #363
Ok, I'll implement my own copy using hash-check on the files.

I can confirm that the byte check using SERVER_FAIL_SIZE was my bad. I fixed it and the script works on Server 2016:
https://raw.githubusercontent.com/careri/StarcounterShadowspanTest/master/server2016_fail.ps1

[2018-02-15 13:08] careri commented on #376
My bad, I introduced a environment-flag late on in the script that messed up the result

[2018-02-15 13:08] #376 closed

[2018-02-15 13:09] chrhol commented on #356
Moving a property from a baseclass to a derived class or vice versa will actually be detected as an add or remove of a column in the baseclass. This is due to classes being processed in order of inheritance (to make sure that a baseclass is always up-to-date when a derived class is processed).

Depending on the direction of the move you will get two different errors:
- Moving property *from* a bas

[2018-02-15 13:10] careri commented on #363
@bigwad Thanks for linking to:
https://stackoverflow.com/questions/40744335/how-do-i-force-robocopy-to-overwrite-files.

So it's merely an update of the documentation that needs to be done.

[2018-02-15 13:15] un-tone commented on #265
I have compared passing `dataStream` and `instrArray` instances. And the issue case looks proper to me. @bigwad please take a look, maybe you'll have some clue.

1. Without the error (2 integer literals):

[code]

[code]

2. With the error (decimal and integer literal):

[code]

[code]

3. Without the error (1 decimal literal):

[code]

[code]

[2018-02-15 13:34] bigwad commented on #265
Have you compared the streams when a decimal is passed as a parameter, not a literal?
I guess problem is that serializing decimal as a literal takes 16 bytes, while it should take 8. Here is the format of dataStream to make it easier for you to reason about it.
The stream starts with 4 bytes little-endian length of the entire stream. Then variables go. Each variable starts with a one byte flag (0/

[2018-02-15 14:38] un-tone commented on #265
Exactly! It fixes the bug. Thank you.

[2018-02-16 06:39] k-rus commented on #265
The OP was only about doubles, while the bug happens to be with decimal. Is there still an issue with doubles? Or how does fix for decimal fixes the OP with double?

[2018-02-16 08:17] un-tone commented on #265
@k-rus Actually, there is no issue with doubles. Investigation showed that the issue is in decimal literals. It also showed in OP example that decimal literals are used. You can change the property type in the query to another numerical one, e.g. Integer, and the bug will be still reproducible. Please take a look at the comment above https://github.com/Starcounter/Home/issues/265#issuecomment-3657

[2018-02-16 11:56] iqbalskd commented on #373
Fixed the issue and merged the changes

[2018-02-16 11:56] #373 closed

[2018-02-19 07:23] chrhol commented on #368
The added verification for removed properties is in place. A proper error should now be thrown during startup describing which table and columns still exists in the database that needs to be dropped.

I think all items for this issue is solved. Closing it.

[2018-02-19 07:23] #368 closed

[2018-02-19 07:26] chrhol commented on #381
The added verification of removed properties, that are not dropped is in place. Now a proper error should be thrown if a mismatch if databaseschema contains columns that is not available in the clr-class.

Since @Razkan already got past this problem, I will close this issue.

[2018-02-19 07:26] #381 closed

[2018-02-19 19:21] un-tone commented on #265
Closing as done.

[2018-02-19 19:21] #265 closed

[2018-02-20 13:05] warpech commented on #107
Starting from Starcounter 2.4.0.5100, Bootstrap is replaced by [Underwear.css](https://github.com/Starcounter/underwear.css) and [Uniform.css](https://github.com/Starcounter/uniform.css).

Underwear is provided automatically by Starcounter app shell. Underwear sets the body `margin` to `8px`
([source](https://github.com/Starcounter/underwear.css/blob/282048a7edf37573c5f342f5b330b96ea82df38d/underw

[2018-02-20 13:05] #107 closed

[2018-02-21 16:13] careri commented on #363
@bigwad @miyconst

FYI
robocopy that ships with Windows 10 has a working implementation of /IS
Win10, version 10.0.16299.15
Server 2016, 10.0.14393.0

I ran the script you linked to on stackoverflow.
Win10 it works as expected
Win2016 it doesn't copy the file

[2018-02-21 16:50] bigwad commented on #363
Then it's a problem on it own. Working /IS option defeats the purpose of using robocopy - making an incremental backup. As I said, to make backup incremental - one has to overwrite two latest log files and then run robocopy without /IS on top.

[2018-02-22 10:54] atifwaqar commented on #227
@PatrykSzwer. I'm not sure if my solution will solve your exact issue, but I have a feeling that you might benifit from this info.

Do you aim to use `Start$` in your viewModel (i.e. you'd like to see & access `Start$` in Starcounter Debug Aid), without declaring it in `B.json`?

I am working on similar stuff, and I faced the same issue. here is how I got it to work.
A.json
[code]
A.json.cs
[code]

[2018-02-22 12:02] miyconst commented on #309
After another discussion between @eriksunsol, @dan31 and me, it was decided not to deprecate the transient properties, but rather document it's behavior to avoid confusion.

[2018-02-22 12:04] miyconst opened #382 "Document transient database properties"
Coming from - [Deprecate transient properties of database classes](https://github.com/Starcounter/Home/issues/309).

[2018-02-22 12:04] #309 closed

[2018-02-22 16:31] PatrykSzwer commented on #227
I'm no longer onto that, but thank you for proposing an interesting solution! If I'll step on this again, I'll remember to check your approach.

[2018-02-22 21:13] un-tone commented on #373
The error is gone, but it still shows the notification icon

Is it required to have this?

[2018-02-23 06:02] careri commented on #363
Yes, I agree with thaht. Just wanted to provide the information, if you wanted to state it in the documentation.
I'm moving away from robocopy.

[2018-02-23 13:04] Mackiovello commented on #382
This is the existing documentation: https://docs.starcounter.io/guides/database/creating-database-classes#preventing-fields-from-becoming-database-columns

I should clarify how it works and what you can/cannot do with it

@per-samuelsson had something to add regarding SQL queries and the values of these properties

[2018-02-23 13:58] per-samuelsson commented on #382
[code]

[2018-02-23 14:46] miyconst commented on #382
It is also worth mentioning that reference navigation is always creating a new proxy objects.

[code]

[2018-02-23 15:32] mmnosek opened #383 "Cannot stop SC server using tray icon"
Starcounter version: Starcounter-Develop-2.4.0.5135

When I right-click on the SC server tray icon and select "stop server" from the context menu it doesn't stop and the error appears: `Starcounter service error. Invalid URI: The hostname could not be parsed.`

![windows_10](https://user-images.githubusercontent.com/4943949/36602029-27f25bb2-18b7-11e8-85be-f129449c8a0f.png)

[2018-02-23 15:35] ubbeK commented on #383
cc @iqbalskd

[2018-02-23 18:46] un-tone commented on #209
What the case for this? Looks that there is no issues with Double type - `AVG` for it returns a double type value.

[2018-02-23 19:56] un-tone commented on #209
Shouldn't `AVG` return double type result, not decimal? [Enumerable.Average](https://msdn.microsoft.com/en-us/library/bb358946.aspx) works exactly so, for example. It will solve issues like in @Mackiovello's comment above.

cc @miyconst @bigwad @k-rus

[2018-02-23 19:58] un-tone commented on #209
Also, I propose to leave `Int64` result type for `SUM` operator for all integer types. It looks reasonable for me.

[2018-02-24 13:49] un-tone commented on #271
It looks exactly as described in that comment. I checked that the bug appears in both cases of null equality: with literals (`IS (NOT) NULL`) and with `null` variable passing in `Db.SQL`.

What can I do to fix this? I see one way: don't use IndexScan for such filter and apply managed Comparison.

Or we can use this way somehow?

@bigwad @k-rus, any thoughts on it?

[2018-02-24 15:09] miyconst commented on #209
Sounds like the right decision for me. @bigwad?

Same here.

[2018-02-26 09:30] alshakero commented on #352
Closing as done.

Regarding the other tags can you please create a seperate issue if you need them?

[2018-02-26 09:40] bigwad commented on #209
We can prefer to adhere to SQL standard here.

p 6.5.9 says:
[code]

in other words,
(b) says that if we SUM Int32 we can promote return type to Int64
(c) says, that for AVG we should never change an exact numeric type (i.e. int, decimal)  to approximate type (i.e. double, float)

[2018-02-26 09:43] bigwad commented on #209
Seems it doesn't: https://msdn.microsoft.com/en-us/library/bb354760(v=vs.110).aspx
[code]

which make perfect sense as overwise it would ruin decimal's accuracy.

[2018-02-26 10:06] Mackiovello commented on #352
This is not documented. Assigning myself to move https://github.com/Starcounter/Home/issues/352#issuecomment-357773623 to the docs

[2018-02-26 10:59] bigwad commented on #271
An index can be used in the sense that if a reference is indexed as `null` then it really has the null value and no need to evaluate it with `*_get_reference`.
We can leverage this fact:
* `IS NULL` can be evaluated as `(ref==NULL) OR ((ref !=NULL ) AND (star_get_reference(ref) == NULL))`
* `IS NOT NULL` can be evaluated as `(ref != NULL) AND (star_get_reference(ref) != NULL )`

Conditions `ref ==

[2018-02-26 15:31] Mackiovello commented on #352
Documentation: https://docs.starcounter.io/v/2.4/guides/web-apps/app-shell#adding-manifest.json

[2018-02-26 15:31] #352 closed

[2018-02-26 15:40] alshakero commented on #352
Should be:

That's why Starcounter app-shell HTML has a manifest link tag with an empty `href` attribute that you can populate with the URL of your `manifest.json`, Chrome and FF will notice this update and respect the values in your linked manifest.

[2018-02-26 16:03] Mackiovello commented on #352
You're completely right, I missed that one. It's fixed now

[2018-02-26 16:14] alshakero commented on #352
One more tiny issue, reported by @atifwaqar, it's worth adding:

"Please notice that the Application tab in Chrome DevTools might not reflect the updates to your manifest dynamically. Meaning you'll need to re-open Chrome DevTools after you populate the manifest to see the values in it respected."

[2018-02-26 16:18] Mackiovello commented on #382
Done: https://docs.starcounter.io/guides/database/creating-database-classes#preventing-fields-from-becoming-database-columns

[2018-02-26 16:18] #382 closed

[2018-02-26 16:22] Mackiovello commented on #352
Just to make sure, do you mean "updates to your **app-shell** dynamically"? I thought the manifest is just a static JSON file that doesn't change.

[2018-02-26 16:27] Mackiovello commented on #352
Does this make sense:

[2018-02-26 16:31] atifwaqar commented on #352
Well, the can be many manifests (depending on how many different apps are hosted on your server). So yes, it means `updates to your app-shell dynamically`

[2018-02-26 22:46] erikvk commented on #148
@dan31 Any updates on the updates?

[2018-02-27 09:15] tomalec commented on #352
How about other browsers? I'd suggest not to stick to specific names here.

[2018-02-28 09:06] miyconst commented on #375
@ubbeK, @iqbalskd please see if there is something we can do in a reasonable amount of time. Close the issue otherwise.

[2018-02-28 09:16] miyconst commented on #226
@chrhol volunteered to take this issue, and we agreed to:

- Obsolete the methods in `v2.3`.
- Change visibility level from `public` to `internal` in `develop`.

[2018-02-28 09:48] dan31 commented on #148
@erikvk we do not yet have an estimate for the feature to come. However, we have decided to put it in 2.4 release, which is planned for summer. We think this data is to become avaiable in a form of either read-only metatables or a managed API.

[2018-02-28 09:49] erikvk commented on #148
OK, great!

[2018-02-28 13:31] warpech opened #384 "2.4 installer includes Simplified.Data.Model.dll"
2.4 installer includes `Simplified.Data.Model.dll` in the installation root directory.

Simplified should not be included in the Starcounter 2.4 installation.

This is a serious problem for apps in 2.4, because this file actually gets weaved instead of the file of the same name in the app `bin/Debug/` folder.

cc @alemoi, @ubbeK

[2018-02-28 14:00] alemoi commented on #384
@per-samuelsson might need your help here. Isn't it that local(Copy Local) file is always preferred over the one in `StarcounterBin`?

[2018-02-28 17:02] per-samuelsson commented on #384
That's not important really. Because of this:

But to answer: the 2.4 weaver is much simpler than that. It doesn't weave references at all. It weaves only what you pass to it. Nothing more, nothing less.

[2018-02-28 17:51] chrhol commented on #226
I'm about to mark them as obsolete in `v2.3`.

It looks like the only thing  `Db.DropTable` and `Db.RenameTable` does at this time is to throw a `NotSupportedException` so I think that I will drop these completely instead of making them internal in `develop` branch.

[2018-02-28 19:02] chrhol commented on #226
Done, obsoleted in `v2.3`. Made internal and removed in `develop`

[2018-02-28 19:02] #226 closed

[2018-03-01 10:26] iqbalskd commented on #373
This is a thread synchoronization related issue, which I am gonna re-write using Tasks which has better support for multi-threading.

[2018-03-01 15:36] un-tone commented on #335
Closing as done.

[2018-03-02 06:21] alemoi commented on #384
So, as I understand, the Simplified whatever you reference in your project will be weaved, right? So I suppose there is a wrong reference of Simplified in the project? Instead of local app Simplified, the one in StarcounterBin is referenced.

[2018-03-02 08:19] per-samuelsson commented on #384
Not sure who you are asking, me or @warpech. But I repeat: in 2.4, weaving happen at *compile time*. Meaning `Simplified` must be weaved at compile time, and it clearly cant never be referenced before compiled. 😃

[2018-03-02 08:49] warpech commented on #384
This is the reference to Simplified that triggered the problem ([source](https://github.com/Starcounter/Blending/blob/a84d3e8d8a6615ac57ea46edcd0bc309116ddc85/src/BlendingEditor/BlendingEditor.csproj#L51-L53))

[code]

Still, a file that was at `C:\Program Files\Starcounter\Simplified.Data.Model.dll` (which was Simplified 1.0.4) took priority and was loaded, as it was reported to me by VS  ("Modul

[2018-03-02 09:14] un-tone commented on #209
After talking with Kostiantyn, I'm going to update and fix the table with required changes.

[2018-03-02 09:14] bigwad commented on #209
* SUM - why it's not applicable for unsigned datatypes?
* AVG - implemented in accordance with the standard. no changes needed

[2018-03-02 09:19] un-tone commented on #209
I was getting an exception when did the tests with unsigned integers. I'll re-check this and do updates here or will create a new GH issue for that

[2018-03-02 09:24] bigwad commented on #209
Except the fact, that our decimal range is less than int64, then AVG should be int64 also. At least when the result exceeds decimal limit.

[2018-03-02 09:46] un-tone commented on #209
@miyconst agree that SUM should not be changed.
@bigwad doesn't agree that AVG should be changed.

So, the things we should change is only MIN and MAX operators?

[2018-03-02 09:51] miyconst commented on #209
[Implement full .Net CLR Decimal support](https://github.com/Starcounter/Home/issues/221).

[2018-03-02 10:02] Mackiovello commented on #335
Good that this is in place! One more thing though, it still has to be documented. This section should be adapted to these changes: https://docs.starcounter.io/v/2.4/guides/database/querying-using-sql#return-types

Can you write out how this works now and what versions it applies to? Please write down any possible pitfalls when using it too. If you can, a code snippet would be nice.

[2018-03-02 10:18] Mackiovello commented on #365
The documentation for this is old and hasn't been touched in a long time. I'll investigate and see if I can clarify the documentation and make it accurate.

[2018-03-02 10:19] Mackiovello commented on #311
Wasn't this decided against in https://github.com/Starcounter/Home/issues/309#issuecomment-367659934 so this can be closed?

[2018-03-02 10:26] un-tone opened #385 "Executing SUM on unsigned integer type properties throws an exception"
I have a simple app:

[code]

Executing of all the following queries ends with an error:

[code]

[code]

Tested on SC 2.3.2.499

[2018-03-02 10:27] un-tone commented on #209
Created an issue https://github.com/Starcounter/Home/issues/385 for the error with unsigned integer types.

[2018-03-02 10:28] miyconst commented on #311
Yes, this issue is an artifact, closing.

[2018-03-02 10:28] #311 closed

[2018-03-02 14:55] un-tone commented on #335
The `Db.SQL<T>` method supports Tuple result types. You can use it for aggregations and just for properties.

[code]

The tuple argument should be consistent with the type of the corresponding property. Type casting is supported only for the types which can be casted implicitly.

For queries with more than 7 properties, you should use nested tuples.

[code]

This feature is supported in Starcounte

[2018-03-02 14:56] un-tone commented on #335
@Mackiovello please check it

[2018-03-02 23:02] iqbalskd commented on #383
Tested using custom builds and merged.

[2018-03-02 23:02] #383 closed

[2018-03-02 23:34] ubbeK commented on #384
Seems easy to fix, just remove it from the WhiteList file. But is it used by any product in 2.4? If not, it should be removed from the source, e.g. [Simplified at branch master-2.4](https://github.com/StarcounterApps/Simplified/tree/master-v2.4).

[2018-03-03 14:10] alemoi commented on #384
I also wonder if we remove the file, how projects will find reference to the DLL?

@per-samuelsson is there a possibility that weaver prioritizes reference from StarcounterBin as @warpech dedcribes above?

[2018-03-03 14:55] per-samuelsson commented on #384
How does projects find a reference to `NewtonSoft.Json`, `NUnit`, `log4net`, etc? Hint: they don't reference them from %StarcounterBin%. 😜

Seriously, please please, we need to get away from thinking we need to provide these special, built-in libraries, being part of the runtime.

I think it's the host, not the weaver. And yes, that is possible. If you load `Starcounter.dll` from `this\path\right\

[2018-03-04 20:26] warpech commented on #384
The apps are using it through NuGet https://www.nuget.org/packages/Starcounter.Simplified.Data.Model/, as explained in the page https://github.com/StarcounterApps/Simplified#adding-simplified-to-your-project

[2018-03-05 07:38] per-samuelsson commented on #384
@warpech

That's great news, and what I hoped for. Reason I wrote that statement was b/c of this:

[2018-03-05 08:00] Mackiovello commented on #335
Thank you @un-tone! Documented here: https://docs.starcounter.io/v/2.4/guides/database/querying-using-sql#return-types

[2018-03-05 13:30] iqbalskd commented on #375
Tested this creating a basic starcounter database app seems working fine. I tested it as follows:

- Created  a fresh  virtual machine, with Visual Studio 2017 Enterprise (15.5.7), Version (4.6.04586)
- Installed starcounter v2.3.2.593, `since mentioned version was not available on the page`.
- Created a basic starcounter app with a one DB entity.
- App build fine.

Feel free to re-open this again

[2018-03-05 13:30] #375 closed

[2018-03-05 17:31] alemoi commented on #384
Hmm, strange, I have removed Simplified and SO from white-list.
However, I don't think that this is resolved (I might be very wrong):
[code]

[2018-03-08 04:24] ubbeK commented on #384
@warpech @alemoi Any way to test if this is resolved now?

[2018-03-08 09:56] miyconst commented on #268
Archiving as there is no response from @dttrung.

[2018-03-08 09:56] #268 closed

[2018-03-08 14:00] Mackiovello opened #386 "Staradmin doesn't output errors when one or more error occurred"
[code]

It's really hard for me to know what's wrong when there's no proper error message. I expect that all the errors are output to the console.

The issue was that the server was not running.

[2018-03-08 22:59] ubbeK commented on #386
What Sc version?

[2018-03-09 05:03] Mackiovello commented on #386
Version=2.4.0.5313

To reproduce:
* `staradmin kill all`
* `staradmin delete db [non-existent database]`

[code]

The errors here is that there is no such database and the server is not running.

[2018-03-09 09:53] ubbeK commented on #386
So we should either

* start db and try to delete. @Mackiovello Does this give a proper error message that we cannot delete a non-existing database?

or

* simply give error that server is not running

or

* implement functionality so db can be deleted even if the server is not running.

@per-samuelsson Do you recall how it has been implemented before? Has this always been the case?

[2018-03-09 10:04] Mackiovello commented on #386
After looking a bit more at this, it seems like `staradmin delete db` lets you delete non-existing databases. So I don't understand why it's "one or more errors". Anyway, I think it would make sense to output an error that the server is not running.

[2018-03-10 10:13] un-tone commented on #209
I need an approval to this conclusion before starting the work.

Operation | Decimal | Single | Double | SByte | Int16 | Int32 | Int64 | Byte | UInt16 | UInt32 | UInt64
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
MAX | Decimal | Double | Double | Int64 | Int64 | Int64 | Int64 | UInt64 | UInt64 | UInt64 | UInt64
MAX changes | - | Single | - | SByte | Int16 | Int32 | - | Byte | UInt16

[2018-03-10 12:31] SenerDemiral opened #387 "VS2017 Error List on v2.4.0.5327 (Upgraded from 2.4.0.5313)"
[code]
[code]
[code]
[code]

[2018-03-10 13:02] SenerDemiral commented on #387
Windows Region -> Format -> Turkish selection causes this error.
Error disappeared when changed back to English.

[2018-03-10 13:17] SenerDemiral commented on #387
Still v2.4.0.5327 not running, exits with error code SCERR10021.

[2018-03-10 14:03] un-tone commented on #271
I have a fix for the `IS NOT NULL` case in the https://github.com/Starcounter/level1/commit/b22fc5f13689f14424d87777031a1574e0908739 commit.

To fix the `IS NULL` case in the way proposed by @bigwad I have to spend much more time. Currently, I'm not really sure how I can implement this "concatenation" of executions and leave the support of offset keys and other features.

[2018-03-10 17:37] Shrn-Prmshr opened #388 "Starcounter 2.3.1 and starcounter in visual studio 3.0.0 are not compatible"
I am a newbie with Starcounter and I am trying to create a project by that. But unfortunately I have faced to an error when I try to create a simple hello world project! (I must use 2.3.1 version)

Error		This project specifies its compatible with Starcounter 2.4 while the installed version of Starcounter requires 2.3. The probable cause is you have an incompatible version of the Starcounter Visua

[2018-03-10 18:08] Shrn-Prmshr commented on #388
I managed to fix that by
- Uninstalled all that I had
- Remove manually Starcounter extension
- Restart
- Install again which the key was to not automatically install extension (I removed the check at the beginning of the installation)
- Open the _startcounter_ folder and looked for _vsis_ and run manually.

You need to create the project again. I could not use created ones.

[2018-03-10 18:08] #388 closed

[2018-03-10 18:12] Mihaiii commented on #388
For future cases:

There's no need to downgrade the VS extension. We will update the error message since it's old and indeed misleading.
You most probably created a "Starcounter 2.4 Application" (.NET Framework >= 4.6.1) instead of "Starcounter 2.3 Application" (.NET Framework < 4.6.1).

This can be easily be fixed by deleting `<StarcounterVersionCompatibility>2.4</StarcounterVersionCompatibility>

[2018-03-10 18:39] Mackiovello commented on #388
Thank you for reporting this! I've updated the tutorial to explicitly say that you have to create a "Starcounter 2.3 Application". With that, it shouldn't be a problem. Don't hesitate to create issues in the future if there's anything you're wondering or if something doesn't seem right. We appreciate all the feedback we can get.

Do we have an issue for this?

[2018-03-11 01:24] erikvk opened #389 "Sending large payloads over WebSocket"
@alemoi

Question:

How would you send a large file stored on the local disk over a WebSocket connection? I want the entire file to be contained in a single message, but it may be split over multiple data frames if that is required.

[2018-03-12 00:13] erikvk commented on #389
@alemoi

+ A separate but related question:

If I assign a large `FileStream` to `Response.StreamedBody` in a HTTP response, but the client closes the TCP connection before the `Stream` is being read – will Starcounter still dispose the Stream (as it usually does)? The reason I ask is that I find residual temporary files on a server computer, that are removed when their corresponding `FileStream`s

[2018-03-12 00:19] erikvk opened #390 "Question about StreamedBody disposal"
@alemoi

If I assign a large `FileStream` to `Response.StreamedBody` in a HTTP response, but the client closes the TCP connection before the `Stream` is being read – will Starcounter still dispose the `Stream` (as it usually does)? The reason I ask is that I find residual temporary files on a server computer, that are automatically removed when their corresponding `FileStream`s are disposed.

When

[2018-03-12 06:54] miyconst commented on #209
@bigwad what do you say? I think the final table looks correct, but we need an option to cast smaller data types to bigger ones, in case of the overflow exception.

[2018-03-12 07:20] per-samuelsson commented on #386
Of course it does. This seem to be a bug.

Not sure tbh. It's a bug clearly. I know in the past I did give some thought to how to treat similar cases, and was thinking about that tooling should be consistent: like if `staradmin delete db` would require the server to be started (or else would error), then should others (e.g. `list db`, `start db`, etc) too. And vice versa. But I probably didn't get

[2018-03-12 07:24] per-samuelsson commented on #386
Hmm, I wonder if this actually haven't worked before and was broken? I tested with other commands, and all show the same behavior. At least some commands in the past showed "Server is not running".

[2018-03-12 08:05] Mackiovello opened #391 "Error message and help link when using incompatible Starcounter version is outdated"
Found in https://github.com/Starcounter/Home/issues/388

[Source](https://github.com/Starcounter/level1/blob/b3622b319b2eb5a514a0324d70c41ea519c6f7b2/src/Starcounter.MsBuild/Starcounter.MsBuild.targets#L49-L66) (internal)

There are two issues here:
1. The error text, especially this line is misleading due to recent changes in the extension: "The probable cause is you have an incompatible version

[2018-03-12 08:05] Mackiovello commented on #388
Created an issue for the error message issue: https://github.com/Starcounter/Home/issues/391

[2018-03-12 09:26] joozek78 opened #392 "2.4.0.5327 Can't start server"
Starting server is impossible neither with `staradmin start server` nor `star <app.exe>`. It results in an exception:

[code]

[2018-03-12 09:35] ubbeK commented on #386
Yes, I want to leave it and fix them in new CLI tools. cc @miyconst

[2018-03-12 10:05] miyconst commented on #392
Was this issue introduced with the `2.4.0.5327` build or it's related to an existing database?

[2018-03-12 10:07] miyconst commented on #386
Closing as won't fix. Currently we don't have resources to fix the old CLI tools. The new tools will be designed and developed for Nova from scratch.

[2018-03-12 10:07] #386 closed

[2018-03-12 10:08] joozek78 commented on #392
It isn't related to any preexising database data. It was actually first found in the CI tests (which reconstruct the database)

[2018-03-12 12:42] miyconst commented on #392
I have reproduced the issue, looking for the culprit.

[2018-03-12 13:08] bigwad commented on #209
Don't get your point on overflow. Are we discussing the latest table with MIN and MAX functions?

[2018-03-12 13:13] miyconst commented on #209
Apparently I was not fully awake, `MIN`/`MAX` will never overflow.

[2018-03-12 15:13] joozek78 commented on #392
Offending release was removed from downloads page and marked as failed in TC (so that it doesn't use it in the apps tests)

[2018-03-12 17:08] #387 closed

[2018-03-12 17:12] alemoi commented on #389
I have looked on the existing C# APIs for WebSocket and they don't support streaming:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets
https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.websocket?view=netframework-4.7.1

I would write a custom user protocol (unfortunately over several messages) that uses .NET async API and tasks to fetch data from files (with off

[2018-03-12 17:18] miyconst commented on #389
We have an example for file upload, not for file download though.

- [HandleFile registration](https://github.com/Starcounter/KitchenSink/blob/master/src/KitchenSink/Program.cs#L165).
- [FileUploadPage](https://github.com/Starcounter/KitchenSink/blob/1f4ff0f72fb0f101838a847f2f6d9df57ea4a5e9/src/KitchenSink/FileUploadPage.json.cs).
- [HandleFile class implementation](https://github.com/Starcounter/

[2018-03-12 17:19] miyconst commented on #390
cc @alemoi.

[2018-03-12 17:21] miyconst commented on #392
@iqbalskd the crashing process is the tray icon, please investigate.

[2018-03-12 17:28] alemoi commented on #350
I have researched a bit and unfortunately such APIs does not exist in standard .NET APIs which we are trying to aim for. I have answered the question here: https://github.com/Starcounter/Home/issues/389

@miyconst what's your opinion on this?

[2018-03-12 17:36] alemoi commented on #390
If the corresponding TCP connection is closed, then server should close the stream object. I will double-test this and respond to you.

[2018-03-13 08:57] miyconst commented on #350
Such method should not be included into Starcounter, but there might be a standalone NuGet package like `Starcounter.Networking` or something with helper functions.

Closing this issue as a duplicate of - [Sending large payloads over WebSocket](https://github.com/Starcounter/Home/issues/389).

[2018-03-13 08:57] #350 closed

[2018-03-13 11:31] iqbalskd commented on #392
This issue is not related to TrayIcon.exe, the `scservicelib` is throwing an error on the following line:

https://github.com/Starcounter/level1/blob/032f4ef964fb350a58020ffa9f72cd64a20a39c0/src/scservicelib/main.cpp#L662

[2018-03-13 11:51] miyconst commented on #392
@iqbalskd thank you for the investigation, looks like it's @alemoi's area.

[2018-03-13 13:43] alemoi commented on #390
@erikvk The fixed is produced and pushed to 2.3 and develop. Please let me know how it goes, when you have time.

[2018-03-13 14:09] miyconst commented on #390
@erikvk beware, that the fix is pushed to `2.3.2`, not to `2.3.1`.

[2018-03-13 14:32] alemoi commented on #392
Not mine @miyconst  :)

[code]

[2018-03-13 14:35] alemoi commented on #392
Someone forgot to white list the `Starcounter.BluestarFFI.dll`?

[2018-03-13 14:44] Mackiovello commented on #392
It's a NuGet package. Does it have to be manually white-listed? In that case, it's my bad

[2018-03-13 14:46] erikvk commented on #390
Nice – I will enjoy this feature when it finds its way to release :)

[2018-03-13 14:47] Mackiovello commented on #392
I've learned something new today. It would be nice if this could be caught by a test or something like that.

[2018-03-13 14:50] Mackiovello commented on #392
PR in https://github.com/Starcounter/level1/pull/4547

Running a build and then merging

[2018-03-13 14:55] miyconst commented on #390
Another release will find it :), this won't be merged to `2.3.1`.

[2018-03-13 15:26] Mackiovello commented on #392
Fixed in https://github.com/Starcounter/level1/pull/4547

[2018-03-13 15:26] #392 closed

[2018-03-13 22:08] ubbeK commented on #392
This is exactly how the old build system works, especially how the Installer works

* build everything to StarcounterBin
* test everything
* run whitelist on StarcounterBin
* generate installer with StarcounterBin binaries

There is an issue about [smoke testing the installer](https://github.com/Starcounter/AdminTrack/issues/340), where @per-samuelsson comment would be a full test:

Today this cou

[2018-03-13 23:31] erikvk commented on #389
So is the fact that I cannot send multiple data frames within a single WebSocket message a restriction in Starcounter, or in the underlying technology?

[2018-03-14 09:16] miyconst commented on #392
Okay, waiting for it.

[2018-03-14 09:32] atifwaqar opened #393 "/signin/profile Not working as expected on warehouse.starcounter.com"
I see a blank page when I open the link http://warehouse.starcounter.com/signin/profile

[2018-03-14 09:44] Mackiovello commented on #393
Thank you for reporting! What do you expect to find on that page?

[2018-03-14 09:55] atifwaqar commented on #393
Something similar to this

![image](https://user-images.githubusercontent.com/4388707/37395291-32875d52-2776-11e8-901b-011334a11325.png)

[2018-03-14 10:04] alemoi commented on #389
I was thinking about it and the reason why other WebSocket APIs like official .NET do not provide the streaming version: it requires a custom client-side protocol because one does not know automatically how to split stream into messages.

I will check about how its done in other APIs about last frame.

[2018-03-14 21:21] SenerDemiral opened #394 "Stardump reload error! Dotnet has stopped working."
Starcounter 2.4.0.5381
Stardump 1.1.1
SQLite 0.0.7

Stardump unload OK

Stardump reload:
[code]
gives "Dotnet has stopped working"
tMax14.sqlite3 file size is ~20MB.

[2018-03-15 13:12] miyconst commented on #394
@SenerDemiral could you please check the Windows logs and see if there is a more meaningful exception available.

Does the database dump contain any sensitive information? Would you be willing to share it with me?

[2018-03-15 14:10] miyconst commented on #393
cc @warpech

[2018-03-15 14:11] erikvk commented on #389
OK.

The way I see it, without deep understanding on how WebSockets are implemented in Starcounter, is that all I need is a way to define multiple data frames for a WebSocket message. I could imagine it being implemented like this:

[code]

[2018-03-15 18:39] SenerDemiral commented on #394
Windows Logs -> Application -> Error Log:
[code]
Sqlite3 file:
[bodved.zip](https://github.com/Starcounter/Home/files/1816655/bodved.zip)

[2018-03-15 18:55] alemoi commented on #389
Yeah:

[code]
But then your client should be able to handle such split data. It will receive it in order and will need to append it simply. Probably such protocol would need to send data size first, and then needed amount of bytes, split into messages.

[2018-03-16 10:43] miyconst commented on #394
Thanks you @SenerDemiral! I have reproduced the issue and investigating it.

[2018-03-16 18:08] miyconst commented on #394
@SenerDemiral the issue is fixed now, you can try the custom build `2.4.0.5436` or wait for tomorrow's nightly build.

Again, thank you for testing and reporting.

[2018-03-16 18:08] #394 closed

[2018-03-16 18:14] miyconst commented on #390
Closing the issue as fixed. @erikvk please reopen if it's still not working.

[2018-03-16 18:14] #390 closed

[2018-03-19 06:27] per-samuelsson commented on #380
Started working on this now, and hope to have at least some idea of how to solve it later today.

[2018-03-19 13:54] per-samuelsson commented on #380
Spent the day reviewing our custom assembly resolving and the one we have for self-hosted apps in particular, and then redesigned some parts of it.

I've tested using the OP repro and it now passes locally, so when TC tests also passed, I've merged and pushed this (https://github.com/Starcounter/level1/commit/10cc3403e5c713f7c7e63374eac92557f28a0377).

Closing this as fixed for now, but suggest @m

[2018-03-19 13:54] #380 closed

[2018-03-20 16:38] joozek78 commented on #380
I confirm, that it works for me. I'm finally able to execute the database tests. Thanks for the fix!

[2018-03-21 06:08] per-samuelsson commented on #380
Great. Then @miyconst should update project accordingly.

[2018-03-21 09:48] PatrykSzwer commented on #121
What is current status of this issue? It's still happening to me all the time, and TBH I think It's one of the crucial problems with current workflow in VS with Starcounter. It's really annoying and challenging to work with code with so many problems during debugging. And besides that, It's just a little embarrassing for us, to have such issue in such important area.

![image](https://user-images.

[2018-03-21 12:10] mmnosek opened #395 "Error on 2.4 upgrade - System.UnauthorizedAccessException"
I try to upgrade SC v2.4.0.5135 to 5497 on my local machine - Windows 10. As a result, I get an exception:

![screenshot_21_03_2018__13_08](https://user-images.githubusercontent.com/4943949/37708981-ff105e9a-2d08-11e8-8dcf-0317a541fd4b.png)

I try to do it as an administrator.

[2018-03-21 12:15] chrhol commented on #395
I installed this version both on my dev laptop and on a VM running win10 and din't get this problem. I wonder what is different (and I hope it's not because of my recent changes 😊)

[2018-03-21 12:18] mmnosek commented on #395
This version installation works fine (tried after this), just upgrade didn't work. I can try upgrade once again.

[2018-03-21 12:23] mmnosek commented on #395
I tried again, and it worked smoothly. Three times back and forth... so... any ideas or should I close? I cannot reproduce anymore.

[2018-03-21 12:28] chrhol commented on #395
Lets ping @ubbeK and @iqbalskd and see what they say.

[2018-03-21 12:28] SenerDemiral commented on #395
It worked smoothly on the first time.

[2018-03-21 13:43] iqbalskd commented on #395
I tried it upgrading/downgrading couple of times, worked fine each time.

[2018-03-21 17:15] mmnosek opened #396 "Admin Panel cuts error message"
I tried to start the `SignIn` app next to the `BlendingEditor` and got some error due to `Simplified` version mismatch. This is expected. There is a problem with the error message in the admin panel, as on the screenshot:

![admin error cut](https://user-images.githubusercontent.com/4943949/37725614-a7a57d04-2d33-11e8-95a7-74297349e61a.png)

Either this message is wrong or it is somehow trimmed. @

[2018-03-22 08:06] mmnosek commented on #395
Wow, thanks guys for trying to reproduce! Unfortunately, I cannot reproduce it anymore as well. Closing. I will reopen if I find this again.

[2018-03-22 08:06] #395 closed

[2018-03-22 09:29] ubbeK commented on #396
@Mihaiii

[2018-03-22 09:32] Mihaiii commented on #396
It's most probably by design to not mess up the layout.
As long as the "View the log for more details" (with the link to the log page) is intact, I don't consider anything should be changed.
I would like to close this with the "won't fix" label unless @miyconst considers otherwise.

[2018-03-22 09:38] mmnosek commented on #396
This message looks completely unprofessional. I agree that too long message may be bad, but we cannot leave it like this. Actually, I think the best solution would be to remove custom message totally and in case of any error show: "An error occurred. View the *log* for more details" for all errors here. Do we agree?

[2018-03-22 09:56] miyconst commented on #396
@mmnosek, unfortunately we can't focus on this issue right now, would you like to fix it yourself?

[2018-03-22 10:07] mmnosek commented on #396
Nope, but I would appreciate if it can be done sometime in the future, not left as it is forever. It's low prio for me.

[2018-03-22 12:15] chrhol opened #397 "Serverside Session does not seem to be disposed after exception"
and client keeps sending request using that session.

Found by heads in `2.3.1` and reproduced it in the latest develop version.

The effect today can be one of the following (depending on when the exception is thrown):
- If the exception is thrown when changes are collected, the client will reconnect or send something and fail, over and over.
- If the exception is thrown from (for example) an inp

[2018-03-22 12:23] miyconst commented on #397
@chrhol how much time would that take to fix in `2.3.1`, `2.3.2`, and only `develop`?

[2018-03-22 12:49] chrhol commented on #397
I think I'm wrong about this, and it was my test that I misread what happened:

When client reconnects, no session is sent. The second point still holds true though.

The code doesn't differ much between versions for this part. I think the fix will be the same, so a little extra time to merge and test it for each version we add it to, but other than that it shouldn't be a problem adding it in all

[2018-03-23 08:39] chrhol commented on #397
A short update: the fix was as I suspected not that big (altough the session needs to be destroyed in a couple of places, and not just one).

I wanted to add some test for it though, but this is a bit more work. Since we  need to test the actual request pipeline you cannot write it as a standalone test, or a unittest. It needs to be a full:ish test with server and a client that connects and sends

[2018-03-23 09:44] miyconst commented on #397
@chrhol are you also implementing this test in `2.3.1`?

[2018-03-23 09:53] chrhol commented on #397
I see no problem having it for `2.3.1` as well, there is nothing that behaves differently for this test between the versions.

I will start with `2.3.2` and `develop` though to make sure my changes work properly and then cherrypick the commits to `2.3.1`

[2018-03-26 18:40] chrhol commented on #397
Pushed to `v2.3.2` and `develop` now. Not yet moved to `2.3.1`

[2018-03-27 12:45] tomalec commented on #121
Any updates? It really makes debugging a Starcounter app either
 - hardcore mouse-over Minesweeper which could stop all your apps (and debugging) when you hover the wrong piece of code,
 - once you disable property evaluation, is just pointless, as you cannot inspect a thing.

[2018-03-27 12:48] atifwaqar commented on #121
@tomalec I can feel your pain. :)

[2018-03-27 16:09] miyconst commented on #121
@bigwad is going to take this issue next week.

[2018-03-28 09:27] Mackiovello commented on #363
Information added to documentation in https://github.com/Starcounter/Docs/pull/205

Closing as done

[2018-03-28 09:27] #363 closed

[2018-03-29 11:34] miyconst opened #398 "Document Starcounter.Internal.CurrentVersion static class"
@Mackiovello please update the documentation with info about the `Starcounter.Internal.CurrentVersion` class.

[2018-03-29 11:42] Mackiovello commented on #398
This should not be documented manually. This should be part of generated documentation. See https://github.com/Starcounter/TechComm/issues/379 (internal issue)

Will close this when generated documentation is done

[2018-03-29 11:46] miyconst commented on #398
Okay. I am closing the issue then. No need to keep it around.

[2018-03-29 11:46] #398 closed

[2018-03-30 21:18] warpech commented on #313
This was fixed in LastPass add-on 4.9.0 released today.

[2018-04-03 13:40] iqbalskd commented on #391
Added a note on the top of the [old help link](https://github.com/Starcounter/Starcounter.VisualStudio/wiki/Version-compatibility) to guide to correct help page, and updated the recommended version number and help link in the build target file.

[2018-04-03 13:46] Mackiovello commented on #391
The error message is still wrong:

The probably cause is not that you have the wrong version of the extension

[2018-04-04 07:28] SenerDemiral opened #399 "Error on Creating a new project."
When the new Project created below error occurred.

Affected SC v:2.4.0.5630 & 2.4.0.5675 (Previous version Uninstalled)
Working  SC v:2.4.0.5604

Visual Studio Community 2017 v:15.6.4
VS Extension: Starcounter for Visual Studio v:3.0.0

Create Project parameters:
Starcounter 2.4 Application
Framework .NET framework 4.6.1

Error message:
The project file
'C:\Users\Sener\AppData\Local\Temp\coux011e

[2018-04-04 08:01] miyconst commented on #399
@SenerDemiral thank you for reporting, the issue will be solved soon.

[2018-04-04 08:02] miyconst commented on #399
Extra info, Visual Studio shows the following errors during the project creation:

![image](https://user-images.githubusercontent.com/6435556/38295303-d944d264-37ed-11e8-9d53-f444dd231f07.png)

![image](https://user-images.githubusercontent.com/6435556/38295314-e2799f36-37ed-11e8-90de-71f7b67b1852.png)

[2018-04-04 10:52] Mihaiii commented on #396
Closing as done.

[2018-04-04 10:52] #396 closed

[2018-04-04 11:45] Mackiovello commented on #365
`OFFSETKEY` is deprecated so this is no longer valid. Closing

[2018-04-04 11:45] #365 closed

[2018-04-04 12:24] iqbalskd commented on #399
This is  `2.4`  only issue,  `2.3`  seems working fine. This issue started in `v2.4.0.5630` on 31st March, @Mackiovello looks like you made some changes on 28th March, can you please have a look if that change caused this.

[2018-04-04 13:56] Mackiovello commented on #399
A fix is found and will be included for the next nightly

[2018-04-04 14:26] chrhol commented on #397
Backported and merged to `v2.3.1-LTS` branch now. One item left to do: publish a new version.

[2018-04-04 14:29] Mackiovello commented on #399
Changes are merged, closing this as done.

Thank you again for reporting @SenerDemiral!

[2018-04-04 14:29] #399 closed

[2018-04-04 19:57] miyconst commented on #397
@chrhol I guess you can do that by running a `2.3.1` build with generating and uploading installer set to `true`.

[2018-04-04 23:07] warpech commented on #318
Closing as tracked in #179

[2018-04-04 23:07] #318 closed

[2018-04-06 06:57] miyconst commented on #397
An LTS build `2.3.1.8415 (Apr 5, 2018 2:41:18 PM)` is available for download. Closing the issue as done. @chrhol thanks for fixing it.

[2018-04-06 06:57] #397 closed

[2018-04-06 07:04] chrhol commented on #397
Succesful build here: https://teamcity.starcounter.org/viewLog.html?buildId=52052&buildTypeId=StarcounterGeneric_StarcounterLTS231_V23NightlyWindows&tab=buildResultsDiv

Looking at the end of the build log I see that a new package was uploaded succesfully to the download server, however I don't see it on the download page. Is there some additional step that needs to be taken to bump this number? (

[2018-04-06 07:04] chrhol commented on #397
Ohh commented at the same time. I did not see this version

[2018-04-06 07:05] chrhol commented on #397
Because I'm looking at the wrong section! Just disregard the two previous comments. Considering this issue done.

[2018-04-06 07:05] miyconst commented on #308
Closing as won't fix. We are working on .Net Core code host with ASP.NET MVC Core native support, which will provide standard request/response objects.

[2018-04-06 07:05] #308 closed

[2018-04-06 07:07] miyconst commented on #233
cc @iqbalskd

[2018-04-06 09:01] bigwad commented on #121
Can someone help with a consistent repro?

[2018-04-06 14:30] miyconst commented on #121
The reproduction steps are provided via Slack.

[2018-04-09 11:16] iqbalskd commented on #233
I tried following but could not reproduce:

* Created a fresh vpc Windows 10, and Windows Server 2016 . Seems working fine on both.
* Created a user on Windows Server 2016, with basic user rights, seems working fine too. It asks for administrator password though.

Feel free to re-open and assign it to me if someone still facing it.

[2018-04-09 11:16] #233 closed

[2018-04-10 11:23] Razkan opened #400 "Uploading manually a new version to warehouse locks the website during the upload time."
Anytime I manually upload a new build version to the warehouse, the website is locked. We've tried to access the website from two different computers simultaneously during the new version is being uploaded.

**Reproduce**:
1. Create a new version for your application.
2. Go to warehouse.starcounter.com, and orient to the specific application.
3. Use the "UPLOAD VERSION..."
4. Upload your file
5. U

[2018-04-11 07:27] miyconst commented on #121
Unfortunately no, @bigwad is currently working on another important issue, then will switch to this one.

[2018-04-12 08:16] miyconst commented on #384
I guess, it's as easy as:

- Install latest 2.4.
- Go to the installation folder.
- Search for the `Simplified` files.
- Make sure there is none.

I just tested with:

- `Starcounter-RC-2.3.2.922`, the `Simplified.Data.Model.dll` **is there**.
- `Starcounter-Develop-2.4.0.5827`, the `Simplified.Data.Model.dll` library **is not there**.

Closing the issue as completed. @warpech please reopen if I m

[2018-04-12 08:16] #384 closed

[2018-04-12 08:35] Mackiovello opened #401 "Internal property in database class fails with surprising exception"
[code]

Throws on start:

[code]

I expected `ScErrNonPublicFieldNotExposed (SCERR4285)`

Starcounter 2.4.0.5815

[2018-04-12 12:08] miyconst commented on #401
cc @per-samuelsson

[2018-04-12 12:50] per-samuelsson commented on #401
Looks like there is some problem when error message is marshaled from tooling -> VS. Do you see a `ScErrNonPublicFieldNotExposed` in the log at least?

[2018-04-12 13:27] Mackiovello commented on #401
Yea, these are in the log:

[code]
[code]

[2018-04-12 13:44] per-samuelsson commented on #401
OK, then my assumption was right. Something is buggy in marshaling errors between processes then.

I guess I need to schedule this to fix it, but unsure how to prio. @miyconst, you decide please 😄

[2018-04-12 13:48] miyconst commented on #401
Sure, feel free to ignore the issue for now.

[2018-04-16 09:33] bigwad commented on #121
The scenario the @miyconst shared with me though slack is fixed in 2.3, but not yet fully merged to develop. Honestly, I don't expect it covers all cases, so I'm asking all interested to give it a try and publish a repro scenario if it still hangs.

[2018-04-16 09:35] miyconst commented on #121
@bigwad thank you for fixing, I will get back with more reproduction steps later today.

[2018-04-16 10:03] PatrykSzwer commented on #121
Here are detailed steps to reproduce this annoying issue:
0. Make sure that you have option: `Enable property evaluation and other implicit function calls` in Visual studio enabled (You can find it in Debug -> Options -> General in Debugging section which should be opened already by default)
1. You will need [SignIn](https://github.com/Starcounter/SignIn) app (branch: `master-2.4`) and Blending ap

[2018-04-17 17:14] un-tone commented on #182
It's not. There is just [an error in the printing](https://github.com/Starcounter/level1/blob/cc97a436146c6b7d45a39555ac249a46637b63a7/src/Starcounter.QueryProcessor/Query/Execution/Ranges/DecimalDynamicRange.cs#L225).

[2018-04-17 19:30] miyconst commented on #121
@bigwad did you really mean to close this issue?

[2018-04-17 19:57] bigwad commented on #121
No, it got closed by mistake. I'm still working on the latest reproduction scenario.

[2018-04-18 08:30] Razkan opened #402 "Settings database attribute to an interface gives weaver exception"
According to the DatabaseAttribute the following usages of the attribute is allowed:

`[AttributeUsage(AttributeTargets.Assembly | AttributeTargets.Class | AttributeTargets.Interface, AllowMultiple = false, Inherited = true)]`

When I test the interface in the following manners:

`
[Database]
public interface Execute
{
    void Run();
}
`
`
public class A : Execute
{
    public void Run()
    {

[2018-04-18 12:58] miyconst commented on #402
This is a bug, the `[Database]` attribute is not supported for the interfaces. Thank you for reporting, it will be fixed in the later versions of Starcounter.

cc @per-samuelsson

[2018-04-18 13:04] per-samuelsson commented on #402
Actually, I think I once implemented support for that, and hence `AttributeTargets.Interface` is set. But maybe there is a bug, or the error came from something else. I can investigate it eventually.

Simplest thing would o/c be not to support it on interfaces though.

[2018-04-18 19:04] miyconst commented on #182
@un-tone please remember to update the change log.

[2018-04-19 13:10] tomalec commented on #378
Is there anything new regarding this? We spend like an hour today shuffling `msbuild` versions and installations, to figure this out again.

[2018-04-19 20:25] un-tone commented on #182
Updated the changelog. Closing as done.

[2018-04-19 20:25] #182 closed

[2018-04-22 23:14] erikvk opened #403 "Underscores in database names"
Here's a strange one. Adding underscores to database names in `--database` debug command line arguments will generate a totally unexpected runtime error complaining about body assignments to `Response` objects (of all things).

Here's my project's debug settings in VS:

![screen shot 2018-04-23 at 01 00 32](https://user-images.githubusercontent.com/16880339/39100888-bf49c89e-4691-11e8-9b47-0dd7105

[2018-04-23 07:04] Mackiovello commented on #403
This is the same exception but for a different issue as https://github.com/Starcounter/Home/issues/401

It seems like somethings up with the error handling. If you look in the log, you should find the correct issue.

[2018-04-23 12:07] bigwad commented on #121
I've made a good progress in understanding the issue. This gist is that [Debugger.NotifyOfCrossThreadDependency](https://msdn.microsoft.com/en-us/library/system.diagnostics.debugger.notifyofcrossthreaddependency(v=vs.110).aspx) doesn't work if calling thread holds a lock obtained with the [Monitor](https://msdn.microsoft.com/en-us/library/system.threading.monitor(v=vs.110).aspx) class. Worth to me

[2018-04-23 12:47] miyconst commented on #121
Are you going this way? How long time it will approximately take?

[2018-04-23 13:06] bigwad commented on #121
It's a simple fix, but I have to review performance implications and make sure it actually helps.
I hope I'll finish it today.

[2018-04-23 13:08] atifwaqar commented on #121
@bigwad will this fix be in 2.3.1.7294 and 2.4.xxxx both?

[2018-04-23 13:09] miyconst commented on #121
The fix will be in `2.4.0.xxxx` only.

[2018-04-23 13:18] atifwaqar commented on #121
Still good enaough :)

[2018-04-23 22:22] erikvk opened #404 "Schema change in Starcounter.HtmlViewAttachment"
I'm getting this error when upgrading an application from `2.3.1` to `2.3.2`:

[code]

I understand that I have to manually run `ALTER TABLE` commands after schema changes on `2.3.2`. With my own db classes, this is easy to manage. Am I required to write `ALTER TABLE` commands for Starcounter's own tables as well?

**Update 1:**

Also this:

[code]

**Update 2:**

After running commands:

`ALTER T

[2018-04-23 22:39] erikvk commented on #404
Also:
[code]

[2018-04-23 23:49] bigwad commented on #121
Fixed in builds > `2.4.0.5951`. Please try it out.
Switching from `Monitor` to `SemaphoreSlim` wasn't that straightforward due to recursive locks, permitted by `Monitor`. Also `SemaphoreSlim` was noticeably slower. So I ended up with a custom interlocked-based synchronization primitive, which is almost on par with `Monitor`.

[2018-04-24 08:10] miyconst commented on #404
@erikvk thank you for reporting, `Starcounter.HtmlViewXxxx` is not a meta data table, it contains information for blending between the apps. In this case you have to manually perform the `ALTER TABLE` statements manually.

If you ever receive any such error about `Starcounter.Metadata.Xxx` or `Starcounter.Internal.Metadata.Xxx` tables - then it's a bug, please report.

Closing the issue as answere

[2018-04-24 08:58] erikvk commented on #404
This is actually a problem for us right now. We distribute apps over the Starcounter App Warehouse, and now upgrades through the warehouse will stop working. I will have to write a separate guide on how to go to 2.3.2. Our customers are often not familiar with SQL.

The best solution to all this would be if I could include a text file with the warehouse package, containing SQL commands that are ru

[2018-04-24 11:35] PatrykSzwer commented on #121
Checked with the custom build https://teamcity.starcounter.org/viewLog.html?buildId=54033&tab=buildResultsDiv&buildTypeId=Starcounter_DevelopDailyWindows

Unfortunately, It's not working. Not even the issue itself, but I just can't run debug in the Blending app. It starts for a few seconds and then just shutting down (after that I can't even stop the database, I have to use kill all command. `Data

[2018-04-24 12:12] PatrykSzwer commented on #121
Errors that I got by running `run.bat` file:
[code]

[2018-04-24 13:29] miyconst commented on #121
I confirm the issue. @bigwad please investigate.

[2018-04-24 13:44] bigwad commented on #121
@PatrykSzwer, it's due to other changes. Please try the workaround: https://github.com/Starcounter/level1/issues/4619#issuecomment-383935249

[2018-04-24 23:46] atifwaqar commented on #77
We got hit by this issue out of no where on one of our live server. Any idea why this issue occurs? and how to prevent this issue in future?

@alemoi Thanks for the solution, your provided solution fixed the issue for me :)

[2018-04-25 11:34] miyconst commented on #121
@PatrykSzwer confirms that debugging with Visual Studio works. Big thank you to @bigwad for the fix.

Closing the issue for now. Will reopen if another hanging case found.

[2018-04-25 11:34] #121 closed

[2018-04-26 10:33] PatrykSzwer opened #405 "Outdated template for Starcounter html file"
I just noticed that right now, when you create new html view trough visual studio and our templates, you will get file with content like this:
[code]

which in case of SC 2.4 is outdated (and not working) since:
1. `<link rel="import" href="/sys/polymer/polymer.html"> is not needed at all.`
2. We're using nomenclature compatible with Polymer 1 and 2, so proper template should look like this:
[code

[2018-04-26 10:41] alshakero commented on #405
This is done but unmerged in https://github.com/Starcounter/Starcounter.VisualStudio/pull/37

[2018-04-26 11:02] alshakero commented on #405
https://github.com/Starcounter/Starcounter.VisualStudio/pull/37 is merged.

[2018-04-26 14:08] alshakero opened #406 "Add mime type for appcache static files"
To support [ApplicationCache](https://developer.mozilla.org/en-US/docs/Web/HTML/Using_the_application_cache) in our apps, we need to add a manifest file that has the extension `.appcache`. Browsers don't respect this file unless it's served with the correct `Content-Type` header.

So please add this new MIME to our static file server:

Extension: `appcache`
MIME-Type: `text/cache-manifest`

For mo

[2018-04-26 16:40] warpech commented on #405
@Mihaiii, @ubbeK, @iqbalskd how come the previous solution for this issue was lost? We already fixed this once in a PR to `develop` in January (https://github.com/Starcounter/Starcounter.VisualStudio/pull/26).

There was a big debate to get that change released to VS marketplace.

PR https://github.com/Starcounter/Starcounter.VisualStudio/pull/37, on the other hand, was made to `master`.

Does it

[2018-04-26 21:36] un-tone opened #407 "IndexScan with Binary property comparison works improperly"
Filtering by Binary property does not work when it is indexed.

I have a test app:

[code]

If I call `/test` when the index exists, it returns `1` - error. If I call it after dropping the index it returns `0` - correct.

[2018-04-26 21:56] alshakero commented on #405
I thought I was delusional tbh. I remember the January change.

[2018-04-27 01:12] ubbeK commented on #405
I am kind of lost when it comes to this extension as I never use it. I remember that I had to go in and redo a lot of changes, and then @iqbalskd released a version `3.X` which is compatible for both Sc 2.3 and 2.4

[2018-04-27 07:39] bigwad commented on #121
as stated earlier:

[2018-04-27 08:27] Mihaiii commented on #121
^Sorry, I missed that info.
I tried to reproduce it with >2.4.0.5951 and everything works fine.
Thank you for the fix!

[2018-04-27 10:46] warpech commented on #406
Can we pls have this in 2.4? It should be few minutes of work.

[2018-04-27 12:04] alemoi commented on #406
Sure, I will do that! Is it only for 2.4 I hope?

[2018-04-27 22:46] alshakero commented on #406
Works like a charm! Thanks a lot.

Closing as done.

[2018-04-27 22:46] #406 closed

[2018-04-30 11:34] SenerDemiral opened #408 "What is wrong with download page since 25 of April?"

[2018-04-30 12:00] Mackiovello commented on #408
We have some trouble with our download server. It's fixed now though, all the versions that should be available are available. Don't hesitate to create a new issue if you face a problem again.

[2018-04-30 12:08] SenerDemiral commented on #408
It is not fixed though
[code]

[2018-04-30 12:09] Mackiovello commented on #408
You're completely right. Reopening

[2018-04-30 16:59] SenerDemiral commented on #408
It is working now.

[2018-04-30 16:59] #408 closed

[2018-05-02 10:19] malx122 opened #409 "Automatic binding to nullable types in Json"
Starcounter database supports nullable types like
`public DateTime? MyTime {get;set;}`
But the automatic binding with Json does not support those.
It would be good if that could be fixed.

[2018-05-03 08:00] k-rus commented on #409
@miyconst can you comment about the status of this issue here?

[2018-05-03 09:38] miyconst commented on #409
It would be good if that could be fixed.

It's not yet decided how, but this feature will be implemented in Starcounter Nova. Starcounter 2.3 and most likely 2.4 won't be enhanced.

[2018-05-03 21:40] bigwad commented on #209
Spent some time on this upon @un-tone's request to figure out the best way to refactor Anton's latest changes. My conclusion is simple - let's keep away from this. Unless we have guts to redesign half of the query processor, including Prolog parser.

Why is that?
First, this PR solves only part of typing problems, all of which have the same roots: incomplete type inferring in Prolog and limited ab

[2018-05-04 07:16] un-tone commented on #209
Thank you, @bigwad, for the investigation. Agree with your conclusion.

[2018-05-04 08:12] bigwad commented on #209
We still shouldn't forget about issue reported by @Mackiovello earlier in this thread: https://github.com/Starcounter/Home/issues/209#issuecomment-335273556

Though it is not about inappropriate type conversion - it's about we not respecting our own decimal limitations when performing calculations. I think we should do it in a separate issue.

Also, timebomb icon can be removed I think, as the mos

[2018-05-04 11:22] gsimion opened #410 "Tests with database access crash starcounter service"
Version: 2.4.0.6025.
I am experiencing problems when running the tests with database access while the starcounter service is running as local service. The tests have been written following the [documentation ](https://docs.starcounter.io/v/2.4/how-to-guides/how-to-write-tests-with-database-access) available translated to a NUnit context.
[code]
I am running with full administrator credentials. Whe

[2018-05-04 14:40] Mihaiii opened #411 "Windows Defender SmartScreen prevented an unrecognized app from starting."
Yes, I will click on "Run anyway", but this would scare new devs that want to try SC.
Few days ago I didn't had this message (on another SC version) and I haven't changed any settings in the meantime. It would be nice if someone would confirm, though.

![smartscreen](https://user-images.githubusercontent.com/8951553/39633856-7972b7d2-4fb9-11e8-8cc0-849e0a6cc271.png)

---

Full text copy/paste for

[2018-05-04 14:48] SenerDemiral commented on #411
It happened to me.

[2018-05-04 15:02] alemoi commented on #411
Hmm, maybe there is some problem with signing certificate on the installer? I remember @ubbeK said something about incomplete rights on the new certificate that we had to re-obtain?

[2018-05-04 17:59] un-tone commented on #209
https://github.com/Starcounter/level1/issues/4631

https://github.com/Starcounter/level1/issues/4630

[2018-05-05 06:44] Mackiovello commented on #411
@ubbeK wrote a text about this in the urban-starteam channel on Slack. This is temporary and a fix should be in place early next week.

[2018-05-07 06:39] ubbeK commented on #411
We have ordered a new code signing certificate which will not have this issue. It should be delivered to us this week.

[2018-05-07 07:00] miyconst commented on #410
cc @per-samuelsson

[2018-05-07 07:38] per-samuelsson commented on #410
Assuming this `StarAdminCli` class is similar in semantics to how `TestSetup` is sampled in referenced documentation, I can't see any obvious problem in the code.

To fully find out what causes this, we need to setup an environment and step through to see where the inconsistency occur. How urgent is it? And @miyconst, do you want me to do that? It's probably a pretty general thing relating to proc

[2018-05-07 07:43] miyconst commented on #410
@per-samuelsson this is quite important, but I will first setup the test environment and try to reproduce it.

[2018-05-08 09:59] miyconst commented on #410
I have reproduced the issue and have a clean VM where it can be investigated. Will share the credentials on Slack.

[2018-05-09 08:54] per-samuelsson commented on #410
Not having any great success with this, but I start to suspect it's not necessarily related just to testing.

Looking at last section in the OP:

Faulting application name: scnetworkgateway.exe, version: 0.0.0.0, time stamp: 0x5ae70818
Faulting module name: ucrtbase.dll, version: 10.0.16299.248, time stamp: 0xe71e5dfe
Exception code: 0xc0000409
Faulting application path: C:\Program Files\Starcount

[2018-05-10 08:12] alemoi commented on #410
Tried the same - no failure, the service and Admin runs properly.

Nothing in logs you have?

[2018-05-10 09:58] alemoi commented on #410
I have investigated the issue and it seems related to different privileges, since Starcounter is running as a service.
Isn't it a known issue related to shared memory segments?
![image](https://user-images.githubusercontent.com/208134/39863987-96262bd2-5448-11e8-8355-63fdec01a1e4.png)
Basically `scnetworkgateway` can't attach to shared memory segment made by `sccode`, maybe because its running und

[2018-05-10 11:49] per-samuelsson commented on #410
Well, in this particular story, I think it's like this:

1. All servicing processes (e.g. gateway, shared host, scdata) will be running in session 0.
2. The testing process (and "self-host") is running in user mode.

In fact, we never tested such case I think. I imagined that if you configure Starcounter to install in production mode, that means you would not run unit testing.

[2018-05-11 06:03] k-rus commented on #404
If I don't mistake it is a table created and used by Starcounter product. It is not a user table and thus users are not supposed to fix Starcounter's table. IMHO this is a bug, which simple work around. IMHO it should be documented in the release notes together with the work around and it should not appear in the future releases.

I reopen the issue. cc @miyconst @dan31

[2018-05-11 16:04] PatrykSzwer commented on #404
I talked with @miyconst and created a PR to documentation with information about this bug and how to deal with it: https://github.com/Starcounter/Docs/pull/222 Due to fact that SC 2.3.1 and 2.3.2 are already released I believe this is the best thing we could do right now.

[2018-05-14 05:54] k-rus commented on #404
We also need to prevent from this bug to happen in new releases.

[2018-05-14 09:43] PatrykSzwer commented on #404
PRs with documentation about this are already merged. I'll leave decision about closing/pushing forward this issue to @miyconst.

[2018-05-14 10:56] miyconst commented on #404
[Migrating From Starcounter 2.3.1 to 2.3.2 troubleshooting](https://docs.starcounter.io/cookbook/migrating-from-2.2-to-2.3+#migrating-from-starcounter-2-3-1-to-2-3-2-troubleshooting).

[2018-05-14 22:08] erikvk opened #412 "Scheduled websocket upgrades get the wrong IDs"
When scheduling a `System.Action` that contains an invokation of `Request.SendUpgrade()`, using `Scheduling.RunTask()`, the resulting WebSockets do not get their proper IDs. Here's a test application:

[code]
Using [`wscat`](https://www.npmjs.com/package/wscat), the following requests will set up WebSockets – the second one sending the upgrade from a scheduled task.

[code]

When disconnecting the

[2018-05-14 22:09] erikvk commented on #412
cc @alemoi probably

[2018-05-14 22:12] erikvk commented on #412
`Version=2.3.2.930`

[2018-05-15 10:45] miyconst commented on #404
This issue only appears when migrating a database created with Starcounter older than `2.3.1` to Starcounter `2.3.2`. Still, we will try to avoid such situations in the future.

Thanks @erikvk for reporting and @PatrykSzwer for documenting.

[2018-05-15 10:45] #404 closed

[2018-05-15 12:44] k-rus opened #413 "Writing to console is missing on second run of an application"
I have following application for some testing purpose:

[code]

When I run in empty database from command line, I see this output:
[code]
If I run it again, which restarts the app, the console is empty. The output after the both runs
[code]

If I stop the app, attach debugger, start the app, hit a break point and continue, then the output contains the expected two lines.

It looks like a bug.

I u

[2018-05-15 12:51] per-samuelsson commented on #413
Nothing really helpful I'm afraid. I too have noticed from time to time random occasions where output routing don't seem to work properly, but never anything consistent. It's nothing new either, I've seen it for years I think.

If I remember correctly, it's  implemented now using some web-socket mechanism that writes from host to interested tools (like `star` and `staradmin`) and those write it to

[2018-05-15 13:00] miyconst commented on #413
I confirm the issue, just have experienced the same thing. Will see how to prioritize it.

[2018-05-15 13:30] SenerDemiral opened #414 "How to move objects with the IDs from one DB into another"
I want to copy some objects/records from one DB to another DB (via write to file and read from file)
without changing ObjectNo. Like you do in StarDump.
(FirstObjectID of AnotherDB is greater than lastObjectID of FirstDB)
Can I do that?

As far as I know, App can't connect more than one DB.
Is it correct?

[2018-05-16 11:11] miyconst commented on #414
@SenerDemiral thank you for the question.

As of now there is no high level API to insert an object with ID. You still can use StarDump to perform such actions. We may also expose this API if it's really needed.

No, it's not possible to run a single application in multiple databases at the same time. Still, you can connect to a foreign Starcounter database using [OdataApi](https://github.com/Star

[2018-05-16 11:41] SenerDemiral commented on #414
In accounting, each account closes with balance at the end of year and the new year begins with these records and other description tables.
Previous year are closed and marked as read-only.
So the current year is not tied to the previous year.

I mean, I need such an API.

[2018-05-16 11:45] miyconst commented on #414
Is it something you need to perform all the time, or it's a one time migration/merging of two databases?

[2018-05-16 11:46] SenerDemiral commented on #414
All the time, at least one per year.

[2018-05-16 11:47] miyconst commented on #414
Could you please describe the situation better, please? It sounds like you are creating and merging the databases every year.

[2018-05-16 11:49] alemoi commented on #412
Thanks @erikvk for the bug! I have found an issue with scheduling and websockets. I will fix that websocket is completely scheduler-agnostic in 2.4. But for 2.3 the recommendation is that you don't `SendUpgrade` from a different scheduler. Is that something we can deal on @erikvk or that is not satisfactory?

[2018-05-16 12:07] SenerDemiral commented on #414
Account definitions can not change in year.
Because all data send to government electronically in every month.
All year data send to the government again at the end of year.
Year Data is a unity.
Next year starts with balances as a new company.

[2018-05-16 12:31] miyconst commented on #407
@un-tone could you please also provide the query plan, for both cases?

[2018-05-16 13:35] miyconst commented on #414
Sorry, I still don't get why it's important to merge the databases and keep the object IDs.

[2018-05-16 14:04] erikvk commented on #412
Thanks @alemoi . That works fine for me!

[2018-05-16 17:51] alemoi commented on #412
@erikvk thanks, just let me know if something else should be checked/fixed.
Forgot to mention the commit with a fix in 2.4: 419577193f0ec60ae3e5c6cd5d579b419b85784c

[2018-05-16 17:51] #412 closed

[2018-05-16 18:31] miyconst commented on #414
Sorry for not being clear enough.

I would like to understand the reasoning for this. What makes it *a must*? Is it for historical purposes not to populate working database? What is the purpose for transferring the records? Why StarDump does not work for this case?

[2018-05-16 20:03] miyconst commented on #414
Okay, do you need to move those objects to a single historical database or every year it's a new one? Why StarDump is not applicable here? It's possible to execute unload/reload on a live database.

[2018-05-16 21:14] SenerDemiral commented on #414
There is one DB for each year.
In Current DB have summary records and other tables of previous year.
I try to figure out using StarDump with required table selection.

How StarDump ReLoad behave when the records exists?

[2018-05-17 06:45] k-rus commented on #414
Thank you for explaining your application.

May I suggest another implementation design:

1. At the end of the year the database is copied/backed up instead of creating new database.
2. The application logic doesn't allow to modify data if they are from the previous year.
3. Data from previous years are deleted when they are not needed, since a copy of the database already exists.

So the main ide

[2018-05-17 06:47] k-rus commented on #414
I see one drawback with the approach I suggested is that refactoring of the database schema becomes more complex. Note that we are working on a tool, which should simplify the task of refactoring.

[2018-05-17 07:26] SenerDemiral commented on #414
Thank  you @k-rus.
My suggestions:
1. At the end of the year the database is copied/backed up.
2. ReLoad to New DB. (Because user wants to access older ones)
3. Data from previous years are deleted when they are not needed in NewDB.
4. There can be last minute correction on previous DB and should be copied these changes to NewDB which is already using by other users.

In fact, I want to access mor

[2018-05-17 12:31] RickardR commented on #121
2.4.0.6057
![image](https://user-images.githubusercontent.com/15194364/40177428-e3e57eb8-59de-11e8-8e18-aee5dbeb7be3.png)

I have a dump of sccode.exe i can share through dropbox if needed

[2018-05-17 12:37] bigwad commented on #121
@RickardR,
yes, please do so. Also, would be great if you could share binaries involved.

[2018-05-17 12:56] RickardR commented on #121
Posted links in our hotline channel (doctrin) in SC Slack.

[2018-05-17 13:49] bigwad commented on #407
@un-tone, I seem to fix the issue: https://github.com/Starcounter/level1/pull/4637. I don't want to bother with updating tests while you're working on https://github.com/Starcounter/level1/pull/4636
Also, as I remember you developed one when you worked on another issue. Could you add it this PR?

[2018-05-17 14:15] miyconst commented on #414
@SenerDemiral thank you for the explanation. It seems like connecting to multiple databases and moving objects preserving their IDs is not the best design, but I might not see the whole picture and be wrong.

Here are some answers for your questions:

Inserting a record with an id, which was already taken will result into a crash.

StarDump has a special argument `--reassignobjectno` which allows

[2018-05-17 15:27] miyconst commented on #414
That's true. Connect to a database and be inside the database are different things though. A single stored procedure may belong to a single database. Another database may have a copy of it, but not the same instance.

[2018-05-17 15:35] k-rus commented on #414
My suggestion is one possible work around. IMHO the proper solution is to store all the data in a single database, since you want to keep read access to historical data and possibilities for corrections for recent archived data in addition to the operational data. This approach requires that application implements control to the data that historical data are not updated.

Have you met any limitati

[2018-05-17 18:41] SenerDemiral commented on #414
I want to give simple example about accounting to clarify.
[code]
[code]
One senario about deletion:
Previous year company worked with IsBank Branch#23456 but current year not.
User wants to delete this entry because never work again. (There is no AccDetails record depends on this)
This deletion is impossiple if we store all the data in a single database.

One senario about modification:
Company o

[2018-05-17 19:56] SenerDemiral commented on #414
Final notes.
I'm about to start a new project about factory production planning.
It is a big project (for me).

Hierarchical product structure (raw material -> semi products -> products),
Order Chain Management (Buying and Selling),
Accounting,
Cost accounting,
Preliminary accounting (order, waybill, invoice)
Personnel Management.

I am not sure enough that I am able to write this project using St

[2018-05-18 05:44] k-rus commented on #414
I will some other ideas and thoughts about your scenario. My aim is not to convince you to stay with Starcounter or solve your problem, but I just want to share my thoughts, which I got when I read your requirements.

IMHO, data  should never be deleted, but access to data should not be given. So the particular group of users cannot see the data, or some users can specify that the data are not vis

[2018-05-18 06:30] SenerDemiral commented on #414
Yes, I really need "good luck".
Thanks @k-rus.

[2018-05-18 14:56] alemoi commented on #410
After fixing the shared memory problem, there is another one appeared, seems totally unrelated: https://github.com/Starcounter/level1/pull/4638#issuecomment-390224418
CC @per-samuelsson if you know anything about it.

[2018-05-18 19:36] un-tone commented on #407
@bigwad, added the test.

[2018-05-21 05:55] per-samuelsson commented on #410
See comment in PR.

[2018-05-21 13:21] PatrykSzwer opened #415 "Cannot create new default database: System.IO.IOException: Cannot create a file when that file already exists"
During maintenance of our virtual machine which hosts kitchensink demo, I wanted to update starcounter to the newest version. To achieve that I:
1. removed already existing database by calling `staradmin delete db default`
2. Downloaded and installed/updated newest version of SC (2.4.0.6146)
3. Run server and called: `staradmin new db default DefaultUserHttpPort=80`

After 3rd step I got errors:
!

[2018-05-21 21:35] SenerDemiral opened #416 "Data transfer between Windows client and Starcounter DB using gRPC."
Does anyone have worked on this?
I need a clue.

Client received 20K messages/sec from streaming gRPC server on same machine.
But same client received 10K messages/second with gRPC in Starcounter App.
Is there any other alternatives to write server side with gRPC which read/write working SC DB?

[2018-05-22 06:54] miyconst commented on #414
Unfortunately, this is true. If you are interested, we may have a discussion outside of GitHub (or another GitHub issue) and see how we may collaborate and help you with the project.

[2018-05-22 07:21] SenerDemiral commented on #414
With pleasure, thank you @miyconst .
May we use eMail?

[2018-05-22 07:32] miyconst commented on #414
For sure, you can mail me at: `kostiantyn.cherniavskyi@starcounter.com`.

[2018-05-22 07:56] habib535 opened #417 "Webmethod Exception inside Db.Transact breaks the code host"
In the following sample, we have a rest call that breaks the starcounter host process and we have to restart the server. As a temporary solution we have wrapped the rest call inside `try ` `catch`. Nothing is logged in the server logs.

[code]

[2018-05-22 08:06] bigwad commented on #121
Starting from `2.4.0.6159` I made a change that allows debugger more or less safely interrupt hung evaluation. It means that you might still get above error message, but it won't be fatal for a process being debugged. In particular, you'll be able to:
1. continue execution
2. re-evaluate value by pressing
![image](https://user-images.githubusercontent.com/2953584/40349622-7062908a-5da7-11e8-8d79-5

[2018-05-22 08:25] miyconst commented on #121
@RickardR could you please validate?

[2018-05-22 09:01] RickardR commented on #121
@miyconst @bigwad  I'll do it as soon as possible, working on a release right now but I'll try to upgrade and play with it asap

[2018-05-22 09:30] miyconst commented on #417
@habib535 thank you for reporting, here are a few things:

1. Making a REST call inside a transaction is not a good idea. The transaction can be re-tried in case of a conflict, and the REST call will be executed multiple times.
2. Are there crash dumps available?
3. From the URL `http://localhost:8080/RestMethod`, I can guess, that the REST call is made to Starcounter served app. Could it be that

[2018-05-22 09:33] miyconst commented on #415
@PatrykSzwer thank you for reporting. This happens when the old `default` database files failed to completely delete.

Do you still have the environment to test with?

[2018-05-22 09:40] miyconst commented on #416
@SenerDemiral thank you for the question, could you please specify more broader description?

This does not sound very efficient. What is the reason to use RPC if the client and the server are on the same machine?

What is the `Windows client`? Is it a WPF application or?

[2018-05-22 09:41] habib535 commented on #417
Good point, we are going to refactor the code but what was painful is that the server went down.

Where to find?

REST call is a 3rd-party api (fortnox).

[2018-05-22 10:03] miyconst commented on #417
[Collecting User-Mode Dumps](https://msdn.microsoft.com/en-us/library/windows/desktop/bb787181(v=vs.85).aspx).

[2018-05-22 10:03] miyconst commented on #417
Can you please reproduce the issue with a minimal example?

[2018-05-22 10:16] habib535 commented on #417
In the above sample code, the code host will crash on executing `/RestException` endpoint. You want sample code with Fortnox api?

[2018-05-22 10:37] bigwad commented on #417
It was discussed in https://github.com/Starcounter/Home/issues/51
As we don't have exception filters or any sort of exception handling middleware, the only thing we can do is left an exception unhandled thus crashing a hosting process.

[2018-05-22 10:55] bigwad commented on #417
Can't reproduce given the code above. @habib535, ss there a crash dump of sccode process?

[2018-05-22 11:05] mtornwall commented on #417
@bigwad I think this is a different problem. A breakpoint is hit due to heap corruption in `sccoredb!free_transaction()`.

[2018-05-22 11:07] bigwad commented on #417
I agree. I missed the fact that host crashes only when inside Db.Transact. Now, I'm waiting for a dump or additional repro details as I can't reproduce it locally.

[2018-05-22 11:34] habib535 commented on #417
`Version=2.4.990.86`

![restexception](https://user-images.githubusercontent.com/2991381/40359968-c1266920-5dc4-11e8-8441-2029fc2168e2.gif)

[2018-05-22 12:06] PatrykSzwer commented on #415
Unfortunately, I wanted to fix this ASAP so Kitchensink demo would be accessible again, but I assume that It should be possible to reproduce it again on that machine. Here is the instruction how to access it:
https://github.com/Starcounter/KitchenSink/blob/master-2.4/CONTRIBUTING.md#how-to-deploy-to-kitchensinkstarcounterio

[2018-05-22 12:46] miyconst commented on #415
Okay, putting the issue on hold for now.

[2018-05-22 12:47] miyconst commented on #417
@habib535 please collect the crash dumps.

[2018-05-22 14:03] miyconst commented on #417
I just have reproduced the error, and it does not generate the crash dumps.

[code]

[code]

Step to reproduce:

1. Install `Starcounter-Develop-2.4.0.6159 (May 22, 2018 12:59:55 AM)`.
2. Create a new empty database.
3. Create a file with the content of the application above.
4. Start the file with `star FileName.cs`.
5. Navigate to `http://localhost:8080/ManualException` and make sure that an exc

[2018-05-22 14:40] bigwad commented on #417
I also managed to reproduce it. Strange, but it crashes only in the release build. That's why I failed before.

[2018-05-22 16:55] bigwad commented on #417
Found the culprit - it's this commit by @Mackiovello: https://github.com/Starcounter/level1/commit/7fcc96780306297a66715a0cb4baed96580c84a6

In this change interop calls to kernel were extracted into separate package. But the problem is that original kernel calls did more than just calling the kernel, in particular they did this:
[code]

Tomorrow I'll look through all calls and make appropriate ch

[2018-05-22 20:50] miyconst commented on #417
Should there be a test for this case as well? Can @Mackiovello implement such?

[2018-05-23 10:06] bigwad commented on #417
Fixed.

We can't directly test what we actually need to test - that certain kernel functions are called when the current thread is attached to a scheduler. To test that properly we have to tie interop functions with level1 scheduling or introduce some DI points to interops, which I guess we don't want to do. Then the easiest test would be indirect - to see if something goes wrong (like a crash) in

[2018-05-23 10:06] #417 closed

[2018-05-23 14:22] miyconst commented on #414
@SenerDemiral can we close the issue as answered or you still need a solution to move objects with their IDs?

[2018-05-23 15:43] SenerDemiral commented on #414
I will search different way to solve my problem.
Thank you.

[2018-05-23 15:44] #414 closed

[2018-05-24 13:01] k-rus opened #418 "Binary constant with odd number of hexadecimal digits is incorrectly processed"
[Starcounter's SQL](https://docs.starcounter.io/guides/sql/literals#binary) supports binaries with even or odd number of hexadecimal digits, e.g.:
[code]
Many DBMS supports only binaries with even number of hexadecimal digits, i.e., `BINARY '12AB'` is accepted and `BINARY '2AB'` is syntactical error. Some DBMSs support both and, if I don't mistake, they pad `0` on the left, i.e., `BINARY '2AB'` is

[2018-05-29 10:53] kegor opened #419 "Tokens are case-insensitive now?"
Hi guys, while reproducing https://github.com/Starcounter/Blending/issues/210 on SC 2.4.0.6170 I found the following issue: all URIs mapped on the similar tokens which differ only in a register of the symbols are called now. You can run this isolated test in the `Main` method of the standard SC application which was made from the template and it will fail:
[code]
I didn't find the answer in the do

[2018-06-01 14:16] Joltrix opened #420 "Tokens are case-insensitive now?"
Hi guys, while reproducing https://github.com/Starcounter/Blending/issues/210 on SC 2.4.0.6170 I found the following issue: all URIs mapped on the similar tokens which differ only in a register of the symbols are called now. You can run this isolated test in the `Main` method of the standard SC application which was made from the template and it will fail:
[code]
I didn't find the answer in the do

[2018-06-01 15:14] #420 closed

[2018-06-06 11:11] alemoi commented on #419
Thanks for the question! Tokens and URIs were always case-insensitive. Most of them is just text coming from e.g. `blend.json` with all the consequences requiring URIs, tokens, contexts to be case-insensitive.

[2018-06-06 18:56] alemoi commented on #419
The reason is because Person, person, PERSON is the same thing. Let me know if I answered your question, @kegor

[2018-06-06 19:42] kegor commented on #419
Yeah @alemoi all sounds logical and reasonable, thank you, I'm closing this issue.

[2018-06-06 19:42] #419 closed

[2018-06-11 10:22] jedynykaban opened #421 "(Re)move "IResource" from Starcounter.Internal.dll due to unit test problems"
Hi, I'm covering my code with unit test, but have "silly" problem with automatically generated JSON descendant classes (strongly typed JSON code behind is really great). Whenever I want to check property of any particular JSON, test project asks me to and Starcounter.Internal.dll (and then all dependencies), and then that cause that Unit Tests project became no longer "unit test" but "starcounter"

[2018-06-11 14:36] PatrykSzwer opened #422 "Starcounter cannot be installed after uninstalling second visual studio instance"
I had 2 instances of VS on my PC, 2017 community and professional. I uninstalled the community one, and only professional left (With namespace `Visual Studio 2017 Professional (2)` ). Right now when I tried to reinstall/install starcounter I'm getting:
![image](https://user-images.githubusercontent.com/25042256/41237961-3128e394-6d95-11e8-9e48-b4344fcae854.png)
And then
![image](https://user-image

[2018-06-11 14:42] warpech commented on #405
Can you please release a new version of the extension? The fix was merged 6 weeks ago but not yet released.

[2018-06-11 14:50] bigwad commented on #422
Try to install x86 redistributable. Stacounter installer seems to check both - x86 and x64

[2018-06-11 15:01] ubbeK commented on #405
@iqbalskd Can you please release this on `NuGet` and `VisualStudio Marketplace`.

Bump the version to [3.0.1](https://github.com/Starcounter/Starcounter.VisualStudio/blob/master/build/version.txt).

`master` of https://github.com/Starcounter/Starcounter.VisualStudio

[2018-06-11 15:05] ubbeK commented on #422
If this works, lets remove the x86 as it isn't needed for Starcounter 2.4. @iqbalskd

[2018-06-11 16:47] iqbalskd commented on #405
Created new release tag, and published the package to [Nuget](https://www.nuget.org/profiles/Starcounter) and [Visual Studio Market Place](https://marketplace.visualstudio.com/manage/publishers/starcounter?src=Starcounter.StarcounterforVisualStudio).

[2018-06-11 16:47] #405 closed

[2018-06-11 19:25] ubbeK commented on #405
Awesome, thanks @iqbalskd

[2018-06-12 07:30] PatrykSzwer commented on #422
I had x86 installed, It's not that. I'm currently reinstalling my VS, I'll let you know if that helps.

[2018-06-12 07:59] PatrykSzwer commented on #422
FYI Reinstalling Visual Studio fixes the issue.

[2018-06-13 08:05] miyconst commented on #421
@jedynykaban thank you for reporting the problem.

Am I right that:

- You are using `Starcounter.XSON` in a Unit Test project which is **not** a Starcounter project.
- The Unit Test project does not need and does not perform any database access.

[2018-06-13 08:22] jedynykaban commented on #421
Exactly:
* Starcounter.XSON is used because we use "strongly typed JSON" in our view-model layer,
* Unit Test project not need to access database/perform operations on database, 'cause everything is hidden behind interface layer (IDbSelectionUtil, IDbDataManipulationUtil, IDbObjectFactory).

[2018-06-13 11:59] PatrykSzwer opened #423 "Exception during transaction is not rollbacking it"
I have method inside Db.Transact which creates multiple database objects. When I was creating one group of those objects I've got an exception. Turns out that entities that were created before this exception were actually added to the database. Shouldn't exception inside transaction rollback it automatically?

cc: @miyconst

[2018-06-13 13:06] miyconst commented on #423
@PatrykSzwer please provide minimal reproduction scenario.

[2018-06-14 12:03] PatrykSzwer opened #424 "Resharper stopped recognizing properties from typed json"
After I reinstalled VS and installed resharper again, my VS stopped recognizing properties from the view-model:

![image](https://user-images.githubusercontent.com/25042256/41410991-8fb837dc-6fdb-11e8-977a-93a697c306e1.png)

before reinstall, everything worked smoothly.

I tried:
- Cleaning and building again.
- Restarting VS.
- Restarting resharper.

I'm using Visual studio 2017 and Resharper Ult

[2018-06-14 12:22] PatrykSzwer commented on #424
The problem lays in the newest release of Resharper, 2018.x. I installed resharper 2017.3.5 and it fixed the issue. It should probably be looked at, why the newest version is causing troubles, but I assume we don't have resources to take care of that now.

[2018-06-16 17:31] bigwad commented on #422
I'll just leave a link that detecting vc runtime doesn't always work as expected: https://developercommunity.visualstudio.com/content/problem/111499/how-to-detect-if-visual-c-2017-redistributable-is.html

[2018-06-18 08:01] miyconst commented on #424
@habib535 & @bouguila confirm the issue. It could be the problem of ReSharper.

[2018-06-19 13:25] erikvk opened #425 "sccode crash during DROP COLUMN"
We are seeing `sccode` crashes on a production server when running the following SQL:

[code]

Table definition:

[code]

Crash dump available at https://www.dropbox.com/s/dp8zk1jchf56ivx/sccode.exe.2560.dmp?dl=0

SC version: `2.3.2.930`

[2018-06-19 14:05] PatrykSzwer commented on #423
The origin place of the issue was in the blending editor. [Here](https://github.com/Starcounter/Blending/blob/mapping/src/BlendingEditor/Website/Helpers/MigrationHelper.cs#L44) I'm calling a method inside a transaction. During that method [here](https://github.com/Starcounter/Blending/blob/mapping/src/BlendingEditor/Migration/JsonMigrationContainer.cs#L156) I'm calling several `RecreateDbEntity()`

[2018-06-19 14:20] miyconst commented on #423
@PatrykSzwer please provide a minimal self-contained example, which could be easy consumed.

[2018-06-19 15:38] bigwad commented on #425
cc @alexanderstc, @k-rus
something wrong with metadata.

[2018-06-19 17:01] k-rus commented on #425
@alexanderstc can you look at it?

[2018-06-19 17:02] alexanderstc commented on #425
Yes, sure, can it wait till tomorrow?

[2018-06-19 17:03] k-rus commented on #425
Yes, of course. I assign it to you.

[2018-06-20 10:35] alexanderstc commented on #425
@erikvk if the problem is easily reproducible, could you try to change the name of the field "Name" to something else and see if it works.

[2018-06-20 10:38] alexanderstc commented on #425
@miyconst please find out
- the urgency of the problem
- can a reproduction be arranged for me to debug
- if easy, make a reproduction VM not larger than 40GB, 32GB may be enough.

[2018-06-20 10:39] miyconst commented on #425
@alexanderstc I am already working on it, waiting for @erikvk at the moment.

[2018-06-20 10:51] alexanderstc commented on #425
Ideally, a VirtualBox VM.

[2018-06-20 11:36] miyconst commented on #425
@erikvk is there anything else we could do for you now?

[2018-06-20 11:43] erikvk commented on #425
@miyconst This was never an urgent issue for us, since the production server did not contain crucial data. I posted the issue mainly for you guys, to investigate the reason for the `sccode` crash.

[2018-06-20 11:45] erikvk commented on #425
If something like this happens again in the future, we'll make sure to keep the db files for troubleshooting.

[2018-06-20 11:48] alexanderstc commented on #425
Based on the info from the crash dump i have an idea how i can make my own experiment, but that after my vacation or if this issue becomes urgent.

[2018-06-20 12:12] alexanderstc commented on #425
@miyconst VM isn't needed, just the DB. I can build the relevant sources locally.

[2018-06-20 12:13] alexanderstc commented on #425
@miyconst if you have time, you could try to create a table with one of the column named "Name", then delete it.

[2018-06-21 09:13] PatrykSzwer commented on #423
For the unknown reason, I can't reproduce the issue anymore. Either it was unintentionally fixed in one of the new Starcounter versions, or we fixed it on blending app level by accident. I'll close the issue for now, and reopen if I step on this again/find out what was wrong.

[2018-06-21 09:13] #423 closed

[2018-06-21 09:45] miyconst commented on #425
Just tried it, works flawlessly.

Since the database files are not available, and there is no way to reproduce the issue, I have no other choice but archive the issue.

@erikvk please save the database files and reopen the issue if the problem happens again.

[2018-06-21 09:45] #425 closed

[2018-06-21 10:06] erikvk commented on #425
@miyconst Sure, will do

[2018-06-21 10:30] careri opened #426 "SCDB 1.5, Heap Corruption"
@eriohl

I couldn't attach the large files to an email so I'll upload them here.
(NuGet extension wasn't allowed, just remove the zip from the filename)

[2018-06-25 09:37] malx122 opened #427 "IsPersistent needs a overload for Type"
If I have an object I can check if it is of a Persistent (database) type with the IsPersistent() extension.
But if I just have a System.Type (no instance of it) I can not find a way of checking if its of a database type.

I suggest that you add an overload extension for System.Type so IsPersistent() returns whether the type is persistent instead of checking the actual Type object (that of course a

[2018-06-25 18:13] miyconst commented on #427
@per-samuelsson maybe we already have something like this?

[2018-06-25 19:51] per-samuelsson commented on #427
Nothing packaged in a nice API, but there are several ways to achieve this. One is by checking if there is a type definition by the full name:

[code]

That returns `null` for types not bound (i.e. non-database types).

Another, probably more "correct", way would be to query metadata, but I don't remember exactly what table to query.

@malx122,

What about you create that extension method in your

[2018-06-26 06:28] careri commented on #426
Moved to rebels lounge

[2018-06-26 06:28] #426 closed

[2018-06-26 08:14] miyconst commented on #427
It is possible to check with the following SQL query:

[code]

[2018-06-29 09:03] miyconst opened #428 "Update [How to drop a column] section"
The [How to drop a column](https://docs.starcounter.io/v/2.4/how-to-guides/how-to-delete-tables-and-columns#how-to-drop-a-column) has outdated information.

The correct steps to drop a column should be:

- `3.` Stop the app
- `4.` Run SQL command DROP COLUMN
- `1.` Delete the property from the database class
- `2.` Restart the application
- `5.` Run the cleaner

[2018-06-29 10:48] warpech commented on #327
This commit exhibits the change: https://github.com/Starcounter/UniformDocs/commit/e6a63e94162b4807cb25564dce7f00f01cedda48

[2018-07-01 10:28] tomalec commented on #327
It is not only related to "map". I have the same problem with `KitchenSink/NavPage.html` (an any other `KitchenSink/Nav*.html`) given the handler: `Handle.GET("/KitchenSink/nav", () => new NavPage());`

[2018-07-02 06:49] Mackiovello commented on #273
Closing in favor of https://github.com/Starcounter/Starcounter.Nova.Cli/issues/24

We're creating the new CLI in that repo, so it makes sense to have this issue there.

[2018-07-02 06:49] #273 closed

[2018-07-05 13:55] malx122 commented on #427
Ok, thanks for the tips. Changed my "not good but worked for the current use" extension, `type.IsClass && !type.FullName.Contains("System")` to the one suggested above.
Still think it should be part of the future SC!

[2018-07-05 14:00] malx122 opened #429 "Better error message for SCConstraintViolation exception"
Need a better error message for this one!
It happens now and then (and have happened for years), very seldom twice after each other so most likely a timing issue.

What I have noticed that it happens often when starting an app that has a Db.Transact in its startup code. (For example ensures that some important data is present in the DB). A restart of the same app mostly works.

[code]

[2018-07-09 09:46] miyconst commented on #429
@malx122 could you please clarify the following:

- The issue is not reproducible, and happens from time to time.
- Most often it happens when starting one or more applications at the time.

Please share the `Db.Transact` call from your app which causes the error.

[2018-07-11 12:37] #428 closed

[2018-07-11 13:32] joozek78 commented on #424
What is the expected time this will be fixed? Is somebody working on it? It severely hinders productivity. Furthermore, new developers probably won't even know there is a workaround

[2018-07-12 12:09] malx122 commented on #429
Not sure how i can clarify it more. It happens in different places, in different kind of transactions, (and not only my apps. Signin is often affected). It normally happens when I run multiple apps so it most likely a timein/thread issue. I just need a better error message!

[2018-07-12 12:39] miyconst commented on #429
@malx122 were you able to identify which constraint is violated? Does it also happen if an app doesn't do any transactions on start?

[2018-07-12 16:08] un-tone commented on #209
@miyconst can we specify the status of the issue? Should we move it to another project board or a release? Maybe even close it?

[2018-07-12 16:12] miyconst commented on #209
@un-tone I move it to `later`, but let's keep it around for now.

[2018-07-12 16:12] un-tone commented on #407
Closing as fixed.

[2018-07-12 16:12] #407 closed

[2018-07-13 04:40] gijswijs commented on #191
@bigwad Just wanted to share my gratitude. Your remark on when and where Linq iterates put me on the path of the solution of a related problem in my own project. It had me stumped for more than a day. Thanks a million.

[2018-07-13 14:10] malx122 commented on #429
Thats the whole point of this issue. Starcounter is not providing ANY information on which constraint is violated. And yes, I have had this issue without transactions at start as well. (It can be different constraints that are violated, but no way of knowing)

[2018-07-13 14:43] miyconst commented on #429
@malx122 we are already working on this issue, see the private issue tracker. I keep this one open until it's solved.

[2018-07-17 09:50] malx122 commented on #429
Ok, thanks! This is really highly prio since there obviously is showstopper bugs in SC that cant be identified without it.

[2018-07-20 08:38] PatrykSzwer commented on #422
It happens to me again, this time on my private PC where I have/had only 1 instance of VS all the time, so it can be related to something else.
![image](https://user-images.githubusercontent.com/25042256/42992510-09bad226-8c09-11e8-85c3-deec54bcdaaa.png)

It really should be taken care of, right now the only fix I know is to reinstall VS which is time consuming and annoying...

[2018-07-25 13:53] mmnosek opened #430 "Upgrade failed - Redistributable 2017 error"
I try to upgrade from `2.4.990.120` to `2.4.990.122`.
Communicate shows: “Microsoft Visual Studio Redistributable 2017 is not detected (…) It will be installed now”
When I hit “OK”,  I have this immediately: `Starcounter setup failed. Returned error code: 1638. Error: Installation of Microsoft Redistributable failed`

[2018-08-07 10:34] miyconst commented on #430
@iqbalskd could you please follow up?

[2018-08-08 18:49] #416 closed

[2018-08-08 19:10] SenerDemiral opened #431 "The comparison predicate IS doesn't work as expected? v2.4.0.6599"
[code]
BR populated with
[code]
And Queried on Web Administrator
Following results OK
[code]
If P and C is same type, query sees only first search condition. Shows 1 & 2
[code]

[2018-08-08 19:38] warpech opened #432 "Blend responses from the same app"
In the branch https://github.com/Starcounter/UniformDocs/compare/issues/351-present-blendable-menus, @tomalec is trying to show an example of blended views where 2 views come from the same app.

The `blend.json` file has the entries for both of the views: https://github.com/Starcounter/UniformDocs/blob/8b8b0ae209bf30317b626007f11bc99b49850179/src/UniformDocs/blend.json#L23-L36

Me and @tomalec thi

[2018-08-08 21:29] warpech commented on #333
@alemoi this change is needed to improve performance in the Omni project.

Is it possible for you to engage in developing the solution explained in https://github.com/Starcounter/Home/issues/333#issuecomment-350018064?

What is needed from you:

1. Implement handler option `Blendable`
2. Implement change in `PartialToStandaloneHtmlProvider` from the point 2 of my comment

cc @miyconst, @alshakero

[2018-08-09 07:25] k-rus commented on #431
Thank you for reporting. Seems like a bug.
@un-tone can you reproduce and confirm the bug?

Should this query show the 3rd row?

[2018-08-09 10:02] un-tone commented on #431
@k-rus I confirm.

It also builds an incorrect plan (it uses only first comparison):

[code]

[2018-08-09 10:04] k-rus commented on #431
Thank you for confirming. cc @miyconst for planning.

[2018-08-09 12:56] warpech commented on #333
I have changed my comment https://github.com/Starcounter/Home/issues/333#issuecomment-350018064 to be aligned with the proposed changes to the Palindrom spec. That is more optimal for client-side performance.

[2018-08-10 12:15] miyconst commented on #333
Marking the issue as `nice to have`, means it has medium priority, as agreed during the [release planning](https://github.com/Starcounter/Minutes/issues/184).

[2018-08-14 12:27] iqbalskd commented on #422
It's bug with the latest version of VC ++ Redistributable of 14.14.x.x.

A work around exists which is mentioned under [this issue](https://github.com/Starcounter/Home/issues/430). Closing this as Duplicate in favour of the mentioned issue.

[2018-08-14 12:27] #422 closed

[2018-08-14 12:42] miyconst commented on #430
@mmnosek could you please validate the answer from @iqbalskd?

[2018-08-14 12:59] iqbalskd commented on #430
Even an easier step to reporduce:

1. Uninstall all versions of VC++Redistributable
2. Install [VC++ Redistributable 2017](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
3. Try Installing any version of Starcounter.
@mmnosek

[2018-08-15 09:50] un-tone commented on #385
Fixed.

[2018-08-15 09:50] #385 closed

[2018-08-16 08:57] warpech opened #433 "URIs should be case-sensitive"
Right now, Starcounter handles URIs in a case-insensitive way. This leads to app authors requesting resources using any possible combination:

[code]

This appears to work from the app authors' perspective, but is wrong, because for a Web browser, the URLs are **case sensitive**. Browser cannot reuse a resource from cache if it is loaded from another resource.

In best case, this will lead to bad

[2018-08-16 13:29] bouguila opened #434 "DbLinq not returning expected result"
I'm trying to transform this query to DbLinq :

original query:
`IEnumerable<Tag> Tags => Db.SQL<Tag>($"SELECT t.Tag FROM {typeof(TagRelation)} t WHERE t.Product=?", prod);`

DbLinq query:
`IEnumerable<Tag> Tags => DbLinq.Objects<TagRelation>().Where(x => x.Product==prod).Select(y=> y.Tag);`

the 1st query is working fine but the 2nd is giving me `null`.
also strange that if i add ToList to both e

[2018-08-16 13:38] un-tone commented on #434
`.Select` method currently is not supported https://github.com/Starcounter/Starcounter.Linq/issues/46.
I hope I could take this issue next week. I guess this one can be closed as a duplicate.

[2018-08-16 13:40] bouguila commented on #434
thanks @un-tone for the reply.

[2018-08-16 13:40] bouguila commented on #434
closing as duplicate.

[2018-08-16 13:40] #434 closed

[2018-08-17 10:37] mmnosek commented on #430
I confirm. So it's not our bug. I know more people have encoutered this. Can we add some information somewhere? In the installer? In the docs? On the downloads page? @miyconst @Mackiovello wdyt?

[2018-08-17 10:56] mmnosek opened #435 "Upgrade few builds up failed"
I tried to upgrade from `2.4.990.122` to `2.4.990.127` and it failed, again... First, installer asked me if I want to delete all files from my previous installation folder (that is wrong behavior):
![starcounter installer](https://user-images.githubusercontent.com/4943949/44262868-df10bc00-a21c-11e8-88f7-bc052067c42e.png)

Then when I clicked "yes" another error happened:
![starcounter installer2]

[2018-08-17 11:29] Mackiovello commented on #430
I think people will find this issue pretty fast if they hit it which explains it. Don't think it's a good idea to add to the installer or something like that

[2018-08-17 11:40] miyconst commented on #430
I am with @Mackiovello on this. If we add anything extra for it, then we will have to keep track of the VS issue and remove that "extra" thing once the VS issue is resolved.

[2018-08-17 12:25] bigwad commented on #430
How is that? Microsoft closed the mentioned issue with a resolution "Closed - Not a Bug". So, no reason to wait for MS to fix it. We have to accept it and fix on our side.

[2018-08-17 13:07] miyconst commented on #430
@bigwad is not it what the MS representative says after closing the issue?

[2018-08-17 13:15] miyconst commented on #433
This is due to Windows file system being case-insensitive. I am not sure if we shall do anything about it, since it will be resolved automatically when moving to Nova and Linux.

[2018-08-17 13:31] mmnosek commented on #430
I didn't check Microsoft, just acknowledged information from @iqbalskd and @miyconst. I am not knowledgeable enough to debug it myself.

I agree 120%. I am all for the installer that does its job smoothly.

[2018-08-20 16:29] iqbalskd commented on #430
Changed the VC++ Restributable to 14.15.x.x on the FTP

\\scbuildserver\FTP\SCDev\ThirdParty\VCRedistSetups\VS2017

[2018-08-22 06:48] Razkan opened #436 "Feature Request - Allow visual studio c# interactive to connect to an existing db"
# asd

* [x] Proposed
* [ ] Prototype
* [ ] Implementation
* [ ] Specification

## Summary
[summary]: #summary

As of visual studio version 15.8, support for 64-bit C# interactive has been added. This means that starcounter dll's can be loaded to the interactive, making it a mean to load project andto CRUD an active database during runtime with plain C# code.

C# has support for iterator methods a

[2018-08-22 15:11] miyconst commented on #436
@Razkan please keep in mind that user defined assemblies with `[Database]` classes would have to be loaded as well.

@per-samuelsson would you be able to investigate this?

[2018-08-22 16:56] Razkan commented on #436
@miyconst Visual Studio allows you to initialize the interactive with a project, where both user defined and starcounter assemblies would be loaded to the interactive by right clicking a project and choose `Initialize interactive with project`.

[2018-08-23 09:38] per-samuelsson commented on #436
I guess I can yes, although I don't think I have any better knowledge of it than any body else. When you want me to schedule it? Right away?

[2018-08-24 11:57] ubbeK commented on #435
@mmnosek Still having this issue?

[2018-08-28 14:07] mmnosek commented on #435
@ubbeK I didn't try to upgrade again (there's no newer version available anyway). I can let you know on the next upgrade.

[2018-08-28 18:48] un-tone opened #437 "SQL comparison failed"
Investigation of https://github.com/Starcounter/Starcounter.Linq/issues/55 revealed a bug with the following case:

[code]

The query plan looks well:

[code]

Queries with literals works with the same bug:

[code]

[2018-08-29 08:28] PatrykSzwer commented on #437
@miyconst, @bigwad you probably should know about this. Fix on this issue is needed for Omni project and has to be fixed ASAP. Please put high priority on that.

[2018-08-29 13:49] un-tone commented on #437
After the investigation I see that the following query works well:

[code]

Due to the https://github.com/Starcounter/Home/issues/343 issue we should not touch this behaviour.

@miyconst @bigwad agree?

Also should the behaviour also works for LINQ (https://github.com/Starcounter/Starcounter.Linq/issues/55#issuecomment-416955442)?
Or SC.Linq should add `P.ProductGroup IS NULL OR ` part for such pa

[2018-08-29 14:09] bigwad commented on #437
I don't really see how it relates to #343. Where is a path expression here?

[2018-08-30 09:29] miyconst commented on #437
@un-tone, @bigwad, @PatrykSzwer please correct me if I am wrong, but this is the case of `NULL` comparison.

How SQL works is that both of those comparisons will return `false` if the `X.Value` is `NULL`.

- `SELECT * FROM x WHERE x.Value = 123456`.
- `SELECT * FROM x WHERE x.Value <> 123456`.

Since C# and LINQ work differently with `NULL` comparison, it may be non-intuitive to add manual `... OR

[2018-08-30 11:53] iqbalskd commented on #430
Closing this as done

[2018-08-30 11:53] #430 closed

[2018-08-30 13:20] bigwad commented on #437
`NULL` to be exact

Actually, the difference is that you don't know where would be that difference exactly, because IQueryable can run a query on a datasource side and thus result depends on the datasource rules of handling NULLs.
https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/bb882669(v=vs.100)
https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/language-r

[2018-08-30 14:15] miyconst commented on #437
That's not exactly true, `IQueryable` is always executed on the database as an SQL query, while `IEnumerable` is always executed in .Net runtime. So, it's well known which part of the query is gonna be executed on database side and which not.

So, after all this is not a `bug`, but expected behavior. Shall we agree to close the issue as `invalid`?

[2018-08-30 14:23] erikvk opened #438 "Network gateway not sending incoming UDP datagrams to app"
_This issue is for reference – has already been discussed with @alemoi who is investigating_

When having an `Handle.Udp()` in an app, listening for UDP datagrams in a production environment, we have noticed that the Starcounter network gateway can sometimes stop sending the incoming datagrams to the Starcounter app. When this happens, a network monitor tool like Wireshark or TCPView will still re

[2018-08-30 16:17] un-tone commented on #437
Sorry for confusing @bigwad , I meant the folowing cases when told about #343:
[code]
The same workaround with adding `IS NULL OR` works for all the cases from the description.

Seems so. And this one https://github.com/Starcounter/Starcounter.Linq/issues/55 too.

[2018-08-31 11:05] miyconst commented on #437
Closing as invalid.

[2018-08-31 11:05] #437 closed

[2018-09-04 13:58] alshakero opened #439 "Create a way to notify the apps when static-file-cache is flushed"
### What we need

Currently, Starcounter serves static asset files from `/sys` folder in every running app. And when the same file is requested more than once, it is served from some sort of cache.

I assume that Starcounter watches the files that it caches, and flushes the cache whenever they change. We need a way to subscribe and be notified when this event happens.

If I'm wrong and Starcounter

[2018-09-04 20:51] erikvk opened #440 "Possibly incorrect index precedence for SQL queries"
@miyconst

I have a database class `Mopedo.Database.Device` (see below for class definition). I have a couple of indexes on this table:

[code]

My issue is that the index used in `ORDER BY` clauses in SQL statements have precedence over any index that could be used to evaluate the `WHERE` clause(s), even though `WHERE` is evaluated before `ORDER BY`. This seems wrong to me – and makes some of our

[2018-09-04 20:57] erikvk commented on #440
`Version=2.3.2.930`

[2018-09-04 21:10] erikvk commented on #440
(note that this is not a big problem for us in our apps – I will just add index hints for the problematic queries in my code)

[2018-09-05 05:43] k-rus commented on #440
Thank you for reporting.

@un-tone Can you check the issue?

cc @miyconst

[2018-09-05 13:42] alemoi commented on #438
Just a status update: adding diagnostics and actively trying to figure out the problem.

[2018-09-05 20:14] hamzim commented on #399
Hi, I got the same problem as @SenerDemiral ,
![image](https://user-images.githubusercontent.com/11314574/45118498-f4607280-b158-11e8-875a-3270f42f7c63.png)

I am using SC v. 2.4.0.6717, how did you solve this?

[2018-09-06 04:44] miyconst commented on #399
@hamzim, unfortunately I was not able to reproduce the error with the versions specified, could you please try the following:

- Execute `staradmin start server` from the command line.
- Navigate to `http://localhost:8181/#/server/settings` and copy-paste the full Starcounter version.
- Open Visual Studio then go to `Tools -> Extensions and Updates ...` and copy-paste a screenshot of the window so

[2018-09-06 07:35] hamzim commented on #399
@miyconst

Starcounter-Develop-2.4.0.6717 (Sep 5, 2018 1:03:55 AM)

![image](https://user-images.githubusercontent.com/11314574/45142191-2ead2c80-b1b8-11e8-9135-b10499878daf.png)

[2018-09-06 07:45] SenerDemiral commented on #399
I also was not able to reproduce the error with the version 2.4.0.6721 (.Net 4.7.2)

[2018-09-06 07:59] hamzim commented on #399
I have tried different versions of 2.4.* versions (initially I used v. 2.3.*, switched to 2.4.*) but nothing works for me (.Net 4.6.1).

[2018-09-06 08:44] alshakero commented on #439
Please put this on hold until we discuss it in Gdansk.

[2018-09-06 09:37] miyconst commented on #399
It seems like Starcounter was installed with Administrator account, while you are trying to use the same installation under another user. Unfortunately this is not supported.

Please try to uninstall Starcounter and install it with the user you intend to use it.

[2018-09-06 10:30] miyconst opened #441 "Starcounter installation is corrupted when used from another system user"
Steps to reproduce:

1. Log in with a user A.
2. Install Starcounter.
3. Make sure that it's possible to create a new Starcounter Visual Studio project and build it.
4. Log out.
5. Log in with a user B.
6. Try to perform the step 3. **Visual Studio does not have Starcounter extension available.**
7. Try to open any Starcounter solution. **Visual Studio complains about unsupported project type.**
8

[2018-09-06 10:31] miyconst commented on #399
@hamzim, we will address the issue with multiple system users. You can track the progress here - [Starcounter installation is corrupted when used from another system user](https://github.com/Starcounter/Home/issues/441).

[2018-09-06 10:33] ubbeK commented on #441
cc @iqbalskd

[2018-09-07 13:13] mmnosek opened #442 "ObjectID in Admin panel"
This problem related to testing single app hits me over and over.

I have a page `shoppingcart/product/X` that shows a specific product. This page is related to a product (X). It's not possible to open this page through navigation in the app, it's only specific URL that has to be opened. So I have to figure out what X is.

This page expects there `ObjectID`. I go to the Admin tool and execute the

[2018-09-07 22:12] un-tone commented on #440
@k-rus I confirm the issue. The fix: https://github.com/Starcounter/level1/pull/4757

[2018-09-10 13:44] kegor commented on #432
Looks like I met a similar problem in `HeadsOmni` (`HeadsOne`): we would like to show partial page for managing recommended products on the product details page (of the same `Showroom` app) but we can't achieve this with adding following blending rule (latter): https://github.com/Starcounter/Showroom/blob/c449ee752761fc77a47df54bffc58d1b5d47a2ee/src/Showroom/blend.json.

[2018-09-10 14:17] warpech commented on #432
@mmnosek just tested that if one app (Products) is blended with two views (Showroom), also only one view from each app is used.

It seems that the last view matching to a `FullClassName` + `Contexts` from an app is attached by the blending engine.

Expected behavior is that all matching views should be attached.

This is needed for Omni. Can it be fixed, or should we search for workarounds?

[2018-09-10 15:19] alemoi commented on #432
I have started the investigation. Is it that only 1 of 2 handlers is called? Or the handlers are called but not blended correctly?

[2018-09-10 15:38] mmnosek commented on #432
My investigation shows that second handler is not called at all.

[2018-09-10 19:50] alemoi commented on #432
After fixing the issue https://github.com/Starcounter/level1/issues/4750 I tried to reproduce the problem described here on the same setup with 2 apps and couldn't. Try the next successful build to see if problem persists. If it does, I need a reproduction scenario, alike the one in https://github.com/Starcounter/level1/issues/4750

[2018-09-11 09:35] warpech commented on #432
Can you pls make a build with the `mapping` branch of Starcounter so that we can test?

[2018-09-11 14:08] mmnosek commented on #432
It still doesn't work, I checked with the `2.4.990.158`. I will give you the repro scenario directly.

[2018-09-11 15:04] Razkan opened #443 "Make Db.SQL enumerator work across async/await continuation"
[code]

Getting this error when a worker is done with what I presume is `Scheduling.RunTask`. I can reporduce this locally.
Everything done within the `Scheduling.RunTask` is committed to the db.

Anything additionally you need?

[2018-09-11 19:59] alemoi commented on #432
I have tested more in non-mapping branch and everything seems to work fine. That's why I suspect that maybe its because of mapping converters that are used in blending: https://github.com/Starcounter/level1/blob/mapping/src/Starcounter/Apps/Blender.cs#L405

Lets have a session tomorrow.

[2018-09-12 08:32] warpech commented on #432
cc @mtornwall, can you pls check that?

[2018-09-12 09:20] bigwad commented on #443
@Razkan, can you share a code to reproduce the issue?

Most probably you're trying to access an enumerator (which is a result of  `Db.SQL` call) outside of the scope of a transaction where you originally get it. Async/await in foreach loop maybe?

[2018-09-12 10:00] warpech commented on #432
I just tested the OP (with the updated testing code https://github.com/Starcounter/UniformDocs/commit/4f83880d4d063b52a00248171a1d95e70567c3a2).

I can confirm that the problem with OP is not reproducible anymore with neither 2.4.990.161 nor 2.4.990.161.

Perhaps why we didn't see the blended page is because of the same reason as https://github.com/Starcounter/HeadsOmni/issues/263

[2018-09-12 10:50] mmnosek commented on #432
I confirm that the problem is not reproducible with `2.4.990.161`

[2018-09-12 11:44] Razkan commented on #443
@bigwad, I do not have a running example of the issue, but I can share you the specific source code files where the problem raised from.

Async/await being the problem sounds about right, it was the last thing we changed with the code.

[2018-09-12 12:40] miyconst commented on #443
@Razkan please see if you are hitting this limitation - [Short-running transactions - Limistations](https://docs.starcounter.io/topic-guides/transactions/short-running-transactions#limitations).

[2018-09-12 12:42] miyconst commented on #442
We can add a UI tool to convert `ObjectNo` to `ObjectId` and other way around. Would that work?

[2018-09-12 13:04] iqbalskd commented on #441
Actually two issues here

1- When ` UserA`  installs starcounter with default settings the repository is being created under `C:\Users\UserA\Documents\Starcounter\` which is not accessible to ` UserB`  resulting starcounter server failure with ` Access Denied` error. Works fine if we change the default repository path to somewhere else.
2-  The ` Starcounter Visual Studio` extension is being insta

[2018-09-12 13:13] Mihaiii commented on #442
The conversion shouldn't be made in JS given that JS is not good with big numbers.
That being said, if you still want to do it on Admin app level - meaning after it receives the data - I'm fine with it.

[2018-09-12 13:28] kegor commented on #432
I confirm that the problem is not reproducible even with 2.4.990.127, now I am on the current `master` of the `HeadsOmni` with bumped `Showroom` which has updated rules in blend.json:
![image](https://user-images.githubusercontent.com/17431807/45427936-c9ba7080-b6a8-11e8-9d7f-a25ab28eccbe.png)

[2018-09-12 13:43] mmnosek commented on #432
Shall we close it then? 😃

[2018-09-12 13:44] mmnosek commented on #442
From the user/developer perspective it doesn't really matter how. I would like to have either additional column, or to click on `ObjectNo` and then receive `ObjectId`

[2018-09-12 14:54] ubbeK commented on #441
Is it possible to invoke the Starcounter VS Extension so it is installed for all users?

[2018-09-12 17:52] un-tone commented on #440
@bigwad votes to close the issue as `won't fix` in https://github.com/Starcounter/level1/pull/4757#pullrequestreview-154706542

cc @miyconst

[2018-09-13 07:58] miyconst commented on #440
@un-tone, @bigwad thank you for checking the issue. I am going to keep it as `later` and see when/if we can fix it.

[2018-09-13 09:00] Razkan commented on #443
@miyconst I have removed all `Db.TransactAsync` within the async/await call and still receiving the same error.

@bigwad i've done some further testing and it is as you say as soon as the enumerator is done with the first object the issue arise. The issue is reproducable in production code, but not when I try to create an seperate example. However the seperate example produces an error of itself,

[2018-09-13 09:07] warpech commented on #432
Closing as invalid

[2018-09-13 09:07] #432 closed

[2018-09-13 09:34] bigwad commented on #443
@Razkan, `Db.TransactAsync` is unrelated to your issue. The root cause is that starcounter transaction doesn't flow along with await continuation. I'll come up with a workaround soon. Stay tuned.

[2018-09-13 11:51] bigwad commented on #443
Unfortunately, I have to conclude that Db.SQL results enumerating is not async ready. No matter if one uses `foreach` or manual loop with `Enumerator.MoveNext()`. Each `Enumerator.MoveNext()`  should be called on exactly the same thread where enumerator was originally acquired. What I can recommend is to retrieve all objects to be processed in a collection and then process this collection asynchro

[2018-09-13 12:38] iqbalskd commented on #441
Yes, `VSIXInstaller.exe` takes an argument `/admin` which installs the extension for all users.  For that may be we need to include `VSIXInstaller` with starcounter and invoke it using command line like this:
```VSIXInstaller.exe /admin path_to_the_vsix.vsix```

[2018-09-13 12:45] ubbeK commented on #441
How is it downloaded and installed today?

[2018-09-13 13:14] Razkan commented on #443
@miyconst @bigwad thanks, for the recommendation!

We got it to work by doing the following change:
[code]
To:
[code]
Forcing the enumerator to get all the entities in the same context before using them.

[2018-09-13 13:29] bigwad commented on #443
Just please note, that call to `b.Sync()` has to be wrapped in `Scheduling.RunTask` if you refer any b's properties in the Sync. In your case you don't, but just to be on the safe side, I'd call it using the wrapper:
[code]

[2018-09-13 13:45] miyconst commented on #443
Related - [async/await triggers ScErrThreadNotAttached](https://github.com/Starcounter/level1/issues/2796).

[2018-09-14 07:10] bigwad commented on #443
Yes, and I think you do in `Syncer.Sync`:
[code]

foreach (var id in B.Select(b => b.GetObjectNo()).ToArray())
    await Db.FromId<T>(id).Sync();

Yes, it will also work, but I suspect more overhead because of two instantiations of each B. Other than that there is no practical difference.

I don't see how this code changes transaction/enumerator/thread interrelations. The code after `await` point

[2018-09-14 08:57] un-tone commented on #431
Fixed.

[2018-09-14 08:57] #431 closed

[2018-09-14 13:08] iqbalskd commented on #441
Currently the code invokes `Starcounter.VS.vsix` executable from the Installation directory  which installs it for the current user only.

[2018-09-14 13:12] ubbeK commented on #441
And that vsix file is downloaded or packed within the installer?

So if we simply installer the VS extension through `VSIXInstaller.exe /admin path_to_the_vsix.vsix`, then we are all set for that particular issue, correct?

[2018-09-17 11:19] ubbeK commented on #441
@iqbalskd Please do some googling in how we can located `VSIXInstaller.exe` (form me it is located at `C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\VSIXInstaller.exe`). As the `*.vsix` files seem to be able to find all installed Visual Studio versions, should also be able to locate it.

I had to run `"C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\

[2018-09-18 12:54] ubbeK commented on #378
I currently have this problem as well.

@miyconst

[2018-09-18 13:30] warpech commented on #442
Meanwhile, anyone who needs a tool to convert ObjectNo to ObjectID, can use my command line app: https://gist.github.com/warpech/9c624c954afbbb70f28c77dec9702261

[2018-09-18 15:05] mmnosek opened #444 "Schema mismatch error kills all apps"
Starcounter version: `2.4.990.161`

I have multiple apps running. Then I try to deploy a  new version of one of those, and I got an error:

`Starcounter.DbException: ScErrSchemaCodeMismatch (SCERR4177): Operation failed because input does not match schema. CLR Class is not loaded for table Search.Product`

That's understandable, the schema was changed. But suddenly all apps died when I tried to ru

[2018-09-19 06:57] k-rus commented on #444
I believe it is similar situation to unloading or stopping an app. Due to single process all apps need to stop. The same is here.

@per-samuelsson can give better explanation.

[2018-09-19 07:02] warpech commented on #442
@Mihaiii made a better hosted tool: https://mihai.lib.id/base64@dev/?id=123456

[2018-09-19 07:52] per-samuelsson commented on #444
I'm not sure we properly deal with one application crashing and preserving the state of others in the same host. But let me set up an environment and do some testing before I give a better answer.

[2018-09-19 09:00] per-samuelsson commented on #444
After doing some testing, I can confirm this. It's easy to reproduce by creating 2 apps and having one of them throwing an exception from the entrypoint, starting that last.

We have some code in the admin server that reacts to a host terminating unexpectedly, and tries to restart it (along with a snapshot of apps if available), but only under certain conditions.

Overall, it's somewhat hard to ge

[2018-09-19 09:10] bigwad commented on #444
I'd consider restarting apps as a last resort. It seems to me that it's possible to prepare metalayer in reflection context, thus avoiding loading app code and crashing a host if something went wrong. Might also apply to Nova shared host, where we don't have admin service to restart apps.

[2018-09-19 09:38] per-samuelsson commented on #444
Could be worth a try, yeah. Initially, all binding was done from a schema established and provided by the weaver, and code was never used. But I think metalayer require loaded code. Might be that it would behave better if it was reflection-only, even though I'm not really sure that would solve it.

Plus that you still have the case where shared host need to invoke the entrypoint and out comes an e

[2018-09-19 11:34] miyconst commented on #444
@mmnosek how important this issue is? I believe it's just an inconvenience during the development/deployment time, does not affect production.

[2018-09-19 11:52] mmnosek commented on #444
It's just super annoying when I have 20 apps running on dev machine (what takes like 5 minutes to run) then I do some change and... everything goes down. So it's about productivity and wasting time, not the high priority.

[2018-09-19 11:57] iqbalskd commented on #441
- Installing the `Starcounter.VisualStudio` for all users is done
- How should we approach this part?

[2018-09-19 12:04] ubbeK commented on #441
@miyconst

So by default when installing Starcounter, the repository will be put at `%HOME%\Documents\Starcounter` which is not accessible by other users. Should we take any action regarding this?

[2018-09-19 12:27] bigwad commented on #429
Fixed. Index names and object id of conflicting records should be reported in the exception

[2018-09-19 12:27] #429 closed

[2018-09-21 13:43] dan31 commented on #438
@erikvk @alemoi is it right you could not reproduce it anymore?

[2018-09-21 13:43] miyconst commented on #271
During the last release planning it was agreed to first make the query work correctly without utilizing any indexes, and only then perform optimization to utilize an index if applicable.

[2018-09-21 13:52] erikvk commented on #438
@dan31 That's right. I am no longer able to reproduce the issue on our server. I have reached out to our customer, to see if they still have the issue.

My first guess is that this is somehow related to our code, in a way I'm unable to find, and that some update during the past weeks fixed it. Seems like a long shot, but still.

My second guess is that this is somehow time-related. We saw all hang

[2018-09-21 14:40] erikvk opened #445 "Weaver fails if assembly contains an iterator method with ValueTuple return type that has specified member names"
Starcounter version: `2.3.2.930`.

### Issue type

- [x] Bug
- [ ] Feature request
- [ ] Suggestion
- [ ] Question
- [ ] Cannot reproduce
- [ ] Urgent

### Issue description

If a Starcounter assembly contains an iterator method with a return type `IEnumerable<T>` where `T` is a `ValueTuple` with named tuple members (for example `(string S, int I)`), the Weaver will fail while processing that asse

[2018-09-21 14:41] erikvk commented on #445
**cc** @miyconst @per-samuelsson

[2018-09-21 14:51] miyconst commented on #445
@erikvk thank you for the detailed report and the investigation!

[2018-09-26 13:52] ubbeK commented on #441
As we decided not to change the default path of Starcounter repository in [PR meeting](https://github.com/Starcounter/Minutes/issues/190#issuecomment-424722755) as it is considered to be personal.

This issue has been implemented. Closing.

[2018-09-26 14:39] scmichal commented on #327
I also found this problem. In my case
`http://127.0.0.1:8080/bioconcept/customers_does_not_matter_what_I_add_here`
will match
`http://127.0.0.1:8080/bioconcept/customers`

[2018-09-26 15:05] linkdata commented on #441
Does this mean I can close my old issue? https://github.com/Starcounter/level1/issues/4070

[2018-09-27 07:09] miyconst commented on #441
Yes. Closed.

[2018-09-27 13:35] habib535 opened #446 "staradmin -start db is not completely functional"
Starcounter version: `2.4.990.168`.

### Issue type

- [x] Bug

### Issue description
I created a starpack and installed it to `default database`
`starpack -i Launchpad-2.1.2.zip -d=default`

I set the application `Auto-Start` to ON, which means whenever this database will be started the app will also start.

When I start the database from Starcounter Administrator UI it also starts the app but if

[2018-09-27 16:12] mmnosek commented on #435
@ubbeK I still have the same issue. Today I tried to upgrade from 2.4.990.161 to 2.4.990.168 and:

![windows_10](https://user-images.githubusercontent.com/4943949/46159556-e053f080-c280-11e8-9701-e85fb8ee479c.png)

[2018-10-01 13:46] ubbeK commented on #378
@iqbalskd

[2018-10-01 13:48] ubbeK commented on #378
Please note that the source of starpack is in level1, not the standalone git repo.

[2018-10-01 16:06] iqbalskd commented on #435
This happens when we have starcounter app loaded in visual studio, visual studio keeps few files locked including `Starcounter.dll`, a simple work around is to close visual studio and run the installer again.

[2018-10-01 19:28] ubbeK commented on #435
@mmnosek @miyconst @per-samuelsson

What would the desired functionality be?

* Killing Visual Studio (checking if devenv.exe is running)
  * always
  * only if user checks some box / answer yes in popup
* Only giving a better error message stating that it could not delete `Starcounter.dll` because it might be locked by devenv.exe process (it such process exists).

Any other solution?

[2018-10-02 07:18] per-samuelsson commented on #435
Please don't do that. That's just not an option IMO. Consider someone with 20 VS instances running, and uninstalling Starcounter - boom, all just killed.

Could be an alternative, yes.

Also an alternative.

The proper solution, IMO, is to take the final step separating Starcounter installation from the VS extension entirely. So that VS extension code is always distributed (and loaded) in isolatio

[2018-10-02 08:52] miyconst commented on #435
This is not always enough, sometimes it's required to manually kill `msbuild` process(es).

[2018-10-02 19:46] warpech commented on #329
This is a possible solution to a pull request that I needed to prepare recently: https://github.com/Starcounter/Showroom/pull/55

[2018-10-03 11:53] Razkan opened #447 "Using sort on a local list containing proxy objects, crashes the application with a 500 error statuscode"
Starcounter version: `<2.4.990.121>`.

### Issue type

- [x] Bug

### Issue description
When using `Array.prototype.sort` on a list containing proxy object with a string comparer gives an 500 internal server error

### Reproduction code snippet

[code]
or directly on the json binded list
[code]
### Exception stack trace

Palindrom
[code]

Sc log
[code]

[2018-10-04 07:24] Razkan opened #448 "Using index hints with compound indexes performs similar to full table scan"
Starcounter version: `<2.4.990.121>`.

### Issue type

- [x] Bug

### Issue description
Compound index is not working properly. In a test where I had one million indexed (ClassA & ClassB) entities and one million non-indexed (ClassC & ClassD), a search with index hint using the compound index had similar performance of a non-indexed search, being slightly above 50 seconds for both searches.

When

[2018-10-05 13:17] mmnosek commented on #435
Exactly, my Visual Studio was closed at that time. The problem with a better message is, that if you try it again - it's a new installation, it's not an upgrade anymore. So it will not help 100%.

It would help if it's checked before the process is started.

[2018-10-05 15:04] ubbeK commented on #435
Are you totally sure that there wasn't a msbuild.exe process still running that locked the files? https://github.com/Starcounter/level1/issues/4776

`Upgrade = uninstall old starcounter + install new installation`, so its not really a problem.

So what will you have us do here? If `devenv.exe` or `msbuild.exe` is running, what should happen?

[2018-10-05 15:06] mmnosek commented on #435
I don't know really. What I know is that I closed visual studio.

I think that before the uninstallation process is started, we should check if everything is "ready-to-go". If `devenv` or `msbuild` is running, the message should be shown at the very beginning.

[2018-10-05 15:18] warpech commented on #433
The problem also affects URI handled with `Handle.GET`, so it is not only Windows problem but also a problem with matching of URIs in our HTTP handlers.

[2018-10-06 14:29] ubbeK commented on #435
Lets see if we can add some pop-up message where the user may cancel or continue when a `devenv` or `msbuild` process is running.

[2018-10-11 08:37] miyconst commented on #448
@un-tone please take a look when you find a free moment.

[2018-10-11 08:39] miyconst commented on #447
@Razkan I am right that you are trying to sort a view-model array from the client side? Do you have the source of the patch sent from the client to the server?

[2018-10-11 08:40] miyconst commented on #446
@per-samuelsson please add it to your issue-pipe-line with mid-low priority.

[2018-10-11 08:54] per-samuelsson commented on #446
Add what? This is not a bug IMO, since this feature has never been supported by either tooling or the actual admin server.

I'm guessing this is functionality added to web admin and/or starpack, and I have never been involved in any of that. So I'd rather not have it assigned to me unless it's very clear that

1) This is an enhancement that need to be added to L1
2) This is code / functionality I

[2018-10-11 08:59] miyconst commented on #446
As far as I understood @habib535, `staradmin` fails to start the database. Which should not happen with or without automatic app startup.

@habib535 am I wrong?

[2018-10-11 10:16] habib535 commented on #446
The database starts but apps are not starting automatically. This might seems a low priority bug but it annoys when you have to switch from scripts to UI and perform this operation there.

[2018-10-11 14:57] Razkan commented on #447
@miyconst correct, the sorting is done on a view-model array from the client side.

[code]

[2018-10-11 15:12] miyconst commented on #447
@Razkan thank you for the clarification. This operation is not supported. Only primitive values can be changed from the client side.

Still, the application should not crash, rather the patch has to be rejected with a meaningful exception. @alemoi please investigate.

[2018-10-12 11:14] miyconst commented on #446
Then it's a known limitation and won't be fixed in Starcounter Odessa (2.4).

The database and the apps have to be started manually when using CLI.

[2018-10-12 11:14] #446 closed

[2018-10-25 12:58] careri commented on #358
This is still a problem for me.
I'm writing a deployment script for HeadsOne in Powershell.
Your executables don't play nice in powershell

[2018-10-25 13:18] miyconst commented on #358
@per-samuelsson could you take a look please? Maybe we can fix it?

[2018-10-25 14:00] per-samuelsson commented on #358
Can someone else? I don't think i'm more fit then anyone else, and it should be straightforward to trace the reason. I have 0 clue unless I check.

(I have a memory it was reported same thing from bash many years ago btw).

If no one else can, I can o/c do it, but haven't got a good env setup I think.

[2018-10-25 16:51] miyconst commented on #358
Agreed with @per-samuelsson that he will take a look, eventually.

[2018-10-25 17:28] per-samuelsson commented on #358
Hopefully some time next week.

[2018-10-25 23:51] careri opened #449 "LoadMapper, NullReferenceException"
---

[2018-10-26 06:29] #449 closed

[2018-10-26 18:00] alemoi commented on #438
Let's have it closed for now. And when we experience any issues with UDP again - we will reopen it.

[2018-10-26 18:00] #438 closed

[2018-10-26 20:53] bigwad commented on #335
We have to recheck performance implications. I was trying to use `Tuple<string,string>` instead of accessing `Row.GetItem` and tuple version was 10 times slower. Lookup is indexed and returns only one row. As a result tuple instantiation dominated query execution time. I suspect the problem is with tuple activator cache that is recreated each time we run a query.

[2018-10-27 11:36] alemoi commented on #196
I don't this is actual at the moment, since we are moving towards Nova. Will close the issue.

[2018-10-27 11:36] #196 closed

[2018-11-01 08:01] SenerDemiral opened #450 "scnetworkgateway.exe has stopped working"
Starcounter version: `<2.4.0.6926>`.

### Issue type

- [X ] Bug
- [ ] Feature request
- [ ] Suggestion
- [ ] Question
- [ ] Cannot reproduce
- [ ] Urgent

### Issue description
Server is running, non DB started.
Windows Server 2012 R2
Application: scnetworkgateway.exe Framework Version: v4.0.30319 Description: The  process was terminated due to an unhandled exception. Exception Info: exception  c

[2018-11-01 17:20] SenerDemiral commented on #450
I think Uninstall&Install solved the problem.

[2018-11-01 20:53] SenerDemiral commented on #450
Still error persists.
[code]

[2018-11-05 11:32] alemoi commented on #450
@SenerDemiral can you please attach here the contents of your Starcounter log file. And, if there is, a dump file for `scnetworkgateway`. Thanks a lot!

[2018-11-09 09:52] warpech opened #451 "Custom arguments in CLI arguments not escaped as excepted"
According to the [docs](https://docs.starcounter.io/topic-guides/working-with-starcounter/star-cli):

## Expected

After reading the docs, I expect the following call

[code]

Will result pass an escaped form of my argument to the app, i.e. `-api-token` (without slash).

## Actual

When you start the app with the command given above, the app receives the argument literally as `\-api-token` (with s

[2018-11-09 10:22] Mackiovello commented on #451
This is most likely just sloppy documentation writing. I interpret it this way: "Starting an argument with a dash is illegal, so start the argument with any other character instead."

There's never any escaping.

[2018-11-10 20:19] SenerDemiral opened #452 "Interesting Performance results!"
Total records read: `3,509,000`

1: `14500 ms`
[code]
2: `8600 ms`
[code]

[2018-11-12 06:19] k-rus commented on #452
Thank you for reporting your experience with performance. What version of Starcounter have you used? I guess there is no index on `MAC`, right?
I noticed that recently an optimisation was removed from query execution.

cc @un-tone

[2018-11-12 06:40] SenerDemiral commented on #450
Some investigations:
Port scanner `Nmap` (Local scan) cause this error also.
But if scanned from outside, no such shutdown appeared.

[2018-11-12 08:38] warpech commented on #451
It cannot be written that way then. It sounds as if it was the CLI user's choice how to spell an argument. The choice of the argument spelling is made by the app author, so I recommend to change the docs to something like:

[2018-11-12 13:15] k-rus commented on #452
It is not related to the above query. I missed to see that the query accesses a property, which is a reference to another record. If you can share the query plan for the query, it might be helpful.

[2018-11-12 17:20] SenerDemiral commented on #452
`select r from BDB2.MAC r where r.CC.Dnm = 17`
[code]

[2018-11-13 07:09] k-rus commented on #452
Thank you for sharing the plan. It looks to be as expected.

@un-tone Will you be able to look this issue?

cc @dan31

[2018-11-13 07:56] un-tone commented on #452
@k-rus I will

[2018-11-13 11:50] alemoi commented on #450
Thanks for the additional info @SenerDemiral !
How exactly do you run the `nmap` locally? Thanks!

[2018-11-13 16:15] SenerDemiral commented on #450
`nmap -T4 -A -v ipnumber`

[2018-11-13 18:07] SenerDemiral commented on #450
Most of the time, only one process have left to kill which is `scnetworkgateway`.

[2018-11-14 14:29] alemoi commented on #450
Thanks for the additional info @SenerDemiral
I will try to reproduce this and fix the problem.

[2018-11-14 15:41] alemoi commented on #450
I think I have found an issue and fixed it. Will be available in the next build. A question to you @SenerDemiral, did you have any `ReverseProxies` defined in your `scnetworkgateway.xml`? Like such:
[code]

[2018-11-14 15:57] SenerDemiral commented on #450
Yes I have.
[code]

[2018-11-14 16:19] alemoi commented on #450
Ok, thank you. I guess it was the reason then. Please just confirm or fail it when you will be able to test.

[2018-11-14 16:28] SenerDemiral commented on #450
Thank you.
Desperately waiting the new download.

[2018-11-14 16:31] SenerDemiral commented on #450
If that was the reason, I wish I had done using NGINX.

[2018-11-15 07:11] SenerDemiral commented on #450
Hooray, no error for the last three hours.
Thank you @alemoi  so much.
You saved me from a big trouble.

[2018-11-15 07:12] #450 closed

[2018-11-15 07:33] miyconst commented on #450
Thank you @SenerDemiral for testing and reporting!

[2018-11-15 07:58] SenerDemiral commented on #450
I thank you all.

[2018-11-20 13:48] alemoi commented on #450
Big thanks to you @SenerDemiral, really!

[2018-11-21 20:20] tomalec opened #453 "Server-side JSON-Patch OT"
Starcounter version: 2.4.999.191

### Issue type

- [x] Bug
- [ ] Feature request
- [x] Suggestion
- [x] Question
- [ ] Cannot reproduce
- [x] Urgent

### Issue description

During investigation of HeadsOne issue (fast clicking on create button) https://github.com/Starcounter/HeadsOmni/issues/665#issuecomment-440784899
from reading the [Starcounter.XSON](https://github.com/Starcounter/Starcounter.

[2018-11-22 14:12] erikvk commented on #453
cc @dan31 @eriohl @tomalec

I should let you know that I'm currently busy with the high-prio migrator tool for the root data model (AKA Doctor M) used in mapping, and will be unable to look into this before I'm done with that, i.e. sometime mid-December.

[2018-11-26 08:50] stefanedqvist opened #454 "Communication is broken after a time of inactivity"
As a customer when not touching the screen for a longer while the communication between server and client seems broken. If I click a button or link the new URL shoes in the browser address field but I will not be brought to the new view. A refresh or hit enter in the url field will solve it.
Is this what you saw as well @miyconst

[2018-11-27 09:50] miyconst commented on #454
@warpech you are probably right here. Currently link click tries to perform URI morphing, and if the connection is broken - nothing happens. I think, Palindrom, in this case, should perform full page reload.

[2018-11-28 05:01] Mackiovello commented on #451
I've updated the documentation

[2018-11-28 05:01] #451 closed

[2018-11-28 07:11] SenerDemiral opened #455 "XSON fails to compare request mime-type with custom Thread Culture Info (Turkish)"
Starcounter version: `<2.4.0.7014>`.

### Issue type

- [x] Bug
- [ ] Feature request
- [ ] Suggestion
- [ ] Question
- [ ] Cannot reproduce
- [ ] Urgent

### Issue description
Works `Start Without Debugging` but not works with debugging.
Previous versions work well.
### Reproduction code snippet

[code]

### Exception stack trace

[code]

[2018-11-29 05:37] SenerDemiral commented on #455
Same problem exists in `v2.4.0.7020`.
`v2.4.07006` is working as expected.

[2018-11-29 10:57] iqbalskd commented on #435
Added a warning message if user has msbuild and/vs running. Also upgraded the error message on re-installation asking the user to close the vs and kill all msbuild processes.

[2018-11-29 10:57] #435 closed

[2018-11-29 11:09] ubbeK commented on #435
Do you mind adding a screenshot here of that error message?

[2018-11-29 11:17] iqbalskd commented on #435
The warning and error messages look like this now:

Warning:
![image](https://user-images.githubusercontent.com/28513553/49218351-74048300-f3d0-11e8-9905-6e710e7c43a6.png)
Error:
![image](https://user-images.githubusercontent.com/28513553/49218389-91d1e800-f3d0-11e8-8607-ef86c39bc28d.png)

[2018-11-29 14:09] miyconst commented on #453
As far as I remember from discussions with Christian, this feature was never implemented, and it's lack was hitting us every now and then.

[2018-11-29 14:12] miyconst commented on #453
Christian also told me that there is a way to setup server side JSON Patch applicator to ignore patches to non-existing objects instead of crashing, but now I was not able to find how to use that feature, maybe it's only available internally in Level1/XSON.

[2018-11-29 14:14] miyconst commented on #455
@alemoi do you have an idea of what is this?

[2018-11-30 05:15] SenerDemiral commented on #455
Sorry, but same problem exists in `v2.4.0.7024`.
Downgraded to  `v2.4.0.7006`.

[2018-12-01 07:48] SenerDemiral commented on #455
Same problem exists in `v2.4.0.7030`.
I don't know what to do!

[2018-12-01 09:10] alemoi commented on #455
Seems something in Administrator, but not something I know of. I will check if there is anything there.

[2018-12-01 12:00] SenerDemiral commented on #455
I tried on another machine `Windows Server 2018 R2`, same problem exists.

[2018-12-01 21:10] alemoi commented on #455
Seems its related to changes for `exeState.Key` made by @bigwad.
@bigwad can you please check?

[2018-12-03 06:29] SenerDemiral commented on #455
`v2.4.0.7032` is working now.

But there is another problem on the first run `Start with Debugger`.
`Ctrl+F5` on the browser solves the problem.
`Start Without Debugger` runs as expected. (No need to press `Ctrl+F5` on the browser)

Firefox
[code]
Chrome
[code]

[2018-12-03 10:30] miyconst commented on #455
@SenerDemiral thank you for validating the fix and reporting the issue.

Regarding the ` Unsupported mime type text/html` issue, it seems like something is cached in browser, could you please:

- Open Chrome Developer's Console and disable caching on the Network tab.
- Keep the Console open and load the page.
- See if the error persists.
- Report the network requests available on the Network tab i

[2018-12-03 11:55] SenerDemiral commented on #455
Reproduction
VS2017: Start With Debugger

-Firefox:
 Load the page. Page is Empty. (Network -> Disable Chache is checked)
 Console: XML Parsing Error: syntax error
          Location: http://127.0.0.1:8084/__bodved2/D2512EF3D685261100000010 Line Number 1, Column 1:
          View Source in Debugger: Unsupported mime type text/html.
					Network request has only uniform.css
 Then Ctrl+F5: Page load

[2018-12-03 12:43] alemoi commented on #455
@SenerDemiral which page in browser are you loading after `Start With Debugger`?

[2018-12-03 14:42] SenerDemiral commented on #455
Web Administrator -> Select Database -> Open App

[2018-12-03 16:34] miyconst commented on #455
@SenerDemiral could you please try with the [Images](https://github.com/Starcounter/Images) app or provide the sources to reproduce the error?

[2018-12-03 19:39] SenerDemiral commented on #455
I finally found the mistake.
[code]
Where can I put these lines?

[2018-12-03 19:52] SenerDemiral commented on #455
Anyway, I can live without it.
I exhausted all of your valuable time.
Sorry and thank you again.

[2018-12-03 21:49] miyconst commented on #455
@SenerDemiral thank you very much for using Starcounter and finding all of those bugs, it's very appreciated.

I have reproduced the issue, and it's not acceptable to have it. Thus, I am reopening the issue.

Steps to reproduce:

- Create a Starcounter application.
- Register an app handler using `Handle.GET` in the `Main` function.
- Add the culture settings at the beginning of the `Main` functio

[2018-12-03 21:54] miyconst commented on #455
@SenerDemiral, as a temporary work you can use the following properties to set culture info per session:

[code]

Beware that:

- It has to be done in the place where the session is created.
- It is only applicable for the session thread, means it will not affect the `Main` function itself, and it will not affect any running background jobs.
- The `Starcounter.Session.Current` property may be null

[2018-12-04 05:55] SenerDemiral commented on #455
@miyconst same problem exists.
[code]

[2018-12-04 06:43] SenerDemiral commented on #455
`CultureInfo culture = CultureInfo.CreateSpecificCulture("tr-TR");`
What a pity that, there is a problem on `tr-TR`.
`se-SE`, `es-ES`, `fr-FR` are all working.

[2018-12-04 06:49] SenerDemiral commented on #455
I think below characters causes the problem.
`i -> İ`
`ı  -> I`

[2018-12-04 06:57] SenerDemiral commented on #455
The Turkish Example
For most Latin alphabets, the letter i (Unicode 0069) is the lowercase version of I (Unicode 0049). The Turkish alphabet, however, has two versions of the letter I, one with a dot and one without. In Turkish, the character I (Unicode 0049) is considered the upper case version of a different character ý (Unicode 0131), and i (Unicode 0069) is considered the lower case version of

[2018-12-04 08:42] miyconst commented on #455
Aha! Thank you @SenerDemiral for nailing the issue down, I tested with `se-SE` collation and that's why it worked for me.

@alemoi this looks like an issue in URI matcher or related component, where string comparison happens, please follow up.

[2018-12-04 15:48] alemoi commented on #455
I have investigated this and found the problem. And the problem is in some Starcounter strings comparison, that are not culture independent. So, when you set current thread culture to something non-standard - than it persists on the threads for other non-user code as well. In this case its in `Starcounter.XSON` here: https://github.com/Starcounter/Starcounter.XSON/blob/develop/src/Starcounter.XSON

[2018-12-04 16:11] warpech commented on #447
Sebastian you will need to sort a copy of the array, not the array that is observed Palindrom.

Btw have you tried `uni-data-table` with the C# helper? It supports server side sorting done easily: https://uniform.starcounter.io/UniformDocs/DataTable

[2018-12-04 16:21] warpech commented on #145
The debugging information asked for by the OT is already implemented in the `Attachments` page in BlendingEditor:

![image](https://user-images.githubusercontent.com/566463/49456128-c4bd1700-f7e8-11e8-8699-7f84fd63bf1a.png)

There are issues to extend the functionality to have full CRUD operations on blending rules: https://github.com/Starcounter/Blending/issues/242

Closing as done elsewhere.

[2018-12-04 16:21] #145 closed

[2018-12-04 19:22] SenerDemiral commented on #455
This is the reason why the same error occurs if Windows region/country is set to TR.

[2018-12-05 09:34] Razkan commented on #447
@warpech when you say I have to copy the array, you mean I have to make a copy of each proxy object in the array?

I have used `uni-data-table` in a pair places, however from my personal experience the table is an investment, and in the right circumstances it works excellent while in other cases such as customization you have to settle for what you get.

[2018-12-05 10:04] warpech commented on #447
The problem with `.sort()` in JavaScript is that it sorts the array in-place (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort)

Looking at the provided patch, I think it would be enough if you only make a shallow copy of the array. If you make a deep copy, Palindrom won't be able to observe mutations to the objects in the array.

In ES6, the easiest way

[2018-12-05 10:56] miyconst commented on #378
Resolved in - [Update StarPack to support Project ToolsVersion higher than 4.0](https://github.com/Starcounter/level1/pull/4842).

[2018-12-05 10:56] #378 closed

[2018-12-05 11:04] Razkan commented on #447
@warpech works like a charm!

[2018-12-05 11:04] ubbeK commented on #378
Thanks @miyconst !

[2018-12-06 12:32] jedynykaban opened #456 "SQL Admin reports "Failed to execute query" when database class contains indexed field"
Starcounter version: `<2.3.2.90>`.

### Issue type

- [x ] Bug
- [ ] Feature request
- [ ] Suggestion
- [ ] Question
- [ ] Cannot reproduce
- [ ] Urgent

### Issue description
Problem is with SQL Admin, when in database class exists field with self-indexed field, SQL select query that conains this field cannot be executed (Failed to execute query / InvalidProgramException)

### Reproduction code s

[2018-12-06 12:52] k-rus commented on #456
Thank you for reporting the issue.
I don't know if this information will be enough to reproduce the issue. The application or schema with SQL query might be helpful.
@un-tone Can you look to this issue?

[2018-12-06 13:06] jedynykaban commented on #456
I will try to provide You with more datails soon.

[2018-12-06 23:12] warpech commented on #329
To clarify my proposal in OP. If the `Data` becomes null during the view-models life-cycle, the whole view-model should be disposed.

[2018-12-07 14:16] un-tone commented on #456
@jedynykaban Please provide:
1. the SQL query you requested in SQL Admin
1. the index details
1. `QuestionLangs` query

[2018-12-12 06:00] SenerDemiral opened #457 "Error in v2.4.0.7058"
Starcounter version: `<2.4.0.7058>`.

### Issue type

- [ ] Bug
- [ ] Feature request
- [ ] Suggestion
- [ ] Question
- [ ] Cannot reproduce
- [ ] Urgent

### Issue description

### Reproduction code snippet

[code]

### Exception stack trace

[code]

[2018-12-12 09:23] alemoi commented on #457
Thanks for reporting @SenerDemiral! This is now fixed and I have started a new nightly!

[2018-12-12 09:23] #457 closed

[2018-12-12 12:58] warpech commented on #453
The roadmap https://github.com/Starcounter/CompanyTrack/blob/master/Roadmap/Roadmap.md considers long and short-term solution to the lack of this feature. @dan31, @eriohl do you remember what is the short-term solution that is meant there?

I think the only way to fix this is to implement the actual transformations. It should not be super hard, given that we aleady have a reference implementation

[2018-12-12 13:36] eriohl commented on #453
I don't remember discussing that part nor do I understand how to short term fix it given that there isn't any OT there to fix. But maybe it is possible just to use the existing implementation given that is is possible to embed Node.js in .NET? It requires no input other the patches right?

[2018-12-16 14:32] tomalec commented on #453
Just patches (with/and version numbers), JSON tree is not needed.

[2018-12-17 12:06] un-tone commented on #271
Fixed in https://github.com/Starcounter/level1/pull/4698 and https://github.com/Starcounter/level1/pull/4787

[2018-12-17 12:06] #271 closed

[2019-01-08 14:20] PatrykSzwer commented on #86
We stomped on this issue again. Related comment: https://github.com/Starcounter/Blending/pull/395#issuecomment-449036748

This time, Blending app wasn't building correctly after my recent change to one of the view-models. Basically what I did was:
- There was a view-model without code-behind, `CompositionInserter.json`.
- I removed it and created new one, with same name but this time, with code be

[2019-01-13 19:40] SenerDemiral commented on #319
Another way: Pattern matching with `is` `Type pattern`
[code]

[2019-01-21 10:05] jedynykaban commented on #456
Hi sorry, I forgot a little about it. I prepared code (enclosed) to reproduce that bug, but You need to have at least one entity (data) in database, to made exception occur.

You can insert it with endpoint PUTting data like this:
`{
  "entities":[
    {
      "intValue": 5,
      "stringValue": "high five",
      "subId": 3,
      "stringSubValue": "low three"
    }
  ]
}`

Then just execute sele

[2019-01-21 10:46] warpech opened #458 "star.exe goes into an infinite loop if one of the restarted apps throws an exception"
star.exe goes into an infinite loop if one of the restarted apps throws an exception.

## Steps to reproduce

#### 1. Create file test.cs

[code]

#### 2. Create file test2.cs

[code]

#### 2. Make sure there is no file c:\empty.txt

#### 3. Run two apps:

[code]

#### 4. Create a file c:\empty.txt

#### 5. Restart the first app

[code]

## Expected

The app `test.cs` should restart. The app `test

[2019-01-21 10:47] miyconst commented on #458
@alemoi could you take a look please?

@bigwad could be it related to your latest app startup changes?

[2019-01-21 11:05] miyconst commented on #456
@jedynykaban thank you very much for the example for the issue reproduction. Unfortunately this is a limitation of current weaving technology.

Indexers in the database classes are not supported, the culprit code is this:

[code]

You can replace it with a function like:

[code]

cc @per-samuelsson

[2019-01-21 11:10] warpech commented on #458
Moreover, after it goes into the infinite loop, `staradmin stop db` can't stop the database. Only `staradmin kill all` helps.

[2019-01-21 12:30] per-samuelsson commented on #456
Don't see why we couldn't support those, because they are basically just syntax sugaring. Is it that weaver don't rule them out as database properties, or is it because SQL can't deal with them properly, in case we should expose them in the schema?

[2019-01-21 13:08] miyconst commented on #456
@per-samuelsson, you are right, it actually might be Starcounter Administrator issue rather than weaver. I will check.

[2019-01-21 16:04] alemoi commented on #458
I have started the investigation and it seems there are some hanging mechanisms in `scadminserver`:

![image](https://user-images.githubusercontent.com/208134/51485282-f9d3f780-1d9d-11e9-8023-0c0dfcc9316b.png)

I am not aware of how exactly the app management is supposed to work in `scadminserver`. I guess the best one to check this is @per-samuelsson

My guess would be that the `scadminserver` is

[2019-01-21 16:13] per-samuelsson commented on #458
I can help diagnosing this if no one else does that.

Do we know if this is a new flaw, and this use case has worked before?

[2019-01-22 14:12] jedynykaban commented on #456
Application works with enity defined this way. Like I reported, probelm starts, when I need to check data in SQLAdmin and hints:
* only occur when data are in tables (with empty tables Admin works ok),
* workaround is to declare interface explicitly (if there is such possiblity)), i.e. with small modifaction of attached code:
was:
`    [Database]
    public class Entity`
should be:
`    public int

[2019-01-22 14:19] miyconst commented on #456
@jedynykaban thank you for the extra info, I confirm, that it's an issue in Starcounter Administrator.

[2019-01-23 13:41] per-samuelsson commented on #458
FYI, I've set it up locally and using latest sources, and I can repro it.

[2019-01-23 14:55] per-samuelsson commented on #458
OK, so I found it's [`HttpInternal.POST` here](https://github.com/Starcounter/level1/blob/develop/src/Server/Starcounter.Server/Commands/Processors/StopExecutableCommandProcessor.cs#L148-L149) that is used to call from the admin server into the code host, telling it to load an app and return it's entrypoint, that never return in case the host process dies (which is what happen).

Have a vague memo

[2019-01-23 19:02] alemoi commented on #458
I guess we just need to have a timeout on this POST REST call (`Http` API allows setting max response time), because host can occasionally die by some other means.

[2019-01-25 11:15] alemoi commented on #458
No, thought only about this particular call.
But its super-low prio I would say, isn't it?

[2019-01-25 12:31] warpech commented on #458
Its also interesting that restarting second time the exception app star test2.cs - it does not cause this hang.

All I know is that `star.exe` writes a new line with the word "restarting" every second, infinitely:

[code]

[2019-02-01 14:19] ubbeK commented on #331
This could be tested kernel without level1.

cc @bigwad

[2019-02-06 10:50] mmnosek commented on #441
This still doesn't work. I am not able to use Starcounter when logged in to another system user. I installed Starcounter in a path that both admin and non-admin can access, but I still have an error from the OP.

[2019-02-06 10:53] ubbeK commented on #441
Complete discussion at: https://starcounter.slack.com/archives/C5Q4Y78F5/p1549437252257200

[2019-02-06 13:14] iqbalskd commented on #441
To work with Starcounter Visual Studio extension, a user much have `StarcounterBin`  Environment Variable set for his/her account.

[2019-02-06 15:45] iqbalskd commented on #441
Added a section in the troubleshooting doc:
https://github.com/Starcounter/AdminTrack/blob/master/DevelopmentInstructions/DeveloperHelp/troubleshooting.md#unable-to-create-or-load-starcounter-project-in-visual-studio

[2019-02-06 16:31] bigwad commented on #441
I'd suggest keeping it open. Troubleshooting is good for untypical situations, while this one should work flawlessly out of the box.

[2019-02-08 22:17] warpech commented on #439
I can't find the discussion now, but I remember that @miyconst wrote to me on Slack that it is an anti-pattern to implement this, because it will be impossible to support in multi process Nova, which is designed NOT to have a common file server.

@miyconst pls confirm.

[2019-02-10 14:20] miyconst commented on #439
@warpech, unfortunately, this discussion was only held offline, as far as I remember.

There are a few major concerns with this approach, and I don't think it shall be part of any app at all. If we implement it, it shall be a part of the Polyjuice platform.

- Multi-host, as you mentioned, different apps will use different web server.
- Way to many points of failure:
  - What if the app is not run

[2019-02-11 09:00] tomalec commented on #439
I think actual need is to notify Starcounter's app-shell. So if we will integrate SCF/`app-shell.html` to the Polyjuice installation, it will not be a case.

Could you describe such race condition?

I think for our needs a solution where notification will be send for a chnage file, that is overwritten by other file which was not change, is fine. That means we will invalidate the cache even though

[2019-02-12 05:37] miyconst commented on #439
@tomalec can we have an online or offline meeting about it again? I strongly believe that this feature should not be implemented, since it's extremely error prone and requires way too much investment.

Some answers to the questions:

- Integrating app shell into Starcounter won't help because there is no guarantee, that Starcounter will be running at the time of the update.
- Race condition will h

[2019-02-12 10:56] tomalec commented on #439
Sure, I'd be happy to. Please, propose a date, maybe somewhere in next week or two, as I guess you are pretty busy right now.

[2019-02-15 22:50] AdeelMalhi opened #459 "Index was outside the bounds of the array"
Starcounter version: `<2.3.1.7294>`.

### Issue type

- [x] Bug
- [x] Question
- [x] Urgent

### Issue description
https://starcounter.slack.com/archives/G5HAK773N/p1541589321003300

These looks like similar issues but can be different table scan not sure
https://github.com/Starcounter/Home/issues/270
https://github.com/Starcounter/Home/issues/303

IEnumerable<UrlCleanUpDetector> detectors = Db.SQ

[2019-02-19 08:16] warpech commented on #439
The meeting is scheduled on 26 Feb.

[2019-02-27 16:13] warpech commented on #439
@miyconst, @alshakero, @tomalec and me agreed today that this is needed and useful for any projects that have web GUIs. The more components, the bigger the benefit.

The decisions made:

1. cache key should regenerate on server start, in case a URI changed when the server was stopped
   - we have an implementation of this point as proposed changes to `PartialToStandaloneHtmlProvider`, commited as

[2019-02-28 12:43] ubbeK commented on #411
This is not an issue anymore.

[2019-02-28 12:43] #411 closed

[2019-03-07 15:35] nomanAdfenix commented on #459
:(

[2019-03-11 13:08] bigwad commented on #459
It's a duplicate of https://github.com/Starcounter/Home/issues/270. The issue has been fixed for more than a year and the fix is available in the latest 2.3.1 release build: https://downloads.starcounter.com/download/Starcounter/LTS/2.3.1.8415

[2019-03-14 09:08] warpech commented on #439
@miyconst, @alemoi please inform if @alemoi can proceed with "right" implementation, or should my team provide an ad-hoc implementation with a new file watcher in `PartialJsonToStandaloneHtmlProvider`

[2019-03-14 09:09] alemoi commented on #439
I will do it, just negotiated with @miyconst

[2019-03-14 12:12] alemoi commented on #439
As I understand a cache key is assigned to a static resource, and is retrievable by resource URI (i.e. `request.Uri`). So my questions are:

When SC server starts, there is nothing in file cache, because there is no file cache even created yet, there is no codehost even started. Can you explain please?

Which cache key? How to determine which keys should be regenerated? Can the whole cache be flus

[2019-03-18 13:56] warpech commented on #439
@alemoi please note that it is not the server-side cache that we are invalidating here. It is a client-side cache that we need to invalidate. The client only knows what the server tells him, and that includes the identifier for cacheable resources ("Service Worker cache key").

Not actually, the single Service Worker cache key represents the collective version of all static files served by the sta

[2019-03-20 14:48] alemoi commented on #439
I have chatted with @warpech and understood the situation: on the server inside `PartialJsonToStandaloneHtmlProvider` you need to monitor only one file `service-workers.js` and that's it. I have checked our static file server implementation, and it does not have a direct functionality to monitor individual files, I would have to create it just to support this case, which I don't think is right. My

[2019-03-20 15:31] tomalec commented on #439
I think we need to **monitor all** static files, or at least a white list of files. Then `PartialJsonToStandaloneHtmlProvider` **uses** a notification to change `service-workers.js`.

[2019-03-20 15:49] alemoi commented on #439
I asked @warpech and he confirmed its only one file `service-workers.js`, lets see what he says here.

[2019-03-20 16:54] alemoi commented on #439
Ok, now I see. Will try to retrieve all folders from static file server for monitoring.

[2019-03-20 21:05] eriohl commented on #439
Regardless of the number of files it seems to me that adding a file watch on a static file seems not like a something we should be seeing a lot in application code right? So then it will not be supported by a public method in `Starcounter.Handle`.

[2019-03-20 21:36] tomalec commented on #439
We need that for the app shell that initializes frontend framework.
So that's not the app's code, unless the app want's to overwrite the app shell delivered with the installation.

[2019-03-20 22:33] alemoi commented on #439
As I wrote, I have checked the static web server and its mechanisms are totally different from the desired. For example, static file server sets "monitors" on the file system only when the file is accessed (it takes file folder to monitor): https://github.com/Starcounter/level1/blob/develop/src/Starcounter.Hypermedia/StaticWebServer.File.cs#L222 Maybe its done this way because monitoring folders i

[2019-03-20 23:23] miyconst commented on #439
If a file was not requested, the it was not cached by the browser, then it makes no sense to flash cash when it's changed.

Thus, I suggest to add monitored files / folders the same way Static Files server does it. Flush the cache when a change in one of the monitored files / folders happen.

[2019-03-20 23:57] eriohl commented on #439
My point was that making `Handle.GetFilePathFromUri` public doesn't seem very appropriate (especially since it didn't even solve the problem). Not I think is having application code working with files.

Web server static files isn't even supposed to be served by the worker processes and you certainly shouldn't assume it is.

[2019-03-21 00:13] eriohl commented on #439
My point was that making `Handle.GetFilePathFromUri` public doesn't seem very appropriate (especially since it didn't even solve the problem). Nor I think is having application code work with static web server files. Likely the worker process won't even be able to access them (as the built-in web server won't be the one serving them to the client).

[2019-03-21 07:45] eriohl commented on #439
Well: We plan to replace built-in static web server as soon as possible and the worker process is not suppose to serve the static web server files anyway (we only added this for development convenience). So unless this is an immediate concern it seems like not something we should be doing at all right now in my opinion. (But I only got involved because this `Handle.GetFilePathFromUri` being made p

[2019-03-21 10:36] eriohl commented on #439
Later learned that is is in fact of immediate concern so never mind.

[2019-03-25 09:42] alemoi commented on #439
After discussing with @mtornwall since its needed immediately today I'm adding a solution.

[2019-03-26 23:33] alemoi commented on #439
I have added a temporary solution. Lets see how it goes (reference to assembly `Starcounter.Apps.JsonPatch` should be changed to `Starcounter.App.Server`):
[code]

[2019-03-27 14:11] warpech commented on #439
I didn't try to run it yet, but I have few comments that I discussed with @alemoi on a Slack call:

1. We don't need to three distinct events like `FileDeleted`, `FileChanged`, `FileRenamed`. One event `ResourceChanged` is sufficient.
2. The event should have a property that contains the resource URI. The file path is irrelevant for this event.
2. We should abstract away the fact that static resou

[2019-03-28 13:37] warpech opened #460 "Starcounter uninstallation fails on XSON files being used by VS Code/OmniSharp"
Starcounter version: `2.4.990.245`.

### Issue type

- [x] Bug
- [ ] Feature request
- [ ] Suggestion
- [ ] Question
- [ ] Cannot reproduce
- [ ] Urgent

### Issue description

When I uninstall or upgrade Starcounter, and Visual Studio Code is running, the uninstaller fails because few XSON DLL files are used by OmniSharp. Is there anything we can do with that?

![2019-03-28 14_27_11-Apps _ WebPla

[2019-04-05 12:12] warpech commented on #439
I have tried to use the API in https://github.com/Starcounter/UniformDocs/pull/357.

I have some problems, please check my last comment there. The `WatchResources` callback is not called.

[2019-04-08 09:02] erikvk commented on #455
I have pushed fixes to XSON to address this, and test to validate, in PR https://github.com/Starcounter/Starcounter.XSON/pull/63 for those of you who can see it. Closing this as fixed.

[2019-04-08 15:17] miyconst commented on #455
Thank you for the fix @erikvk . Closing.

[2019-04-08 15:17] #455 closed

[2019-04-08 15:49] un-tone commented on #335
Fixed the issues.

[2019-04-08 15:49] #335 closed

[2019-04-15 11:32] tomalec commented on #453
On Thursday 11th April @eriohl @erikvk @dan31 and me had a meeting to gather common understanding of current implementations and plan the architecture and the way to go with the new server-side implementations.

I'd like to write down some highlights from the meeting.
- I explained the relations between our client-side packages that covers entire JSON Patch flow:
  - https://github.com/Palindrom/P

[2019-04-15 11:42] erikvk commented on #453
@tomalec Thanks for the writeup!

[2019-04-16 06:20] SenerDemiral opened #461 "Starcounter upgrade fails 2.4.0.7243 -> 7267"
Starcounter version: `<>`.

### Issue type

- [X ] Bug
- [ ] Feature request
- [ ] Suggestion
- [ ] Question
- [ ] Cannot reproduce
- [ ] Urgent

### Issue description

### Reproduction code snippet

[code]

### Exception stack trace

[code]
![Capture](https://user-images.githubusercontent.com/3463333/56186330-c1078f80-6027-11e9-9436-0e4d87a4a1f0.PNG)

![Capture2](https://user-images.githubusercon

[2019-04-16 15:09] eriksunsol opened #462 "Transactions blocking each-other?"
Starcounter version: `2.3.1.8415`.

### Issue type

- [X] Question

### Issue description

I have a few situations where I'm experiencing that a server gets congested when code running inside a `Db.Transact()` takes a considerable amount of time, e.g. about 60 seconds. Of course this code is not ideal, but nevertheless, it got me curious.

What happens is that during that 60 second transaction, no

[2019-04-16 21:34] eriksunsol opened #463 "Truly streaming Response from handler?"
Starcounter version: `2.3.1.8415`.

### Issue type

- [X] Feature request
- [X] Question

### Issue description

Maybe this is possible already, but if so I could use a pointer to such information, or a code snippet showing an example:

A handler which produces a large payload currently seems only to have the option to generate the entire payload and then pass it to a `Response` object which is in