[2017-06-30 06:22] per-samuelsson commented on #166
Thanks for feedback on that. I did not realize that at first.

That is weird. I never heard of anything like that, and my initial guess is it's not caused by the weaver, but well, yeah, could be. Let's see if we can gather the cause.

[2017-06-30 06:29] per-samuelsson commented on #169
@rogeralsing, thanks for helping out!

I'm quite sure that is not the case, since weaver would only ever operate on classes explicitly marked as database classes, and that include nested classes. Actually, if I recall correctly, we currently even don't support nested database classes, and I think the reason was some problem with how we should use their names in combination with SQL.

Just very gen

[2017-06-30 07:42] rogeralsing commented on #169
Even this generates the described problem.

[code]

[2017-06-30 08:54] ubbeK commented on #168
Thanks for that explanation.

Closing, invalid.

[2017-06-30 08:54] #168 closed

[2017-06-30 08:58] per-samuelsson commented on #169
Update: I've been able to reproduce both on 2.3 and have found we did in fact rewrote the implementation that validates constructors in the weaver ~ 4 years ago. The new implementation is pretty naive, and if I'm reverting to the older (much more complex) version, above code pass.

What is bothering is there seem to be no regression tests stuck to the rewrite, so I can't really tell why it was don

[2017-06-30 09:41] erikvk commented on #169
OK, the issue is easy to work around. This is how I did it in my real data class:

[code]
Just moving the lambda to a static method will solve the issue.

[2017-06-30 09:52] chrhol commented on #136
Thinking about this some more, maybe it's better to not make `Session.Current` autocreate session. Instead we do it more like in the poc from @joozek78, with an `Session.Ensure()` method.

- `Session.Current` returns current session or null.
- `Session.Ensure()` return current if not null, otherwise it creates a new session and sets it as current.
- `Session.CurrentOrDefault` is no longer needed w

[2017-06-30 10:21] per-samuelsson commented on #169
Thanks for sharing that @erikvk, and for providing all feedback in general.

I'm somewhat reluctant to change the constructor validation back to it's own implementation at this very point, since I'm not sure why we made the change in the first place, and I'm not sure how much I can work with it / give proper support if it would have side effects in upcoming weeks. The state of affairs right now is

[2017-06-30 10:26] erikvk commented on #169
Going back to old code can be a nightmare, so I'm with you on that :)

What I'm missing in these cases, and in other cases when Starcounter errors are thrown, is appropriate feedback. Clicking on an exception's "Learn more" link usually leads to a GitHub 404, or some empty error page. Just a little information saying "We know of this error, just put your lambda in a static helper method and carry

[2017-06-30 10:26] per-samuelsson commented on #166
I've checked with @atifwaqar about duplicate assemblies (those starting with a period) and it seem to have been caused by a flawed environment. It's no longer a problem, and hence I'll focus on other stuff until further notice (cleared that with @atifwaqar too).

Regarding the original issue, I'll see if I can reproduce it and comment on it.

[2017-06-30 10:31] rogeralsing commented on #169
The easiest workaround seems to be to just copye the ctor arg to a local var.
This works:

[code]

This way, the ctor arg is not lifted into the displayclass (now it's the copy)

[2017-06-30 10:32] erikvk commented on #169
Nice, thank you. I will use that workaround in my project

[2017-06-30 10:48] per-samuelsson commented on #169
Totally understand what you are saying, and 100% agree that we need to improve quite a bit in this area.

And, actually, there is already an effort going on, to support a better infrastructure for us to start documenting about particular cases, and promote that to developers. It's discussed here: https://github.com/Starcounter/TechComm/issues/253. Although I'm not sure you can access that?

Maybe

[2017-06-30 12:35] chrhol commented on #136
I've changed the behaviour in commit 93274d7f76e47bd521bc660d737c1fb8e0bf1a8c for the things in the previous comment.

I haven't updated the branches in the apps yet though, so they will not work correctly at the moment.

[2017-07-01 09:18] bigwad commented on #121
Fixed at long last.
From now on instead of freezing, you might see this message in the Watch window or in a datatip:
![image](https://user-images.githubusercontent.com/2953584/27752194-0b69553c-5de0-11e7-955d-844221dced5a.png)

Just press the icon next to the message to get a value.

[2017-07-01 10:56] atifwaqar commented on #121
This is a great news. @bigwad great job.

[2017-07-03 10:20] chrhol commented on #137
After testing the flow in the last referenced issue (https://github.com/StarcounterApps/SignIn/issues/111) I am not sure anymore that my previous comment is valid.

It might be working exactly as intended 😕 The root should be changed in some cases.

[2017-07-03 11:16] LordTep commented on #163
Sorry for late response. Here is the HTML code for the dialog.

`<paper-dialog class="gps-paper-dialog__dialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation" no-cancel-on-outside-click="true" modal="true">
            <div class="gps-select-criteria-tabs">
                <template is="dom-repeat" items="{{model.CriteriaTabs}}">
                    <button class="gps-sel

[2017-07-03 14:12] erikvk opened #170 "Weaver and System.ValueTuple literals in interface declarations"
This is a minor issue, separate but related to #166
Adding the following class to a Starcounter project:

[code]

will generate this weaver error at app startup:

[code]
Where `Mopedo.Base.dll` is the assembly containing the above class definition.

The problem seems to be that the weaver (presumably) cannot handle interface implementations with a `System.ValueTuple` literal containing tuple membe

[2017-07-05 07:55] chrhol opened #171 "Flaw in response-handling for TypedJSON and jsonpatch."
After introducing changes for #137, that the root viewmodel used for patching is automatically updated based on what is returned as response, a flaw in how we convert a resource to the wanted response based on accept-header was found.

**This is how it currently works:**
1. Incoming request with accept-header `application/json-patch+json`
2. The handler that should handle this request is called.
3

[2017-07-05 11:53] chrhol opened #172 "Obsolete/drop class Entity and Inherits, Type and TypeName attributes"
The `Starcounter` assembly contains some public classes and attributes that comes from discontinued work and in the current shape are not working.

Each of these items should be marked as obsolete in `2.3` and dropped in `2.4` (aka `develop`)

List of items (class and attributes) to be obsoleted/dropped:
- Entity
- InheritsAttribute
- TypeAttribute
- TypeNameAttribute

[2017-07-05 14:35] atifwaqar commented on #166
SC Version: 2.3.0.6350

Guys, we experienced `An unhandled, unidentified (non-Starcounter) exception occurred in the weaver. (ScErrUnhandledWeaverException (SCERR6066))` again today. I don't know how and why it appeared. but it was not disappearing no matter what I do.
After spending an hour, I just deleted my DB, and this issue disappeared. I did not change anything in my Weaver file. I hope this

[2017-07-05 15:03] warpech opened #173 "Upgrade Polymer to 1.9.2"
Let's upgrade Polymer in Starcounter 2.3 to the current version (Polymer 1.9.2), https://github.com/Starcounter/level1/issues/4208

@alshakero can you pls do that, same way as in https://github.com/Starcounter/level1/issues/4208

[2017-07-06 07:33] chrhol commented on #139
Added one more issue that was detected during implementation of one of the other that needs to be solved (#171)

[2017-07-06 09:56] warpech opened #174 "WebSocket closing message not always includes the stack trace"
## Steps to reproduce

See @alshakero's comment https://github.com/Starcounter/Home/issues/174#issuecomment-313372872 for easy reproduction.

Alternative:

<details>
<ol><li>Start <a href="https://github.com/StarcounterApps/KitchenSink/commit/a35a6f01ad81944efb0c94a5399928c2ce30ee34">https://github.com/StarcounterApps/KitchenSink/commit/a35a6f01ad81944efb0c94a5399928c2ce30ee34</a>
<li>Start <a hre

[2017-07-06 11:43] alshakero commented on #174
Easier reproduction would be:

In **any** SC app:
1- Open Chrome console.
2- Execute `document.querySelector('puppet-client').puppet.ignoreAdd = false; document.querySelector('puppet-client').puppet.obj.a = 1`
3- Click anywhere in the app to trigger jsonpatch.

[2017-07-06 13:20] bigwad opened #175 "Query processor may mix up type names from different assemblies and fail unexpectedly"
Consider two assemblies with coinciding type names. The first type name is a public database type and the second is internal non-database.

Given

Assembly1:

[code]

Assembly2:
[code]

Then this code may fail:
[code]

What's going on here is that query processor enumerates loaded assemblies in order to find type A.C. And if it finds Assembly2.A.C first then execution fails.
Such approach is error

[2017-07-06 22:50] ubbeK opened #176 "Reference .net core assembly in Starcounter app"
I am trying to make proof of concept for a Starcounter test framework which is using `.NETStandard 1.4`. My goal is to create an ordinary Starcounter Application using `.NET Framework 4.6.2` or higher which references the test framework. But when doing this I get the following weaver error:

[code]

Is it possible to reference a .net core assembly in a Starcounter app?

@warpech @miyconst @per-sam

[2017-07-07 07:31] bigwad commented on #175
Fixed

[2017-07-07 07:31] #175 closed

[2017-07-07 07:36] bigwad commented on #176
Not supported currently. Duplicate of https://github.com/Starcounter/RebelsLounge/issues/108?

[2017-07-07 07:38] bigwad commented on #176
Btw, if a referenced assembly doesn't need to be weaved (i.e. it doesn't contain database classes) then you can exclude it from weaving by means of weaver.ignore file.

[2017-07-07 08:07] bigwad commented on #121
I got a report that the problem occurs sometimes. Less often than before but still.
If you hit it, please make a dump of sccode.exe process and let me know.
You may use the task manager to create a dump:
![image](https://user-images.githubusercontent.com/2953584/27948866-aa37a1da-62fb-11e7-96e7-5f4d0ce77ee0.png)

[2017-07-07 09:46] bigwad commented on #149
RunWithinApplication is vital to allow scenarios such as https://github.com/Starcounter/level1/issues/3210
That is to call Db.SQL from a scheduled task.

[2017-07-07 12:03] bigwad commented on #149
@alemoi, I've put back usage of RunWithinApplication in [this code](https://github.com/Starcounter/level1/commit/956942886ad388cda52243987a2c5fca489a597f), until we have something for replacement.

[2017-07-10 10:15] alshakero commented on #173
Closing as done in https://github.com/Starcounter/level1/pull/4229.

[2017-07-10 11:03] chrhol commented on #171
Had a little talk with @alemoi about this and have come up with some strategy on how to move forward. It looks like the correct way is to refactor and rewrite how we do conversions to a specific mimetype.

I will spend a little time to think about the solution and look in the code and then write down here what needs to be done.

Also, this will include #78.

[2017-07-10 11:15] mmnosek commented on #149
@alemoi @bigwad  [your change](https://github.com/Starcounter/level1/commit/956942886ad388cda52243987a2c5fca489a597f) just increased benchmark numbers 5 times. I just want to make sure - without `RunWithinApplication` code is run on one thread, having this allows code to be executed on any available thread?

Could you please explain why it's like this?

[2017-07-10 11:19] bigwad commented on #149
@mmnosek, it's not related to RunWithinApplication - it's internals of tpcc test. I think previously it was overparallelized - I mean it executed in parallel some transaction it shouldn't. But I'll double check it.

[2017-07-10 11:32] mmnosek commented on #149
Please do, it makes a huge difference, I would really like to understand it.

[2017-07-10 12:02] bigwad commented on #149
@mmnosek, I checked tpcc and latest change might affect its performance in some cases, but I'm not sure you're talking about the same issue.
What benchmark are you talking about?

[2017-07-10 12:47] mmnosek commented on #149
I'm doing TPCC implemented in Level1: https://github.com/Starcounter/level1/tree/develop/src/Samples/TPCC

The test I do is just calling`/all_no_io` handler, so internal transactions without any I/O. Without your change above I had around 2000tps, after adding `RunWithinApplication` I got around 10000tps. So it looks like a massive difference.

[2017-07-10 12:51] nazmuladfenix opened #177 "Data fetching error"
I am running a count query like this
[code]
Result: 63
 But when I am trying to select data by select query like this
[code]
where FETCH value is 10 and OFFSET value is 20 or more its through an exception like " System.IndexOutOfRangeException: Index was outside the bounds of the array. " If the OFFSET value is less than 20 then it's works fine.

Note: When I am running same query in database work

[2017-07-10 13:24] Mackiovello commented on #177
So the query works when running in the administrator but not in the application code with `Db.SQL`?

Just a hint for future reference, please [code blocks and syntax highlighting](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code) for future issues. It makes it much easier to read the code. For example:

[code]

[2017-07-10 13:36] bigwad commented on #149
Ok, I see.
The thing is - tpcc used to have an issue with error handling in /all_no_io handler you use. Actually, exceptions were just ignored. But there were no actual exceptions, so tpcc had run just fine until @alemoi removed RunWithinApplication call. Then /all_no_io started to fail, but nobody noticed that and I think that performance difference you see is just the fail path runs way slower.

[2017-07-10 14:40] k-rus commented on #177
Thank you for reporting the issue. If somebody can prepare a small isolated reproduction test, it would be great. Currently it is difficult to say if it is easy or difficult to reproduce.
I add it to my to-do list and hope to find time after vacation.

[2017-07-10 14:41] k-rus commented on #177
What version of Starcounter?

[2017-07-11 06:16] nazmuladfenix commented on #177
Thanks for such a quick response. I am using

 version. I am currently stuck with this issue. Is it fixed in the latest version ?

[2017-07-11 06:35] k-rus commented on #177
I suggest you use a work around. If I understood you correctly, you get correct result if you write query without fetch and offset. Is it correct?

[2017-07-11 06:38] nazmuladfenix commented on #177
Yes, but with fetch and offset the query works fine if the offset value is less than or equal 20.

[2017-07-11 07:55] chrhol commented on #78
I'm back to this again, due to the problems described in #171.

We need to rework and simplify how we convert some resource to a specific mimetype from a response, and also this is a good opportunity to remove some dependencies from `Starcounter.XSON` to make the transition to a separate package easier.

**Things to obsolete (in `v2.3`) and remove (in `develop`):**
- Obsolete/remove the `IResource

[2017-07-11 07:56] chrhol commented on #171
It's the other way around. #78 will include the fix for this issue. I will continue in that issue.

[2017-07-11 08:29] chrhol commented on #78
One other question: should registered middleware for handling mimetypes be triggered *first* and not *last*? It feels a bit strange that you can register a middleware for a specific mimetype (i.e. `application/json-patch+json` and `application/json`) that will never be triggered.

[2017-07-11 09:03] joozek78 commented on #78
It's actually used in [Authorization / Routing](https://github.com/Starcounter/authorization/blob/master/Authorization/Routing/Router.cs#L24) to construct a Response. I'd welcome a deprecation phase to allow me to change it to a new construction scheme.

As far as I understood you want to have one polymorphic `Body` property. Why not use (existing?) interface to hide different underlying bodies? I

[2017-07-11 09:32] chrhol commented on #78
Yeah I saw that, but the only thing there is that it's set as `response.Resource`. It will be quite easy to migrate and keep the same functionality.  And of course, the aim is to keep it compatible in `v2.3` and remove it later when `Starcounter.XSON` is moved to a separate package.

I want to simplify as much as possible. We have too many different ways to achieve the same thing and too many inte

[2017-07-11 09:36] joozek78 commented on #78
I admit I haven't seen this code, but I believe it will be messy if we have a property of unspecified type (object?).

I think we can represent mime type as string without a problem. I don't know how is `request` parameter used exactly, but maybe we should just remove that? I looks strange. When we already have generated response why would we need request again?

[2017-07-11 09:45] chrhol commented on #78
As for `request` I have no idea either. Looking at the git log it seems to have been there since the beginning.

Alright, so lets keep the interface, but deprecate the methods that uses `Starcounter.MimeType` and `Starcounter.Request` as parameter to make it a bit more simpler (and by that easier to use).

Thanks for the feedback @joozek78!

[2017-07-11 10:25] chrhol commented on #78
As for this, there are already a lot of different representations on `Response` that cannot implement `IResource` so there are separate fields for `string`, `byte[]`, `Stream` and `Resource` that needs to be taken in consideration already when serializing a response, so this section was more to simplify the `Response` class a bit.

I will perhaps leave that to later (or leave it for @alemoi :wink:

[2017-07-11 11:04] joozek78 commented on #78
I don't want to go into the details (among other reasons, I don't know them well), but I'll just toss an idea:

Why not wrap them in a struct?

[2017-07-11 12:08] warpech opened #178 "Implement case-insensitive HTTP headers"
Right now, pages served via `PartialToStandaloneHtmlProvider` do not work correctly when HTTP headers like `Accept` are sent in lowercase (`accept`).

This turned out to be a problem when Cloudflare is ran as a HTTPS proxy for Starcounter, because then it rewrites all the request headers to be lowercase (see: https://github.com/Starcounter/AdminTrack/issues/296)

## Steps to reproduce the problem

[2017-07-11 12:57] joozek78 opened #179 "Weaver crashes for absolute path in weaver.ignore"
Probably because of spaces.

1. Create weaver.ignore with absolute path, like `C:\Program Files\Starcounter\LibrariesWithDatabaseClasses\Starcounter.Extensions.dll`
1. run scweaver
1. Exception:
[code]

[2017-07-11 13:25] bigwad commented on #179
I played with a weaver a little bit, so I'll answer this.

The problem is that the weaver tries to create a regexp out of weaver.ignore items, but don't convert backslashes to fulfill regex format. So the problem is with unescaped backslashes. This one would pass:
`C:\\Program Files\\Starcounter\\LibrariesWithDatabaseClasses\\Starcounter.Extensions.dll`

But it serves no purpose, as the weaver mat

[2017-07-13 09:52] warpech commented on #86
Today @tomalec also had this problem, see the two comments at: https://github.com/StarcounterApps/CompositionProvider/pull/13#issuecomment-315009343

Can we fix this? Many people are confused thinking that our apps don't build, when in fact they build but require manual cleaning before building.

[2017-07-13 11:35] tomalec commented on #86
In fact I had it with SignIn app ;)

[2017-07-13 13:50] nazmuladfenix commented on #177
There is an update about the problem.
If I remove sorting ("ORDER BY Name ASC") from the query then everything works fine.

[2017-07-17 10:38] RickardR commented on #121
What version has this fix? Running Starcounter-RC-2.3.1.6450 right now.

[2017-07-17 10:59] bigwad commented on #121
Fixed in 2.3.1.6694

[2017-07-17 12:00] RickardR commented on #121
Nice thanx (fyi, the current latest on the download page can't be downloaded.
2.3.1.6769 just gives you an error message). Ill download 6743 meanwhile.

[2017-07-17 13:13] ersintarhan opened #180 "download link doesnt working"
Hello,
Download link on http://downloads.starcounter.com/download/Starcounter/Release/latest does not working. Could you please check ?

[2017-07-17 13:34] alemoi commented on #121
@andwah can you please check what's going on on the download server when you are back?

[2017-07-17 13:43] atifwaqar commented on #121
I have SC 2.3.1.6739
and I successfully got my VS stuck :P

[2017-07-17 13:49] SenerDemiral commented on #180
Same on Develop!

[2017-07-17 13:59] Mackiovello commented on #180
Thank you both for notifying us! We're looking into it at the moment to find what's wrong. Hopefully, we'll have it up and running as soon as possible.

[2017-07-17 14:25] Mackiovello commented on #180
While we're working on this, here's the link for the latest RC build: https://drive.google.com/file/d/0B7ErcI3u1ERkTTVZS0dPeERzTGc/view?usp=sharing

Here's the link for the latest develop:
https://drive.google.com/file/d/0B7ErcI3u1ERkR0FBdExaVGI5czg/view?usp=sharing

[2017-07-17 14:26] bigwad commented on #121
@atifwaqar, would you mind to make a dump of sccode.exe next time?

[2017-07-17 17:44] atifwaqar commented on #121
Ah, sorry, i totally forgot about it. next time this happens, i'll definitely make a dump

[2017-07-18 05:51] Mackiovello commented on #180
All the latest versions are available for download again! I apologize for the inconvenience

[2017-07-18 05:51] #180 closed

[2017-07-18 11:27] muna-adfenix opened #181 "Read value from app.config file"
Hello guys,
I have an app.config file in starcounter console app. I have added some configuration data in this file. For example:
[code]
But when I read this value from code its returns null. For example:
[code]

Even if when I tried to get value by section, it returns 0(Zero) key of this section. For example
`var appsettings = ConfigurationManager.GetSection("appSettings");`

Is there any way to

[2017-07-18 11:45] joozek78 commented on #181
Starcounter doesn't respect `app.config` files - that's because the process is "merged" into `sccode.exe`.

AFAIK you could just find the file and open it like any other on filesystem.

If you feel my answer isn't helpful / complete, please reopen

[2017-07-18 11:45] #181 closed

[2017-07-18 16:20] chrhol commented on #78
This is more or less in place (although it is not merged yet). Will be merged with all the other changes in #139.

[2017-07-18 16:21] chrhol commented on #171
This is more or less in place (although it is not merged yet). Will be merged with all the other changes in #139.

[2017-07-18 16:23] chrhol commented on #139
These changes are getting ready to be merged. Still havent done #140 though, and as it looks right now I will not have time to finish that one until my vacation.

It's still not decided yet, exactly when the merge will be done.

[2017-07-18 17:07] alemoi commented on #178
The problem was identified and fixed. Tests added. @PatrykSzwer you can test with your HTTPs proxy, it should work now.

[2017-07-18 17:07] #178 closed

[2017-07-19 06:03] muna-adfenix commented on #181
Great, Then how starcounter manage configuration related data, which vary in the different build environment.

[2017-07-19 12:33] joozek78 commented on #181
@muna-adfenix What exactly you want to achieve? Our preferred way of storing anything is in the database. You can Check what is your current environment and use it decide which configuration to fetch from DB

[2017-07-19 13:55] bigwad opened #182 "Indexed lookup by decimal field may fail"
Indexed lookup doesn't work for certain values. For instance, such code fails:

[code]

[2017-07-20 07:49] chrhol commented on #139
This have been merged and is included from version `2.3.1.6839` and forward. Still some work with documentation so will keep this issue open (but start to close the referenced issues).

[2017-07-20 09:32] joozek78 opened #183 "Can't install Starcounter when 2017 Redistributable is in place"
What goes wrong
---
Installer detects I have no 2015 Redistributable on my system and tries to install one. It's installation fails, since I have 2017 Redistributable, which is binary-compatible with 2015 ([source](https://msdn.microsoft.com/en-us/library/ms235299.aspx), 6th paragraph)

Error message (might help someone find this issue)
---

Proper solution
---
Don't try to install Redistributable

[2017-07-20 12:52] joozek78 opened #184 "Set database by env var in star.exe / staradmin.exe"
Currently it's possible to start an app in a specific database by passing `-d=dbname` to it. It should also be possible to set the default database name by env var. That would make possible to run in a non-default DB those apps whose authors didn't think about it when writing their startup scripts.
This env var should override the default database, so all the `star` and `staradmin` commands would

[2017-07-20 14:16] SenerDemiral commented on #180
Latest Develop still shows:  2.4.0.2029 (Jun 12, 2017 2:01:48 AM)

[2017-07-21 19:22] SenerDemiral opened #185 "Latest Develop Download still shows: 2.4.0.2029 (Jun 12, 2017 2:01:48 AM)"

[2017-07-24 06:27] Mackiovello opened #186 "Warehouse is broken on latest RC version"
With 2.3.1.6852 I get the following error printed in the console:

[code]

![brokenwarehouse](https://user-images.githubusercontent.com/19392292/28510604-a5976718-7049-11e7-80d9-589667cc5737.gif)

Also, this is in the log:

[code]

I've tried it on two different machines and it's the same error every time.

Downgrading to 2.3.1.6769 fixes the problem

[2017-07-24 07:23] chrhol commented on #186
Probably due to the latest changes with allowing blending on the root level by namespacing the root. A similar problem was found in the Administrator, which uses some hardcoded paths.

The solution there was to disable namespaces when the session is created (see https://github.com/Starcounter/Level1/issues/4017#issuecomment-310977866) or alternatively hardcode the root namespace (see the next comm

[2017-07-24 09:32] zafrul-adfenix opened #187 "Newtonsoft.Json.JsonReaderException: Unterminated string. Expected delimiter: ". Path '[10].path', line 1, position 992"
Hi ,
I am having a problem Starcounter polymer page. When I browse a page where there are number of rows and I can set page size. Upto page size 20 every thing is working fine. But when I make page size more than 20 it break and I get the following error:

Connection error: WebSocket connection closed. (1011)
WS ws://79.adfenix.com/__default/7A6E82777E707B3080000070
Newtonsoft.Json.JsonReaderExcep

[2017-07-24 09:35] chrhol commented on #171
Was merged a couple of days ago. Closing as done.

[2017-07-24 09:35] #171 closed

[2017-07-24 09:37] chrhol commented on #78
This is done. As we discussed `IResource` is still in place, although I simplified it to contain only one method, that takes both the `Starcounter.MimeType` and the mimetype as string as parameter.

This way it will be fast to check the types in the enum, while still have the option to use the string for other minetypes (or additional info from a mimetype).

Merged a couple of days ago.

[2017-07-24 09:37] #78 closed

[2017-07-24 09:42] Mackiovello commented on #187
This is a duplicate of an issue we have in our internal issue tracker. I've bumped that issue.

How urgent is this for you?

[2017-07-24 09:49] warpech commented on #186
I will do an investigation. I hope someone else can fix this today.

[2017-07-24 09:55] warpech commented on #186
Actually there are more problems. Trying to **start** a DB results in an error as well:

[code]

@ubbeK perhaps two of us can fix it?

[2017-07-24 09:57] warpech commented on #186
Since both @chrhol and @ubbeK are on vacation, I will try to fix this with @alemoi.

[2017-07-24 10:06] zafrul-adfenix commented on #187
Yes it is urgent. It would be nice if I can solve this by today.

[2017-07-24 10:13] miyconst commented on #187
@Mackiovello please explain the reason of the issue and how to avoid it, if that is possible.

[2017-07-24 10:23] Mackiovello commented on #187
There is a limit to the size of patches. The only solution is to limit the size of patches. That's everything I know.

[2017-07-24 10:24] zafrul-adfenix commented on #187
The code I have already posted. The page is just showing list of data in a table. Each row has a checkbox. When we select all the rows with checkboxes checked, and want to do on action on all the rows, it works 20 rows. But when I increase the rows to 40,50 or  100 and I check all the rows checked, it immediately throws exception. Problem is I cannot get the error while I debug in local.

[2017-07-24 10:25] zafrul-adfenix commented on #187
Can you provide me an example to limit the size of of patches.

[2017-07-24 10:39] Mackiovello commented on #187
Yes, this issue doesn't seem to be consistent from machine to machine, I've hit that too.

Could you check if you're getting this exception in the log:

[code]

I don't have a good answer, but from the client I guess you could `setInterval` and send the changes in smaller chunks by splitting them and sending them over in packages and then toggling a flag when everything is sent. That seems hacky,

[2017-07-24 11:18] bouguila commented on #186
Facing same issue staring whatever app from warehouse with latest RC.

[2017-07-24 11:50] zafrul-adfenix commented on #187
I got this error message in log:
[code]

[2017-07-24 11:58] SenerDemiral commented on #187
[https://github.com/Starcounter/Home/issues/65](url)

[2017-07-24 12:06] zafrul-adfenix commented on #65
Any update on this issue? Earlier I  have posted this issue:(https://github.com/Starcounter/Home/issues/187)

[2017-07-24 13:12] alemoi commented on #187
I am working on fixing WebSocket fragmentation actually now. Hopefully very soon providing support!

[2017-07-24 14:39] alshakero commented on #174
Any update on this?

[2017-07-24 19:53] warpech commented on #186
The issue is solved by the above commits, tested locally and using @alemoi's build. Please reopen if happens again starting from the next nightly build.

[2017-07-25 10:36] bouguila commented on #186
i'm still having some problems even with  2.3.1.6860 release
![error](https://user-images.githubusercontent.com/12608524/28568362-d4c59d9c-7135-11e7-8c37-47c72afb305b.gif)

[2017-07-25 10:48] bouguila commented on #186
@warpech any idea?

[2017-07-25 11:16] warpech commented on #186
@alemoi could you pls take a look?

@bouguila pls paste the error messages that you see in the Log. Notice that in the same second there were more errors reported, as I can see on your screengrab.

[2017-07-25 11:24] bouguila commented on #186
ScErrServerCommandFailed (SCERR10011): The operation "Attempting to restart code host for default" failed.
Version: 2.3.1.6860.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR10011.

System.Exception: ScErrDatabaseAlreadyExists (SCERR2047): A database with the specified name already exists. Can't register new codehost "default. Version: 2.3.1.6860. Help page: https://github.com/St

[2017-07-25 12:03] alemoi commented on #186
So its only when starting third app?

[2017-07-25 12:07] bouguila commented on #186
yes.. its happening only with images app for me.

[2017-07-25 12:09] habib535 commented on #186
Hi, After upgrading to latest RC version, the same error is appearing for me with **Sign In** app.

[2017-07-25 12:42] alemoi commented on #186
@habib535 so I can just attempt to start Sign In app alone? Or after some other?

[2017-07-25 12:48] habib535 commented on #186
yes just add Sign In from warehouse and hit start to reproduce the issue.

[2017-07-25 13:25] bouguila commented on #186
fixed the problem with an upgrade to the the versions of apps their selfs.

[2017-07-25 13:26] habib535 commented on #186
thanks @bouguila

[2017-07-25 13:26] #186 closed

[2017-07-25 13:30] alemoi commented on #186
@bouguila can you please provide more details on how the issue was fixed in the updated apps?

[2017-07-25 13:34] bouguila commented on #186
@alemoi setting TreatWarningsAsErrors fixed this issue

[2017-07-25 14:17] warpech commented on #137
The code changes are done but not documented yet.

[2017-07-25 14:17] warpech commented on #136
The code changes are done in v2.3 but not documented yet.

[2017-07-25 14:17] warpech commented on #135
The code changes are done in v2.3 but not documented yet.

[2017-07-25 14:17] warpech commented on #134
The code changes are done in v2.3 but not documented yet.

[2017-07-25 14:17] warpech commented on #133
The code changes are done in v2.3 but not documented yet.

[2017-07-25 15:55] tomalec opened #188 "Administrator UI for database settings does not cover all properties"
My database config (`C:\Users\tomalec\Documents\Starcounter\Personal\Databases\Default\Default.db.config`) contains much more properties than UI covers (http://localhost:8181/#/databases/default/settings)

[code]

vs.
![Admin UI screenshoot with just three properties to set](https://user-images.githubusercontent.com/17435/28581206-f7a5b352-7161-11e7-9ddd-85262e8b7994.png)

Therefore Web UI is not

[2017-07-26 10:06] warpech commented on #145
The same screen in Administrator should allow to enable/disable the mappings. See: https://github.com/Starcounter/RebelsLounge/issues/147

[2017-07-26 12:53] warpech commented on #156
Thank you so much @rogeralsing for reporting this. Please continue, especially while you have the fresh perspective.

I have used your input in the below linked initiatives.

This is addressed by https://github.com/Starcounter/Guidelines/pull/40. Once agreed, we should implement this in all apps.

This is addressed by https://github.com/Starcounter/Guidelines/issues/36

That's a neat idea but I am

[2017-07-26 14:27] alshakero opened #189 "Update Administrator to use Palindrom.filterLocalChange"
The administrator now depends on filterChangedCallback which will be removed after https://github.com/Palindrom/Palindrom/issues/142 is implemented.

Use `Palindrom.filter` instead.

[2017-07-26 18:13] mmnosek commented on #166
I drive some POC project (huge codebase with a lot of external assemblies). We hit the same issue as above after installing `MoreLinq` from NuGet. It installs `System.ValueTuple` which generates this issue. Logs:

[code]

[code]

[code]

Removing `System.ValueTuple` works fine, adding it to `weaver.ignore` as well.

[2017-07-28 15:27] warpech opened #190 "Proposal: Self.GET("/people/person/{?}", person)"
Right now it is hard to do a `Self.GET` to an object that you have, because you need to serialize the objects identifier:

[code]

It gets nicer with a string expression, but still seems redundant work:

[code]

## Proposal

It would be nice if `Self.GET` supported similar syntax as `Db.SQL` has for queries.

[code]

Benefits:

- consistent: first param equals the string in the first param of `Han

[2017-07-30 20:11] alemoi commented on #187
The support for fragmentation is added and tested via Autobahn. Hope you enjoy this feature 😄

[2017-07-30 20:11] #187 closed

[2017-07-30 20:11] alemoi commented on #65
The support for fragmentation is added and tested via Autobahn. Hope you enjoy this feature 😄

[2017-07-31 07:08] zafrul-adfenix commented on #187
@alemoi Hi how would I apply this change. Do I need to update the star counter or any dll?

[2017-07-31 08:44] mmnosek opened #191 "Using Parallel Linq doesn't work with JSON serialisation"
I've got simple program:

[code]

It causes following exception:
[code]

Changing
[code]
to
[code]

Works perfectly fine. Why using Parallel Linq causes this exception?:

[2017-07-31 08:48] bigwad commented on #191
Because linq iterates sequence (thus effectively querying the database) in thread pool, which is not compatible with starcounter scheduling.

[2017-07-31 12:15] alemoi commented on #187
@zafrul-adfenix the nightly failed because of insufficient disk space, but I have produced a new build for you: http://downloads.starcounter.com/download/Starcounter/Custom/2.3.1.6885
You need an update of Starcounter.

[2017-08-01 12:07] Mackiovello commented on #188
I've adjusted the pages linked above to reflect that you can just configure a subset of the options from the Administrator.

I'm not sure why it's the way it is, but I guess it's because most of the options are not relevant such as
[code]

[2017-08-02 06:07] SenerDemiral opened #192 "Download "Develop" disappeared!"

[2017-08-02 08:40] k-rus commented on #177
Thank you for clarifying. So the bug is narrowed down that fetch and offset doesn't work properly in the case of sorting. If you have opportunity, can you provide query plan? It will help me to confirm my guess that it is not using sorted index and runs sort operator.

[2017-08-02 09:21] Mackiovello commented on #192
That's not good. @andwah @alemoi do you guys know anything?

[2017-08-02 11:10] alemoi commented on #192
I think its related to usage of VS 2017 during build of installer for `develop`.  How urgent is this? I can provide the link to latest build from TeamCity.

[2017-08-02 11:15] SenerDemiral commented on #192
Link is enough for me.

[2017-08-02 13:30] RickardR opened #193 "No versions after 2.3.1.6826 works for us"
Something has happened since 6839. For us , no versions after 6826 works, at all.

For our server we're developing right now, the masterpage is not loaded, at all, if we install anything after that version. There is no indication on what goes wrong , except after the Palindrome version (6846), in that case we do get an error in the browser:
Nothing is logged in the starcounter log. Except for the

[2017-08-02 20:06] alemoi commented on #192
Sorry for the late response, here it is: https://www.dropbox.com/s/rfohmjpzdzunsxt/Starcounter-Develop-2.4.0.2418-Setup.exe?dl=0

[2017-08-03 07:56] warpech commented on #193
@alshakero could you pls take a look?

[2017-08-03 09:10] alshakero commented on #193
Sure.

Could you please share `Program.cs` code here?

[2017-08-03 09:19] RickardR commented on #193
Suppose you want the handler? It's not gonna help you much :)

public class DoctrinProgram
    {
        internal const string RootUrl = "/doctrin";

        static void OnDatabaseShutdown(object sender, EventArgs e)
        {
        }

        static void Main()
        {
            Db.DatabaseStopping += OnDatabaseShutdown;

            ScheduleJobsAdmin.Init();

            EvisitLogModule.In

[2017-08-03 09:21] RickardR commented on #193
Handlers for the landing page
Handle.GET("/doctrin", () =>
            {
                MasterPage master;

                if (Session.Current != null && Session.Current.Data != null)
                {
                    master = (MasterPage)Session.Current.Data;
                }
                else
                {
                    master = new MasterPage();
                    UserSessi

[2017-08-03 09:24] alshakero commented on #193
I see. Could you please go to the app homepage (that is not working) and show me the source. From the browser?

[2017-08-03 10:11] RickardR commented on #193
Will do, got some problems atm but ill do it asap

[2017-08-03 10:22] SenerDemiral commented on #192
Never mind, thank you.

[2017-08-03 10:22] warpech commented on #193
Please compare the dates from the nightly builds (http://downloads.starcounter.com/) and the changelog (https://github.com/Starcounter/level1/commits/v2.3/CHANGELOG.md) and our blog (https://starcounter.io/blog/).

Is there some migration path that we forgot to announce, or warnings that we should throw but don't?

[2017-08-03 12:24] RickardR commented on #193
Cannot see antyhing that should break it in the logs. I think it's something badly written on my side. I'll do some refactoring (I see some stuff that really needs to change anyway), and get back here fairly soon if I cannot solve it.

[2017-08-03 13:31] alshakero commented on #193
I really recommend sharing the HTML source before that.

[2017-08-03 13:46] warpech commented on #193
I think that `/doctrin/MasterPage.html` is the problem. Our current advice is not to have a `/doctrin/MasterPage.html` but use the standard one provided by `PartialToStandaloneHtmlProvider`. Then, your app only needs to provide `/doctrin/LauncherWrapperPage.html` at all times.

[2017-08-04 18:39] rogeralsing opened #194 "Improve logging, error reporting, diagnostrics"
Whenever you as a developer do something wrong it is more often than not, very very hard to find out what is wrong.

Examples:
* Missing wwwroot folder
The vs.net template doesn't have one and the documentation talks about a "recommended structure".
Obvious for those who know, not for those who don't.
There is no log stating this is a problem, there is nothing in the client console etc.

* Writing

[2017-08-05 13:18] rogeralsing opened #195 "Optimization Suggestion: Replace ThreadStatic for round-robin index with interlocked increments"
https://github.com/Starcounter/level1/blob/e429db17fbf7e37be55a41d40978e5afb4378862/src/Starcounter/DbSession.cs#L148

ThreadStatics are very heavyweight as their data needs to be looked up via thread storage.
Having a shared round robin index using interlocked increments would be more efficient.

[2017-08-05 13:45] rogeralsing opened #196 "Optimization Suggestion: Replace ConcurrentQueue with MpscQueues"
In the current implementation of the .NET Schedulers we use ConcurrentQueue.
ConcurrentQueue is fairly well designed, but it does generate a lot of GC pressure under load due to the need to allocate new chunks.

We could improve the performance of the schedulers in .NET by replacing the ConcurrentQueues with fixed size MpscQueues (https://github.com/AsynkronIT/protoactor-dotnet/blob/dev/src/Proto.

[2017-08-05 14:18] rogeralsing opened #197 "Optimization Suggestion: Replace lambdas/delegates with C# 7 Local Functions"
Using lambdas/delegates cause allocations which result in GC pressure.
In C# 7, we have local functions, local functions compile to normal static functions, even if they capture local variables.

See: https://asizikov.github.io/2016/04/15/thoughts-on-local-functions/

[2017-08-07 08:23] bigwad commented on #197
Could you point to the places you think would take advantage of this?
I believe it depends on usage. If the intent of a lambda is to structure function code, i.e. local function would be called explicitly in the scope of the parent function, then it's true. Otherwise, if it's being passed somewhere as a Func/Action/delegate - it should have no difference. I doubt we have significant cases of the f

[2017-08-07 10:03] bigwad commented on #195
I disagree here. Managed ThreadStatics are super optimized, but what is more important - it scales on multicore while interlocked functions don't scale and lead to heavy contention on multicore.

Here are results of my [benchmark](https://gist.github.com/bigwad/58d8fa7c248c223b78325fa46502ca51) performing 10M of increments in a specified number of threads. ```Interlocked``` and ```threadstatic```

[2017-08-07 14:49] mmnosek opened #198 "Proposal: weave only selected assemblies"
By default, weaver processes all dependencies. Everything that shouldn't be weaved needs to be explicitly written in the `weaver.ignore` file. In some projects (a lot of external libraries/assemblies) it is a pain. You need to exclude them one by one as not all of them are reported as problematic ones.  From my experience, often there is more that needs to be excluded than included.

Would it be p

[2017-08-08 06:12] k-rus commented on #198
Will it destroy the first experience? Does it mean that a new developer, trying Starcounter, will need to add his/her the only C# file/project into weaver white list to execute the simplest application in Starcounter?

[2017-08-08 07:38] mmnosek commented on #198
That's why I suggested to leave it by default as it is (all weaved). Optionally, it should be somehow possible to turn weaving by default off, in project configuration for example. It will help in the projects where there is a big codebase already and won't destroy first experience/backward compatibility.

[2017-08-08 08:11] bigwad commented on #195
Suddenly I realized that inlining and hyperthreading might have influenced the results, so I factored them out (updated benchmark code by the same link).
Basically, the same trend  - steady threadstatic and non-scalable interlocked.

Method | N of cores | Mean | Error | StdDev
------------ | ------------- | --------------- | -------------- | ----------------
run_interlocked |            1 |  53.33

[2017-08-08 08:16] rogeralsing commented on #195
Interesting, we saw some really bad numbers when touching thread-statics back when building the mailbox for Akka.NET.
Do you know if there is there a difference of storing primitives and object references in them?

[2017-08-08 11:23] per-samuelsson commented on #198
If they are not problematic, you don't need to exclude them. Exclusion was introduced for 2 reasons:

1. For assemblies that failed to load properly in the weaver, e.g. native assemblies, assemblies that was not solvable in the given context, and
2. Performance - if you know nothing in a certain assembly is relevant to the weaver (i.e. no database classes, and no references to such), you can speed

[2017-08-08 19:29] SenerDemiral opened #199 "Can I use Handle.Tcp/Udp?"
Will it be depreciated like Http.GET and Starcounter.Node?
[https://github.com/Starcounter/level1/issues/4166#issuecomment-288390578](url)

[2017-08-09 07:23] bigwad commented on #195
Almost no difference. But again - the main pro for ThreadStatic is the scaling.

[2017-08-09 07:51] warpech opened #200 "Typo in Blender.MapUri method description"
There's a typo in Blender.MapUri method description in Intellisense:

[2017-08-09 09:49] per-samuelsson commented on #179
Overall, `weaver.ignore` and the processing of it's content is pretty naive. Like @bigwad says, we simply try to create regular expression from each line and if that does not work, then... well, things tend to be undefined. 😢

It's not straightforward to address though. Both how to validate content, and how to report a meaningful error to the user. Especially validation seem fuzzy.

So, should we

[2017-08-09 10:56] per-samuelsson commented on #184
If we decide to do this, it's quite prepared for. All access to resolve the name of the database to use in all CLI-based management operations already utilize a shared authority - method `SharedCLI.ResolveDatabase`. It's an easy enhancement there + adding some tests and extending `star`/`staradmin` help messages basically.

One word of caution though - there might be other spots (e.g. webadmin, et

[2017-08-09 11:29] SenerDemiral commented on #192
@alemoi Is there any improvement?

[2017-08-09 11:30] per-samuelsson commented on #166
I'm currently trying to find out just what it is that make PostSharp fail to index generic instances, considering there are more instances with the same name.

As I see it, there are 2 ways forward here:

1. Try to analyse in depth what actually causes this problem in PostSharp, and see if we can find a way to fix it there.
2. Add some kind of support for global exclusions of (third-party) assembl

[2017-08-09 12:31] mmnosek commented on #198
I've made a proposal after some bad experience with `weaver` and multiple tries to make it work.

I agree it's not good. Ideal solution would be if exclusion is only for reason 2 (performance). It would be better to invest time into solving this issues with weaver. Do we have any significant plans to improve weaver?

[2017-08-09 12:39] mmnosek opened #201 "ReSharper cannot resolve the symbol when QueryResultRows is used"
I have a simple program that works fine (I will use screenshots with a code on purpose):
![resharper1](https://user-images.githubusercontent.com/4943949/29121718-076ac872-7d10-11e7-8324-c6cbb99d4a11.png)

When I change `IEnumerable` to `QueryResultRows` (line 20) ReSharper says "Cannot resolve symbol `Something`" and marks it red (line 24). I use VS2017.

![resharper2](https://user-images.githubus

[2017-08-09 12:47] PatrykSzwer commented on #201
I've tested this on ReSharper version `2017.1.2`, same result. Most of the times I saw and used myself second type projection (which is obviously not needed and shouldn't be done like that, but I just though that It won't build without it). I would love to see this issue fixed.

[2017-08-09 12:52] mmnosek commented on #201
I expect that we need to ask ReSharper guys for this ;)

[2017-08-09 12:53] bigwad commented on #201
Why do you use this type? I would say don't use to be compatible with upcoming Starcounter.Core

[2017-08-09 12:54] per-samuelsson commented on #198
Well, yeah, we already have an ongoing effort rewriting it from scratch, using Roslyn instead of PostSharp as the engine. However, we are still facing some uncertainties there, including what to be expected from C# team, so it's progressing slower than we would want.

As for the current, IL-based PostSharp-driven weaver, it's somewhat problematic because we are using a version of PostSharp that ha

[2017-08-09 12:54] mmnosek commented on #201
You mean why I use `QueryResultRows`?

[2017-08-09 13:02] bigwad commented on #201
exactly

[2017-08-09 13:03] rogeralsing commented on #201
that is what you get even if writing `var` which still gives the same false error warning

[2017-08-09 13:04] mmnosek commented on #201
Because of:
1. https://docs.starcounter.io/guides/database/querying-using-sql/
2. https://github.com/search?q=org%3AStarcounterApps+QueryResultRows&type=Code
3. You get it when use `varz
4. It's default, not deprecated.

I expect whole AppsTeam uses it, our partners as well. Or I missed something.

[2017-08-09 13:33] nazmuladfenix commented on #177
Here is the query plan

 0 = AdFenix.Database.Ecommerce.Seller
 1 = AdFenix.Database.PublicationOwner
)
Projection(
 0 =
  ObjectThis(0)
)
Join(
 Inner
 IndexScan(
  CompanyIndex ON AdFenix.Database.Company
  0
  Name
  StringDynamicRange(
  )
  IsTypePredicate(
   IS
   ObjectThis(0)
   AdFenix.Database.Ecommerce.Seller
  )
  Ascending
 )
 ReferenceLookup(
  1
  ObjectProperty(0, PublicationOwner

[2017-08-09 13:47] warpech commented on #201
The movement did not progress because it got no response from the core team. Your input is welcome there. I think we would be very happy to just stop using `QueryResultRows` and use `IEnumerable` + Linq's `First()`, if that's the recommendation.

[2017-08-09 15:24] RickardR commented on #193
Sorry been quite busy with non-coding stuff last couple of days (bleh!)

Got it to work. Refactored the code to be more like masterpage in the Persons project, and used PartialToStandaloneHtmlProvider as per @warpech  recommendation.

Though, didn't work first, but that was because  my masterpage.json inherited from Page, not Json. Then it didn't work at all.

Don't know what was wrong before, but

[2017-08-09 23:05] alemoi commented on #192
Yes, almost fixed! We have a side problem with Nuget at the moment, but once its solved, I will report here!

[2017-08-10 14:33] mmnosek commented on #183
@alemoi any ideas? One more person experienced the same (VS 2015 Update 1)

[2017-08-10 14:35] alemoi commented on #183
Can you please paste the contents of the: `HKEY_LOCAL_MACHINE\SOFTWARE[\Wow6432Node]\Microsoft\VisualStudio\14.0\VC\Runtimes\x64`

In this way:
![image](https://user-images.githubusercontent.com/208134/29175666-f1eb040a-7de9-11e7-9be2-8f94cb53c49b.png)

[2017-08-10 15:28] #193 closed

[2017-08-10 21:18] alemoi commented on #183
Way easier way (big time thanks to @bigwad), just run these separately in cmd:
[code]
And post both responses here.

[2017-08-10 22:01] bigwad commented on #183
I suppose it's irrelevant since @alemoi migrated us to vs2017 and put vc2017  redistributables into the installer.

[2017-08-11 05:56] k-rus commented on #177
Thank you for the query plan. Is it the execution plan for the query where sorting is present? I.e. the second query in https://github.com/Starcounter/Home/issues/177

If so, then my assumption is not hold.

[2017-08-11 06:03] k-rus commented on #184
The problem is that people tend to forget about the setting and spend a lot of time trying to understand why it doesn't work as expected. Environment variable is questionable solution.

[2017-08-11 09:21] per-samuelsson commented on #166
I've spent some time now testing various ways and debugging a custom PostSharp build, and the conclusion I'm reaching at that above approach just doesn't seem realistic.

In this particular instance, it's clearly a PostSharp bug, that can't correctly handle some kind of variant with complex generic overloads, and the bug is really deep down in PostSharp, in some caching of type definitions that re

[2017-08-11 09:23] per-samuelsson commented on #198
@mmnosek, relevant new findings that could interest you: https://github.com/Starcounter/Home/issues/166#issuecomment-321766616

[2017-08-11 09:29] nazmuladfenix commented on #177
Thanks for the reply. Yes this query plan is where sorting present.

[2017-08-11 09:36] nazmuladfenix opened #202 "Socket connection lost when updating large collection of data from Polymer"
I am updating large collection on single event. Then its lost the socket connection and trying to reconnect.

In starcounter log I have found this error log

   at Starcounter.GatewayHandlers.HandleWebSocket(UInt16 managedHandlerId, Byte* rawChunk, BMX_TASK_INFO* taskInfo, Boolean* isHandled) in C:\TeamCity\BuildAgent\work\sc-4933\Level1\src\Starcounter\Apps\GatewayHandlers.cs:line 716
HResult=-21

[2017-08-11 10:05] Mackiovello commented on #202
It should be fixed according to https://github.com/Starcounter/Home/issues/187.  @alemoi could you take a look?

[2017-08-11 10:29] nazmuladfenix commented on #202
Thanks :) Got it

[2017-08-11 13:30] alemoi commented on #202
My first question will be what version of SC do you use. Since this problem should already be fixed. Thanks!

[2017-08-11 14:06] alemoi commented on #183
Yes, its interesting which SC version was used for installation.

[2017-08-11 14:17] bigwad commented on #183
Obviously, not produced with vs2017 which you made just yesterday.

[2017-08-12 15:42] alemoi commented on #192
Should be fixed now.

[2017-08-12 15:42] #192 closed

[2017-08-14 07:02] Mackiovello commented on #202
It seems like this was solved? I'm closing, if you still can't make it work @nazmuladfenix, please reopen

[2017-08-14 07:02] #202 closed

[2017-08-14 08:54] andwah commented on #188
i think we just added the fields we thought where necessary at the time to to UI and after that new fields where added to the configuration file and not added to the UI.

[2017-08-14 08:58] joozek78 commented on #183
I don't think so - it will be the same after MS releases a new redistributable and someone installs it

[2017-08-14 09:12] joozek78 commented on #179
I think we could improve the parsing a bit - directly disallow everything from `Path.GetInvalidFileNameChars()` and provide a nice error message. If that's unfeasible for some reason, please go ahead and close this issue, it turns out I don't need to exclude Starcounter Extensions - it was a false lead and probably no one needs it.

[2017-08-14 09:21] per-samuelsson commented on #179
Yeah, that is what I considered too, but then are we sure some of those chars are not legal to create a regex from? And also, it still won't guard us against all problems, just improve a little bit I think.

[2017-08-14 09:31] joozek78 commented on #179
You're right in both your points - it needs a little bit more than `Path.GetInvalidFileNameChars()` and it won't be the absolute final solution, but I think this little improvement could solve a lot of small frustration.

Again, if you feel you can't implement this in a foreseeable future (lack of time, etc.) please close this - IMO it's better to know that nobody will fix this than have a false h

[2017-08-14 09:45] joozek78 commented on #184
This would solve real problems and it's totally optional. Anything could confuse people, but I don't think it's enough of a reason to reject something

[2017-08-14 11:20] per-samuelsson commented on #179
I don't consider lack of time the biggest problem, but rather reaching a conclusion on exactly how we want this thing implementing, trying to find side effects for even the simplest suggestion above. If I knew a very consistent and good way to improve, I would do it for sure.

[2017-08-14 14:44] Joltrix opened #203 "Administration Deletion is malfunctioning"
Deletion seems to not work as intended when someone is running multiple apps and trying to consecutively delete apps.

Instead of deleting the app whose button is pressed, other apps are instead deleted.

![mistakeshavebeenmade](https://user-images.githubusercontent.com/10708580/29276618-742063ca-810f-11e7-9c51-ee6b761463bd.gif)

[2017-08-14 16:23] per-samuelsson commented on #203
Ouch. What version is this?

cc @andwah

[2017-08-14 18:24] Mackiovello commented on #199
@alemoi do we have an answer for this?

[2017-08-14 23:12] alemoi commented on #199
Thanks for the great question! I thought to deprecate but now I'm think to keep the `Http.GET` API and change the internals to use native .NET. `Starcounter.Node` I am thinking to actually deprecate. Do you use it?

However, when it comes to users, I would really suggest using native .NET HTTP capabilities, because that's the direction we are going long term.

[2017-08-15 05:59] SenerDemiral commented on #199
I didn't use Http.Get and Starcounter.Node. I used WebClient.

But I'm using Handle.Udp for IoT data collection project.
What do you suggest, System.Net.Sockets.UdpClient or Handle.Udp?

[2017-08-15 12:40] Joltrix commented on #203
Ah, sorry! forgot to include it!...
Starcounter version 2.3.1.6981

[2017-08-15 14:33] andwah commented on #203
Just tried and i could also reproduce it, in my browser console window i got a lot of warnings like this:

`You're accessing an object that is detached from the observedObject tree, see https://github.com/Palindrom/JSONPatcherProxy#detached-objects`

After i deleted an app and then tried to delete another app.

 i checked the source history then i can see that we switch to use Palindrom 3.0.0 in A

[2017-08-15 18:32] warpech commented on #203
I know what that is. I have updated PuppetJs used in Administrator to Palindrom 3.0.0, which has this bug.

Few days ago, [Palindrom 3.0.2 was released with a bugfix](https://github.com/Palindrom/Palindrom/releases).

@andwah could you pls update Palindrom in Administrator? It was already updated in the `sys` folder.

Or consider this: https://github.com/Starcounter/level1/issues/3194

[2017-08-16 00:34] warpech commented on #139
@chrhol, the changes turned out to be pretty usable. Can you work on the docs for it?

[2017-08-16 08:39] andwah commented on #203
i tried with latest Palindrom 3.0.2 then i get this error in browser console:

`TypeError: Cannot read property 'bind' of undefined
    at new <anonymous> (HostModelService.js:45)
    at e (angular.js:4203)
    at Object.instantiate (angular.js:4211)
    at Object.<anonymous> (angular.js:4072)
    at Object.e [as invoke] (angular.js:4203)
    at Object.$get (angular.js:4056)
    at Object.e [as in

[2017-08-16 10:15] chrhol commented on #139
Yeah, will spend some time on this.

[2017-08-16 10:29] mmnosek commented on #183
@alemoi response from command 1:
[code]

Command 2 gives: `ERROR: The system was unable to find the specified registry key or value.`

[2017-08-16 10:42] mmnosek opened #204 "Cannot install Starcounter on Win Server 2012 R2"
When trying to install Starcounter 2.3.1.6981 on Windows Server 2012 R2 in "Production" mode, following exception occurs:

![win server2012 copy](https://user-images.githubusercontent.com/4943949/29359699-fecb5f86-827f-11e7-8f39-fb5d0a8b8051.jpg)

Steps:
* Run installer
* Choose "Production" at the beginning
* Error when it tries to run service
* As it's part of installation procedure, the whole i

[2017-08-16 10:56] nazmuladfenix commented on #202
Starcounter version currently using: Starcounter-RC-2.3.0.5971

[2017-08-16 11:58] alemoi commented on #204
Simple question, what error do you see in the server log?

[2017-08-16 12:51] habib535 opened #205 "Starpack unable to execute with release mode"
I've build my project in release mode and I want to build package.zip from the exe generated under release folder using the following command

`starpack -p -c=release`
`starpack -p -c='release'`

but I get the following errors
`Visual Studio project file not found (-c=release)`

Can someone please help me in writing the right command?

[2017-08-16 12:55] mmnosek commented on #204
@alemoi which log do you mean?

[2017-08-16 13:15] alemoi commented on #204
Server log `starcounter.0000000000.log` in server directory.

[2017-08-16 13:42] andwah commented on #205
I can just confirm that this is true, there is some issues around the -c argument, i have still not figured out why it sometimes/all the time picks the wrong configuration when using the -c argument.

Sometimes i need to rebuild both debug and release to make it work and even then it sometimes picks the 'debug' version when i used -c=release.

[2017-08-16 14:13] mmnosek commented on #204
But is it still there if the installation is rolled back and it leaves only empty folder?

[2017-08-16 15:14] miyconst commented on #204
Are the 8080 and 8181 ports available?

[2017-08-16 16:09] mmnosek commented on #204
8080 is not available, but another (available) port has been chosen at the beginning of the installation.

[2017-08-16 16:52] miyconst commented on #204
So, this could be due to the ports, and not related to the Win 2012 R2, should be checked.

[2017-08-17 07:53] chrhol opened #206 "Executing a DROP TABLE for a table that does not exist returns message with invalid characters."
Trying to drop a table that does not exist returns an errormessage containing invalid characters. Tested in the latest versions in both `v2.3` and `v2.4 (develop)`, no exact version since they are built locally.

[code]

**How to reproduce**

Simply do a call to drop a table that does not exist. If done from Administrator the actual message will be hidden in an exception raised from trying to seri

[2017-08-17 08:09] chrhol opened #207 "[v2.4] Trying to get the enumerator from a result from a DROP TABLE stmt fails."
The statement succeeds though (i.e. the table is dropped), however an error is returned when the enumerator is retrieved from the result of the query.

This is only reproducible in `v2.4 (develop)`. In `v2.3` it works without any problems.

[code]

**How to reproduce**
Take the following steps from issue in private tracker (https://github.com/Starcounter/level1/issues/3387):
1. Create a new applic

[2017-08-17 08:15] bigwad commented on #207
I'll check if the redesign of Query Processor has something to do with it.

[2017-08-17 08:18] alemoi commented on #204
The personal server folder is not removed on uninstall. Please check there for the log.

[2017-08-17 09:08] bigwad commented on #207
Checking a fix

[2017-08-17 09:41] bigwad commented on #207
Fixed

[2017-08-17 09:41] #207 closed

[2017-08-17 11:22] chrhol commented on #206
Copied from other issue

Could it be that the codehost reads too much from the buffer from the metalayer so parts of old errormessages gets added? It looks a bit mangled, `Table not found The error near or at position -1`.

I will take a look.

[2017-08-17 11:24] alexanderstc commented on #206
There is also query processor in between, probably.

[2017-08-17 11:24] alexanderstc commented on #206
Lemme try some QP test.

[2017-08-17 11:37] k-rus commented on #206
cc @andan342

[2017-08-17 11:44] alexanderstc commented on #206
@andan342 looks like the token element of the scerror structure is not null and points to garbage.

[2017-08-17 14:13] RickardR commented on #121
Just got this again in

 VS 2017, SC version  Starcounter-RC-2.3.1.6924.
Dumped sccode.exe,
https://www.dropbox.com/s/t3i4ssjqz0igi4v/sccode.7z?dl=0

[2017-08-18 07:36] bigwad commented on #121
@RickardR
Thanks for the dump. It really helped. Please try next RC build (version > 2.3.1.7012)

[2017-08-18 09:31] RickardR commented on #121
Got 7012 installed now, will install any higher as soon as I see it on starcounter.io

[2017-08-20 17:23] andwah commented on #203
*Bump*

Anyone knows someting the error (See previous post) i get when i try using Palindrom 3.0.2 and how to fix it?

[2017-08-21 09:32] miyconst commented on #183
@ubbeK please take care of this issue in low priority.

[2017-08-21 09:40] eriksunsol opened #208 "Update documentation of DELETE clause"
Is there any way to delete select objects from the Starcounter Admin page?

E.g. like:

[code]

The docs are a bit unclear on what is supported saying only that in Starcounter SQL the support for `DELETE` is limited, but not in what way. The examples all show `DELETE` without a `WHERE` clause, so I assume this is one of the limitations.

Anyway, it would be nice to be able to do this without havin

[2017-08-21 09:41] mmnosek commented on #183
I would say it should be a high priority for us. It's a showstopper and if somebody tries Starcounter and faces this issue at the very beginning, we can lose such opportunity.

[2017-08-21 09:45] miyconst commented on #183
@mmnosek, thank you for the input. @ubbeK please prioritize the issue when possible.

[2017-08-21 09:51] Mackiovello commented on #185
This is now fixed. Closing

[2017-08-21 09:51] #185 closed

[2017-08-21 11:19] ubbeK commented on #183
I just tried this with out latest RC build `2.3.1.7018` (install/uninstall) with different combinations of `2015 Redist` and `2017 Redist`. If any of them are installed, then Starcounter installer wont install anything, it will only install `2017 Redist` if none of them are installed. Although the pop-up windows says it will install `2015 Redist`.

So I cannot reproduce this. @mmnosek

[2017-08-21 11:24] miyconst commented on #183
I think, the problem happen when there is `2019 Redist` released and installed, then installer won't recognize it and will try to install `2017 Redist`, which will fail.

[2017-08-22 13:02] rogeralsing opened #209 "SQL: Do not lift types unless explicitly asked for"
When running aggregating SQL queries over numeric fields, SC will lift the underlying type to a bigger one.

Int32 is lifted to Int64, Double is lifted to Decimal.
This is unintuitive and feels weird, especially lifting Double to Decimal which is not even the same kind of floating point mechanics.

This has implications for e.g. the Linq provider as when you do `.Sum(x => x.Int32Prop)`,
Starcounte

[2017-08-22 13:03] rogeralsing commented on #209
This is also an issue due to X6Decimal: https://github.com/Starcounter/Home/issues/169#issuecomment-312233955

[2017-08-23 07:38] threezool commented on #183
I encountered this on Monday when i needed to uppgradera the SC version and it would not install. Weird thing was that after 5-6 tries it actually installed successfully.

[2017-08-23 08:41] mmnosek commented on #183
@ubbeK I see, but unfortunately it was not on my machine. It was some person that tried Starcounter and I don't want to bother and ask again and again. All I have is the input above. Have you tried with `2019 redist` as @miyconst suggested? @threezool what version have you tried to install? In my case it was `2.3.0.6350` (stable). @ubbeK can you try with this one?

[2017-08-23 09:20] threezool commented on #183
@mmnosek  Must have been 2.3.1.7018 (RC) since it was the latest available that day. Tried no other and it finally installed after a couple of tries.

[2017-08-23 13:36] andwah commented on #203
Not sure how to solve this? revert the palindrom introduction?

[2017-08-23 14:30] Mackiovello commented on #203
@alshakero do you know anything?

[2017-08-23 23:27] ubbeK commented on #183
@mmnosek I will try it out tomorrow.

[2017-08-24 05:59] miyconst opened #210 "Automatically enable Crash Dumps upon Starcounter installation"
Starcounter installer should automatically enable application crash dumps, but it should be possible to disable it via advanced settings during installation.

https://msdn.microsoft.com/en-us/library/bb787181(VS.85).aspx

[2017-08-24 11:52] ubbeK commented on #183
Have you tried with 2019 redist as @miyconst suggested?

Isn't `2017 Redistributable` the latest redistributable? @miyconst mentioned that this will be a problem `when` a new redistributable will be released.

[2017-08-24 13:25] mmnosek commented on #183
If so, then it's not this issue, the reason must be different.

[2017-08-24 13:25] erikvk opened #211 "Starcounter database repositories folder best practices"
I need some advice/best practices for handling Starcounter repositories folders in production. The general issue is that the Personal/Data folder gets rather big for some of our clients. It would be good to know what can be safely removed.

The database subfolder inside the Data folder (e.g. Personal\Data\mopedo2\mopedo2-20170304T200630409) contains an Archive folder, some .log files and an .optlo

[2017-08-24 13:30] ubbeK commented on #183
I have now been trying to reproduce this without any luck but I did manage to check out the source code and this is how it works.

![redistributable](https://user-images.githubusercontent.com/8124023/29668244-be39d054-88df-11e7-83c6-3fd44bbb91cd.PNG)

We check in the registry if

- HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x86 => `Installed == 1`
- HKEY_LOCAL_MACHINE\SOFT

[2017-08-24 13:32] per-samuelsson commented on #211
I guess replication would not function properly if you would delete some log whose content was not yet replicated to all nodes.

Since I got a similar question the other day, and @bigwad helped me with an answer about retention policy, I can paste it here until he get the chance to bring some more insight:

[2017-08-24 15:07] ubbeK commented on #210
Which starcounter applications did you have in mind?

[2017-08-24 15:11] miyconst commented on #210
I meant windows application crash dumps, not the system crash dumps. Just what is described in the link.

[2017-08-25 07:53] alshakero commented on #203
@Mackiovello sorry, I was at a conference.

Is this reproducible with the latest RC?

[2017-08-25 08:00] Joltrix commented on #203
@alshakero Yes, it's still reproduceable.

I just tried it with the latest RC (v. 2.3.1.7063)

[2017-08-25 08:30] alshakero commented on #203
Apparently, Admin uses its own Palindrom. Which isn't updated. Updating it now.

[2017-08-25 08:47] andwah commented on #203
I tried with Palindrom 3.0.2  (see comment above) with no success.

[2017-08-25 08:52] alshakero commented on #203
Yes, I've seen it, this was fixed in 3.0.3.

[2017-08-28 09:23] ubbeK commented on #210
A crash dump from sccode will be triggered for non-catchable exception like StackOverflow. An infinite recursion method will do the trick.

[2017-08-28 09:25] alshakero commented on #203
Fixed in 2.3.1.7071! Thank you so much @andwah and @Joltrix. I'll leave closing to @Joltrix.

[2017-08-28 10:18] Joltrix commented on #203
I've also tried to recreate this, but haven't managed to.

I'll go ahead and close this issue in that case :)

Thanks @alshakero for fixing this :D

[2017-08-28 10:18] #203 closed

[2017-08-28 12:38] joozek78 opened #212 "Transaction.Current is null inside Db.Transact"
What are the facts
---
[code]

What is the problem
---
This is confusing, especially since there is no other obvious way to roll back a transaction (other than `Transaction.Current.Rollback`). [This is documented](https://docs.starcounter.io/guides/transactions/using-transactions/#dbtransact-and-dbtransactasync-usage), but it's not that easy to understand that `Transaction.Current` has nothing to

[2017-08-28 12:59] #142 closed

[2017-08-28 14:24] ubbeK commented on #176
Closing: duplicate

[2017-08-28 14:24] #176 closed

[2017-08-28 15:29] tomalec opened #213 "Update PartialToStandaloneHtmlProvider to use palindrom-client"
`<puppet-client>` is deprecated in favor of `<palindrom-client>` for a couple of months already. It's the time to update it in Starcounter and apps.

https://github.com/Starcounter/level1/blob/4eb50fb275308132de8520445314ff533728a149/src/Starcounter/Middleware/PartialToStandaloneHtmlProvider.cs

[2017-08-29 06:10] iSuslov opened #214 "[QUESTION] Css variables."
Hi guys, I don't know about the configuration of the server I'm running, but maybe you have the idea. Basically when I import css in html component any css variable disappears:

This:
[code]

Becomes this:

[code]

Basically this works `border: 1px solid var(--paper-orange-500);` but this gets erased `--paper-icon-button-ink-color: var(--paper-orange-500);`

[2017-08-29 06:34] iSuslov commented on #214
nevermind, it gets resolved

[2017-08-29 06:34] #214 closed

[2017-08-29 08:19] chrhol opened #215 "Migrating indexes from old version (1.x) of Starcounter"
A question coming from migrating code from Starcounter 1.x to Starcounter 2.x

In 1.x an index can be created with a filter, that tells if undefined or only defined values should be included in the filter (`Filter="D"` for defined and `Filter="U"` for undefined)

[code]

Is there something similar in 2.x?

I have no real idea what the purpose of the filter was (or at least I don't remember), but I

[2017-08-29 08:51] Mackiovello opened #216 "Inconsistent syntax for the helpunofficial option in star CLI"
All other options in the `star` CLI start with a two dash prefix and some have a short hand notation with one dash prefix. Both the long and short version of `helpunofficial` are prefixed with one dash:

[code]
(shortened snippet)

Also, do we really need three help commands? The `star` CLI is not that big.

This is super low priority, if we're sticking with the `star` CLI long-term, it should sti

[2017-08-29 09:36] ubbeK commented on #216
Thanks for this feedback. It will be taken into consideration when all of our CLI tools are evaluated.

[2017-08-29 10:55] per-samuelsson commented on #215
Nothing similar in 2.x AFAIK. Regarding 1.x I have some vague memory but I'm sure @eriohl has an even better one, so let's see if what he can provide. 😃

[2017-08-29 11:33] chrhol commented on #215
Snippet from some old documentation (for 1.x):

[code]

So the guess would be that this is no longer needed and can safely be ignored.

[2017-08-29 11:37] HRidge opened #217 "Error when class inheritance has changed"
I change the inheritance for a database class.

When trying to start the apps I get:
`An entity type declared a base class that did not match the base class previously bound to the core database schema. The inheritance for class 'XX.MyClass' has been changed from 'XX.Something' to 'XXX.Other'`

I have tried with this recommended test:
- Restore the original database schema.
- Execute `DELETE FROM

[2017-08-29 12:27] Mackiovello opened #218 "ArgumentOutOfRangeException when starting app with star from bin/Debug directory"
Steps to reproduce:
[code]

If you go to `localhost:8080/HelloWorld`, you will see this:
![capture1](https://user-images.githubusercontent.com/19392292/29820540-155a6d7e-8cc5-11e7-97de-579cc993a614.PNG)

Then, run:
[code]

On `localhost:8080/HelloWorld` you now see this:
[code]

Is this a bug, am I doing something wrong, or is this how it's supposed to work? Anyway, the error is confusing.

I've a

[2017-08-29 13:24] ubbeK commented on #218
I think you have to set the `--resourcedir` argument, to the root of your `wwwroot` folder.

[2017-08-29 13:58] Mackiovello commented on #218
You're right. I messed up. Closing

[2017-08-29 13:58] #218 closed

[2017-08-30 05:47] eriohl commented on #215
You can still not use the index to determine which references are NULL. But there is no longer any filter.

[2017-08-30 06:29] chrhol commented on #215
Thanks, I will consider this issue answered!

[2017-08-30 06:29] #215 closed

[2017-08-30 08:34] per-samuelsson commented on #217
Changed title of this, since it's not related to weaving, but instead when binding classes during app bootstrapping.

Also, I'm curious about:

Is that some limitation we have?

cc @miyconst @ubbeK

[2017-08-30 09:23] per-samuelsson commented on #172
I vote we don't even touch them in `2.3` and just drop them in `2.4`. I doubt they are in use anywhere by our external customers.

@k-rus, would you have something to object to us dropping all these?

[2017-08-30 10:10] miyconst commented on #217
Yes, it is. Currently StarDump does not support Binary format.

[2017-08-30 13:05] chrhol opened #219 "Throw exception if items are added or removed manually for a bound array"
If items are added or removed manully on an array that is bound in TypedJSON, the resulting patches are unpredictable and might be incorrect.

Should be "solved" by not allowing manual modifications on bound arrays.

[2017-08-30 13:41] chrhol commented on #213
A note: `starcounter-debug-aid` needs to be updated as well it looks like. When switching to `<palindrom-client>`, no viewmodel is shown and a warning in the console is logged that no `puppet-client` is found.

(https://github.com/Starcounter/starcounter-debug-aid/issues/47?)

[2017-08-30 13:57] chrhol commented on #86
Solution is to have the buildtask dependent on both json-by-example and code-behind file. Assigning issue to me to fix.

[2017-08-30 14:09] alemoi commented on #199
@SenerDemiral I would actually suggest using `System.Net.Sockets.UdpClient` because in future we will go for standardized Go gateway that does not support UDP, as far as I remember. @linkdata can provide more info on whether there can be UDP support there.

[2017-08-30 16:22] alemoi commented on #149
Closing this issue. If there other problems with `RunWithinApplication` lets open other issues.

[2017-08-30 16:22] #149 closed

[2017-08-30 16:27] alemoi commented on #129
Me and @mtornwall will try to push the schema for SCLLVM to produce DLLs and stop using MCJIT completely.

[2017-08-30 16:49] alemoi commented on #93
I think its all about how exactly the JSON patch is calculated. So I have to unassign myself unfortunately. @chrhol let me know if I can help somehow.

[2017-08-30 16:51] #91 closed

[2017-08-30 22:29] #129 closed

[2017-08-30 22:57] alemoi commented on #99
Both features are added.

[2017-08-30 22:57] #99 closed

[2017-08-30 23:42] #120 closed

[2017-08-31 06:48] miyconst commented on #211
Closing the issue as answered question. @bigwad if you have something more to add - feel free to do so.

[2017-08-31 06:48] #211 closed

[2017-08-31 06:52] miyconst commented on #209
This is not a big deal, and can be omitted if difficult to implement.

This one is a **real problem**, since `Double` and `Decimal` are different data types, and when the result is not able to fit into current X6Decimal precision it crashes.

[2017-08-31 07:00] miyconst commented on #208
Yes, the `WHERE` clause is supported in the `DELETE` statement, please report is some specific query is failing.

@Mackiovello please update the documentation page.

[2017-08-31 07:24] miyconst commented on #144
@ubbeK please guide @threezool into the Urbanstar team.

[2017-08-31 07:36] miyconst commented on #154
@per-samuelsson, as far as I know, current middleware was implemented by you. Could you take a look at the issue please?

[2017-08-31 07:37] miyconst commented on #156
Archiving the issue since it's idle for long time. @rogeralsing feel free to reopen.

[2017-08-31 07:37] #156 closed

[2017-08-31 07:42] miyconst commented on #161
Archiving the issue.

[2017-08-31 07:42] #161 closed

[2017-08-31 07:43] miyconst commented on #163
The problem was solved in offline mode. Closing the issue.

[2017-08-31 07:43] #163 closed

[2017-08-31 07:44] linkdata commented on #199
UDP forwarding won't be part of the feature set for the RAP gateway, sorry.

[2017-08-31 07:46] miyconst commented on #166
Archiving the issue. The issue in the old weaver won't be fixed, the new weaver is currently in development.

@per-samuelsson please create another issue and link this one, if you want to keep the task open, since this thread is too long.

[2017-08-31 07:46] #166 closed

[2017-08-31 07:49] miyconst commented on #167
Closing the issue as answered question.

[2017-08-31 07:49] #167 closed

[2017-08-31 07:52] miyconst commented on #170
@erikvk thank you for reporting the issue. As mentioned in #166, the issue will not be fixed in the current weaver, while the new version is under development.

Archiving the issue.

[2017-08-31 07:52] #170 closed

[2017-08-31 07:55] miyconst commented on #174
@alemoi please read the issue and close it if it's something we can't or won't implement.

[2017-08-31 08:05] miyconst commented on #191
Closing the issue as answered question.

[2017-08-31 08:05] #191 closed

[2017-08-31 08:08] miyconst commented on #195
@rogeralsing thank you for the suggestion.

Archiving the issue as won't be fixed, at least not now.

[2017-08-31 08:08] #195 closed

[2017-08-31 08:11] miyconst commented on #196
@alemoi how relevant is this suggestion? As far as I know, we are planning to move to the native .net scheduling.

[2017-08-31 08:13] miyconst commented on #197
@rogeralsing please provide some more specific examples of what and where should be replaced or close the issue if it can wait.

[2017-08-31 08:14] miyconst commented on #199
Closing the issue as answered question.

[2017-08-31 08:14] #199 closed

[2017-08-31 08:21] miyconst commented on #201
Closing the issue since because of - [Remove QueryResultRow object, return IEnumerable instead](https://github.com/Starcounter/level1/issues/4244).

[2017-08-31 08:21] #201 closed

[2017-08-31 08:29] miyconst commented on #122
Archiving the issue.

[2017-08-31 08:29] #122 closed

[2017-08-31 08:32] miyconst commented on #102
Archiving the issue.

[2017-08-31 08:32] #102 closed

[2017-08-31 08:32] miyconst commented on #101
Archiving the issue.

[2017-08-31 08:32] #101 closed

[2017-08-31 08:33] miyconst commented on #98
Archiving the issue.

[2017-08-31 08:33] #98 closed

[2017-08-31 08:34] miyconst commented on #94
Archiving.

[2017-08-31 08:34] #94 closed

[2017-08-31 08:35] miyconst commented on #90
Archiving the issue.

[2017-08-31 08:35] #90 closed

[2017-08-31 08:38] miyconst commented on #85
Archiving the issue as answered.

[2017-08-31 08:38] #85 closed

[2017-08-31 08:39] miyconst commented on #82
@alemoi you should know the answer to this question.

[2017-08-31 08:39] miyconst commented on #77
Archiving the issue.

[2017-08-31 08:40] miyconst commented on #69
Archiving.

[2017-08-31 08:40] #69 closed

[2017-08-31 08:40] bigwad commented on #160
I think your approach is perfectly valid. Do you have any problems with it or lack of some tooling?

[2017-08-31 08:43] miyconst commented on #68
@atifwaqar, @MujahidRashid, were you able to investigate the issue with the steps provided by @dan31?

[2017-08-31 08:44] miyconst commented on #61
Archiving.

[2017-08-31 08:44] #61 closed

[2017-08-31 08:45] miyconst commented on #60
@ubbeK please go through the issue and decide what to do with it.

[2017-08-31 08:46] miyconst commented on #59
Archiving.

[2017-08-31 08:46] #59 closed

[2017-08-31 08:46] miyconst commented on #57
Archiving.

[2017-08-31 08:46] #57 closed

[2017-08-31 08:47] miyconst commented on #55
Archiving.

[2017-08-31 08:47] #55 closed

[2017-08-31 08:47] miyconst commented on #54
Archiving.

[2017-08-31 08:47] #54 closed

[2017-08-31 08:48] miyconst commented on #53
Archiving.

[2017-08-31 08:48] #53 closed

[2017-08-31 08:48] miyconst commented on #52
Archiving.

[2017-08-31 08:48] #52 closed

[2017-08-31 08:49] miyconst commented on #51
Archiving.

[2017-08-31 08:49] #51 closed

[2017-08-31 08:50] miyconst commented on #50
Archiving. The issue was fixed by @alemoi with proper cache invalidation of the static files.

[2017-08-31 08:50] #50 closed

[2017-08-31 08:51] miyconst commented on #48
Archiving.

[2017-08-31 08:51] #48 closed

[2017-08-31 09:29] miyconst commented on #93
Duplicate of an internal issue. Closing.

[2017-08-31 09:29] #93 closed

[2017-08-31 10:17] #68 closed

[2017-08-31 11:01] Mackiovello commented on #208
Documentation is updated. Closing

[2017-08-31 11:01] #208 closed

[2017-08-31 12:08] ubbeK commented on #204
Is still an issue? @mmnosek

[2017-08-31 12:29] ubbeK commented on #210
This issue has been implemented to `Release Candidate` and `Develop`.

![installer1](https://user-images.githubusercontent.com/8124023/29923144-b622e3d2-8e58-11e7-8276-feca681ca500.PNG)
![installer2](https://user-images.githubusercontent.com/8124023/29923146-b87b333c-8e58-11e7-85c3-eee4326d03f9.PNG)

[2017-08-31 12:29] #210 closed

[2017-08-31 12:38] k-rus commented on #172
Where are those attributes in the SQL regression test? I guess they can be dropped.

[2017-08-31 12:53] miyconst commented on #210
The checkbox is checked by default, correct?

[2017-08-31 12:59] ubbeK commented on #210
Yes, it is opt-out.

[2017-08-31 13:22] mmnosek commented on #204
I don't have an access to the server where the problem occurred, unfortunately, but I think it's still important. Do you think that trying to install Starcounter when port 8080 is blocked should help to reproduce?

[2017-08-31 13:46] ubbeK commented on #204
It would be nice to know if it does.

[2017-08-31 13:47] rogeralsing opened #220 "Incorrect url on error popup"
When running starcounter on a VM/Container/Non local Address, whenever the error popup appears, the link to the error log tries to move you to "localhost" which is not correct as the SC instance is running elsewhere.
See marked sections of screenshot

![image](https://user-images.githubusercontent.com/647031/29926348-796c3fe6-8e63-11e7-91d4-7f20c7c47aeb.png)

[2017-09-01 07:46] miyconst opened #221 "Implement full .Net CLR Decimal support"
Currently Starcounter supports X6Decimal which has less precision compare to .Net CLR version. It leads to exceptions like:

Full version of .Net CLR decimal should be implemented.

Docs page has to be updated after the implementation - [Starcounter - Data types](https://docs.starcounter.io/guides/database/datatypes/).

@bigwad please assign @Mackiovello when the implementation done, he will updat

[2017-09-01 07:50] rogeralsing commented on #209
It sort of is, when it comes to build generic methods ontop of the API.
e.g. in Linq, any operation like Sum, Count, etc. we need to have hacks to solve this right now.
As the code expects int32 while the SC api will give you int64 under those conditions.

[2017-09-01 09:56] mmnosek commented on #204
Ok, now I see what is the problem. Whole installation flow is a little bit tricky. We have 4 paths of installation:

1. Developer
2. Developer with additional settings
3. Production
4. Production with additional settings

Port 8080 or 8181 is already used. If I choose path 1 or 3, then availability is not checked. Whole installation procedure goes fine and at the end, there is an error as above. I

[2017-09-01 14:49] ubbeK commented on #204
I guess it should be possible. But what is occupying 8080/8181 ports? It there already is a Starcounter version installed, doesn't the installer go through the upgrade/downgrade process which doesn't have the settings page.

[2017-09-01 22:20] mmnosek commented on #204
No, it's not because Starcounter is installed and running. It's just because a port is not available (I run file server on 8080 and then on 8181 just to make ports unavailable). It may happen that another server is using the port and we should deal with this.

[2017-09-01 22:48] ubbeK commented on #204
Ok, thanks for the investigation. I am not quiet sure in what the solution should be. Disable the installation button, add logic for fetching vacant ports, remove the starting the service from installer and keep the default values even though it will crash when started or leave it be for the remainder days of the Installers life cycle. What do you think?

[2017-09-02 09:13] alemoi commented on #200
Fixed.

[2017-09-02 09:13] #200 closed

[2017-09-02 17:10] mmnosek commented on #204
I think we should do two things:
- add logic to check if ports are available at the beginning of installation (and proper alert/message in installation window)
- If this is the case, allow to install, do not rollback the whole installation but just show proper alert on service start

That would be ideal from my point of view.

[2017-09-02 17:11] mmnosek commented on #204
But maybe we should ask the broader audience?

[2017-09-03 20:23] Mihaiii commented on #213
I couldn't find it in any app from `StarcounterApps` (they all seem to use it from Starcounter), but I might be wrong.

Does anyone know an example of an app that has it?

[2017-09-04 07:54] ubbeK commented on #204
I think so.

@alemoi @miyconst  @warpech  @joozek78  @Mackiovello  Any thoughts?

[2017-09-04 08:09] miyconst commented on #204
If this is the case, allow to install, do not rollback the whole installation but just show proper alert on service start

Agree on this.

This is outside of installer, so might something that @ubbeK can not fix. Let's for now implement the installer alert at least.

[2017-09-04 08:51] miyconst opened #222 "Installer fails to find VS extension and rolls back entire installation"
This is something new.

![image](https://user-images.githubusercontent.com/6435556/30018740-5b271f3a-915e-11e7-9d68-4dbe80a39235.png)

[code]

@ubbeK please close the issue if you can't reproduce it.

[2017-09-04 09:07] miyconst commented on #222
Further investigation shows that:

- `Starcounter-Develop-2.4.0.2721-Setup.exe` also fails with the same exception.
- `Starcounter-Develop-2.4.0.2608-Setup.exe` works fine.

Was the extension file removed from the installer?

[2017-09-04 09:09] ubbeK commented on #222
Let me check the source.

[2017-09-04 10:14] Mihaiii commented on #222
+1 Same issue.

[2017-09-04 10:17] miyconst commented on #222
Note, upgrading from the previous installation works fine, since the extension file left in the folder. Only clean install fails.

[2017-09-04 10:49] ubbeK commented on #222
@alemoi https://github.com/Starcounter/level1/commit/5b7cd687a3507a15f506753c761dfa63b149c378 Reference to Starcounvter.VisualStudio nuget package has been removed. What intention did this remove have?

[2017-09-04 14:17] miyconst opened #223 "Implement extended European collation to properly support letters like Ä, Å, Ö"

[2017-09-04 14:19] alemoi commented on #222
I was failing the build by some reason I don't remember. Also was sounding like `Starcounvter.VisualStudio` referenced itself as a Nuget package? I think this is wrong.

And again, let's remove VSIX installation from installer. Again we are facing such problems.

[2017-09-04 14:25] ubbeK commented on #222
It is not refrencing itself, `Starcounvter.VisualStudio` nuget is referencing https://github.com/Starcounter/Starcounter.VisualStudio/tree/develop/build since it was moved from Level1 repo to its own. Why there still exists a Starcounter.VisualStudio.csproj i Level1 beats me. @per-samuelsson Any idea?

[2017-09-04 14:27] alemoi commented on #222
Same question from me then @ubbeK
The reason I made this quick fix is because I had to migrate to VS 2017 quickly.

[2017-09-04 14:44] ubbeK commented on #183
This issue has been implemented. The Installer now also checks if `Minor` DWord is greatar than 10, i.e. if vc redist 2015 is installed, then vc redist 2017 will be installed.

Closing

[2017-09-04 14:44] #183 closed

[2017-09-04 16:46] joozek78 opened #224 "Add Db.TransactAsync that returns result"
Currently there is no `Db.TransactAsync` overload that returns a `Task<T>`. This can be worked around with code such as one below, but it's error-prone and really shouldn't be required from anyone.
[code]

[2017-09-04 17:01] joozek78 opened #225 "Add Scheduling.ScheduleTask that returns a result"
See also: similar issue https://github.com/Starcounter/Home/issues/224

There is no `Scheduling.ScheduleTask` that returns `Task<T>`. This can be worked around, but really we should provide it. Possible workaround:

[code]

[2017-09-04 18:32] Mackiovello opened #226 "Make public methods in Db class internal"
To be able to have a decent reference documentation in the future, we have to make sure that only the methods and properties that are intended to be used by end users are public.

In `Db` there are a couple of methods that shouldn't be public:
* [RenameTable](https://github.com/Starcounter/level1/blob/e659e57b3e0733c25b95f03be917e43a94540345/src/Starcounter/Db.cs#L189)
* [DropTable](https://github

[2017-09-05 07:40] per-samuelsson commented on #222
That's the actual extension code in there, building `Starcounter.VisualStudio.dll`. To support debugging using F5, the TypedJSON development aid (supporting for example renaming of file pairs), etc.

What's in the `Starcounter.VisualStudio` repository is the actual setup + project templates.

If there is a problem with that design, just let me know.

[2017-09-05 08:48] bigwad commented on #224
Two notes.
1. Can't it be rewritten simpler as?
[code]
2. `Task<T>` changes the semantic of TransactAsync. What I mean here is that a `Task` being returned represents the action of flushing transaction log to a durable storage. Delegate passed to TransactAsync is executed synchronously to make sure transaction effects are visible without awaiting. While with `Task<T>` user is unable to get delegat

[2017-09-05 09:06] joozek78 commented on #224
Re 1st example: You're right. Please note that my proposition in PR actually uses `await` instead of `ContinueWith`
Re 2nd example: Problem with this proposition is that `r = operation()` can be retried (leading to a different outcome) by `TransactAsync` if a transaction conflict happens. IMO it's extremely unlikely that someone will need a predicted result of the operation before he's sure that t

[2017-09-05 09:11] joozek78 commented on #224
I find it confusing - if only the commitment of transaction is asynchronous then how can we handle conflicts synchronously? Does that mean that if the synchronous part returns, the transaction can only be committed successfully or fail (without room for conflicts and retries)?

[2017-09-05 09:12] bigwad commented on #224
It's not a case. As I said, a delegate passed to Db.TransactAsync runs synchronously. It includes possible retries.

[2017-09-05 09:20] joozek78 commented on #224
Then I think it will be best to include both overloads:
* `Task<T> TransactAsync` will be obvious and safe (guarantees that the user won't use the return value before the transaction is confirmed to be committed) - to be used in general cases
* `Task TransactAsync(out T)` will be more powerful, but has to be used wisely - to be used where it's necessary

---

Do you use VS2017? If so, instead of h

[2017-09-05 10:39] ubbeK commented on #222
No problem really, its just unfortunate that they both have the same name since now the dependency from `Level1/Starcounter.VisualStudio` to `Starcounter.VisualStudio` got removed by mistake.

[2017-09-05 12:44] bigwad commented on #224
I don't know. For me, it seems excessive and hard to explain.

For instance, `Task<T> TransactAsync()` overload seems to be the most natural and familiar to a user but in fact `Task TransactAsync(out T) ` should be favored, as being the direct counterpart of existing `Task TransactAsync`.
And emulating latter it in user code comes quite smoothly:
[code]

Let's wait for other opinions.

[2017-09-05 12:58] PatrykSzwer opened #227 "TypedJson: Derived properties are not exposed in ToJson()"
During work under Calendar app rewriting I've found behavior that is not described in docs and can be seen as a bug.
I have base view-model class (`EventBasePage`) and a class that inherits from it - `EventPage`. Base class has declared property in typed json called `Start$`, but it doesn't exist in client view-model. Further investigation by me and @joozek78 showed that origin of this problem is

[2017-09-05 13:18] joozek78 commented on #227
@chrhol can you take a look?

[2017-09-05 13:21] joozek78 commented on #224
I don't think it's a valid argument to use it more often than the other. It's true that it represents more accurately how things happen underneath, but I think people rarely need such control.

Agree. @Starcounter/sc-apps?

[2017-09-05 13:59] joozek78 commented on #227
Is it described somewhere? It seems strange - one could expect rules like C# inheritance (you don't need to "expose" inherited members)

[2017-09-05 14:07] chrhol commented on #227
Probably not. This was discussed and implemented ages ago, and I think this might be the first time inheritance is used anywhere (except perhaps in some test). Might be a good candidate for review (among other stuff of course).

[2017-09-05 16:04] ubbeK commented on #204
This functionality that we speak of is actually already implemented.

![port_unavailable](https://user-images.githubusercontent.com/8124023/30070151-dea23a3e-9262-11e7-896a-2bcfa2dc64c3.gif)

Just run this program and then run the installer. It won't allow you to click install unless the port is changed.

[code]
I also tried to install when port `8080` was blocket and it works fine.

The error fro

[2017-09-05 16:42] ubbeK commented on #204
This is only reproducible when the Installer has been started, and THEN the port gets unavailable before clicking the Install button. At startup it creates a long list on invalid/taken ports so this is how @mmnosek must have done it. In order to be fully bullet proof of this we need the update and check that list again before starting the service.

[2017-09-05 20:14] mmnosek commented on #204
No way! :) I've tested it for real. And now I've tested it once again with the newest RC (2.3.1.7119). Sorry for confusing - you should use "production" mode to see actual rollback.

If installed in developer mode, then works fine even if 8080 is taken (but it doesn't ask me to change anything). Try in production mode when 8080 is taken. Then it will fail as described above. It's really confusing

[2017-09-06 09:29] miyconst commented on #224
@joozek78, I think it's important that you understand how `Db.TransactAsync` works.

Since entire database is in memory, there is no I/O operations per transaction. There is no reason for making a transaction asynchronous. The only I/O operation, is flushing transaction log to storage device (HDD/SSD).

So, the in memory database transaction is executed synchronously regardless of which method is

[2017-09-06 14:54] ubbeK commented on #204
Ok,

I committed a change now that a warning message is shown if `Starcounter server service` fails to start and the Installation completes (does not rollback).  After this change I cannot reproduce this issue anymore. But then again, I did not test it on `Windows Server 2012 R2`, only on `Windows 10`.

[2017-09-06 15:02] joozek78 opened #228 "Improve documentation for Db.TransactAsync"
See discussion in #224
`Db.TransactAsync` name can suggest that the db operation is performed asynchronously. This is not true, only the IO flush is scheduled for later. To avoid confusion in the future I propose following docstring:
[code]

The [docs.starcounter.io article](https://docs.starcounter.io/guides/transactions/using-transactions/) should also be updated to avoid confusion

[2017-09-06 15:03] joozek78 commented on #224
Thank you for your explanations. I've created an issue to properly document this method to avoid confusion in the future

[2017-09-06 15:05] joozek78 commented on #224
Aha, I closed too hastily. I agreed not to implement the `Task<T>` overload, but the one bigwad proposed (`(T, Task)`) is a useful thing. Reopening

[2017-09-06 15:09] ubbeK commented on #204
@mmnosek May I close this issue?

[2017-09-06 15:15] mmnosek commented on #204
Is it available to check already?

[2017-09-06 15:16] ubbeK commented on #204
Tomorrow. I guess it is too late to start a build now.

[2017-09-07 10:06] mmnosek commented on #204
Ok, I've checked latest build. Now it doesn't rollback installation (so initial issue is solved), but for me, it isn't perfect.

It should allow installing regardless of ports status. Just warn the user. If I choose "Change additional options" it is still not possible to install. But it's up to you. If you decide it's fine to have different behaviors in different installation options I'm fine with

[2017-09-07 11:04] ubbeK commented on #204
The only difference between `Developer` vs `Production` mode is how the `StarcounterServerService` is started, `manual` vs `auto` respectively.

I can never install when the `SystemHttpPort` is occupied regardless of `Developer`/`Production` mode. I am considering to add a `Skip port check`-checkbox in `Options`. @mmnosek What do you think? This should be enough right?

[2017-09-07 13:17] Mackiovello commented on #226
@eriohl these have had been added by you, could you remove or make them internal?

[2017-09-07 13:46] Mackiovello opened #229 "Document or remove Session IsAlive and IsBeingUsed as public methods"
The [`IsAlive`](https://github.com/Starcounter/level1/blob/8cbadec516741f8c56c6da1d6034ac1437ee0244/src/Starcounter.XSON/Sessions/Session.cs#L667) and [`IsBeingUsed`](https://github.com/Starcounter/level1/blob/8cbadec516741f8c56c6da1d6034ac1437ee0244/src/Starcounter.XSON/Sessions/Session.cs#L606) methods in the `Session` class are not documented. The docstring for `IsAlive` only says "Checks if se

[2017-09-07 14:01] Mackiovello opened #230 "Document or remove classes SELECT, SELECT.FROM, and Table"
In Db.cs there are a bunch of classes that seem to be based on legacy concepts:

* `SELECT<T>`
* `SELECT.WHERE`
* `Table<T>`
* `SELECT`

These can all be found [here](https://github.com/Starcounter/level1/blame/ee5717dc53167402f79b4caa790438da621f311e/src/Starcounter/Mock/Db.cs#L169).

These are polluting our public namespace and might be confusing for new users. At the same time that these are de

[2017-09-07 14:09] Mackiovello opened #231 "Incorrect docstrings for SQL and SlowSQL"
The docstrings for `SQL` and `SlowSQL` says "Returns the result of an SQL query as an SqlResult which implements IEnumerable.". This is incorrect, they return `QueryResultRows`.

`SlowSQL` says: "Especially queries with expected slow execution are supported, as for example aggregations.". This is also incorrect. The only thing that `SlowSQL` supports that `SQL` doesn't support is literals.

[2017-09-07 14:17] Mackiovello opened #232 "Do NullString, NoIdString, and FieldSeparator have to be public?"
In the [`Db` class](https://github.com/Starcounter/level1/blob/develop/src/Starcounter/Mock/Db.cs#L31) there are three string string constants. Do these have to be in the public namespace when they are only used in level1?

[2017-09-07 14:23] k-rus commented on #230
Somebody was looking to this question and was going to remove theses classes, I think. But I don't remember who.

[2017-09-07 14:53] Mackiovello commented on #231
Dang, making changes in level1 requires more setup than I thought. Resigning to someone that already has level1 set up.

Suggested docstrings:
`SQL`:

`SlowSQL`:

  Supports literals in queries. Queries with literals will execute slower than queries that use parameters.

[2017-09-07 14:55] Mackiovello commented on #230
You're right, I found it. Closing in favor of https://github.com/Starcounter/level1/issues/1339

[2017-09-07 14:55] #230 closed

[2017-09-07 15:03] Mackiovello commented on #228
It says in the docs that "It returns a `Task` object that is marked as completed when flushing the transaction log for this transaction." Doesn't that describe it? Would you like it to be clearer?

[2017-09-08 06:19] k-rus commented on #206
The issue should be fixed.

[2017-09-08 08:37] joozek78 commented on #228
I think it should be underlined that despite the name (Async) most of work is done synchronously. It took two people for me to understand that the actual db operation is synchronous. I think someone else could make the same mistake. My proposal:

[code]

[2017-09-08 10:05] mmnosek commented on #228
Duplicate: https://github.com/Starcounter/Docs/issues/90

[2017-09-08 11:05] joozek78 commented on #228
True, but the part pertaining to docstrings in code is still relevant

[2017-09-11 08:49] ubbeK commented on #204
An `enable installation` checkbox has been added, which enables the `Install` button regardless if checks are failing or not.

Closing issue

[2017-09-11 08:49] #204 closed

[2017-09-11 13:18] alshakero commented on #213
@Mihaiii it's in the platform (level1) not in apps.

[2017-09-11 14:28] tomalec commented on #213
Please note, that since you merged Polymer 2.0 version to master branch of `palindrom-client` we will have to use `palindrom-client: "#4.0.0"`

[2017-09-12 07:48] PatrykSzwer opened #233 "Security warning about Open file is showed twice for Starcounter Installer"
When I'm trying to update my Starcounter with an installer, Windows always shows the "Open File - Security Warning" for files that can be potentially harmful for our PC. It's totally okey and expected behavior. Except that, always when I'm trying to run installer for updating Starcounter, the window, for some reason, is showed twice. it's bug/behavior that exists since I remember.

Is It known and

[2017-09-12 07:59] andwah commented on #233
@alemoi, Can that be because we "relaunch" the installer in elevated mode?  just guessing here...

[2017-09-12 08:58] mmnosek opened #234 "Cannot install Starcounter - installation hangs"
I try to install newest RC 2.3.1.7166 in Developer mode. When it comes to VS extension installation, installation hangs. No errors, nothing happens. Screenshot:

![installation](https://user-images.githubusercontent.com/4943949/30316950-0da015c2-97a9-11e7-9489-878c3b0f660d.png)

[2017-09-12 09:05] ubbeK commented on #222
`Starcounter.VisualStudio 2.0.0-RC1` nuget package has been added to `Staracounter.InstallEngine` where it is called upon. This adds Staracounter.VS.vsix installer to the installation.

Closing

[2017-09-12 09:05] #222 closed

[2017-09-12 09:17] #234 closed

[2017-09-12 11:13] alemoi commented on #233
@PatrykSzwer can you please write the Starcounter version here? Thanks.

[2017-09-12 11:33] PatrykSzwer commented on #233
As I said, It happens to me since I remember, It was like that in versions 2.3.1.4xxx, 2.3.1.5xxx etc. I just tried current stable version, 2.3.0.6350 and It's same behavior.

[2017-09-12 11:47] mmnosek opened #235 "Empty response causes whole server crash"
I got simple program:
[code]

When I send request to `/test` it hangs for couple seconds and then suddenly app and server crashes. All I can see in logs:
[code]

What might happen?

Starcounter version: 2.3.1.7166

[2017-09-12 12:05] alemoi commented on #233
Thanks. If its `2.3.0.6350` then there are no recent changes that could affect the behaviour. Have you tried on a different machine?

[2017-09-12 12:45] mmnosek opened #236 "Cannot use "data" as a key in TypedJson"
I need a REST service that returns a response like this:
[code]

So I created TypeJSON looking like this:
[code]

But it doesn't compile. Error is:
`JsonByExample parsing failed: Example.json already contains a definition for 'data'.```

I understand that `Data` is already used, but for the user it's confusing. Can it be solved somehow? Also, I think error description is not informative enough. It

[2017-09-12 13:03] PatrykSzwer commented on #233
I couldn't actually make this window show in a first place in some1s other PC.

[2017-09-12 13:41] mmnosek opened #237 "Cannot create binding between TypedJSON and the Dataobject - nullable types"
According to the https://docs.starcounter.io/guides/database/datatypes#nullable-types Starcounter supports nullable types. It also supports effortless, direct binding between TypedJSON and the Database. It doesn't work with nullable types. Let's take an example:

*Program.cs:*
[code]

*Example.json:*
[code]

If you hit `/test` handler error occurs:
[code]
[code]

Shouldn't nullable types be also "

[2017-09-12 14:16] chrhol commented on #237
This is a long-time known limitation and needed enhancement that have not been prioritized (or rather that more urgent issues have taken priority). The original issue was created when Level1 tracker still was public, and have not been moved (https://github.com/Starcounter/level1/issues/3864)

So short answer: nullable or null values are currently not supported in TypedJSON. This is something we wa

[2017-09-13 07:54] chrhol commented on #237
I will close this issue as answered @mmnosek. If you are not satisfied please reopen it. We will have to try to get this enhancement in the roadmap, but that is out of the scope for this issue I think.

[2017-09-13 07:54] #237 closed

[2017-09-13 08:42] mmnosek commented on #237
Thanks for the answer @chrhol ! I'm fine with the answer and I understand (even though I would prefer to prioritize it ;)) How can I be sure it will be somehow included to the roadmap? Is original Level1 issue enough?

[2017-09-13 14:08] Mackiovello opened #238 "Update the Release channel description"
The Release channel description is wrong, it says:

The second sentence about documentation can be removed since the documentation uses versioning. The first sentence should be changed to:

[2017-09-13 14:56] andwah commented on #238
When the text is updated i can also updated the text on http://downloads.starcounter.com/download

[2017-09-13 14:58] mmnosek opened #239 "Querying in Admin is extremely slow"
Running queries in Admin is extremely slow, sometimes it even kills the browser. I started debugging from SQL performance, but then realized it's not a problem. Results are returned very fast, but then it takes a lot to see results on the screen.

*How to reproduce*?
* Run some application
* Open Admin panel
* Write some query that will return at least couple hundreds of records. For example: `SEL

[2017-09-13 15:09] Mackiovello commented on #238
It's updated in the docs: https://docs.starcounter.io/guides/working-with-starcounter/release-channels-in-starcounter

[2017-09-13 15:42] andwah commented on #238
downloads.starcounter.com page is now updated.
(at the moment there is some connection problems with that site)

[2017-09-13 16:16] Mackiovello commented on #238
Thank you! Closing

[2017-09-13 16:16] #238 closed

[2017-09-14 08:13] #133 closed

[2017-09-14 08:13] #134 closed

[2017-09-14 08:14] #135 closed

[2017-09-14 08:14] #136 closed

[2017-09-14 08:14] #137 closed

[2017-09-14 08:37] chrhol commented on #236
This a general problem in TypedJSON. All existing properties in baseclasses will clash. There was a discussion in another issue, but we never reached a conclusion or a good solution for it.

I will improve the errormessage though, to get a small step in the right direction.

[2017-09-14 08:40] chrhol opened #240 "Improve errormessage when a property that is reserved is used in JSON-By-Example"
https://github.com/Starcounter/Home/issues/236

[2017-09-14 08:42] chrhol commented on #237
We need to get some roadmap and some prioritization of the existing issues and needed improvements in place.

[2017-09-16 12:09] Mihaiii commented on #239
It works ok with 2.3.1.6860 (uses PuppetJS), throws errors in different situations in 2.3.1.6870 (uses Palindrom 3.0.0).
Because running Administrator app with Palindrom causes multiple problems (in some situations when you want to start/stop an app nothing happens etc.) I think it's best to use PuppetJS for Administrator app **for the moment**, unless someone else has a better idea.
@alshakero Co

[2017-09-18 09:45] miyconst commented on #224
@joozek78 I tend to disagree here. It's just syntax sugaring, which I personally don't like.

Since you are currently working on `Level1`, please feel free to add this overload, and push, just make sure that it all goes through the tests, otherwise just close the issue.

Assigning the issue on you.

[2017-09-18 10:01] chrhol opened #241 "Add support for Binary datatype in Stardump and Core."
We have had some discussion about what to do with `Binary` but now it's getting more urgent to get this included in at least Stardump.

This is very needed for Adtoma to be able to unload (and reload) data. They are currently not able to do a proper unload/reload.

/cc @miyconst, @jedynykaban

[2017-09-18 10:03] miyconst commented on #241
Duplicate of - [Implement support for byte[] data type](https://github.com/Starcounter/StarDump/issues/30).

Closing this issue, but will prioritize the original one.

[2017-09-18 10:03] #241 closed

[2017-09-18 13:50] Mackiovello commented on #232
Closing as irrelevant

[2017-09-18 13:50] #232 closed

[2017-09-18 13:51] Mackiovello commented on #229
Closing as irrelevant

[2017-09-18 13:51] #229 closed

[2017-09-18 20:22] Mihaiii opened #242 "Usage of `script.previousElementSibling` in apps"
I was looking at something on `inside.starcounter.com` and in console I noticed

 for `inside.starcounter.com/people/persons`.

So I had a look at the file and it's like this:
[code]

There is an email protection script that is injected and therefore `script.previousElementSibling` doesn't return what is expected.

There might be other and more serious problems in the future for different cases.

[2017-09-18 21:53] mmnosek commented on #239
Thanks @Mihaiii for the investigation!

Your solution seems to work, but I would rather prefer to address the original issue. Could you find when and where exactly this change was introduced? We should ask to do it properly instead :)

[2017-09-18 22:07] Mihaiii commented on #239
I assumed that it was when the transition from PuppetJS to Palindrom 3.0.0 was made, but you're right, I'll narrow it down (I'll edit this post) :)

[2017-09-19 07:39] chrhol commented on #139
Docs have been updated. One issue is still not implemented, but I will close this umbrella issue and keep the separate one open.

[2017-09-19 07:39] #139 closed

[2017-09-19 11:15] Mihaiii commented on #239
Those errors appear starting with [this commit](https://github.com/Starcounter/level1/commit/589bea553a65088c1f3c19af81726aca1a28040b), so when the transition from PuppetJS to Palindrom was made.

[2017-09-19 11:46] SenerDemiral opened #243 "Error in 2.4.0.2931 (2.4.0.2917 OK)"
[code]

[2017-09-19 12:07] k-rus commented on #243
Thank you for reporting.

It seems to me that this version was published by mistake.

[2017-09-19 12:12] k-rus commented on #243
However, this build contains changes, which are pushed into develop and expected to be available this night.

[2017-09-19 12:19] k-rus commented on #243
The reported build is removed, since it was a private build unintended for publishing. However, since the changes was merged into develop, we will investigate and try to fix it before nightly will run. So no broken version of Starcounter is produced.

[2017-09-19 13:50] mrunhem opened #244 "Admin login with the sign in app"
In the description to the Sign in app it states:

Sign In

Authenticate **users** with a username and password (default admin/admin).
6.0.0 (Aug 17, 2017 10:07:20 AM)

This is not correct. There is no default admin user. You need to first create the admin user by using the link http://localhost:8080/signin/generateadminuser

This might be stated inside some development doc but since it shall be po

[2017-09-19 13:54] mrunhem opened #245 "The help link in Admin does not work"
In the SC admin (version unknown/have not found the version info) there is a Help link at the upper right corner.
The link does not work:
https://github.com/starcounter/starcounter/wiki does not exist.

/Mike

[2017-09-19 13:55] k-rus commented on #243
The changes were reverted and should not present in coming nightly build. So the error should not appear. Thus I close the issue.
We continue work internally and might need to reproduce the issue internally. @SenerDemiral may we contact you if we will need help to reproduce it, i.e., get to know the set up?

[2017-09-19 14:14] Mihaiii commented on #245
Thank you!
Right now `https://github.com/starcounter/starcounter/wiki` redirects to `https://github.com/Starcounter/level1/wiki` and `level1` is a private repositoy.

@Mackiovello Please let me know what page should be opened and I'll make the change. Thanks in advance!

[2017-09-19 14:30] Mackiovello commented on #245
The old link would be the equivalent of pointing to docs.starcounter.io. I think the right place to point to is https://docs.starcounter.io/guides/working-with-starcounter/administrator-web-ui

[2017-09-19 14:55] andwah commented on #244
Releated https://github.com/StarcounterApps/SignIn/issues/51

[2017-09-19 18:09] SenerDemiral commented on #243
No doubt.  Whenever you want.

[2017-09-20 06:25] SenerDemiral commented on #243
@k-rus 2.4.0.2951 is OK.

[2017-09-20 07:00] k-rus commented on #243
Thanks. Good. Reversion of changes worked correctly.

[2017-09-20 13:49] warpech commented on #239
Please check after https://github.com/Starcounter/level1/pull/4266 is merged. This should fix the problem in my opinion.

[2017-09-20 16:28] alemoi commented on #233
I checked and its true. This is of a quite low priority though. CC @ubbeK

[2017-09-20 17:43] Mihaiii commented on #239
Performance will definitely improve after Starcounter/level1#4266 is merged, but errors will still be there so for example if from `http://localhost:8181/#/databases/default` (assuming there is a `default` database) you click on `App Warehouse` and then on the home icon, you'll have to refresh the page to start/stop an app.

[2017-09-20 19:31] ubbeK commented on #233
Kind of sounds like it.

[2017-09-21 21:02] warpech opened #246 "Migrating an app from 2.3 to 2.4"
When I try to build https://github.com/StarcounterApps/KitchenSink/tree/d42dba70007a1be2fe7987de6460910967232e3c in Starcoutner 2.4 (using `msbuild` via `build.bat` in the Windows console), I get the following error:

[code]

The URL provided https://github.com/Starcounter/Starcounter.VisualStudio/wiki/Version-compatibility does not contain any helpful information about how to upgrade the project.

[2017-09-21 21:22] Mihaiii commented on #246
Related with https://github.com/Starcounter/level1/issues/4143

[2017-09-21 21:38] warpech commented on #246
Thank you for finding a related issue. Yes, it turned out that I need to add `<StarcounterVersionCompatibility>2.4</StarcounterVersionCompatibility>` to the first `<PropertyGroup>` section in `.csproj`.

Please close this issue when that is properly described in the page linked in the OT or in the Docs.

[2017-09-22 06:12] per-samuelsson commented on #246
FWIW, I have put an issue in 2.4 / Odessa that we really want to improve on this. Basically, what is there now is to avoid weird scenarios caused by incompatible project setup between 2.3 and 2.4, forcing users to pay attention when switching between 2.3 -> 2.4 and vice versa.

The aim must be to support only a single extension version for both those Starcounter versions, and also support one proj

[2017-09-23 10:24] warpech opened #247 "Auto-start feature does not work from CLI"
In Administrator, you can mark an app as "Auto-start" (explained here: https://docs.starcounter.io/guides/working-with-starcounter/administrator-web-ui#control-apps).

Sadly, the apps start automatically only when the db is stared using the "Start" button in the Administrator. If the db is started via `staradmin start db`, the auto-start option in the apps is ignored.

It should work consistentli

[2017-09-25 07:34] atifwaqar opened #248 "Starcounter.TransactionAbortedException: ScErrMemoryLimitReachedAbort (SCERR8036): The transaction was aborted because limit reached on limited memory resource."
My table contains 107729703 records, when I try to clean the table I get following exception

[code]

[2017-09-25 07:38] miyconst commented on #248
In this case "cleaning" means executing `DELETE FROM X` statement, am I right?

[2017-09-25 07:49] andwah commented on #247
related https://github.com/Starcounter/level1/issues/3951

[2017-09-25 08:15] atifwaqar commented on #248
Yes that's right

[2017-09-25 10:59] bigwad commented on #248
The transaction has exceeded the size limit: https://docs.starcounter.io/guides/working-with-starcounter/kernel-q-and-a/

[2017-09-25 20:34] un-tone opened #249 "Request.PortNumber returns 0"
I tested on WebsiteProvider app.

#### Steps to reproduce

1. Run **WebsiteEditor** and **WebsiteProvider** apps from `develop` branch in debug mode.
1. Set breakpoint on [ContentHandlers.cs:74](https://github.com/StarcounterApps/Website/blob/07049a818c8d0729259fa5295c2d29791de4e768/src/WebsiteProvider/Api/ContentHandlers.cs#L74)
1. Check value of the `request.PortNumber`

#### Technical informati

[2017-09-25 21:00] un-tone opened #250 "View is not removed after "remove" operation"
I tested on WebsiteEditor app.

#### Steps to reproduce

1. Run **WebsiteEditor** and **WebsiteProvider** apps from `develop` branch.
1. Run **SignIn** app from `develop` branch.
1. If user is not created go to <http://localhost:8080/signin/createadminuser>.
1. Go to <http://localhost:8080/signin/signinuser> and log in.
1. Go to <http://localhost:8080/websiteeditor>.
1. Select "TopbarSurface" and

[2017-09-25 21:41] un-tone opened #251 "Calling of unmapped URI entails blending"
I tested on WebsiteEditor app.

#### Steps to reproduce

1. Run **WebsiteEditor** and **WebsiteProvider** apps from `develop` branch.
1. Run **SignIn** app from `develop` branch.
1. If user is not created go to <http://localhost:8080/signin/createadminuser>.
1. Go to <http://localhost:8080/signin/signinuser> and log in.
1. Go to <http://localhost:8080/websiteeditor>.
1. Select "DefaultSurface" and

[2017-09-26 09:08] un-tone opened #252 "Filtering by calculated property is case-insensitive"
I got this issue when testing WebsiteProvider app.

`Simplified.Ring1.Something` class has the following property:

[code]

#### Using Key property

When I run the following query:

[code]
I'm getting this:
![image](https://user-images.githubusercontent.com/1625378/30851798-59bb634e-a2b2-11e7-8ac9-8eab195fd6ad.png)
We can see here that that the filtering is case-insensitive.

#### Using ObjectID p

[2017-09-26 09:15] k-rus commented on #252
Filtering in SQL is case-insensitive, which is according the standard.

`ObjectID` is treated case-sensitively, since it is an id. But it doesn't work so always, see https://github.com/Starcounter/level1/issues/4210

Is your question answered?

[2017-09-26 09:19] un-tone commented on #252
Yes, now it's clear. Thank you!

[2017-09-26 09:19] #252 closed

[2017-09-26 11:12] chrhol opened #253 "Feature review: automatically create a TypedJSON object based on a dataobject."
This functionality needs a serious review. The current implementation was added a long time ago, and has not gotten any attention until now.

The main problem is performance. It's very, very slow today. It's uses a combination of reflection and dictionary-lookups to map a public property to a template for TypedJSON, and there is no caching of the result meaning that if this is used for an array, t

[2017-09-26 11:28] miyconst commented on #253
I vote for removing this feature all together. Also, those kind of issues are once again reminding me, that we should reconsider our JSON view-model strategy, possible in favor of proposed by me, so called compiled JSON.

[2017-09-26 14:23] warpech commented on #253
Do we have a way to check what apps are using it?

[2017-09-26 14:25] warpech commented on #253
Is there a way to add an obsolete message for this in 2.3.1?

I agree this is a highly magical feature that should be removed.

[2017-09-26 15:47] chrhol commented on #253
Awesome, then the verdict seems to be in favour of removing it altogether.

This I'm not sure about, I have to test. Maybe. The problem is that it's not directly public. Worst case we can add a warning to the log.

[2017-09-26 15:51] warpech commented on #249
@alemoi can you pls take a look?

@un-tone is this a regression?

[2017-09-26 15:51] warpech commented on #250
@alemoi can you pls take a look?

@un-tone is this a regression?

[2017-09-26 15:51] warpech commented on #251
Is this a regression?

[2017-09-26 15:53] warpech commented on #250
@alemoi can you pls take a look?

@un-tone is this a regression? Are any issues blocked by this?

@miyconst I advise this is included in 2.3.1

[2017-09-26 15:54] warpech commented on #251
@un-tone is this a regression? Are any issues blocked by this?

@miyconst I advise this is included in 2.3.1

[2017-09-26 15:55] warpech commented on #249
@alemoi can you pls take a look?

@un-tone is this a regression? How does it affect Website app or other apps?

[2017-09-26 15:58] warpech commented on #249
Reply to self - it causes tests in Website app to fail: https://github.com/StarcounterApps/Website/pull/197#issuecomment-331379038, so this must be a regression.

[2017-09-26 15:58] warpech commented on #249
Reply to self - it causes tests in Website app to fail: https://github.com/StarcounterApps/Website/pull/197#issuecomment-331379038, so this must be a regression.

@miyconst I advise this goes in 2.3.1

[2017-09-26 16:02] un-tone commented on #249
I use it when calling `Handler.GetHandlerForUri(string method, string uri, ushort portNumber)` method [here](https://github.com/StarcounterApps/Website/blob/15de635821e35082bccda172ae91267b31ea8622/src/WebsiteProvider/Api/ContentHandlers.cs#L232).

[2017-09-26 20:33] alemoi commented on #250
@un-tone can you please check if wrong handlers are called? Just so we exclude the possibility that its a problem with Json patch?

[2017-09-26 21:28] warpech commented on #244
cc @LarsTjernstrom

[2017-09-26 21:31] warpech commented on #244
This should be corrected in README.

That link only works when accessed from `localhost` and only when there are no users in the database.

[2017-09-26 21:33] warpech commented on #242
In this case it should obviously be changed to `var template = script.previousElementSibling;`

Alternatively you can give an ID to the template and do `var template = document.getElementById(...)`, but do we want to maintain so many ids?

[2017-09-26 21:34] warpech commented on #242
Seriously though, what is

[code]

That should be loaded from an external file, preferably a custom element. Or at least put a comment above it.

[2017-09-26 21:39] warpech commented on #174
I think this should have increased priority. This makes issues like https://github.com/Starcounter/inside.starcounter.com/issues/23 take DAYS to debug.

[2017-09-26 21:55] warpech commented on #189
It is now called `Palindrom.filterLocalChange` and is explained in https://palindrom.github.io/#/docs/v3.0.5/03-Filtering%20Patches

[2017-09-26 22:06] warpech commented on #242
Sorry, I haven't expected that.

@tomalec WDYT? I think this is a serious flaw of CloudFlare.

I don't see how we can generally avoid using `previousElementSibling` other than maintaining `id`s for all temlpates. In this case, maybe just add an `id` for this template?

[2017-09-26 22:08] warpech commented on #242
Another solution is to add the methods on Polymer `dom-bind`'s prototype instead of instance. Then you will not have to get the reference to the template.

Can you investigate that?

[2017-09-27 05:44] LarsTjernstrom commented on #244
Hi
In the new version of the SignInApp, calling the link

Only results in a message stating that you have to create the admin user by pressing the create admin button and fill in the password to actually create the admin user account. The documentation has not been updated.

Skickat från min iPhone

[2017-09-27 07:25] chrhol opened #254 "Remove feature for automatic creation of TypedJSON based on dataobject."
Explained here: https://github.com/Starcounter/Home/issues/253

* Drop in Odessa, and instead generate an exception if `json.Data` is set on an object or array without a template.
* Obsolete in `v2.3.1`. If obsoleting this feature doesn't work (due to the fact that it's not directly a public API) generate a warning in the Starcounter log instead.

[2017-09-27 07:29] chrhol commented on #253
Added a new issue for the actual task, closing this one. Thanks for the feedback!

[2017-09-27 07:29] #253 closed

[2017-09-27 07:30] chrhol commented on #254
@miyconst: I added this issue as scheduled for both 2.3.1 and Odessa projects. Please let me know or move them if you think otherwise

[2017-09-27 09:15] un-tone commented on #250
Yes, I checked. Wrong handlers are not called.

[2017-09-27 09:47] tomalec commented on #107
We would start research on Bootstrap alternatives in 2.4

[2017-09-27 10:29] alshakero commented on #189
Sorry, this is implemented long ago but I forgot to refer to the issue in my PR.

https://github.com/Starcounter/level1/commit/b737da745cd4656fa5fe874565c0dda7c54d065b (August 28th).

[2017-09-27 10:29] #189 closed

[2017-09-27 10:41] atifwaqar commented on #191
Hi @mmnosek & @miyconst , Is following exception same as above?

[code]

[2017-09-27 10:44] atifwaqar opened #255 "Starcounter.XSON.JsonPatchException: Unknown property in path."
SC Version 2.3.1.7166

It looks like this exception is caused when we do some operation in our BackOffice (an admin page with Json Code behind created in SC )
[code]

[2017-09-27 10:45] atifwaqar commented on #255
A similar exception

[code]

[2017-09-27 12:57] alemoi commented on #250
So what do you think, its a wrong Json patch coming then?

[2017-09-27 13:18] miyconst commented on #191
No, those are different issues.

[2017-09-27 13:44] joozek78 opened #256 "Temp directory is not deleted"
Inside `Documents/Starcounter/Personal` there is `Temp` directory that (in my case) takes almost as much space as `Data` (5.5GB vs 5.9GB). It is not deleted after starcounter exits (`staradmin kill all`) neither when it's restarted (`staradmin start server` `star App.exe`). Thus I have to conclusion:

1. If it's really temporary Starcounter should take care to delete it (if the `staradmin kill all

[2017-09-27 15:09] Mackiovello opened #257 "Setting JSON properties as unbound with IExplicitBound doesn't work"
To opt-out of `IExplicitBound`, the `Bind` property should be set to `null`. That makes sense. What is confusing is that setting `BindingStrategy` to `Unbound` doesn't work, the compiler still gives an error.

Would it be possible to use `BindingStrategy.Unbound` to opt out of `IExplicitBound`?

[2017-09-27 19:46] atifwaqar commented on #191
Is it fixed in some later SC version?
My current version is 2.3.1.7166

[2017-09-27 20:24] miyconst commented on #191
No. This issue will not be fixed in `2.3.x`.

[2017-09-28 05:59] chrhol commented on #257
Yes, it should work the same. This sounds like a bug.

I'll assign it to me to fix it.

[2017-09-28 06:32] atifwaqar commented on #191
Alright.
Just out of curiosity, will this be fixed in 2.4? and also, is there any GH Issue created where I can follow up on this issue?

[2017-09-28 06:59] miyconst commented on #191
It is not planned to be fixed in `2.4` either, since it requires to implement new/different scheduling model in order to be able to access database from standard .Net thread.

We already have some plans, but when and how is not yet decided, since there are other more important tasks.

[2017-09-28 08:48] per-samuelsson commented on #256
That is just by coincidence. They contain completely different things.

This issue is already known and tracked, but never has been prioritized. Main issue https://github.com/Starcounter/level1/issues/1690, and related https://github.com/Starcounter/level1/issues/2007.

I suggest we close this as a dup, but I guess you guys @joozek78 and @miyconst decide on that, and how to prio.

[2017-09-28 13:47] chrhol commented on #254
Unfortunately I cannot find any way to mark this as obsolete in 2.3.1. I will add a warning in the Starcounter log instead. Not optimal, since it requires a user to actively look in the log to spot it, but I see no other option.

[2017-09-28 15:09] un-tone commented on #250
It seems that JSON patch is correct, except of duplication of the "remove" operation item.

[2017-09-28 15:26] Mihaiii commented on #239
https://github.com/Starcounter/level1/pull/4266 is merged. Please see latest RC.

[2017-09-28 21:23] alemoi commented on #250
But do you think that this duplication is caused by wrong handler call by Blender? Because as I understood:

Meaning its not a Blender issue, but rather Json patch, or I'm probably wrong? Thanks for clarification!

[2017-09-29 09:58] chrhol opened #258 "Administrator trying to add/update object _queryState"
Tested in the latest version of v2.3 (built locally today so no exact version)

From what I've seen there are two different exceptions in the log. In the first a property in object `_queryState` is updated (and sent as patch). In the second excecption, the whole `_queryState` object is sent.

Is `_queryState` something client-specific and should be ignored? Who should look at it?
 cc @Mihaiii, @an

[2017-09-29 09:59] chrhol commented on #255
The second stacktrace points to the Administrator, so that one is not connected to the first one. I created an issue for the administrator one (#258)

[2017-09-29 10:39] Mihaiii commented on #258
Related with  https://github.com/Starcounter/Home/issues/239 .
I can filter them [like this](https://github.com/Starcounter/Home/issues/239#issuecomment-329964671) (that code is for demo purposes - final version, if will be applied, will have to update `addedPaths` in case an already added path in `addedPaths` is replaced), but I don't think the fix/solution should be applied on that level, like I

[2017-09-29 10:45] Mihaiii commented on #258
Please also note that this problem have different side effect:
for example, if from `http://localhost:8181/#/databases/default/sql` (assuming there is a `default` db), you write anything in the query field and then click on the home icon, you won't be able to start/stop an app at this moment (user has to refresh the page in order to do that).

[2017-09-29 10:47] Mihaiii commented on #258
@alshakero Please let me know if I should do what I proposed in https://github.com/Starcounter/Home/issues/239#issuecomment-329964671

[2017-09-29 11:42] alshakero commented on #258
`this.serverStatus.filterLocalChange = op => !op.path.startWith('$$');`

Should be enough.

[2017-09-29 12:16] Mihaiii commented on #258
I did it with
`this.serverStatus.filterLocalChange = op => !op.path.includes("$$");`
to include cases like `"/Administrator_0/Databases/0/$$hashKey"` and now there's no error (at least related with this topic :) )

The thing is that I can't reproduce https://github.com/Starcounter/Home/issues/258#issuecomment-333094535 with https://github.com/Starcounter/Home/issues/239#issuecomment-329964671 , bu

[2017-09-29 12:38] alshakero commented on #258
I see. Could you make it
[code]

[2017-09-29 13:34] miyconst commented on #258
@atifwaqar also complained about this error, has to be fixed.

[2017-09-29 14:44] Mihaiii commented on #258
I apologize for the late response
SC version 2.3.1.7352

Please see the attached file
[localhost-1506696181965.log](https://github.com/Starcounter/Home/files/1344719/localhost-1506696181965.log)
.

[2017-09-29 15:59] un-tone commented on #250
As it is shown on the screenshot the `/WebsiteProvider_0/Sections/Main/SignIn_0` element was removed from the View-model tree but is still shown in the UI. Please pay attention on it.

[2017-09-29 22:40] alemoi commented on #249
Thanks for reporting @un-tone
Fixed, now returns user handlers port, e.g. 8080.

[2017-09-29 22:40] #249 closed

[2017-09-30 01:49] Mihaiii commented on #247
Thank you @andwah for the info.
https://github.com/Starcounter/level1/issues/2705 should be solved first.

[2017-09-30 09:17] Mihaiii commented on #244
Closing as done.

[2017-09-30 09:17] #244 closed

[2017-09-30 13:14] Mihaiii commented on #245
Closing as done.

[2017-09-30 13:14] #245 closed

[2017-09-30 13:15] Mihaiii commented on #220
Closing as done.

[2017-09-30 13:15] #220 closed

[2017-09-30 19:14] mmnosek commented on #239
I've tried Starcounter-RC-2.3.1.7356 and it still has exactly the same problem. Please have a look.

[2017-09-30 19:26] Mihaiii commented on #239
I think that @warpech was referring to the performance problem (which was definitely improved because Administrator is now using Palindrom 3.0.5). Other than that, https://github.com/Starcounter/level1/pull/4278 was never meant to solve the errors presented in the first message.

I consider this issue a duplicate of #258 and in my opinion one of the topics should be closed.

[2017-10-01 17:15] alexanderstc commented on #243
@SenerDemiral I'll roll back some of recent commits, please stand by.

[2017-10-01 17:21] alexanderstc commented on #243
@SenerDemiral could you provide a reproducible setup for me to test on my machine?

[2017-10-01 17:22] alexanderstc commented on #243
Meanwhile i'm building 2.4.0.3133.

[2017-10-01 17:35] mmnosek commented on #239
Performance is not improved at all after the upgrade. Errors and hundreds 404 requests cause serious performance issue. What do we need to fix it? Is it Palindrom or Admin problem? It seriously affects user experience and first impression.

[2017-10-01 17:52] alexanderstc commented on #243
2.4.0.3133 is ready, if you can access it.
Otherwise 2.4.0.3134 or later will be ready in a few hours.

[2017-10-01 17:58] SenerDemiral commented on #243
Only 2.4.0.3129 is visible to me!

[2017-10-01 17:59] alexanderstc commented on #243
You'll have to wait longer then.

[2017-10-01 17:59] alexanderstc commented on #243
For 3134 or later builds.

[2017-10-01 17:59] SenerDemiral commented on #243
OK

[2017-10-01 18:50] alexanderstc commented on #243
3134 is ready.

[2017-10-01 18:56] SenerDemiral commented on #243
I'm checking.

[2017-10-01 19:15] SenerDemiral commented on #243
Still same error message!

[2017-10-01 19:17] alexanderstc commented on #243
Will roll back further.

[2017-10-01 19:31] alexanderstc commented on #243
Building, ETA is at least 1hr40min from now.

[2017-10-01 19:43] SenerDemiral commented on #243
OK

[2017-10-01 21:02] alexanderstc commented on #243
3137 is ready.

[2017-10-01 21:13] SenerDemiral commented on #243
Same error :(

[2017-10-01 21:31] alexanderstc commented on #243
I can't revert any further on main build without consulting with others,
what I could do now is to make a separate build, futher reverted, just for us to try and find out the point of failure.
I will have to upload it to you somehow.

[2017-10-01 21:33] alexanderstc commented on #243
Do you want me to do that?

[2017-10-01 21:35] SenerDemiral commented on #243
Never mind, it's not urgent.

[2017-10-02 06:02] SenerDemiral commented on #243
3139 has same error too.

[2017-10-02 06:17] alexanderstc commented on #243
Supposed to.

[2017-10-02 06:26] SenerDemiral commented on #243
There is no `C:\Program Files\Starcounter\ScAnalyzeReference.psproj`
but there is  `C:\Program Files\Starcounter\ScAnalyzeOnly.psproj`

[2017-10-02 07:23] per-samuelsson commented on #243
This one seem to be a bug introduced by me. I'm on it. Think it's a file that was not whitelisted in installer. Hang on.

(Remember, 2.4 is bleeding edge)

[2017-10-02 08:02] per-samuelsson commented on #243
Fixed, merged and pushed: https://github.com/Starcounter/level1/commit/69c7184c43b13ff3f107ff47b0cfe0244ac5aa54. Will be activated in next nightly. Thanks for reporting @SenerDemiral. Let us know if you need a build faster than that and we can make a custom one for you.

[2017-10-02 08:13] SenerDemiral commented on #243
Thank you, no need. I can wait.

[2017-10-02 10:03] warpech commented on #251
Is this the same issue as https://github.com/Starcounter/RebelsLounge/issues/195?

[2017-10-02 11:13] alshakero commented on #239
I fixed this. Is there a PR I can push to or should I create a branch?

[2017-10-02 11:24] Mihaiii commented on #239
Please create a branch.

[2017-10-02 22:20] mmnosek commented on #239
Thank you all for fixing this!

[2017-10-02 22:20] #239 closed

[2017-10-03 05:47] SenerDemiral commented on #243
v2.4.0.3148
Compiled successfully, but when run, exits with the code below.
[code]

[2017-10-03 06:08] k-rus commented on #243
@per-samuelsson Can you look at it?

[2017-10-03 06:19] per-samuelsson commented on #243
Sure.

@SenerDemiral

Thanks for reporting that!

I wonder if there is something in the project setup that is wrong. Is the project you are running one you created in 2.3? Or are you running a plain `.cs` file, i.e. `star myapp.cs`?

Anywhere I can get access to your application so I can set it up and try it?

[2017-10-03 06:41] SenerDemiral commented on #243
DB created on v2.4.
In 2.4.0.3062 DB Tables are accessible but not  >2.4.0.3062.

I create new empty project and added module reference, and run.
On Administrator SQL
```select * from ClrClass```
doesn't show my tables.

GitHub: [https://github.com/SenerDemiral/tMax14web](url)

[2017-10-03 07:03] per-samuelsson commented on #243
OK, thanks @SenerDemiral, that should be enough for now. I'll give it a while to see if I can understand what is going on.

[2017-10-03 07:12] per-samuelsson commented on #243
![image](https://user-images.githubusercontent.com/2902045/31113649-8f23c1d0-a81a-11e7-89f9-37010d43991a.png)

Seem to work. But I might be cheating. Recreated like this:

1. Created new, empty database, i.e. `star new db` (after `staradmin delete db`).
2. Running only a single app: `star tMax14web.exe`.

Also, tested on a local build on a code-base that might be a day old or so. I'll rebuild a ne

[2017-10-03 07:17] Mihaiii commented on #258
Closing as done in https://github.com/Starcounter/level1/commit/c956c7b982268d0b5d2aeede33781c183bd85221 .
The fix should be available starting with RC 2.3.1.7371.

[2017-10-03 07:17] #258 closed

[2017-10-03 07:21] SenerDemiral commented on #243
I used already created DB on <= v2.4.0.3062.
Maybe I should create DB for >3062 as you do.

[2017-10-03 07:23] k-rus commented on #243
So the problem is observed if a database created with a previous version of Starcounter is used, right?

[2017-10-03 07:25] SenerDemiral commented on #243
Yes, but created with 2.4

[2017-10-03 07:45] per-samuelsson commented on #243
Aha, ok. That might be it. Since we are pushing quite heavy changes at the moment, and we might break things between I guess.

I'm not sure about our policy here tbh. If you create a database in 2.3 and want to use it in 2.4, you will have to rebuild it (i.e. unload/reload) once 2.4 become stable. That's for sure, and something we need to leave a guarantee that it will work (obv).

If you create a

[2017-10-03 07:47] per-samuelsson commented on #243
Can you try that and see if it works at least? You don't have to delete the default one just yet (if u have something you like to keep in it), just do this instead:

[code]

and a new emtpy database will be created on the fly.

[2017-10-03 07:50] per-samuelsson commented on #243
Works equally good on build of latest code too (and that code is latest nightly).

[2017-10-03 07:57] SenerDemiral commented on #243
By the way, I admire your ambition to solve problems. How a discipline / passion!

[2017-10-03 12:09] chrhol commented on #254
I've been working on this issue for some hours now. It's not going as well as I hoped. There's quite a lot of unittests in XSON that depends on this functionality.

The status is that the issue itself is done for both versions but the tests needs to be updated. I will postpone this issue for a little while, since I have some more urgent things to finish.

[2017-10-03 12:52] andwah opened #259 "Administrator slow and unstable"
The GUI Administrator feels very slow and unstable since switching to Palindrom.

II constantly need to Refresh (F5) the browser to be sure about the database/apps status. this was not an issue before when we used a early version of puppets.

[2017-10-03 13:03] k-rus commented on #243
If we don't say explicit that reload is required, then it should not be required. Metalayer is fixed to allow seamless migration. I am not sure if it is so for migrating from 2.3 to 2.4. However, it should not be a problem between different versions of 2.4.

[2017-10-03 13:43] alexanderstc commented on #243
Metalayer is recently testes to support that seamlessly.
Bugs are still oossible, of course.

[2017-10-03 14:19] warpech commented on #259
Is this for the current version? Some improvements were released yesterday https://github.com/Starcounter/Home/issues/239

[2017-10-03 14:42] andwah commented on #259
sorry, forgot to include the version, i used Starcounter-RC-2.3.1.7211

[2017-10-03 14:43] andwah commented on #259
i will upgrade and test the latest RC.

[2017-10-03 18:08] SenerDemiral commented on #243
As you said, it worked on newly created DB.
I will try to unload the data from old and load to the new one using 2.4.0.3148.
Should I use v3062 to unload and v3148 to load?

[2017-10-04 06:42] per-samuelsson commented on #243
That's good at least. Thanks for verifying.

If you actually do keep real data in there, we can of course help you with it. If so, I want to spend time finding out why you couldn't start app in the later version, while an earlier version of 2.4 worked.

I guess so, yeah. But maybe I should try find real cause of your trouble instead? (see above)

[2017-10-04 07:13] SenerDemiral commented on #243
For now I have no valuable data.
But I should see unload/reload works as expected in such situations.

[2017-10-04 07:36] erikvk opened #260 "⏰ IS NOT NULL does not work with Nullable<DateTime> values"
Checking `IS NOT NULL` in SQL does not seem to work for nullable DateTime  properties like `MatchedAt`. `Model` is string, and `IS NOT NULL` works fine there

![screen shot 2017-10-04 at 09 33 42](https://user-images.githubusercontent.com/16880339/31164380-34d52264-a8e7-11e7-8b09-57731d500b3a.jpg)
![screen shot 2017-10-04 at 09 33 53](https://user-images.githubusercontent.com/16880339/31164383-34f

[2017-10-04 07:39] erikvk commented on #260
Version=2.3.1.6402

[2017-10-04 07:47] Razkan opened #261 "Starcounter throws a 413 when sending large payloads to a post handler"
Hi Starcounter Developers,

Starcounter doesn't allow for large payloads to be sent to the post handler. The following warning is found in the Db management log: **"Attempt to HTTP upload of more than 1048576 bytes. Closing socket connection."**

This can be replicated by passing a large body through a http post (for example a base64 image).

[2017-10-04 07:51] mtornwall commented on #261
Hi @Razkan,

You should be able to configure this by changing the value of the `MaximumReceiveContentLength` node in `%userprofile%\Documents\Starcounter\Personal\scnetworkgateway.xml`.

[2017-10-04 08:05] Razkan commented on #261
Thanks for the response @mtornwall

I'll close this issue for now, and reopen if the issue persist!

[2017-10-04 08:23] SenerDemiral commented on #243
@per-samuelsson
Unload with v3165 (Last version)
[code]
Gives following error.
[code]

[2017-10-04 08:30] erikvk commented on #260
I also suspect that indexing does not work properly for nullable datetime properties. That would explain some performance issues we have had.

[2017-10-04 08:41] SenerDemiral commented on #243
@per-samuelsson
Tested with v3062 (Working) uses same StarDump version (no difference between 3062 and 3165)  and gives same error message!

[2017-10-04 09:00] SenerDemiral commented on #243
StarDump unload have same error on newly created DB. (v2.4.0.3165)
I think, StarDump has a problem on v2.4!

[2017-10-04 09:10] k-rus commented on #243
Thank you. This is a bug in StarDump to qualify entire identifier chain in SQL. @miyconst can you look at it?

[2017-10-04 09:20] miyconst commented on #243
@SenerDemiral, Starcounter `2.4` is in development stage, please understand this. Unfortunately StarDump is not yet compatible with `2.4`, but there is working in progress.

[2017-10-04 09:22] SenerDemiral commented on #243
Yes I understand.
Never mind, I just try to help you.

[2017-10-04 09:28] warpech commented on #261
I think that the maximum limit is 4 MB for the request anyway.

Large files should be uploaded with WebSocket. Example is available in KitchenSink: StarcounterSamples/KitchenSink:src/KitchenSink/FileUploadPage.json.cs@master.

@alemoi can you pls confirm?

@Mackiovello can you pls make sure this is in the docs?

[2017-10-04 10:01] alemoi commented on #261
That's correct. WebSockets is the recommended way of streaming up. If large files are for download, 'Response.StreamedBody' can be used, or also, WebSockets.

[2017-10-04 10:11] per-samuelsson commented on #243
@SenerDemiral

Thanks for spending time providing us with valuable input. We have on ongoing discussion of how to best tackle cases like this, and with the aim to reach an highest-possible support level, based on our resources and in sync with our different versions.

In LTS releases / "stables", it's simple: we provide full support, always. In bleeding-edge, we need a little more time to figure o

[2017-10-04 10:22] erikvk commented on #260
I think I have a work-around for the SQL issue. These two SQL queries should be equivalent, no?

1: `SELECT * FROM Mopedo.Database.Device t WHERE t.MatchedAt IS NOT NULL`
2: `SELECT * FROM Mopedo.Database.Device t WHERE t.MatchedAt > DATE '0001-01-01'`

[2017-10-04 10:32] atifwaqar commented on #121
Hello guys,
I am on SC version 2.3.1.7294 and VS 2017. I still get the issue. and it feels like its even worst now.

[2017-10-04 10:37] bigwad commented on #121
@atifwaqar, please make a dump of sccode.exe once you hit it again

[2017-10-04 10:48] SenerDemiral commented on #243
Thanks to all of you.

[2017-10-04 11:16] mtornwall commented on #260
/cc @k-rus

[2017-10-04 13:13] k-rus commented on #260
Thank you for reporting! It looks like a bug. It can be in code host or in OldSQL. We will investigate.

[2017-10-04 15:53] warpech opened #262 "Include Polymer 1.10.1 in Starcounter 2.3.1"
@alshakero could you pls test if Polymer 1.10.1 works well and make a PR that includes it in Starcounter 2.3.1?

cc @miyconst

[2017-10-05 10:06] bigwad commented on #121
@atifwaqar provided me a dump in which we should have called `Debugger.NotifyOfCrossThreadDependency`, but still VS hanged. I have to reproduce and decide if it VS bug or not and what to do next.

[2017-10-05 10:42] chrhol opened #263 "Stored viewmodels on a Session need to keep attached transaction open."
Default behaviour for long-running transactions that are not explicitly handles, is to dispose them in the end of a task.

When a viewmodel is stored on a session (using `Session.Store`), any attached transaction needs to be kept opened.

found in https://github.com/StarcounterApps/Website/issues/200

[2017-10-05 13:06] warpech commented on #250
There are two issues here:

1. Client side `starcounter-include` does not unrender `SignIn_0` even though it is removed from the view-model. cc @tomalec
2. Server side Palindrom sends the removing patch twice. cc @chrhol

[2017-10-05 13:16] un-tone commented on #251
These issues are different as I see. In my case the incorrectly called URI was mapped at once and unmapped then. Also I use certain tokens without contexts.

I'm not sure, possible not.

if not fixing this the "disabling stuff" tests for Website are failing (https://github.com/StarcounterApps/Website/issues/217)

[2017-10-05 13:34] warpech commented on #250
Re point 1: This line in `palindrom-polymer-client` is the problem: https://github.com/Palindrom/palindrom-polymer-client/blob/4.0.0/palindrom-client.html#L435. If the `undefined` in that line is changed to `null`, it works correctly.

I can see that on the master branch it is already fixed: https://github.com/Palindrom/palindrom-polymer-client/blob/ecb410b02df7ec52102d937ab535009929684453/palindr

[2017-10-05 14:29] alshakero commented on #250
I don't think so. It's safer to branch from the released version, fix this issue. And release a patch. `palindrom-polymer-client`'s master is modified a lot and this would break a lot of stuff if paired with Polymer 1.x.

Should I go for what I described?

[2017-10-05 14:42] warpech commented on #250
We want to limit our engagement with Polymer 1.x (https://github.com/Starcounter/RebelsLounge/issues/66) as well as reduce the number of changes to Starcounter 2.3.1, but I think our templating engine is too important to skip fixing such issue.

How much would it take to fix this and add tests for both branches (Polymer 1 and 2)?

[2017-10-06 08:05] mtornwall opened #264 "Safely calling ScLLVMInit"
It should be safe to call `ScLLVMInit` as many times as you want (in as many concurrent threads as you want). Currently it seems that it's not so.

[2017-10-06 09:02] bouguila opened #265 "⏰ Issue with AND operator and Double type"
## Description
I am trying to query a table from Administrator SQL command line, but the `AND` operator in the `WHERE` clause seems to be malfunctioning if it is composed of many comparisons with `double` values.

- The code below have a simple `WHERE` clause and it works fine:

![2](https://user-images.githubusercontent.com/12608524/31270374-718f2aee-aa84-11e7-9538-a001dc971f5f.PNG)

- In the cod

[2017-10-06 11:48] k-rus commented on #265
Thank you for reporting. Seems to be a bug. Requires investigating.

Can you provide a simple way to reproduce the issue, including source code of an app with population code?

[2017-10-06 12:23] bouguila commented on #265
@k-rus here is the repo :
https://github.com/StarcounterApps/VehicleTrackDemo/settings

Just clone & run it locally, and it will generate a db with 2 tables `CarTracking.Vehicle` and `CarTracking.GpsPosition`  which will be populated with dynamic data from an external server.

[2017-10-06 12:27] k-rus commented on #265
Thank you!

[2017-10-06 21:41] Mackiovello commented on #261
Documentation for this is created here: https://docs.starcounter.io/guides/network/handling-http-requests#size-limit-on-payloads

If that covers it properly, please close.

[2017-10-07 19:14] mmnosek opened #266 "Changing TransactionLogSize has no effect"
I was looking for an option to change transaction log file size to decrease the intensity of log compression under heavy DB load. I've found `<TransactionLogSize>256</TransactionLogSize>` as a default setting in server configuration file and changed it, but it gives no effect. I think it should either work or be removed from the configuration.

If latter, what are arguments that it can't work prop

[2017-10-07 19:43] eriohl commented on #266
You don't need to change the file element size to change the frequency log compression. You need only to change the threshold (say run it at every other element file created). Maybe you can already configure this even? @bigwad knows this stuff better.

Anyway: The <TransactionLogSize> configuration I think is some legacy from < 2.3 when log had a fixed size I'm pretty sure. So it should most likel

[2017-10-07 23:24] miyconst opened #267 "How to set culture info?"
I am trying to set custom culture info in a Starcounter application, which does not seem to work.

Here is what I do on application startup and inside every handler.

[code]

But when a JSON patch received, the culture info is randomly reset to the server's default value.

Is it possible to specify global culture info for an application?

cc @chrhol, @alemoi

[2017-10-08 16:33] chrhol commented on #267
Currently the answer would be no. We have a very limited concept of application-specific configuration (or application context at all) in place today. Although there is a `Application` instance that can be retrieved (with `Application.Current`) and used for these kind of settings.

I would guess that it's not reset, but a different thread is scheduled from what you set the value on.

To get this t

[2017-10-08 20:52] miyconst commented on #264
@mtornwall please add proper issue labels, including issue importance.

[2017-10-08 20:55] miyconst commented on #261
Thanks @Mackiovello. Closing the issue.

[2017-10-08 20:55] #261 closed

[2017-10-08 20:58] miyconst commented on #259
@andwah can you please check if the issue is still in place?

[2017-10-08 21:00] miyconst commented on #256
Closing as duplicate.

[2017-10-08 21:00] #256 closed

[2017-10-08 21:02] miyconst commented on #255
@atifwaqar I am closing this issue, since no more information was provided. Please reopen if it is still happening.

[2017-10-08 21:02] #255 closed

[2017-10-09 03:46] dttrung opened #268 "Get an error when update the develop package [SCERR11015]"
Hi everyone,
When I update the new version I have got a error message.

[code]

With link refer to [https://docs.starcounter.io/?q=SCERR11015](https://docs.starcounter.io/?q=SCERR11015)

Could you please help me?

Thanks.

[2017-10-09 05:55] per-samuelsson commented on #268
cc @alemoi

[2017-10-09 07:14] miyconst commented on #217
StarDump now supports binary data. Changing inheritance of a class is not supported by automatic migration, it will be addressed later. Closing this issue.

[2017-10-09 07:14] #217 closed

[2017-10-09 07:56] andwah commented on #259
My experience with a newer starcounter version is much better.   Closing

[2017-10-09 07:56] #259 closed

[2017-10-09 13:25] alemoi commented on #268
Please also provide information about what operating system you are using. CC @ubbeK

[2017-10-09 14:00] joozek78 opened #269 "Max response size should be configurable"
If I try to return a `Response` larger than 500MB ([source, for insiders only](https://github.com/Starcounter/level1/blob/develop/src/Starcounter.Internal/Constants/Constants.cs#L73)) I get an exception. Why is this even in place? The developers should be able to return as much as they want. At least it should be configurable like max receive size

CC @alemoi may have some information on it

[2017-10-09 14:26] warpech commented on #269
Related https://github.com/Starcounter/Home/issues/261

[2017-10-09 14:51] alshakero commented on #262
On it. I was waiting for https://github.com/Starcounter/level1/pull/4287.

[2017-10-09 15:14] alemoi commented on #269
Its the limitations on upload.

I think this is an artificial limitation actually. I will remove it.

[2017-10-09 20:16] Mackiovello commented on #209
From your description, it seems like the type is just lifted one level, when running aggregates in SQL queries, it seems like it lifts the type several levels:

[code]

Is there any workaround for this? It would be good to document

[2017-10-10 09:00] iliasadfenix opened #270 "Error : Index was outside the bounds of the array."
We are experiencing a new issue after upgrading SC version to 2.3.1.7294. Suddenly my code bellow start throwing error randomly.

`info.Products.Data = ad.IndividualSeller.Customer.CustomerProducts.Where(p => p.IsSocialBooster == false);`

Here is the definition of `QueryResultRows<Product> CustomerProducts`  which is returning rows from database.

Here is the error:

![scerror](https://user-image

[2017-10-10 09:32] warpech commented on #262
Done in https://github.com/Starcounter/level1/pull/4287. Thanks @alshakero

[2017-10-10 09:32] #262 closed

[2017-10-10 09:44] alshakero commented on #250
@warpech sorry for the late response. I can't predict how long it would take, maybe an hour if the change doesn't break tests with Polymer 1.x. It might take a while if they decided to break. I suggest trying the easy solution and giving up on it if it didn't work. WDTY?

[2017-10-10 09:50] alshakero commented on #250
This is not tracked here https://github.com/Palindrom/palindrom-polymer-client/issues/47

[2017-10-10 11:20] mtornwall commented on #270
/cc @k-rus

[2017-10-10 11:43] k-rus commented on #270
Thank you for reporting this issue. This problem unfortunately exists for some time and @alemoi is expected to look at it.

[2017-10-10 12:21] chrhol commented on #263
Merged and pushed now. Not completely satisfied with the solution, mainly because of how the current session is retrieved, sometimes with `Session.Current`, but most of the time using `json.Session` (which relies on a session-field is set on the root instance).

As mentioned in https://github.com/Starcounter/Home/issues/133#issuecomment-311034511, I wanted to obsolete and remove this property alto

[2017-10-10 12:21] #263 closed

[2017-10-11 08:32] chrhol commented on #250
Is this fixed already, or is there some workaround in place in WebsiteEditor?

Running the latest `develop` versions of website and signin, when I click on `General` as the last step, I get a patch that replaces the root, and everything seems to be fine. So no duplicate remove patches in my case.

[2017-10-11 12:40] warpech commented on #250
@chrhol The problem is still reproducible for me.

Are you running the three apps: WebsiteEditor, WebsiteProvider, SignIn in an empty database?

My versions:
- Starcounter 2.3.1.7422
- https://github.com/StarcounterApps/Website/tree/8af81c32c94caf432eb3aad42063b4a221fd80ef
- https://github.com/StarcounterApps/SignIn/tree/75b5bfb206afe34874866011b642e6d842955890

[2017-10-11 12:54] chrhol commented on #250
Weird, I must have done something wrong before, or I did not start from an empty database. Now I get the duplicated patches as well.

[2017-10-11 14:21] eriksunsol opened #271 "Using index with "WHERE x IS (NOT) NULL" clause gives wrong result."
Sorry if this has already been reported. I couldn't find an issue for it. Related to https://github.com/Starcounter/level1/issues/3546, but slightly different.

Error occurs when a property is null, not because it was set to null, but because the object it referred to was deleted. Here's code to show the problem:

[code]

Here's the output:

[code]

I think you can figure this one out without me e

[2017-10-11 14:53] eriksunsol commented on #271
Tested on Starcounter-RC-2.3.1.7371

[2017-10-11 16:30] dttrung commented on #268
Thank you for your replying.
Could you please the video below to get information?

[https://www.youtube.com/watch?v=OzGjSSRN9aQ](https://www.youtube.com/watch?v=OzGjSSRN9aQ)

[code]

[2017-10-12 05:52] k-rus commented on #271
Thank you for great report! As I understood the incorrect result is produced when index is involved.

@bigwad Do you think this bug should be resolved in the kernel or on the level of the query processor?

[2017-10-12 07:47] bigwad commented on #271
It's QP responsibility according to the original design: https://github.com/Starcounter/level1/issues/2362#issuecomment-183633605

[2017-10-12 07:49] eriksunsol commented on #271
@k-rus

Yes.

[2017-10-12 08:02] joozek78 commented on #269
Thanks! But :) Don't you think we shouldn't remove public fields without first deprecating them? I don't know if this was used by customers<sup>1</sup>, but if so it can introduce problems with migrating (and I think this will be published in 2.3.1 as well, so should be backwards compatible?). Of course it takes more work to deprecate (introduce a way to tell if this version uses it or not) and th

[2017-10-12 10:15] miyconst commented on #269
@alemoi will revert the change and deprecate the property following an offline discussion.

[2017-10-12 11:36] ubbeK commented on #268
@dttrung Thanks for the video.

I looks like you are using Windows 10, but could you please confirm that?

For me, it looks like you are not local admin on your computer. The `User Account Control` overlay didn't show on your video when starting the installer. Could you please right click on the installer file and choose `Run as Administrator`.

On a side note, is there a reason why you are using

[2017-10-12 19:36] Mihaiii opened #272 "Redirect doesn't work"
## Steps to reproduce:

1. Clone https://github.com/Mihaiii/RedirectExample , build and run it.
2. Navigate to `/RedirectExample/test1` and click on `Press me`.

## Expected result:
URL in the address bar should be `/RedirectExample/test3` and Test3Page should be displayed.

## Actual result:
URL in the address bar is `/RedirectExample/test2` and the same initial page (Test1Page) is displayed.

SC

[2017-10-13 08:12] mtornwall opened #273 ""star error" command"
Would be nice to have a `perror`-like utility that prints the name and message for a Starcounter error code, eg:

    C:\> star error 1070
    ScErrUnexpectedInternalError (SCERR1070): An unexpected internal error was detected.

[2017-10-14 07:13] per-samuelsson commented on #273
Not a perfect 1-1, since what we've got open help in the browser, but FWIW: we've had this feature since ages. 😎

![image](https://user-images.githubusercontent.com/2902045/31573625-be20a6bc-b0bf-11e7-9e1a-62252fd0f726.png)

There in also an old issue about tweaking it: https://github.com/Starcounter/level1/issues/2109

[2017-10-14 14:12] Mackiovello opened #274 "HTML composition REST API uses wrong content type"
This [handler](https://github.com/Starcounter/level1/blob/2d6990034e47906453c8108c6191bdf43aa78959/src/Starcounter.Extensions/HTMLComposition.cs#L50) (internal) returns HTML but has the content-type to application/json. It's a simple fix by someone that has level1 build setup, just change [this line](https://github.com/Starcounter/level1/blob/2d6990034e47906453c8108c6191bdf43aa78959/src/Starcounte

[2017-10-16 06:24] mtornwall commented on #273
Thanks for pointing that out @per-samuelsson, I had no idea!

I still think my proposal would be useful though.

[2017-10-16 07:39] per-samuelsson commented on #273
Agree. We should drop the current one, redesign it in `staradmin` (or whatever future tooling) and keep stuff in the CLI. Generally, these kind of tools shouldn't pop up windows, unless explicitly told so.

cc @ubbeK

[2017-10-16 07:59] JoaSel opened #275 "Starcounter and Swagger"
Has anyone used Swashbuckle/Swagger together with Starcounter?

[2017-10-16 09:00] chrhol commented on #250
This issue drives me crazy. I spend a ridiculous amount of time just reproducing it, divided between me messing up the instructions and the Starcounter version changing.

In version `2.3.1.7422` I can reproduce the duplicated remove patches. They come from (as usual) that the TypedJSON instance from signin is being used in two places. Now why the patch is duplicated is unclear, it shouldn't be.

I

[2017-10-17 14:57] warpech commented on #251
@un-tone could you pls check if this problem is fixed in Starcounter 2.3.1.7454?

[2017-10-17 17:29] un-tone commented on #251
Currently there is another issue related to mapping deactivating which I'm trying to isolate.

[2017-10-17 18:38] Mackiovello commented on #275
Not that I know of. Is there any reason you don't think it will work or do you need some help getting started? Sorry for the delayed answer by the way.

[2017-10-18 08:15] JoaSel commented on #275
I would love some help getting started. Installing Swashbuckle into the solution is no problem but the actual code of enabling it is a little unclear to me.  The Swashbuckle tutorial tells me to add  it to a HttpConfiguration object:

httpConfiguration
     .EnableSwagger(c => c.SingleApiVersion("v1", "A title for your API"))
     .EnableSwaggerUi();

But I am unsure if Starcounter actually has su

[2017-10-18 09:21] un-tone opened #276 "Blender resets activation states after calling MapUri"
While reproducing #251 on last SC 2.3.1.7454 I found the following issue: deactivated mapped handlers are still called. After detailed investigating I isolated the issue. Please look at the code below.

[code]

It breaks on last asserting `Assert.AreEqual(called, "op3op2");`. Activation flags are correct while `Blender.MapUri("/op3", "token1");` is not called. After this deactivated mapping pair `

[2017-10-18 09:22] un-tone commented on #251
I described the new issue in #276. Please take a look.

[2017-10-18 09:32] un-tone commented on #251
I should notice that #276 and this issue look similar but have different reasons.

[2017-10-18 09:45] un-tone commented on #250
This is a known issue related to https://github.com/Starcounter/Website/issues/237 and discussed in https://github.com/Starcounter/Website/issues/238.

[2017-10-18 11:10] un-tone commented on #250
The issue is not reproducible in SC 2.3.1.7454. There is a difference in JSON Patch, currently it returns "replace" operation for full section: `path: "/WebsiteProvider_0/Sections/Main"`.

[2017-10-18 11:10] Razkan opened #277 "Unable to start DB, Receiving ScErrDataManagerDisconnected (SCERR4296)"
Besides restarting the computer, I have uninstalled and reinstalled SC.

Here are the following error messages copied from the log.

[code]

[code]

[code]

[2017-10-18 11:15] un-tone commented on #250
The current behaviour seems not good to me but it is another issue. Closing this one...

[2017-10-18 11:15] #250 closed

[2017-10-18 11:27] Mackiovello commented on #275
Okay, I understand the problem.

Starcounter uses its own web server which means that you can't use it together with Swagger/Swashbuckle. Of course, you could use an HTTP server that is supported by Swagger, but that would mean you miss out on many of the good parts with Starcounter.

It seems like ASP.NET Core Web API works well with Swagger. You could use that together with the Starcounter versi

[2017-10-18 12:10] JoaSel commented on #275
I see, thank you for your answer. We are using Starcounter "all the way" so I guess we will have to do without swagger.

Could you think of any other smart way to create documentation for the Starcounter endpoints?

[2017-10-18 12:46] Mackiovello commented on #275
What I would do is use the network tab of the Administrator to extract the endpoints, their HTTP methods, and URI: http://localhost:8181/#/server/network. The rest would then have to be filled in manually.

I don't know any neat way to do it automatically.

To write the stuff down, we use GitBook which has native support for REST endpoints, you can take a look at how we've used it on this page: ht

[2017-10-18 12:47] Mackiovello commented on #275
Closing the issue as answered. I hope this was helpful.

[2017-10-18 12:47] #275 closed

[2017-10-18 18:11] alemoi commented on #276
Very nicely found @un-tone !
I have produced the fixes and added tests.
Just one thing to mention in addition:

[code]
if the blending is deactivated, it will not trigger the corresponding blendings on the same token.
This was just a clarification on how its going to work for this case.

[2017-10-18 19:18] alemoi commented on #251
I tried to reproduce, but seems the steps are a bit outdated for the current Website app, because I went to look at it too late. @un-tone are you on it or otherwise I will check it.

[2017-10-18 19:19] alemoi commented on #276
I have produced a build @un-tone if you want to check it before tomorrow: http://downloads.starcounter.com/download/Starcounter/Custom/2.3.1.7491

[2017-10-19 08:52] un-tone commented on #276
@alemoi it fixes the issue. Currently it works well, thanks!

[2017-10-19 08:57] un-tone commented on #251
@alemoi I should check it again first. Possibly changes from #276 issue fixed this one.

[2017-10-19 09:23] bigwad commented on #235
Easily reproduced.
 scnetworkgateway crashes and then scservices kills the rest.

cc @alemoi

[2017-10-19 09:24] bigwad commented on #235
cc @miyconst

[2017-10-19 09:26] un-tone commented on #251
Yes , there is still the issue. Please check the code below:

[code]

I used SC 2.3.1.7491 for testing.

[2017-10-19 09:29] miyconst commented on #235
@mmnosek is it `2.3` or `2.4`?

[2017-10-19 09:35] mmnosek commented on #235
It's 2.3, sorry for not including the version in the desc.

[2017-10-19 09:44] mmnosek commented on #235
Oh, actually the version was included! 😄

[2017-10-19 11:08] miyconst commented on #277
@Razkan thank you for reporting the issue. Can you please clarify:

- Under which version of Starcounter the database was created?
- Did you apply database schema changes?
- Did you upgrade/downgrade Starcounter?
- Are you trying to start the database itself or some apps inside it?

[2017-10-19 12:24] Mihaiii commented on #272
The initial post was updated.

[2017-10-19 13:26] Razkan commented on #277
Hi @miyconst,

1. I am fairly certain it was created under: 2.3.0.6350 (with 100% accuracy it was 2.3.0.x)
2. Yes and no. The change was done about a week ago, but the database has been working for that whole time until yesterday.
3 .I have downgraded/upgraded Starcounter between 2.3.0.6350, 2.3.1.7280 and 2.3.1.7294. (Mostly 2.3.0.6350 -> 2.3.1.7294 and back)
4. Both. I have tried the following:

[2017-10-19 13:53] miyconst commented on #277
@Razkan thank you for the info.

Unfortunately migration from `2.3.1` to `2.3.0` is not possible. Could you please try to install latest `2.3.1.x` and check if you database starts.

Do you have any confidential data inside the database? If no, could you provide us the physical database files?

[2017-10-19 14:00] #276 closed

[2017-10-19 16:27] alemoi commented on #235
Fixed via throwing an exception to the user regarding an empty response. @mmnosek you should also have seen an assertion in server log from gateway regarding this one.

[2017-10-19 16:27] #235 closed

[2017-10-19 18:36] chrhol commented on #219
A bit tired, forgot to make a PR of this change. Instead I merged the branch directly.

Anyways, It's done now. I also spent some time refactoring parts of the code around this.

[2017-10-19 18:36] #219 closed

[2017-10-20 11:53] warpech opened #278 "Add stardump to PATH"
It is very inconvenient that `stardump`, unlike `star` and `staradmin` is not automatically added to PATH by Starcounter installer.

Is there a reason for that?

It would turn https://github.com/Starcounter/RebelsLounge/issues/184 into a more pleasant experience.

[2017-10-20 12:29] nazmuladfenix commented on #270
Sometimes I am getting the same exception even if I don't use any where clause

[2017-10-20 16:00] alemoi commented on #251
@un-tone do you need any help on this or maybe the issue is even fixed already?

[2017-10-20 16:09] alemoi commented on #269
Fixed via 04421385f0c80ebe69c1fd56a48639df21f78fe0

[2017-10-20 16:09] #269 closed

[2017-10-20 16:52] joozek78 commented on #269
The way I see it (looking at the revision linked) the size limit is still there. I would expect the limit gone.

[2017-10-21 14:08] alemoi commented on #269
So you want to deprecate the property but change the behavior? Sounds like its against the obsoletion rules :)

[2017-10-21 14:28] chrhol commented on #254
Got back to this again. I had to tweak the initial issue a bit.

Instead of dropping it altogether, which when doing a more thorough review is not really feasible and would have been incorrect, this functionality is only permitted by a more explicit use.

What this means is that for cases as explained in #253, this will not be permitted. An exception will be thrown in these cases, which will stop

[2017-10-21 17:17] miyconst commented on #254
Looks very valid for me. @warpech what do you think?

[2017-10-21 21:10] Razkan commented on #277
The Db has been transfered to @miyconst. Think this issue can be closed for now.

[2017-10-21 21:10] #277 closed

[2017-10-21 21:21] Razkan commented on #65
Opening this issue, @alemoi.

After a websocket upgrade is established, the first chunk of data gives the error message. The data is sent as Base64.

`System.Exception: Unknown WebSocket frame type: 0
   at Starcounter.GatewayHandlers.HandleWebSocket(UInt16 managedHandlerId, Byte* rawChunk, BMX_TASK_INFO* taskInfo, Boolean* isHandled) in C:\TeamCity\BuildAgent\work\sc-4222\Level1\src\Starcounter\A

[2017-10-21 21:54] Mackiovello commented on #65
@Razkan, this was added in 2.3.1, so that's why you're hitting it on 2.3.0. I guess you could split the data on the client side and send it. That would be a workaround until you upgrade to 2.3.1.

[2017-10-21 22:17] Razkan commented on #65
@Mackiovello The data is already chunked from the client side, but at the size of 262kb for each chunk. Should it be lower?

[2017-10-21 23:04] Mackiovello commented on #65
That does sound weird. Let's hear from @alemoi or @miyconst

[2017-10-22 15:13] alemoi commented on #65
I will try to test with bigger chunks.

[2017-10-22 17:13] alemoi commented on #65
Yes, you need to split it in smaller pieces. Its hard to say to how small, since it depends on the middle parties that decide to fragment it. Try lets say 1Kb. However I would suggest upgrading to the newest 2.3.1 version of Starcounter, where WebSocket fragmentation is fixed.

[2017-10-22 19:25] Mackiovello commented on #65
Okay, let's close this as answered then. Thank you @alemoi

[2017-10-22 19:25] #65 closed

[2017-10-23 08:41] joozek78 commented on #269
IMO if we remove the limit on response size we keep the backwards compatibility. The property should still be there, to prevent any apps that use it from failing the build.

[2017-10-23 08:48] un-tone commented on #251
The issue is fixed. Tested in SC 2.3.1.7497.
Closing... Thanks @alemoi.

[2017-10-23 08:48] #251 closed

[2017-10-23 09:35] miyconst commented on #269
@alemoi please remove the response limitation side and deprecate the property with proper warning message.

[2017-10-23 11:13] chrhol commented on #254
This change have been merged to both `v2.3` and `develop` branches.

How should it be documented? I don't think this behaviour is mentioned anywhere today, so maybe we can add a page for the specific errorcode in 2.4 (i.e. `ScErrInvalidOperationDataOnEmptyJson`). cc @Mackiovello

[2017-10-23 11:24] Mackiovello commented on #254
I'll add an explanation of `ScErrInvalidOperationDataOnEmptyJson` on the Data Bindings page for 2.4.

[2017-10-23 11:46] erikvk opened #279 "Responses using StreamedBody"
I can't seem to get StreamedBody to work properly. What's the problem with the code in this example? @alemoi

[code]

[2017-10-23 11:47] erikvk commented on #279
Version=2.3.1.7478

[2017-10-23 13:02] alemoi commented on #269
Done!

[2017-10-23 13:07] alemoi commented on #279
I am unfortunately on the way now, so can't test your example. However, instead of `Http` API can you please try directly with the browser or native `HttpClient` .NET API? `Http` is now rewritten completely and soon will be pushed, since it had some limitations.

[2017-10-23 13:14] erikvk commented on #279
[code]

[2017-10-23 13:21] erikvk commented on #279
Also:

![screen shot 2017-10-23 at 15 21 21](https://user-images.githubusercontent.com/16880339/31891172-e26ebdfe-b805-11e7-9021-67a5dd61ca25.jpg)
![screen shot 2017-10-23 at 15 21 28](https://user-images.githubusercontent.com/16880339/31891173-e2878622-b805-11e7-9da7-10e436d970ef.jpg)

[2017-10-23 13:53] miyconst commented on #269
Should we close the issue then?

[2017-10-23 14:16] joozek78 commented on #269
I guess so. Technically, the issue is already closed

[2017-10-24 08:35] warpech commented on #174
This manifested today again: https://github.com/Palindrom/palindrom-redirect/issues/1#issuecomment-338915901

[2017-10-24 10:23] warpech opened #280 "Implement a caching strategy in htmlmerger"
Right now, Starcounter has a decent strategy for caching static files (CSS, JS, custom elements):

- a 200 OK response contains headers: `Cache-Control:public,max-age=0,must-revalidate`, `Last-Modified:Wed, 18 Oct 2017 07:08:20 GMT`
- consequtive requests come with a header `If-Modified-Since:Wed, 18 Oct 2017 07:08:20 GMT`, to which server responds with a 304 Not Modified

In contrast to the above

[2017-10-24 10:24] chrhol opened #281 "Change proposal: Get rid of the need to use static constructor and DefaultTemplate in TypedJSON."
A pattern we use today in TypedJSON (specifically Json-by-example) to specify bindings and instancetypes is to use the static constructor and modify values for a specific template. I feel this was (in hindsight) a bad direction to go.

The code looks quite ugly and the developer needs to know about specifics about templates and the use of static `DefaultTemplate`. Also there are quite heavy limita

[2017-10-24 11:09] miyconst commented on #281
Overall I like the idea, but there are a few points which are not covered.

Currently the static constructor and default template works differently for nested objects and nested objects inside arrays. Will it be possible to unify usage and specify those attributes on template level, rather than on instance of the template level?

I am not sure that Typed JSON is the way to go. Some time ago we agr

[2017-10-24 11:39] warpech commented on #281
The proposal looks OK to me but I don't feel a dramatic difference.

I totally agree with @miyconst that we should base further developments on the problems that our customers have to be solved. I believe Strict JSON and Compiled JSON are the alternatives we should consider - and then maybe there is no point in making API changes to TypedJSON.

Maybe someone from @Starcounter/sc-apps can provide i

[2017-10-24 11:42] warpech commented on #274
This is a good catch, though I am not sure if this API is ever used. We are not using it in our apps and it might be obsoleted in future versions.

Anyway, @un-tone can you pls fix that?

[2017-10-24 11:48] chrhol commented on #281
Fair enough. Let's wait for the decision on the way forward then. Thanks for the feedback.

[2017-10-24 11:48] #281 closed

[2017-10-24 11:48] Mackiovello commented on #274
If it's not, would it be possible to deprecate or rewrite and move CompositionEditor/Provider?

[2017-10-24 11:51] chrhol commented on #257
I thought this was a simpl bug to fix, but it turns out that support for it needs to be added to the code-behind parser and some changes in codegenerator for TypedJSON. Since we are not decided yet what the future of TypedJSON should be it seems to not be worth the time to fix this. Do you agree @miyconst?

[2017-10-24 11:52] warpech commented on #254
Looks very good to me

[2017-10-24 11:56] miyconst commented on #257
Agree. It's labeled as `nice to have`, so let's keep it for until we decide where we move with Typed JSON.

[2017-10-24 11:59] habib535 commented on #281
How about adding the attribute on top of each `Property` instead of piling up on top of `class`?  I really like this idea of getting away from the `static` constructor.

[2017-10-24 12:58] johano99 opened #282 "Deploy custom "public assembly" with App?"
When deploying apps to the warehouse, is there a way to mark any dependent assemblies to go into the Starcounters "Public Assemblies" (or similar) instead of ending up in the apps private folder?

[2017-10-24 13:19] Mackiovello commented on #254
I'm a little confused. The example in https://github.com/Starcounter/Home/issues/253 looks like this:

[code]

Why isn't `SCERR14013` thrown on `example.Obj.Data = Db.SQL("SELECT p FROM Person p").First;`?

If I comment out `example.Items.Data = Db.SQL("SELECT p FROM Person p"); // => SCERR14013`, `json` contains this: `"{\"Obj\":{},\"Items\":[]}"`.

Is there any difference between how arrays and

[2017-10-24 13:29] warpech opened #283 "Deprecate HTML Composition REST API in 2.3.1 and remove in 2.4"
HTML Composition REST API ([source](https://github.com/Starcounter/level1/blob/2d6990034e47906453c8108c6191bdf43aa78959/src/Starcounter.Extensions/HTMLComposition.cs#L35-L96)) is only used in a single place in all of our apps: https://github.com/Starcounter/starcounter-include/blob/3.0.0-rc.6/starcounter-include.html#L345-L363

That usage is actually being removed in a PR right now, which will go

[2017-10-24 13:30] warpech commented on #274
Yes, it would be possible to deprecate it even in 2.3.1. I have made an issue for that: https://github.com/Starcounter/Home/issues/283

[2017-10-24 13:31] chrhol commented on #254
Good catch, it should throw exception. I have a unittest that succeeds, but it looks a little different. Wonder how I missed this.

Anyway, it's a bug. I will fix it ASAP.

[2017-10-24 13:34] jwillmer opened #284 "Http.POST does not accept HTTPS"
![https bug](https://user-images.githubusercontent.com/1503577/31945746-5b42df4c-b8d0-11e7-8c7c-230df8def4b2.png)

Is this a bug or intentionally that I can't use `Starcounter.Http` for sending HTTPS (post) requests? Is there a recommended way of sending HTTPS requests - `System.Net.Http`?

[2017-10-24 14:00] Mackiovello commented on #283
Yes!

Yea, I don't think there's another way of doing it

[2017-10-24 14:01] miyconst commented on #283
Let's do it.

[2017-10-24 14:03] miyconst commented on #278
This was already requested multiple times, let's just add it to `PATH`.

@ubbeK it should be done by the installer, right?

[2017-10-24 14:15] Mackiovello commented on #282
I don't think that's possible right now. What's your use case for it?

[2017-10-24 14:17] johano99 commented on #282
Two apps wanting to share data & logic

[2017-10-24 14:29] andwah commented on #282
Addition to what @Mackiovello said:
The only dependency an app has in the warehouse is to witch Starcounter version its build against.

[2017-10-24 14:41] johano99 commented on #282
Ok, I have built an app,  OAuth2, for doing authentications towards Google, Facebook and Microsoft, and I put all common "oauth:ish-logic" into its own separate module, OAuth2.Core.dll.

Now I am building another app, CalendarSync, that needs to reference the same data model and functions defined in this OAuth2.Core.dll to make its calls into Google Calendar API / Microsoft Graph API.

Question is

[2017-10-24 14:54] ubbeK commented on #278
Yes, today we add `StarcounterBin` as an environment variable and add that value to `PATH` in the [InstallerEngine](https://github.com/Starcounter/level1/blob/v2.3/src/Starcounter.Installer/Starcounter.InstallerEngine/Components/InstallationBase.cs#L127-L141). The path to `StarDump` may be added to `PATH` in the same file.

[2017-10-24 16:10] warpech opened #285 "Assertion failed in Safari"
## Steps to reproduce

1. Build and run [KitchenSink](https://github.com/Starcounter/KitchenSink) `develop` branch.
   - I am using version Starcounter/KitchenSink@ad6d39022461f11a82f6048775c895e12367731e but actually, any blendable Starcounter app should reproduce this problem
2. Open http://localhost:8080/kitchensink in Safari 11.0

## Expected

Should render the same as it renders in Chrome or

[2017-10-24 16:18] warpech commented on #283
Assigning it to:

- [ ] @Mackiovello for deprecating this API in 2.3.1 docs and removing it from 2.4 docs
- [ ] @un-tone for removing it from 2.4 `level1`

[2017-10-24 16:58] alemoi commented on #280
I will check if it should work out of the box simply.

[2017-10-25 08:28] chrhol commented on #254
I've pushed a fix for this now.

It's strange, because I remember looking into this case earlier and adding the check for empty template (and not just null), but I can find no commit or no trace of it. I've must have messed up and discarded it instead of comitting or something.

[2017-10-25 09:56] warpech commented on #281
I guess it is because data-bound properties are not defined in C# partial class, they are defined in JSON-by-example. Hence in the @chrhol's example there is no property to annotate with an attribute.

[2017-10-25 11:52] andwah opened #286 "DateTime in json may be in the wrong format"
It looks like a DateTime object with the Kind "Local" is converted to "2017-10-25 12:00:00Z" in the json patch.

I think it should not have the trailing 'Z' if the kind is "Local"

[2017-10-25 12:07] alshakero commented on #285
I isloated this into a bug in `document-register-element`. I filed an issue (https://github.com/WebReflection/document-register-element/issues/128)

[2017-10-25 12:50] Mihaiii opened #287 "ScErrTransactionClosed (SCERR4260) on redirect"
I will use [Barcodes](https://github.com/StarcounterApps/Barcodes) as an example, but the same problem can be reproduce with other apps.

1. Get https://github.com/StarcounterApps/Barcodes/commit/f4a891cae6f928fda77f34be353341e2cb07206b (we won't use the latest version on develop because we want to use the same version of Barcodes for different SC versions), build and run in
2. Get https://github.

[2017-10-25 14:34] per-samuelsson commented on #282
@johano99

I'm sorry I can't answer your question, but this is a real important one you bring up and I think we need to support it. If not "natively" (with support from warehousing), we need to at least provide a nice "how to".

My spontaneous thinking is packaging up the dependency in package, e.g. a NuGet package. And have both app depend on that. I'm not an expert on our packaging for warehouse

[2017-10-25 14:35] per-samuelsson commented on #282
@andwah

I guess we only support apps in warehouses, not packaging of libraries / components, right?

[2017-10-25 14:40] joozek78 commented on #282
Yes, warehouse stores apps that are already built. It doesn't care about the way you manage your dll dependencies. If I understand your case correctly, using Nuget should solve your problems

[2017-10-25 15:01] habib535 opened #288 "Starcounter setup missing MSVCR100.dll"
I am trying to install Starcounter on a fresh machine. Starcounter auto install c++ redistributable if is not installed on the system.
![image](https://user-images.githubusercontent.com/2991381/32005893-b7fba388-b9a5-11e7-9d1a-d816d624d5ed.png)

When I start the server it gives the error that MSVCR100.dll was not found.
![image](https://user-images.githubusercontent.com/2991381/32005905-bd5800ec-b

[2017-10-25 15:30] habib535 opened #289 "Starcounter web admin - starting-executables is not functional"
In our documentation for [starting executables](https://docs.starcounter.io/guides/working-with-starcounter/administrator-web-ui#starting-executables), we have mentioned that specifying path to the exe of an app will start the app but I get below error
![image](https://user-images.githubusercontent.com/2991381/32007239-4f80ab7e-b9a9-11e7-968e-f53ea1351148.png)

The app I was trying has just progra

[2017-10-25 17:22] Mackiovello commented on #289
I added a warning in the docs that this feature doesn't work right now. The warning should be removed when this issue is fixed.

[2017-10-25 17:25] Mackiovello commented on #288
The firewall warnings are tracked here: https://github.com/Starcounter/level1/issues/1939

[2017-10-25 20:53] alemoi commented on #279
@erikvk I have briefly looked at the code and found the problem with non-default port (8080). Will try to be fast on fixing the actual issue.
Another problem is that your local variable `var streamResponse` is the same for every response. The code should be probably something like this:
[code]

[2017-10-25 20:55] Mackiovello commented on #243
It seems like this was answered, please reopen if I'm wrong.

[2017-10-25 20:55] #243 closed

[2017-10-25 21:03] erikvk commented on #279
Changed handler body – no difference

[code]

[2017-10-25 21:17] Mackiovello commented on #248
This has been documented here: https://docs.starcounter.io/guides/database/data-manipulation#scerrmemorylimitreachedabort-(scerr8036)

Closing as answered.

[2017-10-25 21:17] #248 closed

[2017-10-26 07:46] alemoi commented on #279
@erikvk as I mention above, if it would be on default user port, it should work. So this I will have to fix.
Here is a working code:
[code]

[2017-10-26 07:54] andwah commented on #282
True. only apps packages is supported.

[2017-10-26 08:21] erikvk commented on #279
Ah, I see :)

[2017-10-26 08:41] warpech opened #290 "ScErrInstallerAborted (SCERR11015): Installation process has been aborted. User has rejected the choice to kill running Starcounter processes."
I am getting the following error often when upgrading Starcounter RC nightly installation on my local Windows 10 running in VirtualBox.

## Steps to reproduce

1. Install Starcounter 2.3.1.7454 with default settings
1. Run a database on port 8080 and start KitchenSink
2. Run the installer of Starcounter 2.3.1.7534
3. Press OK when the installer asks: "Would you like to upgrade Starcounter v2.3.1.7

[2017-10-26 08:48] warpech commented on #290
I have improved the steps to reproduce.

[2017-10-26 11:48] Mackiovello commented on #282
I hope this answered your question @johano99.

Closing

[2017-10-26 11:48] #282 closed

[2017-10-26 11:50] johano99 commented on #282
Yes, thank you!

[2017-10-26 12:30] Mackiovello commented on #254
This is now documented here: https://docs.starcounter.io/v/2.4/guides/typed-json/json-data-bindings#scerrinvalidoperationdataonemptyjson-(scerr14013)

Closing as done

[2017-10-26 12:30] #254 closed

[2017-10-26 12:31] Joltrix commented on #281
I was talking to Sebastian (from Colabers) today, and he is binding without the static constructor at all.

So, for example, if we have an array in the TypedJSON called Subscriptions
[code]

[code]

Could just be:
[code]

Is there a reason we are not / should not use the "straight away binding"? and why we instead should use the binding from within the static constructor?

cc @warpech @chrhol @hab

[2017-10-26 12:37] Mackiovello commented on #281
The "straight away binding" is the sort of binding we usually use, as described here: https://docs.starcounter.io/guides/typed-json/json-data-bindings#binding-to-code-behind-properties
It's the same that happens when you use `json.Data` to create bindings with data objects.

The bindings in the static constructor are used to modify the way bindings work by default, for example binding to a propert

[2017-10-26 12:53] joozek78 commented on #281
BTW I use `DefaultTemplate` to access binding information in [Authorization Library](https://github.com/starcounter/authorization/blob/e102d4d656c6c0e2df88c86d41125a43905bee5d/Authorization/PageSecurity/PageSecurity.cs#L126)

[2017-10-26 13:43] un-tone commented on #274
Created PR https://github.com/Starcounter/level1/pull/4314

[2017-10-26 14:03] un-tone commented on #274
Closing as done.

[2017-10-26 14:03] #274 closed

[2017-10-26 19:23] warpech opened #291 "Blender.MapUri: Use another characters to mark variable values in specific URIs?"
As presented in https://docs.starcounter.io/guides/blending/blending#blending-specific-uris, when blending specific URIs, I need to wrap the variable values in URIs in curly braces (`{` and `}`).

Sadly, these characters do not play well with C# interpolated strings. You end up with something like ([source](https://github.com/Starcounter/SampleWebsiteTheme/pull/19/files)):

[code]

Unfortunately,

[2017-10-26 19:44] alemoi commented on #291
The original idea was the same as we had with curly braces in handlers URI. Wouldn't it be the same problem with them? I just like the usage of the same type of brackets.

[2017-10-26 19:56] miyconst commented on #291
Although I like to follow standards and the least surprise principle, this issue is really annoying and "everyone else" together with "standards" is not yet the final argument so we could use `[?]`, `[{concept.GetObjectID()}]` instead.

[2017-10-26 19:57] atifwaqar commented on #248
Thanks guys.

[2017-10-26 20:00] alemoi commented on #291
Is it really worth a change? For me `[{concept.GetObjectID()}]` looks even uglier actually, its almost like using all types of brackets: `([{concept.GetObjectID()}])`. Having same brackets is at least a unification of some sort.

[2017-10-26 20:08] warpech commented on #291
That's an interesting point of view @alemoi, I am almost convinced. I tried hard to research other popular ways to denote variables in URIs but all I can find is `{xxx}`. So maybe we should keep it as is.

[2017-10-27 04:17] mmnosek commented on #289
I don't think we should add anything like this in docs. If something is seriously broken and we know it won't be fixed in the near future - then yes, but not if it's some fixable issue. It's unnecessary work and shows people who read the documentation that things are not working as expected and we don't care - we just add a warning in docs.

[2017-10-27 10:46] Mackiovello commented on #289
Warning is removed

[2017-10-27 15:42] jwillmer opened #292 "System.ArgumentException"
- My Starcounter version is: Starcounter-RC-2.3.1.7478 (Oct 18, 2017 9:11:42 AM)
- I have a solution with two apps that share the same library (project).
- Visual Studio will start both apps with debugger attached
- If I am not rebuilding the solution before I debug i get the following exception:

`Namespace.Model` is a replacement for the actual namespace and model. The content of Namespace.Model

[2017-10-27 19:41] alemoi commented on #279
The fix will be available in the coming nightly! Thanks for the report @erikvk !

[2017-10-27 19:41] #279 closed

[2017-10-28 22:33] alemoi commented on #174
I have researched this issue and found the reason: `All control frames MUST have a payload length of 125 bytes or less and MUST NOT be fragmented.` Closing frame is a control frame. It wasn't displayed correctly previously because it was exceeding 123 bytes.

What I did is that now I truncate the error message to around 123 bytes:

![image](https://user-images.githubusercontent.com/208134/32139009

[2017-10-28 23:10] alemoi commented on #174
Regarding the JSON patch protocol error handling the issue should separate, if needed to be created. Closing this one.

[2017-10-28 23:10] #174 closed

[2017-10-28 23:13] alemoi commented on #196
@rogeralsing thanks for finding this out. Though I think we should instead concentrate on native .NET scheduling asap, so I agree with @miyconst point.

[2017-10-29 16:59] alemoi commented on #270
Removed `CodeGenFilterCacheShared` because of faulty behavior and not much of a benefit, which should solve the issue. Thanks for reporting @nazmuladfenix !

[2017-10-29 16:59] #270 closed

[2017-10-29 19:26] Mihaiii commented on #158
In most cases I suppose double click is used for selecting the content of a cell.
I can disable selection of multiple cells and then the result would be like this:

![handsontableselect](https://user-images.githubusercontent.com/8951553/32147407-158bf4c8-bce7-11e7-907f-b38447b673d8.gif)

Would this be an acceptable solution?

[2017-10-29 23:07] erikvk opened #293 "Custom HTTP handlers"
I can't seem to get custom HTTP handlers to work properly. What's the problem with the code in this example? @alemoi

[code]
[code]
SC admin:
![screen shot 2017-10-30 at 00 02 44](https://user-images.githubusercontent.com/16880339/32149538-3ff41442-bd06-11e7-880d-5a6e0c077b40.jpg)

[2017-10-30 09:19] miyconst commented on #290
This also happens when Visual Studio is open and it locks some of the `Starcounter/*.dll` assemblies, the installer fails to empty the installation folder and fails.

Restarting installer does not solve the problem in this case, only closing Visual Studio, and restarting installer.

[2017-10-30 09:40] ubbeK commented on #290
Will have to check if Installer ever performs a `staradmin kill all`.

[2017-10-30 09:52] miyconst commented on #278
@ubbeK please fix the issue today/tomorrow, I wanna include it into `2.3.1` and it's release approaching.